[2015-12-15 16:16] mkaric commented on #220
PTAL https://codereview.chromium.org/1522203004

[2015-12-16 13:00] mkaric commented on #220
Landed as https://crrev.com/291219dafab05f1de26aa39f917f179d8abe44dc, closing.

[2015-12-16 13:00] #220 closed, assigned to palfia

[2015-12-16 13:02] mkaric commented on #217
Fixed in #220, closing.

[2015-12-16 13:02] #217 closed, assigned to mkaric

[2015-12-16 15:40] ilijapavlovic commented on #224
Duplicated 'conditions' sections are removed. This is updated version ready for review: https://codereview.chromium.org/1530153003/

[2015-12-18 08:14] ilijapavlovic commented on #224
The 2nd patch landed as:
https://crrev.com/6dd99f19daa6ae9e7ad41e5b46294636b524c205
Commit ID:
6dd99f19daa6ae9e7ad41e5b46294636b524c205

[2015-12-18 09:04] ibogosavljevic commented on #203
PTAL: https://codereview.chromium.org/1534183002/

[2015-12-18 10:52] ibogosavljevic opened #226 "Enable odd floating point registers on R6"
Let us try to enable odd floating point registers for MIPS32R6 and MIPS64R6 to Lithium register allocator and see how this affects the performance on Octane benchmark test suites.

Procedure
1) Enable odd floating point registers . Please take care to enable only temporary registers and not saved registers. Also, note that some registers may be used elsewhere (e.g. Lithium scratch register or doub

[2015-12-19 00:17] paul99 commented on #226
This should also be fine for mips64r2, as it is really tied to use of fp64 mode, not r6 specifically.

Advantage there is we have more good test platforms like octeon-III.

Also there is a small issue to resolve for fpxx mode, on mips32, lets talk this thru on Monday call.

[2015-12-21 07:42] ilijapavlovic commented on #224
Android build was successful: https://build.chromium.org/p/client.v8.fyi/builders/Android%20Builder/builds/1840

[2015-12-23 10:32] kilvadyb opened #227 "Port (and fix overflow handling) bovc/bnvc to MIPS64"
Rev. 21b331e 'MIPS: Use BOVC/BNVC for overflow checking on r6.' should be ported to MIPS64 after 'MIPS64: r6 compact branch optimization. '
- https://codereview.chromium.org/1534183002/ landed. I added some parts of the commit to 'MIPS64: [turbofan] Add Int64(Add|Sub)WithOverflow support.'
- https://codereview.chromium.org/1543883002/  which will be landed as part of '[turbofan] Add Int64(Add|Sub)

[2015-12-23 14:39] paul99 opened #228 "compare Octane performance on X32 vs X64"
There has been some internal discussion about perf difference on 32 vs 64-bit platforms. It is hard to quantify on some platforms, because the instruction set is different. On mips, we have largely the same instruction set, and only have memory set increase due to 64-bit pointers, and (most) 64-bit access to Smi's. However, at least on r6, we have more optimizations on mips32, making it hard to do

[2015-12-24 12:06] ibogosavljevic opened #229 "test262/built-ins/Proxy/create-target-is-not-constructor"
test262/built-ins/Proxy/create-target-is-not-constructor failed on all MIPS bots with following error:
Test: test262/built-ins/Proxy/create-target-is-not-constructor
Flags: --use-strict
Command: out/Debug/d8 --test --random-seed=1775576936 --use-strict --nohard-abort --nodead-code-elimination --nofold-constants --enable-slow-asserts --debug-code --verify-heap test/test262/data/harness/sta.js test/

[2015-12-24 12:10] ibogosavljevic commented on #229
In Builtins::Generate_Construct, the system was trying to call ConstructProxy on a Proxy object without a constructor because it was checking the wrong bit in the Proxy object's supported operation mask.

Patch: https://codereview.chromium.org/1545983002

[2015-12-24 12:10] ibogosavljevic commented on #229
Landed and test are passing: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20test262/builds/5962

[2015-12-24 12:10] #229 closed, assigned to ibogosavljevic

[2015-12-24 14:40] mkaric commented on #200
I found that the problem is in branch delay slots. When the Branch function is called from lithium-codegen-mips.cc with USE_DELAY_SLOT parameter, the instruction after the generated jic instruction is not executed. Interestingly I managed to fix this by modifying only LCodeGen::DoCmpT function so it doesn't use delay slots. With this change all previously failing tests pass, except for mjsunit/div

[2015-12-28 15:51] ibogosavljevic commented on #224
Everything Ok, closing issue

[2015-12-28 15:51] #224 closed, assigned to ilijapavlovic

[2015-12-30 13:02] ibogosavljevic opened #230 "MIPS64: Wrong registers saved in frames-mips64.h"
When there is a context switch between v8 generated code and C compiler code, or vice versa, there is a need to save certain registers in order to avoid register clobbering.
The register that needs to be saved are located in two lists: kCalleeSavedFPU and kCallerSavedFPU. First list contains the registers that need to be saved by before switching from compiler generated to v8 generated code. The s

[2015-12-30 13:19] paul99 opened #231 "Test v8 on gcc 5.x"
We know that Debian is using 5.1 (native) currently. While Google has announced that Android will use Clang going forward, and not support gcc5, we will have linux customers that will use gcc 5. (I'm unsure of status of Chromium for Linux toolchain versions). So we should test 5.x

Mentor Lite 2015.11-32 of gcc 5.2 mips cross-compiler is here:

tarballs: https://sourcery.mentor.com/GNUToolchain/re

[2015-12-30 13:55] ibogosavljevic opened #232 "v8 and fpxx"
Debian is in process of updating gcc version to >= 5.0 and this bring some news for MIPS. When compiling in this configuration, the compiler implicitly generates code which can execute on both fp32 and fp64. The new switch is called fpxx.

This is a cover issue for enabling v8 to be compiled and working with fpxx compilation flag. Currently, v8 cannot generate fpxx compatible code. This should not

[2015-12-31 10:38] ibogosavljevic commented on #193
Here is the patch which workarounds the problem with non-compilation on CLANG using R6. Tested it and it does not introduce new failures (compared with debug version since optdebug doesn't compile without the patch)

[code]

[2015-12-31 12:41] mkaric commented on #200
I modified the code so jic instruction is used only when the delay slot is unused. There were still some failures when running tests, but with some changes in the diff, now all tests pass. The only thing that is confusing is kInstructionsFor32BitConstant defined in assembler-mips.h, i tried running tests and setting it to 3, 2 and 1 (which should not make any sense), and all tests pass in all case

[2016-01-04 05:59] paul99 opened #233 "Check and maintain GN build system files"
I've not looked at GN build config for a while. I'm guessing that some of our later GYP changes did not make it there, such as using LDSO_PATH, LD_R_PATH, etc.

We need to example the build files, understand the limitations of GN (if there are any), and make sure that it is maintained going forward.

[2016-01-05 16:43] lialan opened #234 "Implement instruction scheduler"
We should implement instruction scheduler as other architectures do. And in fact, it is pretty easy task as the core of the scheduler is already written inside src/compiler/instruction-scheduler.h(.cc).

What we need is to return a flag for each of the MIPS instruction, and there are only 4 flags so far (defined in instruction-scheduler.h).

Maybe the no-so-obvious thing is how we handle delay slo

[2016-01-06 02:56] MIPSbkirby commented on #231
I've just manually built V8 using the Mentor 2015.11-32 tool chain.  I built MIPS32 big and little endian, MIPS64 big and little endian.  Also, I built all four of those with both release and optdebug.  The tool chain built all of them successfully with no new errors.  So, I think this tool chain will work for cross compiles.

Regarding MIPS32r1, this isn't included in the tool chain.  So, we'll n

[2016-01-06 16:22] ibogosavljevic opened #235 "Some tests from cctest/test-run-wasm/* suite are failing on MIPS64"
Following tests are failing on MIPS64 simulator and target, both R2 and R6

cctest/test-run-wasm/Run_WasmInt64Popcnt,
cctest/test-run-wasm/Run_WasmInt64Ctz,
cctest/test-run-wasm/Run_WasmInt64Global,
cctest/test-run-wasm/Run_WasmFloat64Global

These tests started failing recently https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/3614. Tests are really small, so we shouldn't ex

[2016-01-06 16:51] lialan commented on #235
There is only one commit caused the failure: https://codereview.chromium.org/1553083003

It contains change in the make options, which enables wasm compiler by default.

[2016-01-07 06:08] paul99 commented on #235
I don't have any fix, but here are some observations:
1. mips32 sim does not fail these ... the one failure there is interpreter-specific test. (Google bot for sim is clean also -- it does not run interpreter tests)
2. Mips64 sim does fail, and it is un-aligned read/write of double, it appears to be on stack:
   Unaligned read at 0x7ffdc1a333fc, pc=0x24e4ea14
     0x0000000024e4ea14  dc640000

[2016-01-07 20:38] paul99 commented on #235
Here is one example of a failure on CI-20 board with the alignment fixups disabled.

[code]

There is serializer/encoder and it is storing a 16-bit value on odd byte boundary. (we saw similar errors in interpreter, I think)

[2016-01-08 03:16] lialan commented on #235
There are multiple issues here.

The encoder is causing one misalignment kernel panic, as Paul described above.

There is another double word misalignment caused by the generated code (dumping from test-run-wasm/Run_WasmInt64Global):

[code]

The address is pre-assigned. The WASM code structure is:

[code]

So, it is the compilation of:

[code]

causing the misalignment. The above opcode generates

[2016-01-08 03:26] lialan commented on #235
Update: it is indeed based on the PC of the WASM IR.

The experiment I did was to simply change the index from 0 to 4. The change will make the misalignment issue go way in the simulator.

[2016-01-08 18:11] lialan commented on #235
the `kExprLoadGlobal` opcode in the AST will get translated into a load from a fixed address with index `0`. (see `WasmGraphBuilder::LoadGlobal`, where on 64bit the base address is an `IntPtrConstant`, which is `Int64Constant`). The good thing is that the address is fixed at the time of compilation.

So my solution to the double misalignment issue caused by WASM on 64bit is that for 64bit loads/st

[2016-01-08 23:24] paul99 commented on #235
I don't think we want to make _all_ 64-bit ld/st do this check, as it's expensive. But we might make alternative instructions that do the check, which could be used in wasm code. Current alternative is to let the kernel traps (or hardware) fix this, which is more expensive than explicit address checking, but would be fine if this usage was rare.

[2016-01-11 11:57] ibogosavljevic opened #236 "Implement Word32Ctz and Word32Popcnt operators on MIPS32 for turbofan"
1) Implement optional Word32Ctz and Word32Popcnt operators on MIPS32 for turbofan
2) Investigate what is the difference in generated code if this operator is present or absent. Investigate how much does this affects performance.

[2016-01-11 20:08] MIPSbkirby commented on #193
The above patch is now being applied to the "Target - MIPS64 - edge - clang,mipsr6 - builder" compiler builder.  I've run that builder and Clang now successfully compiles V8.

[2016-01-12 10:11] ibogosavljevic commented on #232
How to check FP mode of your binary:

Dump all sections of you binary, and look for .MIPS.abiflags section. Note the number of the section

$ readelf -S program

Section Headers:
[Nr] Name Type Addr Off Size ES Flg Lk Inf Al
[ 0] NULL 00000000 000000 000000 00 0 0 0
[ 1] .note.ABI-tag NOTE 004000f4 0000f4 000020 00 A 0 0 4
**[ 2] .MIPS.abiflags LOPROC+2a 00400118 000118 000018 18 A 0 0 8**
[ 3] .r

[2016-01-12 14:27] ibogosavljevic commented on #232
We managed to reproduce the issue. If we compile v8 with fpxx, and run it, it will display wrong results since snapshots are assuming that the system is running of fp32, whereas the other JIT code is assuming it is running on fp64.
To reproduce the issue, you will need:
- Board MIPS Malta (MIPS 74Kc V4.9) with kernel 4.1.0.
- You need to use mti toolchain, the version that I am using is mips-mti-l

[2016-01-13 11:10] ibogosavljevic commented on #232
After talking a little bit with guys from Valgrind, who are working on similar issue, these are the ways Linux kernel deals with fpxx compiled binaries.
- On kernel version < 3.19, fpxx compiled binaries start in FP32 mode
- On kernel version < 4.1, fpxx compiled binaries start in FP32 or FP64 mode, depending on the kernel configuration
- On kernel version > 4.1, the same thing applies as on < 4.1

[2016-01-13 12:48] mfortune commented on #232
I agree with the summary from @ibogosavljevic above. (You may find it easier to discuss if you refer to the modes of execution as FR=0 and FR=1 rather than FP32 and FP64.)

Commenting on how to determine which FP mode a binary is built for...

From binutils 2.25 onwards the processor specific dump from both objdump and readelf will show the ABI in human readable form note the FP ABI line. binutils

[2016-01-13 13:25] gordana-cmiljanovic-imgtec commented on #193
I came across our old lld/scd change maybe it can be of use here: https://mipsia.review.mips.com/#/c/2723/

This one was uploaded to chromium_org in android, but it should apply to v8 as well.

[2016-01-14 10:33] ilijapavlovic commented on #226
Here is the list of main guidelines and system information for this task:
- Adding odd FPU registers into Lithium register allocator is tested with MIPS64 architecture (big endian) and release mode.
- The register allocator list is expanded with temporary registers ($f1, $f3, $f5, $f7, $f9, $f11, $f21, $f23). (File: v8/src/mips64/assembler-mips64.h; macro: ALLOCATABLE_DOUBLE_REGISTERS(V))
- Perfor

[2016-01-15 11:25] ilijapavlovic opened #237 "Octane benchmark: Stability of the Splay test"
When Octane benchmark is performed, the Splay test has very often wide
range of the score values.

Here is an example for mips64.release.r2 peformed on hardware with
CPU Cavium Octeon III V0.2 FPU V0.0 (big endian) and OS Debian GNU/Linux 7.9 (wheezy).

[code]

From the results above, it is visible that the score has values in range [483, 1433]
and it should be investigated what is the cause for t

[2016-01-15 12:12] ibogosavljevic commented on #203
Landed, closing issue: https://chromium.googlesource.com/v8/v8/+/2c63060f113bd7a7a40e5aeb895984b8328e7824

[2016-01-15 12:12] #203 closed, assigned to ibogosavljevic

[2016-01-18 11:21] ibogosavljevic opened #238 "r6_align is failing on MIPS64 R6 under Qemu"
This is a tracking issue, no action is needed for the time being

cctest/test-assembler-mips64/r6_align fails on MIPS64R6 under qemu (https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1852). The issue has been linked to the problem in how qemu simulates ALIGN instruction. Here is the complete description of the problem:

[code]

The patch has been

[2016-01-18 19:32] paul99 commented on #11
Fixed by Balázs' https://codereview.chromium.org/1310883005 and some follow-ons: https://codereview.chromium.org/1314673010 , https://codereview.chromium.org/1356693002

[2016-01-18 19:32] #11 closed, assigned to kilvadyb

[2016-01-18 19:34] paul99 commented on #14
Closing this, as it applies to older code-gens. it might be useful to think of this kind of thing in the context of the new TF instruction-scheduler, however.

[2016-01-18 19:34] #14 closed, assigned to nobody

[2016-01-18 19:41] paul99 commented on #12
I am leaving this open for now, though it is quite old. I'm not really seeing a possible performance payoff here. it seems that it would only be something to reduce future bugs issue. And there, we still have to deal with CallRuntime() which will definitely follow the MIPS ABI.

Per this comment in v8-dev (https://groups.google.com/d/msg/v8-dev/-hJfRQWuyrw/PFFBuGCoAQAJ), it seems that the v8 plan

[2016-01-18 19:44] paul99 commented on #18
We removed soft float back in 3.17 branch. All devices must have either FPU hardware, or kernel emulation of FPU, and simulator works fine with this assumption. Closing

[2016-01-18 19:44] #18 closed, assigned to kilvadyb

[2016-01-18 19:46] paul99 commented on #24
We now have full support for mips64el, which runs fine on the Loongson 3A, and much of that code was contributed by Yuyin at Loongson. Closing this.

[2016-01-18 19:46] #24 closed, assigned to nobody

[2016-01-18 19:47] paul99 commented on #29
Closing, due to inactivity.

[2016-01-18 19:47] #29 closed, assigned to dusmil

[2016-01-18 19:52] paul99 commented on #36
This failing test was deleted from V8 on Sep 6, 2013, in https://codereview.chromium.org/23538007

Closing.

[2016-01-18 19:52] #36 closed, assigned to kilvadyb

[2016-01-18 19:55] paul99 commented on #44
My opinion is that due to the alignment issue (1st bullet in prev comment), this is unlikely to be worth doing. Closing. (If someone disagrees, please re-open)

[2016-01-18 19:55] #44 closed, assigned to palfia

[2016-01-18 19:57] paul99 commented on #27
I'm closing, due to inactivity. I presume this was either fixed or abandoned, but the code issue raised are way out of date now. If this is an issue, please re-open, and update the info.

[2016-01-18 19:57] #27 closed, assigned to nobody

[2016-01-18 20:39] paul99 commented on #8
I don't think its worth unifying these for seveal reasons: previous measurements did not show significant diff between kernel call, and userland isync. (Of course it might make sense to re eval on current hardware).

On android we ran into several hardware devices that did not support isync correctly, for at least a couple different reasons.  This was conrollable on android system builds, but woul

[2016-01-18 20:39] #8 closed, assigned to nobody

[2016-01-18 20:40] paul99 commented on #89
Quickcheck works on all mips targets. Closing.

[2016-01-18 20:40] #89 closed, assigned to xwafish

[2016-01-18 20:45] paul99 commented on #95
Assinging to Ivica as hes been doing a bunch of other fpxx evals. I suspect this is fine, and can be closed. Note that the referenced code has moved to utils.h (and be moved to v8memory.h)

[2016-01-18 21:08] paul99 commented on #56
Closing due to inactivity. Script has changed multiple times now. Reopen if needed.

[2016-01-18 21:08] #56 closed, assigned to palfia

[2016-01-18 21:13] paul99 commented on #58
We now have full support for mips64el, which runs fine on the Loongson 3A, and much of that code was contributed by Yuyin at Loongson. Closing this.

Fyi, we also now support mips64 big endian. AKAIK, loongson 3a only runs little endian, but i have onlu used the 3a laptop.

[2016-01-18 21:13] #58 closed, assigned to nobody

[2016-01-18 21:18] paul99 commented on #51
Webkit tests are ok. Closing.

[2016-01-18 21:18] #51 closed, assigned to nobody

[2016-01-18 22:02] paul99 commented on #13
I will leave this open for consideration. I think it's not too likely to help for the reasons stated above.

However, both ARM & PPC implement out-of-line const pool now, and I have not looked into its applicability for MIPS. r6 instruction set also has some pc-relative load instructions which could help with the traditional in-line constant pool.

[2016-01-18 22:07] paul99 commented on #7
I think the ideas here, though good at the time, are well out of date. The deopt jump tables have changed a few times, and I know Dusan did some optimizations there.

I will close this now, but feel free to reopen, or create new issue, if better ideas come up.

[2016-01-18 22:07] #7 closed, assigned to nobody

[2016-01-18 22:12] paul99 commented on #79
This issue is now a dup of https://github.com/paul99/v8m-rb/issues/226, which has done some of the suggested testing. We will continue in 226, closing this one.

[2016-01-18 22:12] #79 closed, assigned to nobody

[2016-01-18 22:18] paul99 commented on #102
Assigning to Gergely - this info should get put on the wiki. There is a way to do this from the command line also using `task set`, see http://linux.die.net/man/1/taskset

I believe `taskset 5 ../out/mipsel.release/d8 run.js` is the correct way to enable just cpu 0 & 2.

[2016-01-18 23:06] paul99 commented on #107
This is a dup of later issue https://github.com/paul99/v8m-rb/issues/197

Closing this one.

[2016-01-18 23:06] #107 closed, assigned to dusmil

[2016-01-18 23:07] paul99 commented on #108
These test status files do need to be reviewed periodically, to make sure that all MIPS skips are still valid. Assigning to Gergely for tracking. Lowering to Pri 3.

[2016-01-19 15:53] lialan commented on #235
For the 64bit misalignment issue, WASM compiler has already aligned data for global data, so we don't need to redo the check in mips64 codegen.

So the issue here is just that the test case is too simplified because the handwritten code does not take alignment into consideration.

[2016-01-19 15:57] palfia commented on #235
Agreed. I just uploaded a CL for the alignment issues, PTAL: https://codereview.chromium.org/1581223002/

[2016-01-19 21:32] paul99 opened #239 "testing fpxx"
Ivica has a CL ready for fpxx mode https://codereview.chromium.org/1586223004/, which is still in review, This is related to https://github.com/paul99/v8m-rb/issues/232

When this lands, we will need to test these modes properly, to be sure that the fix stays fixed :)

That would require having a dedicated BB builder for mips32r2 in fpxx mode, and then test it on a board running fp32 and also a bo

[2016-01-20 00:34] lialan commented on #234
first patch is checked in at:

https://codereview.chromium.org/1610433002

[2016-01-20 13:17] ilijapavlovic commented on #226
The list of Octane benchmark tests with enabled TurboFan compiler (flag: --turbo) where are shown average scores and achieved improvements (or degradations) with odd FPU registers

[code]

The Splay test has 19.49% improvement with minimal score 199 and maximal score 317.

[2016-01-20 14:54] ilijapavlovic commented on #226
Results from Kraken benchmark:

[code]

With additional odd FPU registers in the Lithium register allocator list, Kraken execution
is longer for certain time amount (136.4 ms).

[2016-01-22 13:59] ibogosavljevic commented on #226
The results show that enabling additional registers doesn't lead to any significant performance increase in any of the tests.

The performance increase can be expected only in those cases where register allocator has already allocated all 16 registers and it requires a 17th one. This is obviously not something that happens often because we don't see any noticable performance increase, except for B

[2016-01-22 13:59] #226 closed, assigned to ilijapavlovic

[2016-01-22 14:38] ibogosavljevic commented on #232
The FPXX has been enabled on MIPS32R2, PTAL: https://codereview.chromium.org/1586223004/

Concerning earlier architectures, adding support for FPXX on them would be very difficult, since those architectures do not support MTHC1 and MFHC1 instructions. In that case we would need to use memory to exchange double values between GP registers and FP registers, which poses two problems:
1) We need to al

[2016-01-22 14:47] marijantic commented on #236
PTAL: https://codereview.chromium.org/1588383002/

[2016-01-22 15:31] ibogosavljevic opened #240 "v8 and nodejs compilation on debian"
Currently, a transition to FPXX is ongoing on Debian. This creates some issues with v8 and nodejs (nodejs has v8 as a dependancy).

Investigate

[2016-01-22 22:41] paul99 opened #241 "Remove mips64 unused ABI cruft"
There are a lot of // TODO(plind) regarding ABI in mips64. This should all be removed. We support only the `n64` ABI.

Early in the development of the mips64 port, I had thought we might create a unified mips32/mips64 port (kind of like x32/x64). That would have required different compilation directives for O32 and n64 ABI, and many other things (dealing with loading pointers appropriately thru Ma

[2016-01-24 03:12] paul99 opened #242 "mystery on big-endian wasm fail on google's bot"
When the new wasm tests landed and broke big-endian, I evaluated the failures locally on a board in Santa Clara, and submitted https://codereview.chromium.org/1571243002

I then noticed that one more test failed at Google, and submitted 2nd CL https://codereview.chromium.org/1573343002

But on testing, that last test did NOT fail on the boards at MIPS. I think we should investigate what is differe

[2016-01-24 03:19] paul99 opened #243 "upgrade google's big-endian boards on bots"
Google has two erpro-8 boards - running old 3.4 kernels. (FYI, they do not use qemu for builds, and there fore run with snapshot=off).

Issues are that these are quite slow, and old. NOT a showstopper, but we should improve this.

Options are to replace them with Rhino UTM-4 running big-endian -- which has FPU and would be faster. But we have a lame outdated kernel on those boards right now, and s

[2016-01-24 16:27] paul99 opened #244 "Use r6 pc relative loads in TF switch"
Can macro-ize the following code, to easily load the dd()'d value via a r6 PC relative load?

[code]

[2016-01-25 11:25] kilvadyb commented on #244
I have started to work on this: https://codereview.chromium.org/1628453002
`bal(1);` is used only at 2 places but align is important so I have not decided yet but I try to figure out some safe macro solution.

[2016-01-26 09:47] ibogosavljevic commented on #223
Paul fixed this and landed the CL. Please note that he just removed clang-format off without making changes to the formatting of the files. This makes sure the files become more and more CLANG conformant as time goes by without too much changes to files themselves (we don't want to make files CLANG compliant  for the time being as we expect a lot of merging and changes due to R6 implementation, we

[2016-01-26 09:47] #223 closed, assigned to ibogosavljevic

[2016-01-26 09:58] ibogosavljevic opened #245 "Make test-assembler-mips and test-assembler-mips64 CLANG compliant"
Currently test-assembler-mips and test-assembler-mips64 are not CLANG compliant.

We need to make them CLANG compliant but not currently but some time in the future, when R6 things stabilize and we do not expect a lot of new development, just some bug fixing.

Motivated by #223

[2016-01-26 14:58] ibogosavljevic commented on #240
State of things on Debian:
- libv8 doesn't exist on Debian MIPS64EL. Current version of v8 is too old. Need to negotiate with Debian people to increase the version of v8 in order to fix this
- nodejs works and compiles, but the integrated version compiles without explicit -mfp flag, which in the new version of the compiler become -mfpxx, and we need to fix this by forcing -mfp32
- libv8 has some c

[2016-01-27 11:20] marijantic commented on #236
For Word32Ctz, this implementation produces code of size 64, compared to 172 for the case when the operator is not supported. For Word32Popcnt, this implementation produces code of size 140, compared to 132 when the operator is not supported.

[2016-01-27 14:10] ibogosavljevic opened #246 "mjsunit/setters-on-elements crashes on MIPS32"
mjsunit/setters-on-elements crashes on MIPS32 on v8 simulator. Currently many ignition tests are failing and are expected to fail (see mjsuint.status) for the list of tests. But even though they are expected to fail, they are not expected to crash.

Please see here: https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/9899/steps/Mjsunit%20-%20ignition/logs/setters-on-elements

[2016-01-27 19:33] lialan commented on #234
I have implemented the instruction latency model inside the same CL.

[2016-01-28 09:34] marijantic commented on #236
Patch landed.
https://crrev.com/084db022ef7c3bfcbdab1be6a6fb434cfa511084

[2016-01-28 09:34] #236 closed, assigned to marijantic

[2016-01-28 12:21] ilijapavlovic commented on #241
CL is uploaded and ready for review: https://codereview.chromium.org/1638303005/

[2016-01-29 07:18] ilijapavlovic commented on #241
The patch landed as https://crrev.com/dd64a6d8a1ead06a67490c869ab4fdd13ac80b00

[2016-01-29 08:47] #241 closed, assigned to ilijapavlovic

[2016-01-29 16:15] kilvadyb opened #247 "Use r6 min/max.fmt"
In '[builtins] Make Math.max and Math.min fast by default.' -- https://codereview.chromium.org/1641083003/
Jacob Bramley wrote for arm64:
" I think this whole operation could be replaced with one of "Fmin" or "Fmax".
(They don't agree with TurboFan, but I think they do agree with Math.min/max.)"

We should investigate if min/max.fmt r6 instructions could be used in this case and what kind of macro

[2016-01-29 16:19] kilvadyb opened #248 "Use lsa/dlsa in TF"
Other architectures are using special Operand()s to use shifted values/operands in TurboFan. We should use lsa/dlsa on r6 for the same purpose, I hope.

[2016-02-01 22:12] lialan commented on #247
-0 vs. +0 seems to be handled by those instructions.
However FP MAX/MIN seems to be considering NaNs as -Infinity, but V8 wants to return NaN if either operand is NaN. So have to handle this case separately.

[2016-02-02 10:51] kilvadyb commented on #247
On ARM they have the same behaviour:
" A typical implementation of "fmax":
- Put into d0 the greatest of d1 and d2.
- If one argument is NaN, the result is the other argument.
- If both arguments are NaN, the result is NaN."

And the ARM improvement CL was accepted and landed:
https://codereview.chromium.org/1652023002/

A comment from the ARM guy:
"I think this whole operation could be replaced w

[2016-02-02 12:03] ilijapavlovic commented on #237
In following analysis as the most important parameter will be considered standard deviation from average value of the Splay test. The results are based on 100 iterations (or samples).

[code]

For the board with MIPS processor there are two samples with very low scores (219, 220) and if they are not considered in statistical calculations, the results will be significantly different for standard de

[2016-02-02 13:00] kisg commented on #211
We already implemented the remaining bit-conversions in issue #236

[2016-02-02 13:00] #211 closed, assigned to palfia

[2016-02-02 13:02] kisg commented on #167
These issues were already fixed.

[2016-02-02 13:02] #167 closed, assigned to palfia

[2016-02-02 13:03] #105 closed, assigned to palfia

[2016-02-02 13:05] kisg commented on #47
It was investigated by Ákos, and he does not see a way to optimize these mov() instructions.

[2016-02-02 13:05] #47 closed, assigned to palfia

[2016-02-02 13:12] kisg commented on #206
Balázs fixed the issue with https://codereview.chromium.org/1507363002/

[2016-02-02 13:12] #206 closed, assigned to kilvadyb

[2016-02-02 13:26] kisg commented on #150
According to https://codereview.chromium.org/1507363002/ this issue was fixed for arm, need to check if it is fixed for MIPS as well and remove the test from the skip list.

[2016-02-02 13:28] kisg commented on #140
Implementation done, open new issue if necessary.

[2016-02-02 13:28] #140 closed, assigned to kilvadyb

[2016-02-02 13:30] kisg commented on #101
Test was moved to the skip list.

[2016-02-02 13:30] #101 closed, assigned to kilvadyb

[2016-02-02 13:32] kisg commented on #73
We have not seen these issues for a long time, closing for now. A new issue will be opened if the problem pops up again.

[2016-02-02 13:32] #73 closed, assigned to nobody

[2016-02-02 13:37] kisg commented on #66
Needs to be checked if the code in question still exists.

[2016-02-02 18:47] kilvadyb commented on #247
I reached an almost working proposal solution for mips64el but simulator MIN/MAX also must be fixed for double and for float types. To keep it DRY I plan to use template code for them. Temporary patch:
[code]

[2016-02-03 01:45] lialan opened #249 "Use MADD/MSUB instruction in instruction selection"
We can combine multiply and add/subtract to a single MADD/MSUB instruction.

For floating point operations, on R2 there are MADD.Fmt/MSUB.Fmt instructions. On R6 there are MADDF/MSUBF instructions.

[2016-02-03 01:46] lialan commented on #248
Here is a small opt for Multiplication using LSA/DLSA:

https://codereview.chromium.org/1664583002

[2016-02-03 01:49] lialan commented on #249
PTAL:
https://codereview.chromium.org/1657303002/

[2016-02-03 10:55] kilvadyb commented on #248
The patch looks promising, please check the nits I posted on the review page.

I also think about if it is possible use kMipsLsa in TF where left-shifted operands like Operand(.., LSL, ...) is used on ARM (and on Intel architectures, I guess).

[2016-02-03 12:35] ibogosavljevic commented on #150
Issue is fixed, see https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/6662/steps/Check/logs/stdio

[2016-02-03 12:35] #150 closed, assigned to nobody

[2016-02-03 13:02] ibogosavljevic commented on #249
There will be problems with MADDF and MSUBF on R6. These two instructions use internally 80bit precision when working on 64bit double values. As a consequence, we can expect to see some tests failure because of this.

Earlier, we had issue that some tests were failing because the test results were obtained using compiler generated MADDF whereas v8 was generating separate MUL/ADD sequence. Please s

[2016-02-03 13:02] ibogosavljevic commented on #249
R2 shouldn't have this problem, but please run all tests to confirm this

[2016-02-03 13:09] lialan commented on #249
The submitted CL only contains R2 change. R2 tests all pass.

I got some issue when implementing MaDDF. I was thinking a solution. But since you mentioned that incompatibility, I will take a look at the MADDF issue, thanks.

[2016-02-03 14:13] kilvadyb opened #250 "Fix -0/+0 handling in simulator FPU min, max"

[2016-02-03 14:16] kilvadyb commented on #250
I am working on (testing) a fix CL which also decreases copy-paste code a bit. I plan tol use the same technique for mina, maxa if the solution is expected.

[2016-02-03 15:12] kisg commented on #208
Alan: Please also run the Octane and Kraken benchmarks with and without your patch to see if there is a performance effect (hopefully increase).

[2016-02-03 15:34] palfia commented on #235
The alignment fix CL is landed: https://codereview.chromium.org/1581223002/

After the patch there are two remaining mjsunit test failures on **little-endian**:
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/6286
- mjsunit/wasm/module-memory
- mjsunit/wasm/params

Ben Titzer has landed a CL for the **big-endian** issues: https://codereview.chromium.org/1644023002/

As far as I can see

[2016-02-04 12:26] marijantic commented on #246
This issue does not repro on the board. It is limited to v8 simulator, mips32.

[2016-02-04 13:59] kilvadyb commented on #250
Proposal CL uploaded: https://codereview.chromium.org/1668143002/
I also added +/-inf to the cctest assembler tests. Would be fine to run tests on a real HW.

[2016-02-04 17:54] kilvadyb opened #251 "Optimize Instruction class usage in simulator"
With introducing a new subclass of Instruction which is able to store type info the tests on simulator got 10% improvement and we don't loose the full usage of DCHECK()s.

Proposal CL:
https://codereview.chromium.org/1349403003/

![instruction_3](https://cloud.githubusercontent.com/assets/1742387/12824252/9a0701bc-cb70-11e5-9235-b4f1c6940bc8.png)

[2016-02-08 15:09] ibogosavljevic commented on #239
Here is everything you need to set up testing environment for FPXX, now that the FPXX CL is landed. To properly test FPXX binaries, we execute the same binary in two different environments, one that is FP32 and the other that is FP64. We need to test both.

Currently, we support FPXX on MIPS32R2 only, so this is the testing environment we need to set up. Please note that when compiling v8 with FPX

[2016-02-08 15:24] ibogosavljevic commented on #232
Patch landed and no regressions: https://chromium.googlesource.com/v8/v8/+/b23d5389e024a85cdc5c7d343fe5cc68a14f4d49

Next stop, running tests on the newly introduced flag. Please see #239

[2016-02-08 15:31] #232 closed, assigned to ibogosavljevic

[2016-02-08 21:21] palfia opened #252 "Implement RoundUint32ToFloat32 and TruncateFloat32ToUint32 on MIPS"
There are two new TF operator and since they are not optional, the associated tests are failing on MIPS. Please port these operators to MIPS.

RoundUint32ToFloat32: https://codereview.chromium.org/1628133002

TruncateFloat32ToUint32: https://codereview.chromium.org/1627263002

[2016-02-09 09:08] ilijapavlovic commented on #237
The logs during test executions are captured with following flags/options:`--log --log_gc --log_code --log_api`. In logs of problematical executions is visible that some entries appear later (compared with an execution with higher score). Following entries appear later than usual:

[code]

In this moment:
- In problematical log "scavenge" starts to work and lot of memory is allocated

[code]
- In

[2016-02-10 00:21] lialan opened #253 "Sim: WASM generating unsupported instruction"
Here is the generated code stub:

[code]

It shows up with the following test:

[code]

[2016-02-10 01:38] lialan commented on #253
0x7c020007 seems to be a BLTZ in the reversed endian format.

[2016-02-10 16:45] kilvadyb commented on #247
For handling NaN input the v8 way (e.g. min(3, NaN) == NaN while with the pure mips instruction min(3, NaN) == 3) I think I have to use special Label\* parameters in the macro instruction functions in MacroAssembler:
  void MinNaN_d(FPURegister dst, FPURegister src1, FPURegister src2,
                Label\* nan = nullptr);
  void MaxNaN_d(FPURegister dst, FPURegister src1, FPURegister src2,

[2016-02-15 08:17] kisg commented on #197
@mkaric: I have a couple questions:
- Do I understand correctly, that in the ICU tree there is no place for storing prebuilt big endian binaries, because the build system looks for them under the same name as the LE versions?
- How is BE chromium and V8 built by Google? Are they rebuilding ICU for BE, so this is not an issue for them?
- Do you have a suggestion to make sure that we can build v8 in

[2016-02-15 10:39] mkaric commented on #197
Naming is not the problem, BE binaries have a 'b' in the name, while LE have an 'l'. The problem is that it is not simple to generate BE binaries, and BE accounts for a small fraction of chromium users so there is not enough incentive for the effort to generate these binaries. If we can make it simple enough then maybe it would be possible to get BE binaries included with chromium ICU.

Currently

[2016-02-15 13:39] lialan commented on #253
A load of int64_t value "0xfffffffffffffffe" in WASM would cause the simulator not recognizing the instruction.

[2016-02-16 13:32] lialan commented on #253
When inserting an constant "-2", WASM compiler tried to use DINS instruction to materialize the constant in register. Here is the output:

[code]

[2016-02-17 02:49] lialan commented on #253
Turned out that in this test case, when we are selecting the DINS instruction, we did not consider the case where left child node is also an immediate but consider it to be a register regardlessly. Thus it is generating illegal instructions.

[2016-02-17 21:32] lialan commented on #248
DLSA/LSA can also be used in combining the follow code sequence:

[code]

when criteria matches.

[2016-02-17 22:55] palfia commented on #252
Ported both CL:

https://codereview.chromium.org/1708853002/
https://codereview.chromium.org/1709793002/

[2016-02-18 00:29] lialan commented on #253
Fix is at: [https://codereview.chromium.org/1709633004](https://codereview.chromium.org/1709633004)

[2016-02-18 16:42] kisg commented on #231
Builders were set up, it is currently failing in debug build. Needs to be investigated.

[2016-02-18 17:03] marijantic commented on #246
The issue was fixed as of build 10117. Values of ra register were not preserved for the elided frames in turbofan. https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/10117

[2016-02-18 17:04] #246 closed, assigned to marijantic

[2016-02-18 18:05] kilvadyb commented on #248
SmiScale is available only on mips64 and shifts to right with:
dsra(dst, src, kSmiShift - scale);
while lsa/dlsa supports only unsigned 'sa' parameter for shifting to left. So

[code]

Cannot be replaced with Dlsa(), only with

[code]

And no win with it. Please feel free to read the implementations of MacroAssembler instructions.

[2016-02-18 22:38] palfia opened #254 "Implement missing tests for bit-conversion macro-asm instructions"
Some bit-conversion macro-asm instruction does not have a corresponding test in test-macro-asm. Please implement these tests in test-macro-assembler-mips*.cc.

I'm sure these instructions don't have a test, but if you find more, implement those as well:
Cvt_d_ul
Cvt_s_uw
Trunc_ul_d
Trunc_ul_s
Trunc_uw_s

[2016-02-18 22:44] palfia opened #255 "Bughunting: cctest/test-cpu-profiler/JsNativeJsRuntimeJsSampleMultiple"
There's a new test failure in Google's BB on the big-endian board:

https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2810
https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2810/steps/Check/logs/JsNativeJsRuntimeJsSa..

It fails in our BB too: https://v8.mips.com/bbv8/builders/Target%20-%2

[2016-02-19 13:00] ilijapavlovic commented on #254
Following instructions also have not implemented tests:
Cvt_s_ul
Trunc_w_d
Trunc_l_d
Trunc_l_ud

[2016-02-19 17:17] kilvadyb commented on #251
Ping

[2016-02-22 04:30] #253 closed, assigned to lialan

[2016-02-22 09:52] marijantic commented on #255
This bug does not repro in the BBs anymore.
The first v8 MIPS build for which the test is passing: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/6227
The first Google build for which the test is passing: https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2822

[2016-02-22 12:20] ilijapavlovic commented on #254
CL ready for review: https://codereview.chromium.org/1719893002/
Implemented tests for Cvt_s_uw, Cvt_s_ul, Cvt_d_ul.

[2016-02-22 18:52] lialan opened #256 "Use FastNewObjectStub in MIPS64"
We have FastNewObjectStub implemented, but we don't have it being used anywhere else.

We should replace `CallRuntime(Runtime::kNewObject)` with `FastNewObjectStub` if possible.

[2016-02-22 18:54] lialan commented on #248
@kilvadyb You are right, there is no win on that.

[2016-02-22 19:09] lialan commented on #251
I think this effectively changes the data locality of the instruction, and makes LLVM able to inline the various field member functions called in simulator, which both in conjunction boost the sim performance.

It is a good idea to do so, but just wondering, do we really need a SimInstruction class?

[2016-02-22 19:51] kilvadyb commented on #251
I don't understand you, Alan. It's not about LLVM, it's about avoiding many re-calculation of InstructionType().
Function members of Instruction class contain type checking DCHECK()s (which slows down the simulator in debug mode):

[code]

InstructionType() is computed again and again from the pointed bits of the instr (Instruction object's *this). As simulator works sequentially, it reads the nex

[2016-02-22 20:01] lialan commented on #251
@kilvadyb Thanks for the explanation, I didn't know that there was such as complicated structure that computes type info every time.

In that case, I think you made a good point to cache those info.

[2016-02-22 21:52] #252 closed, assigned to ilijapavlovic

[2016-02-23 16:43] kilvadyb commented on #201
I saw that the MIPS64 port also contains the new functions like `DaddBranchNoOvf` and the old functions (DadduAndCheckForOverflow) as well. I think the old function interface should be dropped and the existing code should be cleaned up.

[2016-02-23 17:24] kilvadyb commented on #251
Sure, I should have started with the description. Paul has chosen to use a quick and not so reliable InstructionType(NORMAL | EXTRA) parameter/implementation. My solution is even quicker and no info lost. Anyway InstructionType() uses a big switch (which is evaluated 2 or 3 times per each instruction executed by the simulator). I measured 10% execution time improvement on simulator optdebug.(quick

[2016-02-23 17:39] kisg commented on #53
Not in scope for now.

[2016-02-23 17:39] #53 closed, assigned to nobody

[2016-02-23 17:41] kisg commented on #10
Closed due to inactivity. Please reopen if issue is still relevant.

[2016-02-23 17:41] #10 closed, assigned to nobody

[2016-02-23 18:01] kisg commented on #12
I disagree with inventing a new custom API. It would needlessly make the already steep learning curve even more difficult for questionable performance benefits. Closing for now.

[2016-02-23 18:01] #12 closed, assigned to nobody

[2016-02-23 18:12] kisg commented on #13
Implementing (or first investigating) an out of line const pool is a good idea, renaming it to reflect this.

[2016-02-23 18:16] kisg commented on #54
@kwan0xfff : Could you please compile a list of the builders that are running without alignment fixups?

[2016-02-23 18:25] kisg commented on #59
Less registers mean less registers to save -> shorter generated code. Need to run benchmarks on all supported platforms (mips32r1, r2, r6, mips64r2, mips64r6, BE, LE)

[2016-02-23 18:27] kisg commented on #255
Closed prematurely, @marijantic please update the issue with new information

[2016-02-23 18:41] kilvadyb opened #257 "Use max_d, min_d in LCodeGen::DoMathMinMax."
Jakob's suggestion:

[2016-02-23 19:27] lialan commented on #248
Patchset 5 adds a small opt of selecting DLSA/LSA in the case of operations of:

`(x << imm) + y) or (x + (y << imm))`

[2016-02-23 20:01] kilvadyb commented on #248
Sounds good. Where can I find the code? Could you tell line numbers? I could not find it in the patchset (I guess with a rebase a lot of other code was added.)

[2016-02-23 20:14] lialan commented on #248
@kilvadyb You can find the newly changed code in `instruction-selector-mips64.cc` and `instruction-selector-mips.cc`. The changes are in the `VisitInt32Add` and `VisitInt64Add` functions.

[2016-02-24 08:41] mkaric commented on #200
CL with the changes is uploaded here: https://codereview.chromium.org/1573983002/.

The case of 3 for the constant kInstructionsFor32BitConstant was only useful when we had J/JAL optimization (removed in #204). Setting the value back to 2, along with adjustments in the comments in a separate CL: https://codereview.chromium.org/1690133004/.

[2016-02-24 08:48] mkaric commented on #200
Changes landed as https://crrev.com/c766f739ddd01b3688cfa94ec295b768f3edadf4.

Separate CL related to J/JAL optimization landed as https://crrev.com/e3453a866d471e27cb0a7bf9c2196b632bda77fc.

[2016-02-24 10:08] mkaric commented on #197
There is a way to generate BE binaries on a LE machine. First we build ICU on a LE machine and generate LE ICU binaries. Then we use the icupkg tool generated during the ICU build, to convert LE data file to BE data file. Then using a provided python script we convert the BE data file into a form required for v8 compilation. When using the icupkg tool, the length of the input and output file names

[2016-02-25 13:44] lialan commented on #256
turned out that only MIPS64 needs it. MIPS32 has already been covered.

CL at: [https://codereview.chromium.org/1732333002](https://codereview.chromium.org/1732333002)

[2016-02-25 15:46] lialan commented on #257
Just wild guesses: `max.fmt` on MIPS performs differently than the V8 convention, perhaps we should wait until NaN handling is implemented in #247 ?

[2016-02-25 15:50] kilvadyb commented on #257
NaN handling has been added to the CL of #247 already. That issue is waiting for a review for a while :)

[2016-02-25 21:17] lialan commented on #230
The WASM compiler uses `f0 ... f18`, and turbofan/crankshaft uses (potentially) `f0 ... f26`, as defined in `assembler-mips(64).h`, and it seems like that `f20 .. f26` are not being used at this moment because they do not need that many double registers. Also, our codegen does not use explicitly `f20 ... f32`. Let me know if I am wrong.

So it seems like we are not using those registers at this mo

[2016-02-26 18:28] #256 closed, assigned to lialan

[2016-02-28 20:04] kisg commented on #218
Landed: https://codereview.chromium.org/1714283002/

@lialan Close if done.

[2016-02-28 20:27] kisg commented on #204
Landed a CL: https://codereview.chromium.org/1690133004/

@mkaric: Close if done

[2016-02-29 08:18] mkaric commented on #204
Closing.

[2016-02-29 08:18] #204 closed, assigned to mkaric

[2016-02-29 11:44] palfia opened #258 "Bughunting: cctest/test-run-wasm/*"
There's a lot of test failures since this CL: https://codereview.chromium.org/1702023002

The CL introduces a new TF code wrapper in the cctests and it breaks almost all wasm cctest.

[2016-02-29 11:45] palfia commented on #258
A fix for the failures is uploaded and landed: https://codereview.chromium.org/1730763002/

[2016-02-29 11:46] palfia commented on #258
The fix introduced a new test failure on the boards: cctest/test-run-machops/RunCallCFunction8

Investigation in progress.

[2016-02-29 11:52] palfia opened #259 "Bughunting: cctest/test-run-wasm-64/Run_WasmI64*"
There are some new wasm test failures in the big-endian bots:

cctest/test-run-wasm-64/Run_WasmI64*

https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2895

For example: https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2895/steps/Check/logs/Run_WasmI64GeS

They fail only on the big-endian

[2016-02-29 11:53] palfia opened #260 "Bughunting: cctest/test-heap-profiler/TrackBumpPointerAllocations"
New test failure in the buildbots: cctest/test-heap-profiler/TrackBumpPointerAllocations

https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2895/steps/Check/logs/TrackBumpPointerAlloc..

[2016-02-29 12:00] ilijapavlovic commented on #254
On previous link, something was not done correctly with CL upload. Here is the new link for review:
https://codereview.chromium.org/1747863002/

[2016-02-29 13:45] marijantic commented on #255
Since the MIPS build 6227, and Google build 2822, test failure has not been visible in the build bot summary page, but there have been crashes in stdio log. I've ran the tests 200 times on the Cavium Octeon Plus board, big endian (corresponding to ER-8 Lite), but no crash occurred.
Inspection of the MIPS build bots shows that since the build 6233, there has been no crash in the logs. On Google bui

[2016-02-29 15:32] lialan commented on #218
In order to optimize address loads, we have to shrink the address load instructions from 4 to at most 3. But I find it quite difficult to use 3 instructions to load some stack pointer in all cases. I think it is even impossible to do that.

For example, consider loading `0x00007fffffffffff` with `LUI`, `ORI` and `DAHI`. the `LUI` would load `ffff` with sign extension, which will result higher 16bi

[2016-03-01 09:00] ibogosavljevic commented on #260
The failure started to appear in commit  ba2077aac3a775523ca3fc9600fcf76f55e8d1c2

[stubs] Introduce a dedicated FastNewObjectStub.

Move the already existing fast case for %NewObject into a dedicated
FastNewObjectStub that we can utilize in places where we would otherwise
fallback to %NewObject immediately, which is rather expensive.

Also use FastNewObjectStub as the generic implementation of JS

[2016-03-01 12:04] kilvadyb opened #261 "Disallow usage of Assembler instructions which has better/safer MacroAssembler version."
For example 'sa' parameter handling in Lsa/Dlsa macro instructions slightly differ from the MIPS assembler definitions and we have cctests only for the MacroAssembler functions and only the MacroAssembler functions are allowed to be used. We could make the Assembler::[d]lsa() functions private. I plan to make a proposal CL for that. Every team member is invited to discuss our possibilities.

[2016-03-01 14:54] marijantic commented on #255
Tried running the test with kernel alignment fixups disabled also, but no failure.

[2016-03-01 17:23] kilvadyb opened #262 "Bughunting: cctest/test-serialize/SerializeInternalReference"
New test failure in the buildbots: cctest/test-serialize/SerializeInternalReference

https://dmz-portal.mips.com/bbv8/builders/Sim%20-%20edge/builds/10318

[2016-03-01 18:13] kilvadyb commented on #261
Proposal Lsa/Dlsa CL:
https://codereview.chromium.org/1749263002/

[2016-03-02 13:27] marijantic commented on #255
We will keep the eye on build bots for a while, to make sure that the crash does not repeat.

[2016-03-02 13:48] lialan opened #263 "Bug hunt: cctest/test-serialize/SerializeInternalReference"
The error message is:

[code]

[2016-03-02 13:48] lialan commented on #263
Dup of #262 Closing it.

[2016-03-02 13:48] #263 closed, assigned to nobody

[2016-03-02 15:08] marijantic commented on #262
Issue started appearing after the change
https://chromium.googlesource.com/v8/v8/+/d1df58e8d734ceb7d475b9c83263466f6ccd9031

[2016-03-02 16:43] kilvadyb commented on #218
There are > 50 failures running mips64el.optdebug.quickcheck on r6 simulator. If I revert
50a394d -- MIPS64: Fix 'MIPS: use DAHI/DATH for li macro on mips64r6.'
1f5b84e -- MIPS: use DAHI/DATH for li macro on mips64r6.
commits then r6 mips64el.optdebug.quickcheck tests are OK. @lialan, please fix it.

[2016-03-02 16:46] lialan commented on #218
@kilvadyb I have determined the issue to be the `LUI` instruction sign extending the top 16bits. Resulting invalid memory address accesses.

I am doing a fix for it.

[2016-03-02 17:05] palfia commented on #258
Uploaded a fix for the RunCallCFunction8: https://codereview.chromium.org/1758813002/

[2016-03-02 17:08] kilvadyb commented on #247
https://codereview.chromium.org/1694833002/

[2016-03-02 17:48] kisg commented on #197
@mkaric: Please file a bug with Google about this. Include the link to this issue and also to our wiki page. Enter the link to the Google issue below.

[2016-03-03 05:31] paul99 commented on #197
@kisg @mkaric - drive by comment: I suggest that you bring this to attention of the IBM team ( @mtbrandy ), ask them to test, and get their additions into the icu.gyp fix. Once we have a unified version for EB, then maybe ask Michael H. for help in getting the Chromium team to accept it. As Miran will remember, the Chromium guys were pretty hostile to previous work on this, and that is understanda

[2016-03-03 10:32] kilvadyb opened #264 "Cleanup Get[Instruction name]Offset() functions with the same copy-pasted body."
There are a lot of Get*Offset() functions (GetLwOffset(), GetLuiOffset(), GetOriOffset(), ...) in MacroAssembler with the same body. Also we have Assembler::GetImmediate16(instr) with the same body. I would like to decrease the number of functions or at least create _protected_
Assembler::GetImmediate16(instr)
Assembler::GetImmediate19(instr)
Assembler::GetImmediate21(instr)
or even better:
Assemb

[2016-03-03 10:52] ilijapavlovic commented on #264
I agree with this idea. In constants-mips*.h there are also similar functions:

[code]

So, your list can be supplemented with GetImmediate18(inst) and GetImmediate26(instr).

[2016-03-03 16:19] kilvadyb commented on #264
Thanks, nice catch.
-  ImmXXValue() functions can be used directly and we can remove all the GetImmediateXX() and Get*Offset() functions.
- We can make an inline alias `Assembler::GetImmediate(instr, bitnum) { return instr->ImmValue(bitnum); }`
- We can make Get*Offset()s as aliases: Get*Offset(instr) { return instr->ImmValue(proper_bitnum); }

In the last case the developer don't have to know the

[2016-03-03 16:44] kilvadyb commented on #262
Seems to be fixed with
a3a583dbaa79f22c1f9a8ad1dfd846c43d6ce9e2 -- [turbofan] Re-enables the jump table emission in the mips instruction selector.

[2016-03-03 16:53] kilvadyb commented on #262
The CL looks good. We could fix it earlier if we catch the CL where the comment appeared about the ra issue :(

[2016-03-03 17:30] lialan commented on #218
fix is at [https://codereview.chromium.org/1763733002](https://codereview.chromium.org/1763733002). PTAL.

This fix specifically fix the LUI instruction. Corresponding tests are added as well.

[2016-03-04 08:05] ilijapavlovic commented on #254
Uploaded new CL according comments and recommendations: https://codereview.chromium.org/1747863002/

[2016-03-04 08:16] marijantic commented on #262
Yes, simply re-enabling th EmitTableSwitch in instruction selector fixed the failing test, but other tests started failing due to problem with ra value. I was just working on modifying GenerateSwitchTable method.

[2016-03-04 08:33] ilijapavlovic commented on #264
The proposal nr. 1: - direct using ImmXXValue() functions and removing GetImmediateXX() and Get*Offset().

[2016-03-04 11:49] ibogosavljevic commented on #260
Fixed for MIPS32, patch landed and tests are passing:
https://chromium.googlesource.com/v8/v8/+/96efefd748aba2924a80aa1125cc973c03a53714

https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/10374/steps/Check/logs/stdio

Tests are still failing on MIPS64, the same error is present as in MIPS32, but the problem isn't fixed with just that change

[2016-03-04 13:21] palfia opened #265 "Bughunting: cctest/test-run-wasm/Run_WasmInt32Binops"
New test failure in the buildbots: cctest/test-run-wasm/Run_WasmInt32Binops

https://build.chromium.org/p/client.v8/builders/V8%20Linux%20-%20mipsel%20-%20sim/builds/5698/steps/Check/logs/Run_WasmInt32Binops

[2016-03-04 13:23] palfia commented on #259
Matt added these tests to skip list for big-endian: https://codereview.chromium.org/1761573002

[2016-03-06 03:15] lialan commented on #265
I actually was debugging this problem.

the WASM compiler added `ROR` and `ROL` instructions and we are missing `DROTR32` instructions.

[2016-03-06 03:15] lialan commented on #265
The bug was introduced in 9d0cf92. I have a fix in the Bug channel on slack already. If you find it helpful please pick it up and refine.

[2016-03-07 13:11] kilvadyb commented on #262
Fixed by
a3a583dbaa79f22c1f9a8ad1dfd846c43d6ce9e2 -- [turbofan] Re-enables the jump table emission in the mips instruction selector.

[2016-03-07 13:11] #262 closed, assigned to marijantic

[2016-03-07 13:39] ibogosavljevic commented on #260
Fixed for MIPS64, test passing:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/6992/steps/Check/logs/stdio

https://chromium.googlesource.com/v8/v8/+/cafe34ae4afbe3495983d615c4b8e1cd3721c4b5

[2016-03-07 13:39] #260 closed, assigned to ibogosavljevic

[2016-03-07 14:10] marijantic opened #266 "Port assembler changes for enabling GrowHeap in Wasm"
Changes for enabling GrowHeap in Wasm https://codereview.chromium.org/1759873002/ should be ported to MIPS and MIPS64.

[2016-03-07 15:32] palfia commented on #265
@lialan: Please test & upload your fix. There's another test failure that might be related: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/4327/steps/Check/logs/Run_WasmInt64Binops

[2016-03-07 16:06] palfia commented on #258
Fixed by c854853bee92d67c23ba15ef2c4d7dd42cfe6597.

[2016-03-07 16:06] #258 closed, assigned to palfia

[2016-03-07 18:00] srl295 commented on #197
Hello. I chatted with @mhdawson about this. I work on ICU and on the integration into Node. There are a few options here.
- Get Chrome to add mips (or PPC, etc) data files

Chrome does its own fragile gyrations to build its ICU data. That's the tactic they've chosen, and the `third_party/icu` does not have all of ICU, but just the subset Chrome chose to package. Checking in the source raw assembly

[2016-03-07 18:14] kilvadyb opened #267 "Bughunting: mjsunit/wasm/asm-wasm failure"

[2016-03-07 18:20] kilvadyb opened #268 "Bughunting: mjsunit/wasm/module-memory"

[2016-03-07 18:21] kilvadyb opened #269 "Bughunting: mjsunit/wasm/params"

[2016-03-07 18:23] kilvadyb opened #270 "Bughunting: unittests/AstDecoderTest.AllLoadMemCombinations"

[2016-03-07 18:25] kilvadyb commented on #267
https://dmz-portal.mips.com/bbv8/builders/Target%20-%20edge/builds/6618/steps/Check/logs/asm-wasm

[2016-03-08 12:11] ibogosavljevic commented on #270
Failing on google test bots: https://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/2945/steps/Check/logs/AstDecoderTest.AllSto..

There are no failures of this test on our native bots. I couldn't reproduce this issue on cavium big endian board nor using qemu. This suggests that the problem could be related to the environment, compiler or something

[2016-03-08 13:54] lialan commented on #265
Fix uploaded to https://codereview.chromium.org/1776623002

[2016-03-08 14:45] ibogosavljevic commented on #268
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/6629/steps/Check/logs/module-memory

[2016-03-09 13:01] marijantic commented on #269
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/6639/steps/Check/logs/params

[2016-03-09 13:04] marijantic commented on #269
The first build to experience the issue: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/6506

[2016-03-09 13:09] ilijapavlovic commented on #254
Landed as https://crrev.com/b29846c283e7fed774d633bb78bb3677d0b45fa8

[2016-03-09 13:15] kilvadyb commented on #267
With the following code:

[code]

I got different results on a board and on simulator/Intel CPU:
simulator:
`double val: 4294967295.000000, int converted: 0x80000000`
while on a board:
`double val: 4294967295.000000, int converted: 0x7fffffff`
It seem `static_cast<int>(4294967295.0)` gives different result on clang/Intel and gcc 4.9.2/MIPS. I would like to know which compiler we have to support: g

[2016-03-09 13:30] kilvadyb commented on #267
I got the info from Ákos (thanks) so I will implement a workaround-for-mips to support gcc 4.9.2.

[2016-03-09 16:23] marijantic commented on #269
The issue does not repro on the ci20 board. Tests are running on the Popcorn board, so this seems to be the hardware issue.

[2016-03-09 16:54] #259 closed, assigned to palfia

[2016-03-09 16:58] kisg commented on #250
Landed.

[2016-03-09 16:58] #250 closed, assigned to kilvadyb

[2016-03-09 22:46] lialan commented on #265
CL landed.

[2016-03-09 22:46] #265 closed, assigned to lialan

[2016-03-10 00:23] palfia opened #271 "Bughunting: cctest/test-run-wasm/Run_Wasm_F32CopySign"
There's a test failure in R1 mode in the bots: https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/6543

https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/6543/steps/Check/logs/Run_Wasm_F32CopySign

Please investigate the failure.

[2016-03-10 00:28] palfia opened #272 "Bughunting: cctest/test-run-machops/RunFloat64MulAndFloat64Sub1"
There's a test failure in R6 mode under qemu: cctest/test-run-machops/RunFloat64MulAndFloat64Sub1

https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/6543

Please look into this failure.

You can find some infos about building in R6 mode and running under qemu: https://github.com/v8mips/v8mips/wiki/Running-tests-with-qemu-user-mode-for-R6
However, I'm not sure the infos writte

[2016-03-10 00:30] palfia commented on #271
Fails in R2 mode as well: https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/1756

[2016-03-10 00:40] palfia opened #273 "Bughunting: Several MIPS64 debug failures."
There are several test failures on MIPS64 in debug mode.

I didn't go through the whole list, but most of them fails on both sim and target, however they fail in a different way, on sim it reads nullptr, but on target they fail at a DCHECK.

Sim: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7039
Target: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%2

[2016-03-10 00:46] palfia commented on #254
It seems there's at least one test failure in R6 mode under qemu: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/2393/steps/Check/logs/Cvt_s_uw_Trunc_uw_s

I'm not sure if it's a qemu-related failure or a real failure. I think it would be a good idea to execute these tests on a hw board.

[2016-03-10 11:22] ilijapavlovic commented on #271
On CI20 board it was not possible to reproduce the problem:

[code]

[2016-03-10 11:25] ilijapavlovic commented on #271
In https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/1756
the 1st step "running steps via annotated script" there is an error with following content:

[code]

[2016-03-10 11:57] ilijapavlovic commented on #271
Also on the board with Cavium Octeon II the test finished successfully.

[2016-03-10 12:11] kilvadyb commented on #227
MIPS64 port contains the new functions like DaddBranchNoOvf and the old functions (DadduAndCheckForOverflow) as well. I think the old function interface should be dropped and the existing code should be cleaned up.

[2016-03-10 12:15] kilvadyb commented on #201
32-bit version is landed in 21b331e3ff9f4da302d31627db7ca265adf1a767 commit, 64 bit is continued in #227

[2016-03-10 12:15] #201 closed, assigned to nobody

[2016-03-10 12:18] #222 closed, assigned to nobody

[2016-03-10 13:38] ilijapavlovic commented on #271
The problem is reproduced when v8 is build with gcc.
The test fails when function `copysign(-inf, -nan)` returns `inf` instead `-inf`.

When v8 is build with clang, the test will pass.

[2016-03-10 15:10] marijantic commented on #273
Issues on simulator started appearing after https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7005

[2016-03-10 15:25] marijantic commented on #273
On the board, the first build with failures is https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge/builds/1019
Common change in both of the builds is https://chromium.googlesource.com/v8/v8/+/9dcd0857d64a117801bf91cb6caf7d6578809cb1

[2016-03-11 10:49] ilijapavlovic commented on #254
On the FPGA board this problem was not possible to reproduce.

[2016-03-11 13:42] ilijapavlovic commented on #254
Here is the code for the test:

[code]

Here is problematical sample for the qemu:

[code]

When previous sample is executed on FPGA, we got following output:

[code]

If a 32-bit data are stored in a 64-bit register, than bit 31 should be copied in all bits from 32 - 63.
In the qemu, this is not the case, and we can say (or state) that this is a problem in the qemu.

This problem can ba bypassed

[2016-03-11 19:06] mkaric commented on #197
Bug filed, link to the issue:
https://bugs.chromium.org/p/v8/issues/detail?id=4828

[2016-03-11 20:25] srl295 commented on #197
@mkaric OK, but as I noted above - that's a fix for _how Chromium builds ICU_. There are other ways.

[2016-03-12 13:23] kilvadyb commented on #267
The test is skipped on ARM so I uploaded a skip CL for MIPS:
https://codereview.chromium.org/1778673004/

[2016-03-12 14:23] kilvadyb commented on #227
64-bit port landed: https://codereview.chromium.org/1784353003/
Followup CL to fix bovc, bnvc in simulator: https://codereview.chromium.org/1784353003/

[2016-03-14 10:52] ilijapavlovic commented on #254
Another root of the problem is using `mtc1` instruction in implementations of following instructions:

[code]

For `mtc1` instruction is specified following:

The `mtc1` instruction should be followed by `mthc1` instruction which should set bits 63..32 on zero:
`mthc1(zero_reg, fd)`.

FPR register which is initialized only with `mtc1` instruction, can have higher word with some random value, and t

[2016-03-15 12:41] ilijapavlovic commented on #271
The `copysign(i,j)` fails for following input data:

[code]

[2016-03-15 13:33] marijantic commented on #273
atomics-exchange.js: Problem is in MacroAssembler::CheckAccessGlobalProxy, the changes introduced to context loading are not preserving the value of at during JumpIfNotSmi call. Also, two consecutive branch instructions are introduced. Local fix is available, testing in progress.

[2016-03-16 10:59] mkaric commented on #200
New changes have been made to mips32, in Jump, Call and CallSize functions in MacroAssembler, but this caused many failures because of improper code patching. Call and Jump functions now generate one instruction less so this needs to be adjusted for. Several constants in assembler-mips.h and hard coded values in full-codegen-mips.cc affect code patching. After adjusting these constants and values

[2016-03-16 12:59] ibogosavljevic commented on #268
Issue fails because WASM -> mips compilation generates unaligned pointer and this fails on some machine.
WASM operators carry with them Align attribute, but this is not pushed down to MIPS code, so we don;t know what kind of access to generate (aligned or non-aligned).
The idea is to introduce two new turbofan operators UnalignedLoad and UnalignedStore for this kind of memory access, and generate

[2016-03-16 13:32] marijantic commented on #272
Log file here (link above is not for R6 under qemu): https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/2427/steps/Check/logs/RunFloat64MulAndFloat..

[2016-03-16 14:19] marijantic commented on #273
PTAL: https://codereview.chromium.org/1812463002/

[2016-03-16 14:42] palfia commented on #268
The CL looks good, let's wait for Ben's comments. Also, it touches other archs, so please test this CL on all archs thoroughly.

[2016-03-16 15:12] palfia commented on #273
Looks good, nice find!

[2016-03-16 15:48] ilijapavlovic commented on #271
This is a segment of the source code which is used in experimental purposes:

[code]

Here is part of the assembler code just before calling `copysign()`:

[code]

In comments are descriptions of actions which should be performed.
Theoretically, registers `$f12`and `$f14` should contain values `-inf`and `-nan`.

In reality happens following:

[code]

Conversion `cvt.d.s $f0,$f0` is not performed c

[2016-03-16 16:00] marijantic commented on #272
Error message:

 Fatal error in .././test/cctest/compiler/value-helper.h, line 334
 Check failed: x == y (4.29497e+75 vs. 4.29497e+75).

[2016-03-17 08:17] marijantic commented on #273
Patchset landed as https://crrev.com/b64bcb41b13747a5f7a1a221397990efa1f4fcc4

[2016-03-17 08:17] #273 closed, assigned to marijantic

[2016-03-17 09:31] marijantic commented on #272
This bug is a duplicate of #208

[2016-03-17 09:31] #272 closed, assigned to marijantic

[2016-03-17 09:45] ibogosavljevic opened #274 "Implement Int32PairAdd, Int32PairSub, Word32PairSlh, Word32PairShr, Word32PairSar on MIPS"
These turbofan operators were added in following commits:
https://codereview.chromium.org/1778493004/
https://codereview.chromium.org/1778893004/
https://codereview.chromium.org/1778893005/

Maybe some other as well.

Implement them for MIPS32 and MIPS64. Tests for these operators are disabled for MIPS and MIPS64, reenable them

[2016-03-17 10:10] kilvadyb commented on #267
The skip CL is accepted, for the question about workaround I got the following answer from the author of the original CL:
Disable is fine, it might be good long term to split these out.

[2016-03-17 14:38] kilvadyb commented on #267
Skip CL https://codereview.chromium.org/1778673004/ is landed.

[2016-03-18 08:16] ibogosavljevic opened #275 "Add big-endian testing of MIPS specific tests"
Currently, MIPS specific tests are not executed on big-endian. Modify GYP file to add these tests to big-endian test suite and make sure that all tests are passing on big endian.

[2016-03-18 09:43] ilijapavlovic commented on #271
For experiment, small C/C++ example is made:

[code]

This example is compiled and executed on qemu and board.
For qemu, conversion from float -nan to double -nan is performed correctly:

[code]

For the board, it was not the case:

[code]

[2016-03-18 12:14] ilijapavlovic commented on #254
Uploaded CL which fixes the test: https://codereview.chromium.org/1812193003/

[2016-03-18 13:36] ilijapavlovic commented on #254
Landed as https://crrev.com/a4e5d1541a10b4d4da8dc33250cb75df2c43154f

[2016-03-21 08:17] #254 closed, assigned to ilijapavlovic

[2016-03-21 11:41] palfia opened #276 "WASM: Fix linear-memory access related test failures on big-endian."

[2016-03-21 11:55] palfia opened #277 "Bughunting: several test failures on mips and mips64."
Failing tests after: https://build.chromium.org/p/client.v8/builders/V8%20Linux%20-%20mipsel%20-%20sim/builds/6076

[2016-03-21 11:57] palfia commented on #270
Uploaded a skip CL to make the bots green: https://codereview.chromium.org/1823463002/

[2016-03-21 12:24] mkaric commented on #200
The flaky test is not related to my changes, uploaded the CL:
https://codereview.chromium.org/1807263003

[2016-03-21 16:18] marijantic commented on #274
Local fix available. However, there are no tests for Word32PairSar and Word32PairShr, will implement them.

[2016-03-22 01:01] palfia commented on #277
Fix CL is uploaded: https://codereview.chromium.org/1824893002/

[2016-03-22 01:26] MIPSbkirby commented on #239
I've built V8 following the instructions above including the printf line in the cpu.cc file.  However, it always returns "FP64 mode = 0" whether I'm on a Ci20 (Ingenic CPU) board, a Edge Router Pro (Octeon II CPU) board or a Rhino (Octeon III) board.  Shouldn't this change to "FP64 mode = 1" on one of these boards?

[2016-03-22 10:09] palfia commented on #277
Landed and fixed.

[2016-03-22 10:09] #277 closed, assigned to palfia

[2016-03-22 11:46] palfia opened #278 "Bughunting: new test failures on mips64"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7243

[2016-03-22 11:47] palfia opened #279 "Bughunting: clang target failures"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang/builds/1137

[2016-03-22 12:27] ibogosavljevic commented on #239
What is the kernel version on these boards?
Also, is binary really built with FPXX? What is the hex dump of MIPS.abiflags? What toolchain are you using?

[2016-03-22 17:12] marijantic commented on #274
PTAL: https://codereview.chromium.org/1819383002/

[2016-03-22 18:38] MIPSbkirby commented on #239
The Rhino board (OCTEON III) is running kernel version 3.10.20.  The Ci20 board (Ingenic) is running kernel version 3.18.3.  And, the Edge Router Pro board (OCTEON II) is running kernel version 4.1.4:

[code]

Here is the "cpu model" from /proc/cpuinfo on all the boards:

[code]

I followed the instructions from Issue #232 to figure out if the binary is fpxx.  Here is what I did:

[code]

Note the

[2016-03-23 00:05] MIPSbkirby commented on #239
I talked to the compiler team and found out that the kernel needs to be 4.x (he wasn't sure about the exact version, but knew that 3 series and below kernels were too old)  Also, the libraries it links too need to be fpxx. And, I found that the mips-mti-linux-gnu-objdump command from the Codescape 2015.01-7 tool chain will show if a binary is fpxx or not.

Checking the binary is compiled with fpxx

[2016-03-23 12:06] #267 closed, assigned to kilvadyb

[2016-03-23 12:41] marijantic opened #280 "Bughunting: test262 failures on MIPS64 debug"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20test262/builds/6998

[2016-03-23 14:47] ibogosavljevic commented on #239
Yes, the version has indeed have to be > 4.0. But I believe it is
possible to use a system with FP64 emulation. Maybe the kernel is
compiled with FP32 emulation and it needs to be recompiled with FP64
version, I don't know if this is a viable solution for us?

On 03/23/2016 01:05 AM, Brendan Kirby wrote:

[2016-03-23 20:36] MIPSbkirby commented on #239
I've added the fpxx builders to build and test fpxx for fp32.  They are added to the "Linux Target - Special" category.  The compiler builder is building a MIPS32r2 little endian release version with fpxx.  (The "gclient runhooks" step shows GYP_DEFINES with the "mips_fpu_mode=fpxx" flag) The testsuites being run are unittest and check.  The tests suites are only being run on the Ci20 boards.  As

[2016-03-24 14:34] ilijapavlovic commented on #271
Following code is used for investigation:

[code]

Based on the code above, assembler code produced by gcc and clang will be compared
for every statement. (Build for mipsel.debug.r2.)

`float inf_neg = -std::numeric_limits<float>::infinity();`
gcc:

[code]

clang:

[code]
- Both versions have similar code for storing `-inf` value.

`float nan_neg = -std::numeric_limits<float>::quiet_NaN();`
gcc:

[2016-03-24 15:37] ilijapavlovic commented on #271
Related with C/C++ example:
- It is irrelevant if the example is compiled with gcc or clang.
- In both cases, conversion instruction `cvt.d.s` will convert float `-nan` value into double `nan` value.

[2016-03-24 17:13] ilijapavlovic commented on #271
Example for reproducing problematical conversion. The example is compiled with g++ and clang++.

[code]

Compiling with g++:

[code]

Compiling with clang++:

[code]

Execution output for both cases:

[code]

Tested on following board:

[code]

[2016-03-25 00:00] MIPSbkirby commented on #239
Although we don't have a > 4.0 kernel working on the Ci20 boards or the Rhino boards, the fpxx testing should work slowly on an Edge Router Pro board.  Using a 4.1.4 kernel with the MIPS_O32_FP64_SUPPORT config flag set, the d8 binary correctly reports "FP64 mode = 1":

[code]

Once the Edge Router Pro boards all get this MIPS_O32_FP64_SUPPORT flag set, I'll turn on another builder to test fpxx on

[2016-03-25 10:03] ibogosavljevic commented on #239
yes, this is the settings you need CONFIG_MIPS_O32_FP64_SUPPORT=y needs to be set for FP64 emulation

[2016-03-25 13:15] mkaric commented on #200
Landed as https://crrev.com/21733b6b5259799ff4042db58473f986fe2e4a43.

Changes ported to mips64, CL uploaded:
https://codereview.chromium.org/1830133002/

[2016-03-25 16:57] kilvadyb commented on #247
Landed: https://codereview.chromium.org/1694833002/

[2016-03-25 16:57] #247 closed, assigned to kilvadyb

[2016-03-28 14:23] ibogosavljevic commented on #271
Hello,

I investigated this problem a little bit further. Reason why the test fails is because copysign function with following arguments `copysign(-infinity, -nan)`should return `-infinity`, but instead it returns `infinity` when compiled using GCC on MIPS. When compiled using GCC on x64, it returns `-infinity`

The problem here is that NaN is neither positive or negative, so semantically copying

[2016-03-28 19:47] MIPSbkirby commented on #239
We now have kernel version 4.1.20 on all the Edge Router Pro boards:

[code]

The all have the MIPS_O32_FP64_SUPPORT flag set:

[code]

I've confirmed with the d8 binary with the debug printf statement that they all have "FP64 mode = 1":

[code]

So, I've turned on a new builder called "Target (1) - edge - fpxx" that tests fpxx in fp64 mode on these boards.  It's triggered off the "Target - edge -

[2016-03-28 19:47] #239 closed, assigned to MIPSbkirby

[2016-03-29 07:30] mkaric opened #281 "Bughunting: unittests/Bytecodes.DecodeBytecodeAndOperands"
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/6849
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/4888
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/927

[2016-03-29 12:11] marijantic commented on #280
Some of the failures were fixed by https://codereview.chromium.org/1824893002/

[2016-03-29 13:29] marijantic opened #282 "Port Int64Lowering of Int64Mul"
Port Int64Mul operator according to the change
https://codereview.chromium.org/1807273002/

[2016-03-30 12:59] marijantic opened #283 "Overflow not detected by AddBranchOvf and SubBranchOvf"
Apply the attached patch (modify Mips AddPair and SubPair to use AddBranchOvf and SubBranchOvf).

[addBranchOvf.txt](https://github.com/v8mips/v8mips/files/195518/addBranchOvf.txt)

Run the  RunInt32PairAdd and RunInt32PairSub tests
out/mipsel.optdebug/cctest --random-seed=1089846861 --stress-opt --always-opt test-run-machops/RunInt32PairAdd --nohard-abort --nodead-code-elimination --nofold-consta

[2016-03-30 15:58] kilvadyb opened #284 "SmiTag()/SmiUntag() around stub calls"
I had to do a fix CL where

[code]

was added to a call of a stub function. From our point of view the tagging/untagging is quite useless (a0 and a3 is not used inside the tagging block -- v8 tests were passed without those instructions). But there was a chromium failure when GC was activated from the code of the ToNumber stub (I guess). The chromium bug:
https://bugs.chromium.org/p/chromium/issue

[2016-03-31 21:12] kisg commented on #271
I agree with @ibogosavljevic  analysis. The solution seems to be to create a copysign function that behaves correctly when it encounters NaN values.

[2016-04-01 08:09] ilijapavlovic commented on #275
Following patch is made:

[code]

With this patch following tests fail only on MIPS big endian:

mips.release.r2: (on qemu, board)
- cctest/test-assembler-mips/movz_movn

mips64.release.r2: (on qemu)
- cctest/test-assembler-mips64/movz_movn
- cctest/test-assembler-mips64/MIPS16

mips64.release.r6: (on qemu)
- cctest/test-assembler-mips64/MIPS16
- cctest/test-assembler-mips64/r6_ldpc

For mips64.re

[2016-04-01 08:32] ibogosavljevic commented on #271
@kisg: Already done: https://codereview.chromium.org/1844913002

[2016-04-01 08:36] mkaric commented on #200
Landed as https://crrev.com/a3f941aed4afb475232b2d7d11179720d5e52fd6, closing. We could investigate if it is possible to use JIC/JIALC offset in Jump and Call MacroAssembler functions and reduce the number of used instructions by one, but a new issue can be opened for that.

[2016-04-01 08:36] #200 closed, assigned to mkaric

[2016-04-01 09:40] ibogosavljevic commented on #279
Failures that are specific to CLANG are: unittests/AstDecoderTest.Float32Const and unittests/AstDecoderTest.Float64Const.

I couldn't reproduce the failure in my environment.  From the logs I see that the failure is related to "CRASH: BUS ERROR maybe alignment problem". The patch which fixes the problem with unaligned access in WASM is under review as part of bug #268.

Let's put this issue on hol

[2016-04-01 09:42] marijantic commented on #282
PTAL: https://codereview.chromium.org/1848253002/

[2016-04-01 11:04] ilijapavlovic commented on #275
For mips64.release.r2: (on board)
- cctest/test-assembler-mips64/movz_movn
- cctest/test-assembler-mips64/MIPS16

[2016-04-01 11:28] ilijapavlovic commented on #275
Recommended solution for cctest/test-assembler-mips[64]/movz_movn:

[code]

[2016-04-01 17:22] kilvadyb commented on #283
In Sub|AddPair we need unsigned overflow while Add|SubBranchOvf() functions handles signed overflow. For example -1 + 1 == 0 is correct in signed case, no overflow. In unsigned case -1 is `0xffffffff` and `0xffffffff + 1` is `0x100000000` which is greater then MAX_UINT32. The question is that we should add unsigned overflow functions to MacroAssembler (Add|SubBranchUOvf()) or not. IMO we should mo

[2016-04-04 07:55] ibogosavljevic commented on #283
I'm going to write tests for these two functions and and possibly rename them if ok with you yo AddBranchOvfSigned / SubBranchOvfSigned

[2016-04-04 11:18] marijantic commented on #280
No failures since the above change. No problems repro currently. Closing the issue.

[2016-04-04 11:18] #280 closed, assigned to marijantic

[2016-04-04 15:12] palfia opened #285 "Bughunting: ignition failures on MIPS64."
New ignition failures since: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7323

[2016-04-04 15:13] palfia commented on #285
Fixed by https://codereview.chromium.org/1847073003/

[2016-04-04 15:13] #285 closed, assigned to palfia

[2016-04-05 03:10] joransiu commented on #281
We are also seeing the same failure on s390x.  @john-yan is investigating, and in the meantime, he has requested the test be skipped on Big Endian platforms: https://codereview.chromium.org/1858793002/

[2016-04-05 04:07] joransiu commented on #228
Hi @paul99, I'm one of the devs working on the S390 port of v8.   We've also wondered the 32 vs 64-bit gap ourselves.  I was curious if you managed to get some analysis done on the X32 vs X64 perf difference that you can share.

[2016-04-05 07:56] ibogosavljevic commented on #271
At the end, the issue was really simple. Test used copysign that accepts double as arguments, but floats were sent and there were NaN sign was lost in this conversion.

Fix was to use the copysignf function which accepts floats as arguments in order to avoid unnecessary sign loss.

https://chromium.googlesource.com/v8/v8/+/114c109a326facae2bb5edfdfd030dd7041b7767

Verified:
https://v8.mips.com/bbv

[2016-04-05 07:56] #271 closed, assigned to ilijapavlovic

[2016-04-05 08:09] mkaric commented on #281
Thanks. So far I concluded that the problem is in the call to ReadUnalignedUInt16 and ReadUnalignedUInt32 functions in interpreter/bytecodes.cc which return a different value for big endian (byte reversed). Simply reversing the byte order of this value for big endian makes this test pass, but the change causes new failures. Here is the diff:

[code]

[2016-04-05 11:23] marijantic commented on #282
CL landed as https://crrev.com/c9d1668f989986a9c1f1c151f5d2a4eee85bd9b2

[2016-04-05 11:23] #282 closed, assigned to marijantic

[2016-04-05 13:09] john-yan commented on #281
Hello @mkaric , thanks for the information and yes that's exactly where the problems are! Given that 5.1 branch are cut in this Friday, introducing new failures is definitely not a good idea. :)

[2016-04-05 16:11] kilvadyb commented on #283
Rename is a good idea as these functions caused many misunderstanding already. I would prefer AddBranchSignedOvf but does not matter. There are quite many overflow checking tests already, please check them to find out what we need.

[2016-04-05 16:26] kilvadyb commented on #248
After a hard fight I managed to fix typos in the CL. Now it is OK for both ignition snapshot and mjsunit/wasm/embenchen/zlib. new CL: https://codereview.chromium.org/1859143002

I also created some TF Add... tests for possible lsa/dlsa. I don't know where to add those tests:
- In test-macro-assembler-mips\* we don't use (and include headers for) turbofan tests.
- Im test-run-machops a MIPS specifi

[2016-04-06 08:49] ilijapavlovic commented on #275
CL ready for review: https://codereview.chromium.org/1867503002/

[2016-04-06 14:51] marijantic commented on #274
Landed as https://crrev.com/4b86e6e3219dcd58285e4cad144e3ec87b0ee701

[2016-04-06 14:51] #274 closed, assigned to marijantic

[2016-04-06 14:57] palfia opened #286 "Bughunting: multiple test failures on MIPS64"
Since build: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7395

[2016-04-06 14:59] palfia commented on #278
Fixed by https://codereview.chromium.org/1832053002/

[2016-04-06 14:59] #278 closed, assigned to palfia

[2016-04-06 15:29] ibogosavljevic commented on #283
CL: https://codereview.chromium.org/1857193002/

[2016-04-06 16:20] palfia opened #287 "Bughunting: build failure on big-endian snapshot=on mode."
Since build: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n%20-%20builder/builds/1490

[2016-04-07 08:44] marijantic opened #288 "Bughunting: failing Run_Wasm_I64Binops for MIPS64"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7408/steps/Check/logs/Run_Wasm_I64Binops

The test is failing for Ror/Rol operations. These have a fall-back to Sub, needs investigation.

[2016-04-07 12:34] marijantic commented on #286
One of the failures was present before the above mentioned build, opened #288  to track it.

[2016-04-07 12:37] marijantic opened #289 "Bughunting: Failing Run_WasmCall_Int64Sub and Run_Wasm_MemI64_Sum for big endian"
Failing since build https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/6996/

[2016-04-07 13:48] ibogosavljevic commented on #283
We added tests that verify behavior of Branch functions

Patch landed:
https://crrev.com/d4403b172f357e6e44e4571a3332c437d3ce08c9

tests are passing on mipsr2 and mipsr6, 32 and 64

[2016-04-07 13:48] #283 closed, assigned to ibogosavljevic

[2016-04-07 14:56] kilvadyb commented on #248
I got respone to the test question so am working on a followup test CL.

[2016-04-08 09:58] kilvadyb commented on #248
CL: https://codereview.chromium.org/1859143002 and followup test CL: https://codereview.chromium.org/1867923002/ landed.

[2016-04-08 13:56] mkaric commented on #281
@john-yan Hello, have you been looking at this problem? I noticed your commit comment where you disabled the test for BE. Do you think the problem is in the test (input data should be different for BE machines) or in the interpreter code (data should be corrected on BE)?

[2016-04-08 14:05] john-yan commented on #281
@mkaric Let me show you why it's failing:

In the 2nd test, which is
`{{B(Wide), B(LdaSmi), 0xe8, 0x03}, 4, 0, "      LdaSmi.Wide [1000]"},`
1000 is represented by 0x03e8 in hex. In LE, it's stored as 0xe8, 0x03 as shown. In BE natively, it should be the reverse 0x03, 0xe8.

It could be fixed by reversing the input or fixed by doing reversed load in the interpreter code.

[2016-04-08 14:16] mkaric commented on #281
@john-yan Thanks, yes I was aware reversing input data like that would fix the problem, but wasn't sure that would be the correct solution. My understanding of the interpreter is not at a high level at this point. So basically the test input data values should be reversed for BE and that would fix the issue.

[2016-04-08 14:20] john-yan commented on #281
@mkaric I don't understand why v8 needs a interpreter either. :( Given 5.1 source is cut today, I just disabled it on BEs.

[2016-04-08 14:22] marijantic commented on #286
Local fix available for Builtins::Generate_ResumeGeneratorTrampoline, testing in progress.

[2016-04-08 14:44] marijantic commented on #286
PTAL: https://codereview.chromium.org/1869343003/

[2016-04-11 03:56] kisg commented on #284
This is an important information, and should be added to the wiki.
@kilvadyb: Please add this information to the wiki. I think we should create a developer info page for infos like this. Suggestions for the name of the page welcome. (e.g. V8MIPS Developer Guide ? )
After it has been added to the wiki, the issue can be closed

[2016-04-11 04:15] kisg opened #290 "Investigate mjsunit/wasm/embenchen/zlib.js r6 simulator timeout failures"

[2016-04-11 07:16] ilijapavlovic commented on #275
Landed as https://crrev.com/0b479e4e81daf28494a5748dce9ed793e9d02342

[2016-04-11 08:52] ilijapavlovic opened #291 "Bughunting: Failing test262/language/statements/for-of/continue-label for big endian"
The test test262/language/statements/for-of/continue-label fails for big endian.

Details:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20test262/builds/4903/steps/Test262%20-%20no%20variants/logs/continue-label

[2016-04-11 09:16] marijantic commented on #286
Patch landed as https://chromium.googlesource.com/v8/v8/+/a39544b674e9392d25fe7f6f82f27dbf8d0f9267

[2016-04-11 09:16] #286 closed, assigned to marijantic

[2016-04-11 09:30] mkaric opened #292 "Optimization: Use JIC/JIALC offset in Jump and Call MacroAssembler functions"
Investigate if it is possible to use JIC/JIALC offset in Jump and Call MacroAssembler functions. Currently the offset is always set to 0. This could reduce the number of used instructions by one. This applies to both mips32 and mips64. Previous work has been done in issue #200.

[2016-04-11 10:04] kilvadyb commented on #284
Proposal page added: https://github.com/v8mips/v8mips/wiki/V8MIPS-Developer-Guide

[2016-04-11 10:04] #284 closed, assigned to kilvadyb

[2016-04-11 10:17] kilvadyb commented on #290
mjsunit/wasm/embenchen/zlib sometimes TIMEOUTs on r6 simulator. I run the test on the same (otherwise idle) PC and on r2 sim I got:

[code]

and on r6 sim:

[code]

So it looks like the test is slightly slower on r6 sim then on r2 sim and is around the TIMEOUT limit. It passes otherwise (without time checking it is always fine).

I did some profiling running this test and cannot see any serious sl

[2016-04-11 10:33] kilvadyb commented on #205
Ported to 64-bit by Ivica in commit 2c63060f113bd7a7a40e5aeb895984b8328e7824 -- MIPS64: r6 compact branch optimization.

[2016-04-11 10:33] #205 closed, assigned to kilvadyb

[2016-04-11 10:34] #227 closed, assigned to kilvadyb

[2016-04-12 07:59] ilijapavlovic commented on #291
With commit a6fd69ac29dd77628572b60701cc2c92544cc712 ("[elements] Add more tests to increase coverage") the problem stopped with reproducing.

[2016-04-12 07:59] #291 closed, assigned to ilijapavlovic

[2016-04-12 08:24] marijantic commented on #288
This is a simulator issue. Basically, drotr and drotr32 are not implemented, i.e DSRL and DSRL32 are missing the rotate part.

[2016-04-12 08:41] #275 closed, assigned to ilijapavlovic

[2016-04-12 09:33] marijantic commented on #288
PTAL: https://codereview.chromium.org/1880953002/

[2016-04-12 11:24] palfia opened #293 "Port new CL: https://codereview.chromium.org/1759383003"
Please port this CL to MIPS.

Since build: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/6909

[2016-04-12 15:11] kilvadyb commented on #257
Proposal CL uploaded: https://codereview.chromium.org/1876223003/

[2016-04-12 17:31] kilvadyb commented on #290
Running optdebug tests r2 sim finished at 14:10 while r6 sim finished at 13:47 So I think there is no significant difference, nothing to fix :) .

[2016-04-12 17:36] kilvadyb commented on #244
Finally MacroAssembler::GenerateSwitchTable() was added and switch table generation was macro-ized. Landed CL: https://codereview.chromium.org/1628453002

[2016-04-12 17:36] #244 closed, assigned to kilvadyb

[2016-04-12 17:41] kilvadyb commented on #257
The usage of macro instructions removed the old implementation of the following algorithm:
      // The algorithm is: -((-L) + (-R)), which in case of L and R being
      // different registers is most efficiently expressed as -((-L) - R).
I cannot see why the old code block would be better then simple comparison but it should be reviewed, discussed.

[2016-04-13 10:45] mkaric commented on #281
Uploaded a CL, PTAL: https://codereview.chromium.org/1881423002/

[2016-04-13 11:10] mkaric opened #294 "Bughunting: Several tests failing on the simulator"
Tests are failing for both mips32 and mips64, failing tests are:
- atomics
- atomics-load
- d8-worker-sharedarraybuffer
- futex

Error message on mips32:
#

# Fatal error in , line 0
# unreachable code
#

https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/10803

Same tests fail on mips64 with the error message:
#

# Fatal error in ../src/mips64/simulator-mips64.cc, line 2329
# Error: Exceptio

[2016-04-13 12:28] ilijapavlovic commented on #293
CL with solution is uploaded and ready for review. https://codereview.chromium.org/1886723003/
Tested with architectures mips, mips64, mipsel, mips64el and variant r2 in release mode.

[2016-04-13 12:33] ilijapavlovic commented on #293
Solution is tested for following tests (in different flag combinations):
- test-run-wasm-machops/RunLoadStoreRelocationOffset
- test-run-wasm-machops/RunLoadStoreRelocation
- test/mjsunit/wasm/module-memory.js

[2016-04-13 13:13] john-yan commented on #281
LGTM!

[2016-04-13 15:10] mkaric commented on #281
Landed as https://crrev.com/3b416c67f5c5294ffb937110478baf6048c0c39a, closing.

[2016-04-13 15:23] ilijapavlovic commented on #293
Landed as https://crrev.com/ec5995a1049375dcd0df1fb9bb7d7351edb98112

[2016-04-14 09:03] #293 closed, assigned to ilijapavlovic

[2016-04-14 09:08] ilijapavlovic opened #295 "Bughunting: Simulator MIPS64 edge: failing mjsunit/harmony/futex"
The following test fails:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7475/steps/Mjsunit%20-%20ignition/logs/futex

[2016-04-14 09:26] kilvadyb opened #296 "Bughunting: cctest/test-api/SetFunctionEntryHook and cctest/test-api/SetJitCodeEventHandler fails on 32-bit sim."

[2016-04-14 09:30] kilvadyb commented on #296
Tests fail since https://codereview.chromium.org/1617503003 is landed.

[2016-04-14 09:33] kilvadyb commented on #296
Problematic CL contains test/mjsunit/harmony/atomics.js so the bug might be related to #294.

[2016-04-14 09:37] mkaric commented on #294
Tests are failing since https://codereview.chromium.org/1617503003 landed. Many more failures in debug mode. The problem is missing code for mips.

[2016-04-14 13:40] marijantic commented on #289
Debugging of Run_WasmCall_Int64Sub for MIPS32 on a big-endian board reveals the following:
On a 32-bit platform, the subtraction operation is lowered to SubPair.
Assume that the test is run with the values 00000001 FFFFFFFF and 1B09788B FFFFFFFF. The SubPair method in macro-assembler-mips.cc is given the values of left_low = 00000001, left_high = FFFFFFFF, right_low 1B09788B and right_high = FFFFF

[2016-04-14 16:36] kilvadyb commented on #257
Improved CL landed: https://codereview.chromium.org/1876223003/

[2016-04-14 16:36] #257 closed, assigned to kilvadyb

[2016-04-15 09:42] #296 closed, assigned to kilvadyb

[2016-04-15 11:07] ilijapavlovic commented on #295
Related with following commit: https://chromium.googlesource.com/v8/v8/+/5e9ddf6ce4b698cb3112bd349ca5206cfada1437

[2016-04-15 12:05] kilvadyb commented on #295
I think it is related to #294 issue.

[2016-04-15 12:14] ilijapavlovic commented on #295
Yes. This is only subset of the problem described in #294. We suppose that the solution for both will be the same.

[2016-04-18 15:20] palfia opened #297 "Port new CL to MIPS: https://codereview.chromium.org/1901573003/"
Port new CL to MIPS: https://codereview.chromium.org/1901573003/

[2016-04-18 15:21] palfia opened #298 "Port new CL to MIPS: https://codereview.chromium.org/1892533004/"

[2016-04-18 18:22] kilvadyb commented on #298
Port uploaded: https://codereview.chromium.org/1896963002/

[2016-04-19 08:01] mkaric commented on #294
Code causing mips failures removed for a better solution in https://codereview.chromium.org/1902433003/. @palfia created a mips port which should solve the issue, https://codereview.chromium.org/1899783003/.

[2016-04-19 10:29] kilvadyb commented on #298
Port done: https://codereview.chromium.org/1896963002/
Merged to original CL, landed.

[2016-04-19 10:35] kilvadyb opened #299 "Portable format strings for PrintF() arguments."
On mac the int64_t is long long while on linux it is long so using PRIx64 macros where needed are good solution.

[2016-04-19 10:35] kilvadyb commented on #299
CL: https://codereview.chromium.org/1895843002/
Landed.

[2016-04-19 10:35] #299 closed, assigned to nobody

[2016-04-19 12:03] ilijapavlovic commented on #295
The problem is solved with commit efadbfc458519848509136014e4b9e8435d379ea
"MIPS: [Atomics] Remove Atomics code stubs; use TF ops."

[2016-04-19 12:13] #295 closed, assigned to ilijapavlovic

[2016-04-19 13:57] mkaric opened #300 "Builders running for unusually long time"
This is the last build to run around 3 hours:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/965
The next build and several others took around 8 hours:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/966
The latest builds run 40 hours or more:
https://v8.mips.com/bbv8/builde

[2016-04-19 19:03] kwan0xfff opened #301 "runaway mjsunit/d8-worker-sharedarraybuffer"
Several test runs have `mjsunit/d8-worker-sharedarraybuffer.js` running for an exceedingly long time until they are manually terminated.  This has happened both on physical boards and simulators.

Example tests include:
- cavoct3-board-1: [Target - MIPS64 - Debug - edge Build #1105](https://dmz-portal.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge/builds/1105)
- rhino-board-1: [

[2016-04-20 06:57] mkaric commented on #301
There has been several changes related to atomics in the last few days which affect d8-worker-sharedarraybuffer test, after finally fixing atomics code it seems this problem is resolved now. There has been several test runs on all builders you listed and these were quite fast, sim builders are green now too. I see the problem only with Target - Debug - edge which completed only one test run quickl

[2016-04-20 07:51] #294 closed, assigned to mkaric

[2016-04-20 12:29] kilvadyb commented on #298
Some cctest like test-js-typed-lowering/Int32AddNarrowing failed on a board while it passed on simulators. The author of the original CL fixed the problem in https://codereview.chromium.org/1901423002/ -- 8960600 And the failures disappeared from the boards.

[2016-04-20 12:30] kilvadyb commented on #298
Still some optimization in stack handling is possible, I work on a followup CL.

[2016-04-20 12:33] ilijapavlovic commented on #297
CL ready for review: https://codereview.chromium.org/1903173002/
Should be also tested for mips64.r2, mipsel.r2, mips64el.r2

[2016-04-20 15:40] kwan0xfff commented on #301
Today, I'm not seeing this particular problem come up. I'll downgrade the priority to pri2. If I don't see this again for another day, I'll close this.

[2016-04-20 15:51] kilvadyb opened #302 "Bughunting: cctest RunLoadStoreZeroExtend64, RunOobCheckedLoadT_pseudo7 and RunOobCheckedLoad_pseudo7 fails on 64-bit sim."

[2016-04-20 17:39] kilvadyb commented on #302
Failures come up after commit b994ad45b089c64eb253f63526723ffc2a0c86c6

[2016-04-21 07:03] ilijapavlovic commented on #297
CL  https://codereview.chromium.org/1903173002/ is tested for mipsel and mips64el.
Based on previous CL, one new CL is created by Yang: https://codereview.chromium.org/1902393004
Committed as b4697727e946e8d96d5345a4db7ff72842d60466

[2016-04-21 12:19] ilijapavlovic commented on #297
New CL uploaded because of problem with executing specific test cases on simulator.
https://codereview.chromium.org/1904033003/

Failed test cases on simulator for mips64.release:
- test/mjsunit/harmony/regexp-property-blocks.js
- test/mjsunit/regexp-sort.js
- test/mjsunit/regress/regress-sliced-external-cons-regexp.js
- test/mjsunit/string-slices-regexp.js
- test/mjsunit/harmony/unicode-regexp-un

[2016-04-21 12:30] ilijapavlovic opened #303 "Bughunting: Failing cctest/test-api/NewStringRangeError"
Test: cctest/test-api/NewStringRangeError (flaky in a repeated run)
Flags: --stress-opt --always-opt
Command: out/Release/cctest --random-seed=-2 --stress-opt --always-opt test-api/NewStringRangeError --nohard-abort --nodead-code-elimination --nofold-constants

Exit code: -9
Result: CRASH
Expected outcomes: PASS

Target: mipsel
Variant: r2
Mode: release

Details:
 https://v8.mips.com/bbv8/builders

[2016-04-21 17:29] kilvadyb commented on #302
This CL fixes RunLoadStoreZeroExtend64 only: https://codereview.chromium.org/1903973003 I also have doubt as I introduced lwu for turbofan which fixes this test and no new failure with it  but it is used in many cases which worked without it before. And other archs (including arm64) has unsigned load for byte (lbu) and half-word (lhu) only and they don't have problem with RunLoadStoreZeroExtend64.

[2016-04-21 23:28] kwan0xfff commented on #301
Found "mjsunit/d8-worker-sharedarraybuffer" passed in https://dmz-portal.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/1848 in "Check" step.  Have not seen problem show up on other tests. (But those tests are not completing.) For now, will mark this as resolved.

[2016-04-21 23:28] #301 closed, assigned to mkaric

[2016-04-22 10:59] #297 closed, assigned to ilijapavlovic

[2016-04-22 12:40] ilijapavlovic commented on #303
Result of the test execution is unstable/flaky.

The test itself performs following command lines:

[code]

Every command line executed separately will finish successfully.

[2016-04-22 16:39] kwan0xfff commented on #300
This is one has been running for 22+ hours: [Target - MIPS64 - big - Debug - edge - no i18n Build #995](https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/995)
I've killed off a few processes that have run over 60 minutes CPU time. (Board is running Octeon III, one of our faster CPUs.)  These will show up in the log for the "Check" step as

[2016-04-22 17:21] kilvadyb commented on #302
Proposal CL: https://codereview.chromium.org/1907363002/

[2016-04-22 17:24] kilvadyb commented on #298
Followup optimization CL: https://codereview.chromium.org/1903973003/

[2016-04-25 09:39] palfia opened #304 "Bughunting: multiple MIPS64 test failures."
This CL introduced multiple test failures on MIPS64:
https://codereview.chromium.org/1838283003

[2016-04-25 09:39] palfia commented on #304
Fixed by: https://codereview.chromium.org/1900743002/

[2016-04-25 09:39] #304 closed, assigned to palfia

[2016-04-25 11:12] palfia commented on #300
It seems the mjsunit/debug-scopes test stucks in an infinite loop on MIPS64 BE after this CL:
https://codereview.chromium.org/1846963002 .
Since this test (and probably some others) always run until the timeout ends, this might be the cause  of the significant slowdown that we can see in the Buildbot.
However, I can't see anything in the mentioned CL that could cause a MIPS64 BE specific problem.

[2016-04-25 11:39] mkaric commented on #300
Actually mjsunit/debug-scopes runs for a long time since the testing on the builder started. This is the first successful build and this test runs for over 15 minutes:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/7

Why do you think that commit causes the slowdown?

[2016-04-26 10:06] kilvadyb commented on #298
PTAL, ping

[2016-04-26 11:39] palfia commented on #298
LGTM'ed.

[2016-04-26 12:40] kilvadyb opened #305 "Bughunting: mjsunit/asm/embenchen/zlib failure on debug sim."

[2016-04-26 15:37] kilvadyb commented on #298
https://codereview.chromium.org/1899423003/ landed.

[2016-04-26 15:37] #298 closed, assigned to kilvadyb

[2016-04-26 18:03] kilvadyb opened #306 "Using 3rd party (v8 pre-compiled) clang on Mac."
The current ToT has a gyp config which contains a flag for clang which is not understood by Xcode’s clang on mac. So after a `gclient sync` with the bellow patch we can use the newest third party clang of v8 instead of the Xcode’s clang on macs:

[code]

[2016-04-27 06:21] ilijapavlovic commented on #303
The cause of the problem is in following:
- The test tries to allocate ~512 MB.
- With following command:

[code]

three instances of the test are run simultaneously:

[code]

This means that the system should have at least 3 x 512 MB of free memory for successful execution.

If the system has following condition `512 MB < free memory < 3 x 512 MB` than the test should have some kind of synchronis

[2016-04-27 14:27] mkaric commented on #300
Since the following CL landed many tests on the builder execute until the timeout:
https://codereview.chromium.org/1670143002

[2016-04-27 14:40] palfia commented on #300
Nice find!

The mjsunit/es6/generators-relocation test crashes on MIPS64 BE since:
https://codereview.chromium.org/1884183002
However, maybe this is a separate issue and not related to the CL you mentioned.

[2016-04-27 16:04] kwan0xfff commented on #300
Below are tests that I've killed which ran over 60 minutes, and how many times I killed them. The winners in this list are `mjsunit/numops-fuzz-part4` and `mjsunit/readonly` with 6 kills each.

[code]

This was done across several test runs (edit: I said "processes" before) over several days, and during my awake hours. :-)  It is very possible that the same tests could have run to completion while

[2016-04-27 18:12] kilvadyb commented on #305
Proposal CL: https://codereview.chromium.org/1925543003/

[2016-04-28 07:22] ilijapavlovic commented on #303
Swappiness was changed on the system with following command:

[code]

Tested values: 0, 10, 60 (default value), 100.
These changes didn't lead to the test results stability.

[2016-04-28 15:34] kilvadyb commented on #305
Nits fixed, CL landed.

[2016-04-28 15:34] #305 closed, assigned to kilvadyb

[2016-04-28 15:35] kilvadyb commented on #306
CL uploaded: https://codereview.chromium.org/1926633004/
Michael's nit fixed, CL landed.

[2016-04-28 15:35] #306 closed, assigned to kilvadyb

[2016-04-28 17:40] kilvadyb opened #307 "Bughunting: mjsunit/asm/embenchen/zlib failure on debug sim again."
After the unbound label counter fix this tests fails at an other assert:

[code]

[2016-04-29 06:57] ilijapavlovic commented on #303
The following lines in test are important:

[code]

If we put in a comment following lines:

[code]

the test will be successful. It means that the problem is not in function `malloc()` and memory
allocation.

With following code segment the failure can be reproduced:

[code]

Output:

[code]

This shows that there is a problem with execution `memset()` function.

[2016-04-29 09:20] ilijapavlovic commented on #303
Following replacement for `memalloc(), memset(), free()` is tested but without success. The test still has the same instability.  Idea was to do immediately element initialization during memory allocation.

[code]

[2016-05-02 11:01] ilijapavlovic opened #308 "Bughunting: cctest/test-cpu-profiler/CollectCpuProfileSamples failes on qemu"
The test cctest/test-cpu-profiler/CollectCpuProfileSamples fails on qemu.

Target: mips64el
Mode: release
Variant: r6

Details: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/2783/steps/Check/logs/CollectCpuProfileSamp..

[2016-05-04 11:21] ilijapavlovic commented on #303
Instead

[code]

following code is used:

[code]

This substitution did not improve stability of the test.

[2016-05-04 15:06] ilijapavlovic commented on #308
The problem is reproduced.

This is the call stack:

[code]

When `CALL_GENERATED_CODE()` is performed the test can enter into endless loop or finish with error segmentation fault.
Also, the number of executions RunProfiler() function is not constant. Sometime, the test will crash during the first execution RunProfiler(), and sometime the crash can happen after several RunProfiler() executions.

[2016-05-04 15:15] kwan0xfff commented on #243
Boards are now running kernel v4.1.20, Debian 8.4. Git version is 2.x. (The buildbot slave info, which is manually updated, is obsolete.)

On-site visit was done on Apr 22. There was a bit remote follow-up required for one of the machines, completed by Google engineer. New manager of area is Vince Hang.

[2016-05-04 15:15] #243 closed, assigned to kwan0xfff

[2016-05-04 20:33] kwan0xfff opened #309 "Bughunting: mjsunit/harmony/futex times out in various tests"
Various individual tests have timed out while running test/mjsunit/harmony/futex.js  In some cases, processes running this test were killed after accumulating 60 minutes of CPU time.

Below are some representative timeouts:

---

_Case 1_:
Test: mjsunit/harmony/futex
Flags: --stress-opt --always-opt
Command: out/Release/d8 --test --random-seed=-1 --stress-opt --always-opt --nohard-abort --nodead-c

[2016-05-04 22:13] palfia commented on #309
Thanks for reporting, I hope porting the atomics store CL (https://codereview.chromium.org/1938213002) to MIPS will solve this issue.

[2016-05-05 12:07] ibogosavljevic commented on #303
We am performing the tests on ci20 board with no swap space configured

The reason for these random failures is that Linux OutOfMemory Killer is activated since this test uses a lot of memory. OOM killer is activated when there is no memory available so some memory space is freed by killing one or few processes.

After the cctest crashes, we get following information using `dmesg` (see bellow)

I

[2016-05-05 18:48] MIPSbkirby commented on #303
Other than adding swap, I'm not aware of any way to increase the memory on any of the boards.  The only thing I can suggest is turning off the out of memory killer.  You'll still run out of memory though, but it will show up in the tests that are requesting memory.  Basically malloc will return NULL when the process requests memory and the kernel doesn't think it has enough.

Turning off the out o

[2016-05-05 19:38] palfia commented on #309
Landed the MIPS port of the atomic store: https://codereview.chromium.org/1957463002/

[2016-05-06 10:42] palfia commented on #309
Fixed by e11eb9a7d7fa6a1adccfc8c25c8655f0b106f966.

[2016-05-06 10:42] #309 closed, assigned to palfia

[2016-05-06 11:04] palfia opened #310 "Bughunting: RunWord32AndAndWord32ShrP, RunWord32OrP, RunWord32ShrP, RunWord32XorP"
These tests are failing:
RunWord32AndAndWord32ShrP, RunWord32OrP, RunWord32ShrP, RunWord32XorP

Since the following builds:

Target - MIPS64 - edge: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/4903
Target - MIPS64 - edge - mipsr6,under qemu: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6,under%20qemu/builds/2800
Target - MIPS64 - Debug - e

[2016-05-06 11:46] palfia opened #311 "Bughunting: Uint32LessThanRelocation"
Fails since these builds (truncated list of builders):

Target - big - edge - no i18n: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/7418
Target (1) - edge: https://v8.mips.com/builders/Target%20(1)%20-%20edge/builds/4922
Target - MIPS64 - edge: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/4907
Sim - edge: https://v8.mips.com/builde

[2016-05-06 12:35] palfia opened #312 "Bughunting: mjsunit/allocation-site-info"
This is a flaky failure, appears in the MIPS64 bots sometimes.

Examples:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7430
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7435

[2016-05-06 12:42] palfia commented on #311
Uploaded the fix: https://codereview.chromium.org/1959653002/

[2016-05-06 12:48] palfia commented on #287
Fixed by updating qemu to version 2.5.

[2016-05-06 12:48] #287 closed, assigned to palfia

[2016-05-06 12:51] palfia commented on #235
Closing issue. The remaining WASM big-endian failures are tracked by https://github.com/v8mips/v8mips/issues/276 (little-endian linear memory accessing issues) and https://github.com/v8mips/v8mips/issues/268 (alignment issues).

[2016-05-06 12:51] #235 closed, assigned to palfia

[2016-05-06 12:54] palfia commented on #288
Closing issue, fixed by https://codereview.chromium.org/1880953002/ .

[2016-05-06 12:54] #288 closed, assigned to marijantic

[2016-05-06 13:06] palfia commented on #255
The failure still appears regularly in the bots:

https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/449
https://v8.mips.com/bbv8/builders/Target%20(1)%20-%20edge/builds/4928

These are timeouts, so it could happen that we only have to raise the timeout limit to make this test pass.

[2016-05-06 14:38] palfia commented on #289
Skipped for big-endian by: https://codereview.chromium.org/1948053002

[2016-05-06 15:25] ibogosavljevic commented on #303
Disabling OOM killer didn't help, for some reason the tests were not executing at all.

I created a swap partition on an external USB flash drive and plugged it in ci20 board. Then the board was configured to use this swap space. After this, the tests are passing, albeit they are executing very slow.

The solution would be to add more swap space on the buildbots? @MIPSbkirby Do you think it would

[2016-05-06 18:56] MIPSbkirby commented on #303
It looks like our Ci20 boards are not configured consistently for memory.  I'm seeing two with 2G of swap and two with none:

[code]

The two boards that have no swap have their root file system mounted on the flash memory.  @kwan0xfff can you install a USB key into these with swap on them?  Also, please look into adding a external disk.  I don't think this will be possible due to lack of outlets

[2016-05-06 19:11] palfia commented on #300
Uploaded a CL for the infinite loop problem: https://codereview.chromium.org/1959463003/
This fixes most of the tests on MIPS64 BE, however the mentioned mjsunit/debug-scopes\* tests are still stucks in a loop, but it's a separate problem, I think.

[2016-05-09 08:00] ibogosavljevic commented on #303
Just watch out if you are using USB flash keys. They don't have any Wear
leveling, meaning after some time you could see a lot of unexplained
crashes because of malfunctioning USB. Solid state drive or external HDD
(plugless) could be a better idea.

On 05/06/2016 08:56 PM, Brendan Kirby wrote:

[2016-05-09 12:25] ilijapavlovic commented on #308
The test is successfully performed on FPGA board and in qemu system mode.

Output form FPGA board:

[code]

Output from qemu in system mode:

[code]

[2016-05-09 12:56] ilijapavlovic commented on #308
Conclusion: - the test fails because of problem/limitation on qemu for user mode.

[2016-05-09 14:44] kilvadyb commented on #307
Failure disappeared from logs.

[2016-05-09 14:47] kilvadyb commented on #310
Not related to fix CL of #302, bug disappeared after landing CL of #311.

[2016-05-09 14:50] kilvadyb commented on #302
Proposal CL accepted by Ben Titzer, Wiki page created: https://github.com/v8mips/v8mips/wiki/Unsigned-32-bit-values-in-Turbofan-on-mips64

[2016-05-09 14:50] #302 closed, assigned to kilvadyb

[2016-05-09 15:35] kilvadyb commented on #310
Failure still exists on our buildbots while I cannot reproduce them on our er8 board.

[2016-05-10 07:33] mkaric commented on #300
Test mjsunit/debug-scopes is stuck in a loop before the CL just fixed (https://codereview.chromium.org/1670143002) landed. Looking for a CL that caused this test to run in an infinite loop.

[2016-05-10 09:31] ilijapavlovic commented on #312
The problem is reproduced.

The command line for starting the test looks as follow:

[code]

The test result depends on value of `${RANDOM_SEED}` parameter. Here are some of values from interval [-50, 50] where the test fails:

[code]

The test always fails for listed values from the interval.

[2016-05-11 09:58] kilvadyb commented on #312
I reduced the test script to make a few generated code call (still good on arm64, fails on mips64el):

[code]

I also added a printf() to see what is wrong and looks like the bug is in the new/copyShallow ArrayStub. The printf patch:

[code]

The printf shows that on arm64 the object has a different map pointer at the 2nd call while on mips64el it has the same map.

[2016-05-11 10:56] ilijapavlovic commented on #312
If the test is executed with following flags:

[code]

in the trace successful test will have lines like these:

[code]

[2016-05-11 17:48] kilvadyb commented on #312
It seems I was optimistic about this bug. When I comment out the `foo("howdy", 1);` line in the shortened test script then it passes.

[2016-05-12 02:02] palfia opened #313 "Bughunting: Allocation folding test failures on MIPS64 debug"
There are new test failures on MIPS64 Debug mode since: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7637

The tests are failing with the following msg:

[code]

Please investigate this problem.

[2016-05-12 02:04] palfia commented on #289
Put this on hold until we resolve #276.

[2016-05-12 02:06] palfia commented on #276
This issue will be addressed in #268.

[2016-05-12 07:50] mkaric commented on #300
This CL causes timeouts with mjsunit/debug-scopes and several other tests:
https://codereview.chromium.org/1846963002

The CL actually causes mjsunit/debug-scopes to run many times slower (about 10x slower when I tested using QEMU) than before.

[2016-05-12 12:00] marijantic commented on #313
In https://codereview.chromium.org/1972553002 (above mentioned build), the failing debug check in line 5287 was added. Most of the actual changes were introduced by https://codereview.chromium.org/1899813003

[2016-05-13 10:16] kilvadyb commented on #248
We should investigate https://codereview.chromium.org/1972103002/ and https://codereview.chromium.org/1974263002/ to check if we could use (d)lsa for the same cases.

[2016-05-13 12:04] marijantic commented on #313
PTAL: https://codereview.chromium.org/1977833002/
Changes introduced to lithium-mips.cc were missing from lithium-mips64.cc.

[2016-05-13 14:54] marijantic commented on #313
Fix landed as https://crrev.com/ced0f49763ef18e874902e3f33b81d75f5a3b2ae

[2016-05-13 14:54] #313 closed, assigned to marijantic

[2016-05-16 10:05] palfia opened #314 "Bughunting: Run_WasmFloat32SubMinusZero and Run_WasmFloat64SubMinusZero"
The Run_WasmFloat32SubMinusZero and Run_WasmFloat64SubMinusZero tests are failing on the targets:
https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/481

https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7185

Please investigate these failures.

[2016-05-16 10:10] palfia opened #315 "Bughunting: mjsunit/regress/regress-599414-array-concat-fast-path"
Test failure in the buildbots: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7185

Please investigate this failure.

[2016-05-16 12:51] #308 closed, assigned to ilijapavlovic

[2016-05-16 12:55] ilijapavlovic commented on #312
If the test is executed with flags `--trace_sim --print_all_code`, following line can be found in the trace:

[code]

For successful case the branching is not performed, but in failed case it is done.

[2016-05-16 16:00] palfia commented on #311
Fixed by 2c6d0789c8d8abbe40f57d93a675bdb3cda91677.

[2016-05-16 16:00] #311 closed, assigned to palfia

[2016-05-17 08:19] ilijapavlovic commented on #312
This is part of the trace for successful test execution:

[code]

Register `a1` contains a word value `0x50219bf9` so instruction `addiu a4, a1, 47` will be performed on expected way.

Here is a sample of the trace for unsuccessful test execution:

[code]

In this case register `a1` has double word value `0x7fd500819bf9`. For instruction `addiu` in the specification is mentioned following:

Theref

[2016-05-17 10:06] ilijapavlovic commented on #312
The simplest solution for this is implement ADDIU instruction for simulator on the same way as DADDIU.

[2016-05-17 15:59] kilvadyb commented on #312
Proposal CL: https://codereview.chromium.org/1989483002/

[2016-05-17 16:37] kilvadyb commented on #312
A DCHECK added to addiu simulation: https://codereview.chromium.org/1984313002/

[2016-05-18 10:31] palfia opened #316 "Bughunting: Multiple MIPS64 test failures"
Introduced by https://codereview.chromium.org/1969423002 .

[2016-05-18 10:31] palfia commented on #316
Uploaded a fix: https://codereview.chromium.org/1990823002/

[2016-05-18 10:41] kilvadyb commented on #307
Appeared again with the sam failure.

[2016-05-18 10:54] kilvadyb commented on #312
Both CLs landed.

[2016-05-18 10:54] #312 closed, assigned to ilijapavlovic

[2016-05-18 11:32] ilijapavlovic commented on #315
The problem reproduced.
The first appearance of this error: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7164

[2016-05-18 12:24] ilijapavlovic commented on #315
Commit where the problem reproduced for the first time:

[code]

[2016-05-18 14:00] palfia commented on #316
Uploaded a fix for GCC: https://codereview.chromium.org/1987253002

[2016-05-18 15:35] kwan0xfff commented on #103
Kernels on ER Pro-8 machines at Google were updated to 4.1.20 on Apr 22, 2016.

[2016-05-19 12:32] kilvadyb commented on #307
Proposal fix uploaded: https://codereview.chromium.org/1994143002/

[2016-05-20 09:30] ilijapavlovic commented on #315
In `v8/src/buitlins.cc` is noted that one checking is missing. Following patch should fix the problem.

[code]

[2016-05-20 09:46] kilvadyb commented on #307
https://codereview.chromium.org/1994143002/ landed.

[2016-05-20 09:46] #307 closed, assigned to kilvadyb

[2016-05-20 10:41] ilijapavlovic commented on #315
CL uploaded and ready for review: https://codereview.chromium.org/1995313002/

[2016-05-20 13:13] ibogosavljevic opened #317 "Implement tests to verify UnalignedLoad and UnalignedStore reductors in instruction-selector-mips[64]"
As part of #268 , we implemented UnalignedLoad and UnalignedStore emulation using LoadByte/Shift/Or and StoreByte/Shift/And in wasm-compiler.cc. We also implemented reducers in instruction-selector-mips[64].cc

The last step is to implement the tests which make sure that reducing of UnalignedLoad and UnalignedStore that happens in instruction-selector-mips[64] doesn't get accidentally reverted, be

[2016-05-20 13:16] ibogosavljevic commented on #317
There is a problem implementing this kind of tests. We need to check immediate implementation which is kept in PipelineData->InstructionSequence, but this member is private to PipelineData and cannot be easily accessed using WasmFunctionCompiler or other classes in wasm-run-utils.h, used to write wasm tests.

Currently putting this on hold, until #268 is closed.

[2016-05-20 14:05] ibogosavljevic commented on #268
The above CL didn't land, because a different approach was decided: Now, instead of UnalignedLoad and UnalignedStore turbofan operators, we simulate unaligned access in wasm-compiler.cc using Load/Shift/Or and StoreByte/Shift/And.

So, we implemented:
1) CL implements unaligned access instruction for MIPS32 and MIPS64 (landed and closed)
https://codereview.chromium.org/1902743002
2) CL implements

[2016-05-20 14:11] ibogosavljevic commented on #276
This issue is not related to #268. #268 deals with unaligned access in WASM and it exists on both little endian and big endian. This issue exists on big endian only.

I am in the process of trying of following approach: we will keep data in memory in little-endian order, even on big endian. To achieve this, we do the following: in wasm-compiler.cc, before each store we convert data to little-endia

[2016-05-23 07:33] ibogosavljevic commented on #279
Not solved by patches from #268 :(

[2016-05-23 08:42] ilijapavlovic commented on #315
CL landed https://crrev.com/e2e879694af027fde9c6f003a5281a135a5ba45f

[2016-05-23 08:42] #315 closed, assigned to ilijapavlovic

[2016-05-23 09:00] ilijapavlovic opened #318 "Bughunting: mjsunit/wasm/embenchen/lua_binarytrees"
The test mjsunit/wasm/embenchen/lua_binarytrees fails.

[code]

Details: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7240/steps/Check/logs/lua_binarytrees

[2016-05-23 10:56] ilijapavlovic commented on #318
On the board CI20 this problem cannot be reproduced.

[code]

[2016-05-24 08:09] ilijapavlovic commented on #318
An attempt to reproduce problem with following adaptation in `src/d8.cc` (disabling the transparent recovery from unaligned address exceptions for the current process):

[code]

When recovery is disabled, the test produces exit code -10 but description `Result: CRASH: BUS ERROR maybe alignment problem` is missing (compared with the error code on builder):

[code]

When recovery is enabled, the tes

[2016-05-24 08:28] ilijapavlovic commented on #318
The same error message appears in https://github.com/v8mips/v8mips/issues/268

[2016-05-24 10:27] kilvadyb commented on #318
Nice catch. All the v8 code should work without kernel unaligned fix/recover feature. Please try to find the failing code snippet with a debugger.

[2016-05-24 11:36] ilijapavlovic commented on #318
With disabled recovery and in release mode following output is received with GDB:

[code]

With disabled recovery and in debug mode following output is received with GDB:

[code]

[2016-05-24 12:26] ilijapavlovic commented on #318
From previous two traces note following lines:

[code]

These addresses are not aligned.

[2016-05-24 17:01] kilvadyb commented on #248
I debugged and studied the two arm CLs and all the LSL operand occurrences in turbofan arm code and I think there is no more place to use `lsa/dlsa` at the moment.

[2016-05-24 17:01] #248 closed, assigned to kilvadyb

[2016-05-24 17:18] kilvadyb opened #319 "Bughunting: mips64el compilation error."
Fatal error in ../src/mips64/assembler-mips64.cc, line 933
Check failed: !L->is_bound().

[2016-05-24 17:32] kilvadyb commented on #319
The problematic CL: a6ddbef0645a944fc3d46d89af6362d585170348 -- https://codereview.chromium.org/1969783002

[2016-05-24 18:46] kilvadyb commented on #319
Fix CL uploaded: https://codereview.chromium.org/2009603002/

[2016-05-25 06:53] #316 closed, assigned to palfia

[2016-05-25 08:38] kilvadyb commented on #319
https://codereview.chromium.org/2009603002/ landed.

[2016-05-25 08:38] #319 closed, assigned to kilvadyb

[2016-05-25 08:42] kilvadyb opened #320 "Bughunting: cctest/test-feedback-vector/VectorCallCounts fails on mips64el simulator."
https://dmz-portal.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/7824

[2016-05-25 12:26] kilvadyb commented on #320
Seems #319 solved the failure.

[2016-05-25 12:26] #320 closed, assigned to kilvadyb

[2016-05-27 17:54] kilvadyb opened #321 "Bughunting: mjsunit/wasm/embenchen/box2d failure on boards"

[2016-05-30 10:49] marijantic opened #322 "Bughunting: Various word32 tests failing for MIPS64 target"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/5139
Failing tests: RunWord32OrP, RunWord32AndAndWord32ShrP, RunWord32XorP, RunWord32ShrP

[2016-05-30 11:07] mkaric commented on #281
Test is failing again for big endian.

[2016-05-30 11:10] palfia commented on #310
Fails since the lwu TF operator is added in: https://codereview.chromium.org/1907363002

[2016-05-30 11:11] palfia commented on #322
This is a duplicate of #310.

[2016-05-30 11:12] marijantic commented on #322
Missed that one when checking. Closing.

[2016-05-30 11:12] #322 closed, assigned to marijantic

[2016-05-30 11:17] palfia opened #323 "Bughunting: several test failures on big-endian."
Several tests are failing on big-endian since: https://codereview.chromium.org/1990923002

cctest/test-run-wasm-64/RunWasmCompiled_F64ReinterpretI64
cctest/test-run-wasm-64/RunWasmCompiled_LoadMemI64
cctest/test-run-wasm/RunWasmCompiled_MemF64_Mul
cctest/test-run-wasm-64/RunWasmCompiled_StoreMemI64_alignment
cctest/test-run-wasm/RunWasmInterpreted_Float64SubMinusZero
cctest/test-run-wasm/RunWasmIn

[2016-05-30 11:19] palfia commented on #323
I think the only problem here is that the name of the tests were changed by this CL, but the *.status files weren't updated accordingly.

[2016-05-30 13:47] ibogosavljevic opened #324 "Bughunting: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7315/steps/Check/logs/RunWasmInterpreted_Lo.."
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7315/steps/Check/logs/RunWasmInterpreted_Lo..

[2016-05-30 13:48] ibogosavljevic commented on #324
https://codereview.chromium.org/2026553002/

[2016-05-31 01:47] john-yan commented on #323
I asked Orion about the matter and here is the reply:

Looks like we need to add the U16 macro.

[2016-05-31 02:45] john-yan commented on #281
I asked Orion about the matter and here is the reply:

Looks like we need to add the U16 macro.

[2016-05-31 02:47] john-yan commented on #323
sorry, was commenting to another thread.

[2016-05-31 04:26] ibogosavljevic commented on #324
Test is passing after the CL, closing the issue:
RunWasmInterpreted_LoadMemI32_const_oob_misaligned

https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7324/steps/Check/logs/stdio

[2016-05-31 04:26] #324 closed, assigned to ibogosavljevic

[2016-05-31 08:11] ilijapavlovic commented on #318
In disassembled code of `AsmWasmBuilderImpl::VisitIfStatement()` there is a line which produces unaligned address:

[code]

Note that `29(s8)` gives unaligned address `0x7fff535d`.

In `asm-wasm-builder.cc` there is definition of the function `VisitIfStatement()` :

[code]

Follows investigation of `Emit(kExprIf)`.

[2016-05-31 08:19] mkaric commented on #281
@john-yan U16 macro is already there, he just missed one spot where is should be used. Actually there is another one where U8 should be used. I will prepare the CL.

[2016-05-31 08:55] marijantic commented on #310
Error message under qemu:

Fatal error in ../test/cctest/compiler/test-run-machops.cc, line 2664
Check failed: expected == bt.call(*i, *j) (4294967295 vs. 4294967295).

[2016-05-31 13:58] mkaric commented on #281
Uploaded a CL: https://codereview.chromium.org/2024123002/

[2016-05-31 14:00] john-yan commented on #281
@mkaric your fix is LGTM, thanks! Could you also port it to 5.2-lkgr, which is also failing on this issue?

[2016-06-01 08:48] ilijapavlovic commented on #318
The problem is not in `Emit(kExprIf)`. Consider following code:

[code]

For the code above, following assembler code is produced:

[code]

Problematical line `sw  zero,29(s8)` is preparation argument for `std::make_pair(nullptr, false)` and refers for **nullptr**. This assembler line is produced by compiler.
If source code is adapted on following way:

[code]

then the following assembler code wi

[2016-06-01 09:38] palfia opened #325 "Bughunting: unittests/ThreadTicks.ThreadNow on mipsr1"
Fails on R1 in both release and debug mode:

https://v8.mips.com/builders/Target%20-%20edge%20-%20mipsr1/builds/7142
https://v8.mips.com/builders/Target%20-%20Debug%20-%20edge%20-%20mipsr1/builds/628

[2016-06-01 09:55] ilijapavlovic commented on #318
This is small example for reproducing word unaligned address and "bus error":

[code]

Compile with command:

[code]

Produced assembler code:

[code]

[2016-06-01 09:58] kilvadyb commented on #318
Nice catch. The nullptr thing looks like a compiler bug. could you test it with different/newer GCCs (5, 5.x) and/or with clang?

The ldc1 failure is not a compiler generated bug but, I guess, param0 or param1 points to an unaligned address. In fullcodegen and crankshaft we fixed this kind of double read/write problems with [READ|WRITE]_DOUBLE_FIELD macros which calls [Read|Write]DoubleValue() inl

[2016-06-01 10:53] kilvadyb commented on #318
In the `ldc1` case we should check where param0 and param1 come from and could we ensure  8 bytes alignment or (from wasm specs) using [Read|Write]DoubleValue() functions is necessary.

[2016-06-01 10:56] ilijapavlovic commented on #318
These results are received with GCC. Clang is also tested and the result was the same: "buss error". I will try to reproduce the problem with double word unaligned address.

[2016-06-01 11:12] kilvadyb commented on #318
Does the nullptr case fail with clang also? Very strange,
`sw  zero,25(s8)       // <--- Unaligned word address 0x7fff6569`
is quite buggy. And from 2 different compilers... In this case we should send a well documented bugreport with objdumps to the imgtec compiler team(s). Could you get asm/debug code of clang compiling the small nullptr sample program (in the same form as the GCC result)? We ca

[2016-06-01 11:18] ilijapavlovic commented on #318
For `ldc1`: I couldn't determine who made calling of the `f64_call_wrapper()`:

[code]

Disassebmling location #1 was not possible.

[code]

I will check again for nullptr case and clang compiler.

Ok - I'll try to make also compiling small example for nullptr with clang.

[2016-06-01 11:23] kilvadyb commented on #318
In gdb: location 1 can't be disasmed because it is called from generated v8 asm code not from a C function, I guess. You can try x/16i 0x553b0ef4 - 16 for example.

[2016-06-01 11:48] ilijapavlovic commented on #318
For testing nullptr, use following command for compiling with clang:

[code]

Assembler code produced with Clang compiler seems OK:

[code]

[2016-06-01 12:05] kilvadyb commented on #318
Even better, we can show to the compiler team how GCC fails and clang is right :) Tough it should be tested/dumped with the latest imgtec GCC toolchain.

[2016-06-01 12:56] ibogosavljevic opened #326 "CLANG compilation issue on build bot"
The v8 doesn't compile using CLANG anymore:
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%20-%20builder/builds/2571/steps/compile/logs/stdio

Please see what is the problem.

[2016-06-01 13:21] ilijapavlovic commented on #326
The problem is reproduced.

[2016-06-01 13:29] ilijapavlovic commented on #326
The problem appears from following build:
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%20-%20builder/builds/2548

Problematical commit:

[code]

[2016-06-01 15:04] kilvadyb commented on #321
Cannot reproduce compiling the same revision that the buildbot failure shows. I run the test on popcorn, ci-20 and er8 boards without any failure. I hope fix for #318 would help on this also.

[2016-06-02 07:53] mkaric commented on #281
Landed as https://crrev.com/b8786b35fcbf4cec390cf22a0c5da42e690df77b.

[2016-06-02 08:03] mkaric commented on #281
Test is still failing on builders, there seems to be another error in the test causing the failure for big endian.

[2016-06-02 08:10] mkaric commented on #281
@john-yan I uploaded a CL for 5.2, can you have a look: https://codereview.chromium.org/2032493003

[2016-06-02 12:56] john-yan commented on #281
@mkaric That looks good to me. Thanks!

[2016-06-02 15:31] mkaric commented on #281
Uploaded a fix CL: https://codereview.chromium.org/2030063002/, it turns out one value in the test should be U8 instead of U16.

[2016-06-02 16:26] kilvadyb commented on #318
I did some debugging and code analyzis. I think if we introduce new type (and field in StoreRepresentation ?) then in `InstructionSelector::VisitStore()` we could do double alignment but I don't see any speed improvement to Ivica's CL: https://codereview.chromium.org/2034523003/ (that would complicate push (one more instruction) and we would have trouble at pop - stack unwinding.

[2016-06-02 16:32] kilvadyb opened #327 "Bughunting: cctes failures in simulator"
https://dmz-portal.mips.com/bbv8/builders/Sim%20-%20edge/builds/11265

[2016-06-02 18:31] kilvadyb commented on #327
test/cctest/compiler/test-run-native-calls tests are failing sine rev. 817b59c8ad7e9237d93a43a31045285418bbb6d5 (https://codereview.chromium.org/2024443002) landed. Exact port of ARM changes to MIPS does not fix the failures.

[2016-06-03 06:56] ilijapavlovic commented on #318
The problem about nullptr is reported to GCC team. They created an internal ticket #2360.

[2016-06-03 08:21] ilijapavlovic commented on #326
Problematical commit contains these changes:

[code]

The commit used as starting point for testing is following:

[code]

Here are results of testing:

[code]
- V8 build successful.

[code]
- V8 build successful.

[code]
- V8 build fails.

The cause of the problem is in committed Clang tool.

[2016-06-03 08:28] ilijapavlovic commented on #326
With mentioned Clang commit, the only change is in `tools/clang/scripts/update.py` where `CLANG_REVISION` parameter is changed from `CLANG_REVISION = '269902'` into `CLANG_REVISION = '270823'`.

[2016-06-03 08:30] ilijapavlovic commented on #326
[code]

[2016-06-03 10:34] mkaric commented on #281
Landed as https://crrev.com/16dda2152f4823e7557e76fe993199703d872227.

[2016-06-03 10:55] ibogosavljevic commented on #318
Fixed by CL:
https://codereview.chromium.org/2034523003/

https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7361/steps/Check/logs/stdio

Closing...

[2016-06-03 10:55] #318 closed, assigned to ibogosavljevic

[2016-06-03 10:56] ibogosavljevic commented on #321
Fixed from #318 solved the issue:

https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7361/steps/Check/logs/stdio

Closing...

[2016-06-03 10:56] #321 closed, assigned to nobody

[2016-06-03 11:51] ilijapavlovic commented on #326
Solution for this problem is to set environment variable CLANG_ARGS on correct value.
Environment variable CLANG_ARGS contains option `--target=${ARCH}-linux-gnu` which
should adapted into  `--target=${ARCH}-mti-linux-gnu` for release R2.

[code]

With these adaptations, V8 build is successfully finished.
Tested targets for R2 release: mips, mipsel, mips64, mips64el.

[2016-06-03 11:51] #326 closed, assigned to ilijapavlovic

[2016-06-03 12:32] kilvadyb commented on #327
Proposal CL uploaded: https://codereview.chromium.org/2038813002/

[2016-06-03 13:06] mkaric commented on #281
@john-yan Landed another CL for 5.2 (https://codereview.chromium.org/2031283002).

Test now passes. Closing.

[2016-06-03 13:06] #281 closed, assigned to mkaric

[2016-06-03 13:06] john-yan commented on #281
Could you please also backport to 5.2?

[2016-06-03 13:07] john-yan commented on #281
Thanks!

[2016-06-03 13:17] kilvadyb commented on #327
This solution/fix seems to be a bit fragile as
- kArmPush is used on arm and we have kMipsPush (and only for regular and double registers) also but these tests trigger kMipsStoreToStackSlot (there is no kArmStoreToStackSlot).
- Fix CL of #318 introduced reading floating point values from stack slots with ReadDoubleValue() but with this fix CL we can write single/float values to a stack slots also.

[2016-06-03 17:39] kilvadyb commented on #327
Proposal CL lgtm'ed and landed.

[2016-06-04 12:52] FuddingtonBear opened #328 "recipe for target mipsel.release failed"
Hi, I have a CI20 board and trying to install V8 for this.  I have followed the instructions here https://github.com/v8mips/v8mips/wiki/Building-v8-for-MIPS however I am getting an error as specified in the title.  Here is the console output:

`make[1]: Entering directory '/home/johnathon332/downloads/v8/out'
  CXX(target) /home/johnathon332/downloads/v8/out/mipsel.release/obj.target/v8_base/src/a

[2016-06-06 09:31] ibogosavljevic commented on #328
Please paste all of the relevant information:
- values in relevant system variables
- version of GCC toolchain you are using
- command you used to start the compilation
- Git commit ID of v8 you are using

[2016-06-06 09:33] ibogosavljevic commented on #328
Also, are you compiling on board or on your native X64/X86 system?

[2016-06-06 11:05] palfia opened #329 "Bughunting: async-debug test failures."
Several test failures since: https://build.chromium.org/p/client.v8.ports/builders/V8%20Linux%20-%20mipsel%20-%20sim/builds/684

[2016-06-06 11:19] ilijapavlovic commented on #328
If you are trying to build/compile V8 on MIPS board, than you have to do native compiling:

[code]

With this you will get automatically build in release mode for host architecture.
https://github.com/v8/v8/wiki/Building%20with%20Gyp

[2016-06-06 11:30] ilijapavlovic commented on #328
Updated previous comment.

[2016-06-06 11:47] ilijapavlovic commented on #328
In case native compiling you should not perform steps described for cross compiling.

[2016-06-06 11:59] marijantic commented on #314
Addressed the comments. Implementation in https://codereview.chromium.org/2019693002/ returns a quiet NaN with the preserved payload. Now, tests on r2 simulator are failing, because quiet/signalling bits are different on the host platform and in mips. Implementing the fix to the simulator.

[2016-06-06 15:13] kilvadyb commented on #329
Fix CL uploaded: https://codereview.chromium.org/2045553002/

[2016-06-07 06:45] ilijapavlovic opened #330 "Bughunting: cctest/test-run-machops/RunFloat64MulAndFloat64Add1"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/3007/steps/Check/logs/RunFloat64MulAndFloat..

TARGET_ARCH=mipsel
MODE=release
VARIANT=r6

[2016-06-07 10:08] kilvadyb commented on #329
Still mjsunit/harmony/async-debug-step-next fails sometimes on mips64el simulator.

[2016-06-07 10:10] kilvadyb commented on #327
cctest/test-run-native-calls/Float32Select_stack_params_return_reg,
cctest/test-run-native-calls/MixedParams_2, cctest/test-run-native-calls/MixedParams_3
fails on bigendian boards.

[2016-06-07 11:12] kilvadyb commented on #329
Followup/Fix CL for addressing a MIPS64 typo: https://codereview.chromium.org/2045923002/

[2016-06-07 11:46] ilijapavlovic commented on #330
The problem is reproduced.

[2016-06-07 11:55] ilijapavlovic commented on #330
Duplicate for #208

[2016-06-07 11:55] #330 closed, assigned to ilijapavlovic

[2016-06-07 12:02] kilvadyb commented on #314
The NaN handling on simulators is not trivial (on r2 sim when a C function is called then the C code needs std::numeric_limits<>::...nan which is the Intel NaN, not the MIPSr2 NaN but the code must work on r2 MIPS boards as well). That is why I suggested something like Heap::kNanValueRootIndex -- roots[kNanValue] -- which contains the correct (quiet?)nan value of the target architecture and solves

[2016-06-07 12:07] marijantic commented on #314
The problem is that the heap value of NaN contains a canonical NaN with no payload. The failing tests expect that payload is preserved. Also, heap NaN is a double value, not a float, and all constants in HeapNumber class are meant to handle double NaN values.

[2016-06-07 12:21] kilvadyb commented on #314
Then we should introduce a float heap NaN if float NaN is required. Looks like that for the payload we need a nan mask which should be computed in runtime for the architecture the v8 is running on.

[2016-06-07 13:17] marijantic commented on #314
I'm afraid that introducing heap constants will not solve the problem. Because we need to check if an operand is any of the possible NaN bit patterns, and then we have to return the quiet version of the input NaN, and not the predefined value.
I am not sure that the desired behavior is well defined, either.
Wasm spec says the following:

On the other hand, code in wasm-interpreter suggests that so

[2016-06-07 16:23] kilvadyb commented on #329
CL landed, 64-bit simulator Buildbot got green.

[2016-06-07 16:23] #329 closed, assigned to kilvadyb

[2016-06-07 16:24] kilvadyb commented on #327
Failure reproduced on an er8 board.

[2016-06-08 09:12] marijantic commented on #314
I switched to using heap NaN to determine the encoding in macro-assembler methods SubNanPreservePayloadAndSign_d, SubNanPreservePayloadAndSign_s (instead of checking FCSR). This solves the simulator issue, but it also means that we do not simulate r2 NaN type correctly (i.e. both r2 and r6 simulators trigger the same code path).

[2016-06-08 12:40] kilvadyb commented on #327
This code is generated when the test returns:

[code]

It seems a StackSlot read as double (`MacroAssembler::ldc1()`) while only a float was added in a stack slot. I think on little-endian f0 will contain the right float value while f1 will get some undefined value from the stack. On  bigendian f1 will contain the float value and some undefined  value returned to the C function call in f0. And the

[2016-06-08 13:01] palfia commented on #318
Sometimes it still fails on R6 Sim: https://v8.mips.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/2584

[2016-06-08 13:56] ibogosavljevic opened #331 "Fix compilation failure with CLANG on MIPS64R6"
Currently, we are patching MIPS64R6 compiled under CLANG because otherwise, we obtain following error:

[code]

The people from the compiler team suggested a different approach. In inline assembly instead of '"=m"(_ptr)' it should be '"=ZC"(_ptr)'.

Please verify this fixes the problem. Also verify that this fix compiles under MIPS64R2 and MIPS64R6, under both CLANG and GCC. Please execute the tes

[2016-06-08 14:00] ilijapavlovic commented on #279
The problem is not reproduced also on big endian board. mips.release and mipsel.release are executed under qemu user and in these cases the problem is not reproduced.

[2016-06-08 14:58] kilvadyb commented on #327
Fix of the fix CL: https://codereview.chromium.org/2043743005/

[2016-06-08 20:53] MIPSbkirby opened #332 "install-sysroot.py breaking builds in gclient runhooks step"
After commit c4fab3ec2566, the gclient runhooks step now runs a script called install-sysroot.py.  This script is unaware of little endian MIPS or MIPS64.  Note that the Edge Router Pro boards report their architecture as "mips64".    Here is the error message we see when the script is run on an Edge Router Pro board:

[code]

Here is the error we see when the script is run on a build machine (x86

[2016-06-09 01:57] MIPSbkirby commented on #332
It looks like part of the problem is that curl needs to be installed on the all the slave machines.  That's been done.  Also, the following patch needs to be applied to detect_host_arch.py so that it will return "mips" as the architecture on any board that returns "mips64" for the architecture.

[code]

The patch is applied in the "Apply patch" step, but it needs to be committed upstream (assuming

[2016-06-09 09:20] mkaric commented on #300
[Builder: Target - MIPS64 - big - Debug - edge - no i18n](https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n) still running slow but the time dropped recently from about 11 hours to complete before to between 6-10 hours now. I will investigate this.

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%2

[2016-06-09 10:03] kilvadyb opened #333 "Optimize MIPS: Fix '[turbofan] Introduce new operators Float32SubPreserveNan and Float64SubPreserveNan for wasm.'"
The lot of arch checking could be pushed to compilation time, using #ifdef V8_USE_SIMULATOR, V8_TARGET_ARCH, V8_HOST_ARCH, kMipsArch, … And also we should use at, t8, t9, code-gen scratch regs instead of pus/pop t[0, 1, 2]. And/or introduce Heap::kNanMaskDoubleRootIndex and Heap::kNanMaskFloatRootIndex values, they should be initialized arch dependently where all the root_[] values  are inited/com

[2016-06-09 10:08] kilvadyb commented on #327
The usage of `kMipsStoreToStackSlot` instead of `kMipsPush` is introduced by the  https://codereview.chromium.org/769283002 CL and looks reasonable so we can keep the alternate way compared to ARM.

[2016-06-09 10:08] #327 closed, assigned to kilvadyb

[2016-06-09 21:23] MIPSbkirby commented on #332
It looks like the detect_host_arch.py module is in the https://chromium.googlesource.com/chromium/src/build repository.  The above patch needs to get committed there so that we can remove our local patch.

[2016-06-10 06:51] ilijapavlovic commented on #331
The commit used for testing:

[code]

Applied patch content:

[code]

Building v8 with Clang for mips64el.release.r6 was without exceptions or error messages, but execution of the test `cctest/test-assembler-mips64/*` was not possible. Also, running the test `cctest/*` was not possible.

[code]

Building v8 with GCC (and this patch) and running tests was successful.

[2016-06-10 07:34] ilijapavlovic commented on #331
Building v8 for mips64.release.r6 produces some errors:

[code]

Build with GCC and running tests was successful.

[2016-06-10 15:45] mkaric commented on #300
Since the CL https://codereview.chromium.org/2033943005 landed the test mjsunit/debug-scopes runs a lot faster and takes about 7 minutes to complete with default and turbo flags when I test on a BE board, but still runs for about one hour with stress flags. However when I tested on a LE board, the test takes about 2.5 minutes to complete with default and turbo flags and about half hour with stress

[2016-06-13 09:25] ilijapavlovic commented on #331
CL ready for review: https://codereview.chromium.org/2062713002/

[2016-06-13 12:13] ilijapavlovic opened #334 "Bughunting: Test execution cannot be started with patch for Clang."
Target architecture: mips64el
Mode: release
Variant: r6
Test platform: qemu user

The commit used for testing:

[code]

Applied patch content:

[code]

Building v8 with Clang for mips64el.release.r6 was without exceptions or error messages, but execution of the test `cctest/*` was not possible.

[code]

Investigate what prevents the tests to be executed.

[2016-06-13 12:19] mkaric opened #335 "Bughunting: mjsunit/es6/array-concat failing on Sim - MIPS64 - Debug - edge - mipsr6"
Test mjsunit/es6/array-concat started failing on [Sim - MIPS64 - Debug - edge - mipsr6](https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6)

Output:
Test: mjsunit/es6/array-concat
Flags:
Command: out/Debug/d8 --test --random-seed=-3 --nohard-abort --nodead-code-elimination --nofold-constants --enable-slow-asserts --debug-code --verify-heap test/mjsunit/mjsunit.j

[2016-06-14 07:07] ilijapavlovic commented on #331
Landed as: https://crrev.com/3dbc7586fb6d6daa878015a83524dd8c52bbc2c9

[2016-06-14 12:37] ilijapavlovic commented on #334
Used test for experimental purposes: `cctest/test-assembler-mips64/sub`

The test is started on port `1234` (this is the test in `debug` mode):

[code]

GDB is started on follwing way:

[code]

The problem starts in function `_dl_start`:

[code]

The problem starts after instruction `BLTUC`.  Also, in generated assembler code was possible to find microMIPS instructions (for example: `JRC` from rel

[2016-06-15 09:28] ilijapavlovic commented on #334
[code]

According this, branching should not be performed, and execution should be continued on instruction located in at `0x000000007f7cf090`

[2016-06-15 14:31] marijantic commented on #310
Our issue seems to be related to:
https://bugs.chromium.org/p/v8/issues/detail?id=4037

[2016-06-16 12:40] ilijapavlovic commented on #334
Encoding instruction `BLTUC` is checked and it seems OK.

[code]

0x1d450004    = 000111 01010 00101 0000000000000100

offset = 4
target_offset = offset << 2 = 16
PC = PC + 4 + target_offset = PC + 20 = (_dl_start+548) + 20 = _dl_start+568

[2016-06-16 12:52] mkaric commented on #335
@ibogosavljevic's CL (https://codereview.chromium.org/2065903002) that fixed MIPS64 BE compilation with snapshot also fixed this error. Closing.

[2016-06-16 12:52] #335 closed, assigned to mkaric

[2016-06-16 13:00] mkaric opened #336 "Bughunting: mjsunit/regress/regress-int32-truncation"
The test started failing on several builders:

https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/8018
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6/builds/2943
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/7975
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge%20-%20mipsr6/builds/3013

[2016-06-16 13:38] marijantic commented on #310
Forcing the test to use CheckEQImpl<uint32_t, uint32_t> instead of using CHECK_EQ macro fixes the test failure. This is not the actual solution, but shows that the problem is in check macro.

[2016-06-16 17:00] kwan0xfff commented on #103
Resolved on Apr. 22.  Closing.

[2016-06-16 17:02] kwan0xfff commented on #103
Closed too quickly.  Need to create new wiki pages for big and little endian.

[2016-06-17 05:37] #328 closed, assigned to ilijapavlovic

[2016-06-17 07:15] mkaric commented on #336
The test failure started with this CL:
https://codereview.chromium.org/2059403003

[2016-06-17 12:17] ibogosavljevic commented on #276
https://codereview.chromium.org/2034093002/ fixed failures on WASM on MIPS64 BE. MIPS32BE still experiences some failures with int64, the reason int64 to int32 lowering that doesn't respect BE memory layout. A subsequent patch should fix this

[2016-06-17 21:06] MIPSbkirby commented on #332
The patch has been applied to the Chromium tree and that version has been merged into V8.  So, the gclient runhooks step is working in the upstream builders again and our local patch has been removed.  These sysroots don't seem to be effecting our builds either.

[2016-06-17 21:06] #332 closed, assigned to MIPSbkirby

[2016-06-18 00:50] MIPSbkirby commented on #300
I've gotten the durations and test results back on the builder page again with a patch to the `run-tests.py` script.  The "UnicodeDecodeError: 'utf8' codec can't decode byte 0xf4 in position 134: invalid continuation byte" error turns out to be bad output from the test, "cctest/test-run-wasm-64/RunWasmInterpreted_LoadStoreI64_sx".  The 0xf4 is single character being output from the CHECK_EQ method

[2016-06-20 11:35] palfia opened #337 "Bughunting: regress-store-holey-double-array"
Fails on MIPS64 SIM since: https://codereview.chromium.org/2060233002

[2016-06-20 13:52] mkaric commented on #336
Also fails on mips64 board and under qemu:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/5379
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/3129

[2016-06-20 17:46] kilvadyb commented on #333
https://codereview.chromium.org/2066483008/ CL landed but it still fails on buildbots. I uploaded a wrong version. Bug is fixed, I upload the fix when I test it again (hopefully the right builds).

[2016-06-21 13:17] kilvadyb commented on #333
Landed CL: https://codereview.chromium.org/2066483008/
Fix of the landed CL: https://codereview.chromium.org/2081993002/

[2016-06-21 16:52] kilvadyb opened #338 "Bughunting: cctest/test-gap-resolver/FuzzResolver"

[2016-06-22 11:32] kilvadyb commented on #338
The problematic CL: fc59eb8a7a1eb45edd2d4ff7910e66fab3093030 -- https://codereview.chromium.org/2060273003

[2016-06-22 14:31] #314 closed, assigned to marijantic

[2016-06-22 14:31] marijantic commented on #314
Landed as #333

[2016-06-23 08:01] ilijapavlovic commented on #334
The small code snippet is made and it contains `JRC` instruction (alias for `JIC rt, 0`) which belongs Release 6 Instruction Set:

[code]

The first commit, where this example was possible to compile without errors, is:

[code]

The example is compiled with following command:

[code]

This kind of execution on Qemu produces an error:

[code]

Execution this example without option `-R 2147483648` w

[2016-06-23 11:18] ibogosavljevic commented on #338
Reported also on https://bugs.chromium.org/p/chromium/issues/detail?id=622619

[2016-06-24 08:24] kilvadyb commented on #338
Proposal CL uploaded: https://codereview.chromium.org/2090993002/ and lgtm'ed.

[2016-06-24 08:36] #331 closed, assigned to ilijapavlovic

[2016-06-24 09:05] ilijapavlovic opened #339 "Bughunting: Sim - edge: mjsunit/regress/regress-int32-truncation"
The test mjsunit/regress/regress-int32-truncation fails on simulator
TARGET_ARCH=mipsel
MODE=release
VARIANT=r2
Other details: https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/11467/steps/Check/logs/regress-int32-truncat..

[2016-06-24 09:08] palfia commented on #339
Duplicate of #336.

[2016-06-24 09:11] #339 closed, assigned to ilijapavlovic

[2016-06-24 13:51] ibogosavljevic commented on #334
The problem appeared in commit

[code]

With this version of CLANG, all tests are failing with weird error messages. This commit corresponds to the trunk version of clang 263324. This version of CLANG introduced branch-compact instructions instead of branch instructions with delay slot (the most obvious thing in assembler code produced by the compiler).

Testing with the newest version of CLANG tr

[2016-06-24 13:51] #334 closed, assigned to ibogosavljevic

[2016-06-24 17:29] #333 closed, assigned to kilvadyb

[2016-06-24 17:33] kilvadyb commented on #338
CL landed: https://codereview.chromium.org/2090993002/

[2016-06-24 17:33] #338 closed, assigned to kilvadyb

[2016-06-27 11:44] mkaric commented on #336
It seems the problem occurs when turbofan Mips64Dadd operation is generated with equal input and output registers (e.g. v0=v0+v0) and then have deoptimization when the generated code is executed. The input values are overwritten with the output value and then deoptimized code uses the wrong value as input.

[2016-06-27 12:08] mkaric opened #340 "Bughunting: mjsunit/regress/regress-353004 fails on BE boards"
Error log:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/8282/steps/Check/logs/regress-353004
Fails on mips and mips64 big endian build bots.

[2016-06-27 15:26] kilvadyb commented on #336
Bug appeared with commit 00889cc29c1489a8d00b4bfbef47b48efc45af5d -- https://codereview.chromium.org/2082993002

[2016-06-28 07:32] ibogosavljevic opened #341 "Bughunting: mjsunit/wasm/start-function fails on target"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20fpxx/builds/744/steps/Check/logs/start-function

[2016-06-28 08:08] mkaric commented on #340
The test failure started with this CL:
https://codereview.chromium.org/2046333002

[2016-06-28 09:23] mkaric commented on #340
Also fails with this CL:
https://codereview.chromium.org/2042013003/
The above CL is a reland of this CL.

[2016-06-28 13:24] mkaric commented on #336
Uploaded a fix CL:
https://codereview.chromium.org/2102063002
Can you PTAL and give me your opinion?

[2016-06-28 13:32] mkaric commented on #336
The above fix CL fixes only MIPS64, the test starting failing also for MIPS32 since https://codereview.chromium.org/2082993002, as @kilvadyb commented.

[2016-06-29 11:07] ibogosavljevic commented on #341
Patch landed:
https://chromium.googlesource.com/v8/v8/+/5c86692a5ea00a98898e421580dff63cc530e570

Fixed:
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20fpxx/builds/760

[2016-06-29 11:07] #341 closed, assigned to ibogosavljevic

[2016-06-29 14:36] ibogosavljevic opened #342 "Optimization: Explore possibilities to use MOVZ/MOVN and SELEQZ and SELNEZ instructions for conditional loading"

[2016-06-30 17:41] kilvadyb commented on #336
On MIPS64 the critical dadd is generated from
instruction-selector-mips64.cc:
VisitBinop()->EmitDeoptimize()->Emit()->…
The allocated virtual registers for operand nodes: output[0] == 4, input[0|1] == 5 so the ARM `add w0, w1, w1` seems to be logical and the MIPS `dadd v0, v0, v0` looks to be buggy. I continue to investigate virtual_register -> register mapping/translation.

backtrace:

[code]

[2016-07-01 09:18] kilvadyb opened #343 "Investigate ' [builtins] Fix MathMaxMin on arm and arm64' for porting."
https://codereview.chromium.org/2112883002/ is landed and looks to be familiar for me, I guess I have ported the original CL to MIPS and I think these changes also should be ported.

[2016-07-01 11:26] ilijapavlovic commented on #337
The test has defined an array with a hole: `a = [,0.1]`.

The first execution of the test on simulator is without `--turbo` option:

[code]

The second test execution is with `--turbo` option  (problematical execution):

[code]

The array element `a[0]` is stored on memory location `0x22c11858`. Differences between these tests are following:
- In the first case, stored value is NaN (`0x7ff80000000

[2016-07-01 11:38] ilijapavlovic commented on #337
Also, the interesting thing here is that stored values `0x7ff8000000000000` or `0xffff7fffffff7fff` are actually signalling NaNs - not quiet NaNs. (CL title: _"[turbofan] Prevent storing signalling NaNs into holey double arrays."_)

[2016-07-01 12:00] kilvadyb commented on #343
Proposal CL uploaded: https://codereview.chromium.org/2120463002/

[2016-07-01 13:51] kilvadyb opened #344 "Performance test on r2 with and without using delay slots."
For supporting r6 compact branches we should avoid using delay slots while r1 and r2 boards are our primary target platforms currently as I know. It would be nice to see what we lose on r2 boards in performance without using delay slots.

[2016-07-01 14:48] kilvadyb commented on #336
On mips64le the following register allocation happens:

[code]

And the register allocation is committed by

[code]

Both v4 and v5 virtual registers are translated to v0 register.

[2016-07-01 14:48] ibogosavljevic opened #345 "Implement Word32/64ReverseBytes optional TF operator"
Implement optional Word32/64ReverseBytes optional TF operator after https://codereview.chromium.org/2045943002/ lands. This will allow much more efficient WASM on big endian.

[2016-07-01 14:48] ibogosavljevic commented on #276
All tests are now passing from cctest/test-run-wasm\* on big-endian, so this issue will be closed. The uploaded solution is not the optimal one, since we use turbofan operators to simulare byteswapping withing word.

Currently, a new CL https://codereview.chromium.org/2045943002/ is on review. This introduces a new turbofan operators that correspond to MIPS instructions to byte swapping. This will

[2016-07-01 14:49] #276 closed, assigned to ibogosavljevic

[2016-07-04 09:33] kilvadyb commented on #344
I think we should create a huge CL with regexp search/replace to remove delay slot usage and run performance tests with and without that CL.

[2016-07-05 08:37] mkaric commented on #336
Added a mips32 fix to the CL (https://codereview.chromium.org/2102063002), PTAL.

[2016-07-05 10:45] palfia opened #346 "Bughunting: webkit and mozilla test failures"
### The following tests are failing:

It seems they are introduced by https://codereview.chromium.org/2107163002

mozilla/js1_5/Regress/regress-191633
mozilla/js1_5/Regress/regress-366601
mozilla/js1_5/Regress/regress-367561-01
mozilla/js1_5/Expressions/regress-394673 (flaky in a repeated run)

[code]

---

mozilla/ecma_3/RegExp/regress-209067

[code]

---

mozilla/js1_5/extensions/regress-446386

[2016-07-05 12:22] ilijapavlovic commented on #337
Checked execution on Qemu. NaNs are represented as quiet NaNs.

[code]

[2016-07-05 12:42] mkaric commented on #336
Landed as https://crrev.com/99385e8e4bcef1f333ede61c936528bfc0c8ecfa. The test now passes on buildbots.

[2016-07-05 12:51] ilijapavlovic commented on #337
The test will pass on simulator if following conditions are fulfilled for NaN:
- bit 63: set on 0 (cleared)
- bit 51: set on 1

Condition that the bit 51 must be set on 1 can be found in `./src/./src/objects-debug.cc:`

[code]

Simplified: `(value & 0x7ff8000000000000) != 0x7ff0000000000000`
- This means that in NaN the bit 51 must be set.

When test performs checking `IsNaN()` it seems from the s

[2016-07-05 18:15] kilvadyb commented on #336
[code]

does the register allocation. On MIPS64:

[code]

v0 is allocated for virtual reg. 5 because v1 is allocated already. On ARM64 all the x0 and x1 regs are free at the same point.

[2016-07-05 22:02] MIPSbkirby opened #347 "Compile failure with 8465244e commit, "Broaden the condition under which gold is used as linker.""
Commit 8465244e seems to be turning on the gold linker for little endian MIPS.  This doesn't seem to work with the current build process.  Reverting the commit allows the builds to finish.   The failure looks like this:

[code]

[2016-07-06 01:37] MIPSbkirby commented on #347
Turning off the `linux_use_bundled_gold` GYP flag works around this build failure.  I've added this to our Buildbot configs to keep things working.

[2016-07-06 09:50] ibogosavljevic commented on #342
I ran through v8, but unfortunately, there I found only three places where we can remove branches and replace them with conditional loading instructions. There are many places where something is done conditionally, e.g. conditional call to function, conditional lw, conditional and, conditional andi etc. But conditional move from reg to reg is done in a very few places.

I am attaching the patch, b

[2016-07-06 09:50] #342 closed, assigned to ibogosavljevic

[2016-07-06 09:57] ibogosavljevic opened #348 "Bughunting: cctest/test-run-wasm/RunWasmCompiled_I32UConvertF32 failure on simulator and target"
https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/11656/steps/Check/logs/stdio

[2016-07-06 11:06] kilvadyb commented on #337
Nice findings. I don't think we should patch the simulator to pass the test. Have you tried it on boards and qemur6? At the first look I think the `-nan <-> nan` should be fixed in turbofan code generation. On simulator r2 and r6 we have to use intel nans which are the same as on MIPSr6. We use different nans on r1 and r2 boards only.

[2016-07-06 13:03] ilijapavlovic commented on #337
The test is performed for mips64el and here are results of testing:
- Board r2: successful test.
- Qemu r2: successful test.
- Qemu r6: the test fails (all three option combinations of the test are failed).
- Simulator r2: the test fails with `--turbo` option.
- Simulator r6: successful test.

After these results, turbofan code generation really should be investigated for NaNs.

[2016-07-06 13:08] kilvadyb commented on #337
The last 2 results (of sims) is a bit surprising as i387 intel (and r6) nans should be used in both cases I think so both should fail or succeed.

[2016-07-06 14:41] palfia commented on #300
Finally, found the source of the problem, it seems in the JIT code a flag loading/checking routine was faulty on BE and it caused a lot of runtime call execution, which greatly reduced the execution speed of the LoadIC operation.

Created a proposal fix CL: https://codereview.chromium.org/2126713004

However, it seems the current ToT is not affected by the problem, since the above mentioned CL (ht

[2016-07-07 11:03] ibogosavljevic commented on #348
Problem found, patch sent to review
https://codereview.chromium.org/2130763002/

[2016-07-07 12:36] ibogosavljevic commented on #347
The current version of gold linker doesn't support MIPS. Chromium is using gold successfully, but they have newer version.

On v8, we have

[code]

On Chromium, they are using

[code]

I am writing an e-mail to the author of this CL to see how to fix this: either revert the part related to MIPS or update verion of gold.

[2016-07-08 07:20] ibogosavljevic commented on #348
Issue fixed, https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/11670

Closing issue.

[2016-07-08 07:20] #348 closed, assigned to ibogosavljevic

[2016-07-08 09:05] mkaric commented on #336
It seems I found the solution for this, I stumbled upon this CL:
https://codereview.chromium.org/2109153002
Implementing the same thing on mips fixed the failure. I checked the generated code and now another register is used to store the result of addition (a0 in this case). I didn't test mips64 but I expect it to fix the failure there as well.

[2016-07-08 09:22] kilvadyb commented on #336
Looks promising. I guess that what I was looked for meny days :) Could you make a MIPS port of it? And revert your workaround?

[2016-07-08 09:38] mkaric commented on #336
The same change fixes mips64 as well.

[2016-07-08 09:45] mkaric commented on #340
The error is in the following line of the problematic CL (Generate_TypedArrayProtoypeGetter function in builtins.cc):

[code]

Which should be:

[code]

We only read 8 bits of a 32-bit value, this works for little endian because the information is in the low 8 bits, but on big endian we read most significant 8 bits and get an error. By reading the whole 32-bit value this is fixed.

[2016-07-08 10:34] mkaric commented on #340
This has been fixed in the meantime by the CL https://codereview.chromium.org/2102203002, the test is no longer failing.

[2016-07-08 10:34] #340 closed, assigned to mkaric

[2016-07-08 10:35] mkaric commented on #336
Uploaded a fix CL:
https://codereview.chromium.org/2133503004/
PTAL

[2016-07-08 19:39] palfia opened #349 "Bughunting: several test failures after bd0d9e7d."
Most of the builders are failing since https://codereview.chromium.org/2082263002

[2016-07-08 19:40] palfia commented on #349
Fixed by https://codereview.chromium.org/2122643003/

[2016-07-08 19:40] #349 closed, assigned to palfia

[2016-07-09 17:33] kisg commented on #300
Regardless of not being called in ToT, this fix should be applied (if the code path still exists), and merged back to any affected stable branches.

[2016-07-09 17:37] #336 closed, assigned to mkaric

[2016-07-11 08:05] mkaric commented on #336
Fix CL landed as https://crrev.com/91f63b2ee42307bb5566b60e2d6deb0bc7c795ce.

Previous fix is no longer needed, landed a revert CL (https://codereview.chromium.org/2129083003/).

[2016-07-11 09:30] mkaric opened #350 "Bughunting: mjsunit/tools/profviz"
Log:
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7674/steps/Check/logs/profviz

The test fails on all builders (sim, boards and qemu), with turbo flag.

[2016-07-11 14:28] ibogosavljevic opened #351 "Bughunting: mjsunit/regress/regress-3717"
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7674/steps/Check/logs/regress-3717

[2016-07-12 00:19] MIPSbkirby commented on #347
V8 has been updated to version 2.26 with commit 237a00221c31f2cc2df3a9fc2917faf93c40f1ee which matches what Chromium is using.  All of our MIPS32 little endian builders are using the gold linker except for the MIPS32r6 builders.  I have a question to the compiler team to find out if MIPS32r6 is supported in a later version of the gold linker.  The GCC 5 builder and the Clang builders seem to be br

[2016-07-12 05:45] ilijapavlovic commented on #337
CL uploaded and ready for review: https://codereview.chromium.org/2137163003/

[2016-07-12 10:13] ilijapavlovic opened #352 "Bughunting: Sim - MIPS64 - edge: mjsunit/regress/regress-double-canonicalization"
Test mjsunit/regress/regress-double-canonicalization fails on simulator for mips64el in release mode.
The test fails when `--turbo` flag is enabled.

[code]

The first appearance:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/8197
Log:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/8197/steps/Check/logs/regress-double-canoni..

Test platform: simulator

[2016-07-12 10:36] marijantic commented on #310
In debug mode, sw/lw is used to store and load relevant part of the result into memory. In this case, comparison passes.
In release mode,  values in 64-bit registers are compared, no matter the value is cast to uint32_t.
I added the sign extension as Balazs's suggested https://github.com/v8mips/v8mips/wiki/Unsigned-32-bit-values-in-Turbofan-on-mips64: "all the uint32_t input values must be sign-ex

[2016-07-12 11:07] ilijapavlovic commented on #352
The error is reproduced.

[code]

[2016-07-12 12:31] petar-jovanovic commented on #347
Binutils 2.27 has a gold with support for both MIPS32R6 and MIPS64R6.

[2016-07-13 07:44] marijantic commented on #310
PTAL: https://codereview.chromium.org/2147883002/

Fix landed as edf8c03547bb46247cbcdda2152a5e6e105b8ae8

[2016-07-13 07:50] marijantic opened #353 "Port [turbofan] Introduce integer multiplication with overflow."
Port https://codereview.chromium.org/2101123005/

[2016-07-13 08:25] kilvadyb commented on #343
CL https://codereview.chromium.org/2120463002/ landed.

[2016-07-13 08:25] #343 closed, assigned to kilvadyb

[2016-07-13 12:07] kilvadyb commented on #337
At the last call of `MacroAssembler::FPUCanonicalizeNaN()` the f0 has different values on r2 and r6 simulators:

[code]

[2016-07-13 14:31] ilijapavlovic commented on #337
`code-generator-mips64.cc` has implementation as

[code]

This is tested on FPGA r6 board and the test is executed successfully. This means, that qemu mips64el in user mode has a problem if mentioned implementation is compiled for r6.

[2016-07-13 16:26] marijantic commented on #353
PTAL https://codereview.chromium.org/2141063004/

[2016-07-14 09:00] marijantic commented on #353
Landed as https://chromium.googlesource.com/v8/v8/+/8e18a5f2a0357c6899cd32f5ab66b73d72fdd996

[2016-07-14 09:00] #353 closed, assigned to marijantic

[2016-07-14 10:32] marijantic commented on #310
RunWord32AndAndWord32ShrP and RunWord32ShrP are still failing on the build bots, but the issue does not reproduce on the Broadcom XLP board used for testing locally.
The committed fix did not introduce changes to shift operators, I will add these changes also.

[2016-07-18 08:32] marijantic opened #354 "Bughunting: mjsunit/es6/math-fround failure"
Since https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/11738

[2016-07-18 09:20] marijantic commented on #354
Caused by CL: https://chromium.googlesource.com/v8/v8/+/26ecb4a1d775d506700d20542f723e8baeb37e48

[2016-07-18 13:09] marijantic commented on #354
Implemented the port of the above mentioned CL.
PTAL: https://codereview.chromium.org/2156123002

[2016-07-18 13:43] ibogosavljevic opened #355 "Bughunting: mjsunit/wasm/gc-frame"
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/11776/steps/Check/logs/gc-frame

[2016-07-19 05:44] marijantic commented on #354
Landed as https://crrev.com/08d61aa0b3884dbb0b3fd339f5309a35d7355d32

[2016-07-19 05:44] #354 closed, assigned to marijantic

[2016-07-19 06:25] marijantic commented on #355
Seems to be duplicate of #354

[2016-07-19 06:59] marijantic opened #356 "Bughunting: test-run-machops/RunInt32MulWithOverflowImm fails on simulator r6"
https://v8.mips.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/2961

[2016-07-19 07:30] ibogosavljevic commented on #351
Fix landed https://codereview.chromium.org/2160533003/

Issue closed.

[2016-07-19 07:30] #351 closed, assigned to ibogosavljevic

[2016-07-19 07:37] mkaric commented on #350
Ivica's CL from #351 also fixes this issue, closing.

[2016-07-19 07:37] #350 closed, assigned to mkaric

[2016-07-19 07:45] marijantic commented on #289
Solved by https://codereview.chromium.org/2034093002/. Closing the issue.

[2016-07-19 07:45] #289 closed, assigned to marijantic

[2016-07-19 07:53] palfia commented on #346
Fixed by #351

[2016-07-19 07:53] #346 closed, assigned to palfia

[2016-07-19 08:00] marijantic commented on #356
Failing check DCHECK(!rd_hi.is(rt.rm()) && !rd_lo.is(rt.rm())); macro-assembler-mips.cc:789

[2016-07-19 08:00] palfia commented on #325
Fails because the broadcom kernel doesn't support the nanosec precision with CLOCK_THREAD_CPUTIME_ID (it has millisec precision), and thus the test fails, because it detects that no time elapsed since the beginning of the test.
Put this on hold for now.

[2016-07-19 08:03] palfia commented on #323
Fixed by #276

[2016-07-19 08:03] #323 closed, assigned to nobody

[2016-07-19 09:42] marijantic commented on #356
Fixed, PTAL: https://codereview.chromium.org/2165533002

[2016-07-19 09:47] marijantic opened #357 "Bughunting: test-run-machops/RunFloat64MulAndFloat64Add1failing on Target - edge - mipsr6,under qemu"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/3334/steps/Check/logs/RunFloat64MulAndFloat..

[2016-07-19 10:01] marijantic commented on #357
Duplicate of #208

[2016-07-19 10:01] #357 closed, assigned to marijantic

[2016-07-19 10:13] marijantic opened #358 "Bughunting: intl/general/case-mapping.js failing on r6"
Fails since https://v8.mips.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/2812

[2016-07-19 11:12] marijantic commented on #356
Landed as https://crrev.com/dcf8251ecfec4e7884db5a6e9618f6847fe0363f

[2016-07-19 11:12] #356 closed, assigned to marijantic

[2016-07-19 11:55] marijantic commented on #358
Also fails under qemu https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/3335
Failed first time for https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/3202

[2016-07-19 12:03] mkaric opened #359 "Bughunting: ConvertDToI test fails on BE boards"
The test fails for mips32 and mips64, only on BE boards:
cctest/test-code-stubs-mips/ConvertDToI
cctest/test-code-stubs-mips64/ConvertDToI

Log:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/6176/steps/Check/logs/ConvertDToI
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1178/steps/Che

[2016-07-19 12:06] mkaric opened #360 "Bughunting: cctest/test-spaces/LargeObjectSpace fails on mips32 BE"
The test fails only on big endian mips32 board.

Log:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/6187/steps/Check/logs/LargeObjectSpace

[2016-07-19 12:35] ibogosavljevic commented on #359
Sent to review:
https://codereview.chromium.org/2157373002/

[2016-07-19 12:37] ibogosavljevic commented on #355
Resolved by fix from #354 , closing...

[2016-07-19 12:37] #355 closed, assigned to ibogosavljevic

[2016-07-20 06:02] marijantic commented on #358
CL that caused the problem: https://chromium.googlesource.com/v8/v8/+/6f920d7d59915e970a7d09bb6596605015c3bedd
This CL changes simplified operator reducer, and js typed lowering. The reducer behaves the same way on r2 and r6, but the test fails only on r6. Failure message indicates that the problem is probably just revealed by these changes, but not caused by them.

[code]

[2016-07-20 10:01] palfia opened #361 "Bughunting: several test failures on BE (snapshot-common.cc)."
There are a lot of new test failures on BE since: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/6193

[2016-07-20 13:22] mkaric commented on #360
I could not reproduce the failure. The test started passing on the buildbot, I think there is no need to investigate further at this point, closing.

[2016-07-22 06:42] marijantic commented on #310
Fix for shr/sra landed as https://chromium.googlesource.com/v8/v8/+/24d432cb8253eac55cb3649144809af3d43e634b

[2016-07-22 06:42] #310 closed, assigned to marijantic

[2016-07-22 07:13] ibogosavljevic opened #362 "Bughunting: mjsunit/regress/regress-5214 fails on simulator in stress mode"
https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/11805/steps/Check/logs/regress-5214

[2016-07-22 11:20] mkaric opened #363 "Bughunting: mjsunit/regress/regress-165637 fails on MIPS64 BE"
Log:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1192/steps/Check%20%28flakes%29/logs/regress-165637

[2016-07-22 11:59] kilvadyb commented on #337
1st proposal CL: https://codereview.chromium.org/2171303002/

[2016-07-22 12:13] mkaric commented on #197
The CL that enables i18n support for BE has landed:
https://codereview.chromium.org/2162393003

Now waiting for v8 deps update to enable intl tests for BE and other tests that require i18n support.

[2016-07-22 13:03] ibogosavljevic commented on #362
Fix uploaded for review: https://codereview.chromium.org/2175633003/

[2016-07-22 13:37] mkaric commented on #363
On buildbots, this test started failing from the CL https://codereview.chromium.org/2156573002 (commit 2aa2b65). When I test this commit, the test fails, but previous commits also fail.

The test does array slices in a loop and measures that the time to finish is less than 3 seconds. On QEMU I get about 15 seconds and 10 seconds on a BE board. That is similar to buildbots, but on the second run th

[2016-07-25 09:51] ibogosavljevic opened #364 "Bughunting: mjsunit/wasm/embenchen/box2d on Target - edge"
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7777/steps/Check/logs/box2d

[2016-07-25 12:21] ibogosavljevic commented on #364
This test fails because WasmGraphBuilder::BuildCFuncInstruction allocates
space for doubles using StackSlot turbofan operator, but this space is not
guaranteed to be 8 bytes aligned if SP itself is not 8 bytes aligned (which
is the case on 32-bit architectures).

A CL has been proposed: https://codereview.chromium.org/2177863002/

[2016-07-25 13:44] ibogosavljevic commented on #359
Patch landed, but there are many failures on big-endian currently dealt in #361.

[2016-07-25 15:06] ibogosavljevic commented on #268
After some deliberation, we decided to implement UnalignedLoad and UnalignedStore operators. This means that we don't need MIPS reductors anymore.

The CL is here https://codereview.chromium.org/2182433002/. It has landed, all the tests are now passing, so i am closing this issue.

[2016-07-25 15:06] #268 closed, assigned to ibogosavljevic

[2016-07-25 15:07] ibogosavljevic commented on #317
This is not needed anymore, because we decided to implement UnalignedLoad and UnalignedStore operators and drop MIPS reductors.

[2016-07-25 15:07] #317 closed, assigned to ibogosavljevic

[2016-07-25 15:11] ibogosavljevic commented on #362
The patch has fixed the issue: https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7779/steps/Check/logs/stdio

Closing

[2016-07-25 15:11] #362 closed, assigned to ibogosavljevic

[2016-07-26 11:38] mkaric commented on #197
I tried setting icu to a new version and compiling v8 for mips64 big endian with i18n support, but the intl test suite still fails. The problem is the default icu data file which is set to "icudtl.dat" for all architectures. Setting this to "icudtb.dat" for big endian fixes this. Prepared a CL, PTAL:
https://codereview.chromium.org/2182043002/

[2016-07-26 12:11] ibogosavljevic commented on #364
Fix landed, vierfied:
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/7785/steps/Check/logs/stdio

Closing issue.

[2016-07-26 12:11] #364 closed, assigned to nobody

[2016-07-26 12:13] ibogosavljevic opened #365 "v8 doesn't compile under CLANG on MIPS32"
Currently there is a compilation failure on MIPS32 with CLANG:
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%20-%20builder/builds/2930
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%2Cmipsr1%20-%20builder
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang%20-%20builder

[2016-07-26 12:17] ibogosavljevic commented on #365
The issue is related to sysroot. MIPS uses debian_wheezy_mips-sysroot sysroot, and the failure happens. If no sysroot is provided (which is default on MIPS64) we are not seeing any failure.

To fix, compile v8 with use_sysroot=0.

@MIPSbkirby Could you change the configuration of the CLANG builders not to use sysroot on MIPS32, like this:
`export GYP_DEFINES='clang=1 target_arch=mipsel v8_target_a

[2016-07-26 17:41] kilvadyb commented on #337
Fix of the proposal/reverted CL: https://codereview.chromium.org/2188433002/

[2016-07-26 17:43] kilvadyb commented on #337
I am also working on to add mips-specific NaN handling to simulator. Could be a new issue? Proposal CL: https://codereview.chromium.org/2184843002/

[2016-07-27 14:53] palfia commented on #361
Uploaded and landed a fix CL: https://codereview.chromium.org/2172653002/

[2016-07-28 02:13] MIPSbkirby commented on #365
I've added the `use_sysroot=0` GYP flag to the Clang compiler builders.  I tested one and its passing now.

[2016-07-28 08:15] mkaric commented on #363
When I run the test on a LE mips64 board, the test runs for about 8 seconds and fails. This board is faster than the BE one I used previously, so slightly faster test execution was expected. Then I tried a faster BE board and the test runs for about 5 seconds.

My guess is the test execution time is around 3 seconds on the buildbot, so it started failing without significant change in the code, jus

[2016-07-28 08:59] mkaric opened #366 "Bughunting: mjsunit/regress/regress-599717 fails occasionally on MIPS64 BE"
The test fails occasionally on MIPS64 BE buildbot. Here are the builds where it failed:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1207
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1205
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20

[2016-07-28 14:35] ibogosavljevic commented on #359
Fixed https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1201

Closing issue

[2016-07-28 14:35] #359 closed, assigned to nobody

[2016-07-29 14:13] mkaric commented on #366
This test crashes when it runs out of memory, this is similar to issue #303. @MIPSbkirby Maybe the same solution will help here as well, can you add more swap space to this board?

[2016-07-29 15:02] kilvadyb opened #367 "Add mips-specific NaN handling to simulator"
Specification:
#### 6.3.1.5 Quiet Non-Number (QNaN)

...
QNaN operands do not cause arithmetic operations to signal an exception. When a
floating point result is to be delivered, a QNaN operand causes an arithmetic
operation to supply a QNaN result. When possible, this QNaN result is one of the
operand QNaN values. QNaNs do have effects similar to SNaNs on operations that
do not deliver a floating

[2016-07-29 15:08] kilvadyb commented on #337
Fix CL landed, new issue (#367) is opened for simulator improvement.

[2016-07-29 15:08] #337 closed, assigned to ibogosavljevic

[2016-07-29 15:11] MIPSbkirby commented on #366
@kwan0xfff Can you add swap to this board?

[2016-07-29 17:46] kwan0xfff commented on #303
Following up on swap on the ci20-boards.  All four have 2 GB swap. Looking at the mod dates on /etc/fstab on the boards,
- ci20-board-1 has had 2 GB swap since at least May 6.
- ci20-board-2 has had 2 GB swap since at least Apr 28.
- ci20-board-3 has had 2 GB swap since at least May 10.
- ci20-board-4 -- had swap before, but I replaced board last night with new one; has 2 GB swap.

[2016-07-29 20:13] kwan0xfff commented on #366
This board (cavium-board-1) already has 2 GB of swap.  It's also been up for 191 days.  (Last mod of /etc/fstab was on Jan 20, 2016.)
Other board stats: has 2 GB of RAM.  Kernel version 4.1.4.
We could add more swap out of a file system on the same device (MMC card). Do we think that will help??

[2016-07-29 20:24] kwan0xfff commented on #303
I've gone through the Check step logs of runs 6993 through 7814 (current).  The last failure I can find of NewStringRangeError was in run #7059 on Apr 28, 2016, on ci20-board-3. (Fetching assisted by the magic of Python "requests" package.) Given the current systems with properly outfitted swap, it seems this is no longer reproducible. So, we're going to close this issue.

[2016-07-29 20:24] #303 closed, assigned to ilijapavlovic

[2016-07-30 05:18] #361 closed, assigned to palfia

[2016-08-01 12:24] marijantic commented on #358
Cause of the problem is the BOVC instruction emitted in AddOvfBranch. BOVC and BNVC are the branching instructions not passing through Branch() macro, thus not being handled correctly if the trampoline is emitted.

[2016-08-03 14:50] palfia opened #368 "Bughunting: array-includes test failure on MIPS64 BE"
Fails since: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1229

[2016-08-03 17:06] kilvadyb commented on #367
I checked the FPU[Min|Max]A functions of the simulator (and docs of the correspondig assember ops.) and these instructions are so special on mipsr6  that the NaN canonalize code cannot be reused for them. The newest proposal CL is  https://codereview.chromium.org/2184843002/ patchset #3.

[2016-08-04 09:24] ibogosavljevic commented on #365
The reason why we are seeing failures when compiling with CLANG and sysroot is that wrong parameters are used for the compilation.

Since we have wheezy sysroot and gold linker as part of the third_pardy, this makes GCC toolchain unused. Here are the new parameters for the compilation. @MIPSbkirby:  They should be used with MIPS32R1EL and MIPS32R2EL. We don't use them with MIPS32R6 because this ar

[2016-08-04 11:43] ibogosavljevic commented on #365
Updated documentation with the newest info:
https://github.com/v8mips/v8mips/wiki/Cross-compile-V8-with-Clang-that-comes-with-V8

Closing issue.

[2016-08-04 11:43] #365 closed, assigned to ibogosavljevic

[2016-08-04 21:44] MIPSbkirby commented on #365
@ibogosavljevic It looks like the only change you made was you removed the `-stdlib=libstdc++` and `--gcc-toolchain=$TCBASE` flags from the `CLANG_ARGS` variable.  Is that correct?  If so, I'm still not able to get this compile. I've left off the `use_sysroot=0` GYP flag and both of those compiler arguments.  Then, when I build I see lots of errors like `fatal error: 'string' file not found`.  I g

[2016-08-05 10:34] kilvadyb commented on #358
Theoretically buffer growing, trampoline pool and compact branch guarding are handled at assembler level not in MacroAssembler so emitting `bovc` (or whatever `b*c()` branch) without Branch() should not be a problem. I am going to check this issue. If you can reproduce it then a test-assembler case in cctest would be nice.

[2016-08-05 12:43] ibogosavljevic opened #369 "Compilation failure on v8 using GCC 5"
v8 doesn't compile with GCC 5, investigate:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20gcc5%20-%20builder/builds/124
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20gcc5%20-%20builder/builds/124
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20gcc5%20-%20builder/builds/124
https://v8.mips.com/bbv8/builders/T

[2016-08-05 13:45] ibogosavljevic commented on #345
The patch has landed, we can implement the operators. See here:
https://codereview.chromium.org/2045943002/

[2016-08-05 13:55] ibogosavljevic commented on #366
@kwan0xfff The test fails because OOM Killer gets activated. You can check this if you type `dmesg` right after the test fails, it will appear in the system log.

[2016-08-05 17:01] kilvadyb commented on #358
Finally I managed to reproduce the failure. Trampoline entry is not created for a (far) label. The test is a regexp test and I have some uncertain memories about a problem with regexp. Regexp can emit a lot of branch ops and the `CheckTrampolinePool()` and trampoline generation is blocked (I guess it is blocked by trampoline_pool_blocked_nesting_).

[2016-08-08 09:02] ilijapavlovic commented on #352
The problem disappeared  with build https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/8421

[2016-08-08 09:02] #352 closed, assigned to ilijapavlovic

[2016-08-08 11:31] ibogosavljevic opened #370 "Bughunting: Several MIPS64 failures after cctest/test-api/*Array*"
Appeared here: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/5859.

[2016-08-09 07:09] ilijapavlovic commented on #369
"Target - big - edge - gcc5 - builder" is successful now: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20gcc5%20-%20builder/builds/125

[2016-08-09 07:49] ilijapavlovic commented on #369
Only difference for "Target - big - edge - gcc5 - builder" build 125 (compared with 124) is successful execution the step 1: "running steps via annotated script".

[2016-08-09 08:48] marijantic commented on #358
Branch macro will check both whether there is already a trampoline emitted and whether the label is bound, and depending on this either call BranchShort, or BranchLong. These macros will then issue the appropriate assm branching instructions, and let assembler level methods handle the rest.

The problem occurs when the label is created and linked before the trampoline is emitted, but we attempt to

[2016-08-09 08:50] marijantic commented on #358
PTAL: https://codereview.chromium.org/2225323002

[2016-08-09 12:49] ilijapavlovic commented on #369
"Target - MIPS64 - edge - gcc5 - builder " is also successful since build 125: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20gcc5%20-%20builder/builds/125
Step 1  "running steps via annotated script" successfully executed in build 125.

[2016-08-10 08:21] marijantic opened #371 "Bughunting: mjsunit/wasm/compiled-module-serialization failure"
Failing since https://v8.mips.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/3159

[2016-08-10 08:30] marijantic opened #372 "Bughunting: cctest/test-run-wasm/RunWasmCompiled_Float32Neg/Float64Neg failure on BE"
Failing since https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/9056

[2016-08-10 08:50] marijantic commented on #371
Failure message
`Fatal error in ../../src/snapshot/serializer.cc, line 246
Check failed: (how_to_code == kPlain && where_to_point == kStartOfObject) || (how_to_code == kPlain && where_to_point == kInnerPointer) || (how_to_code == kFromCode && where_to_point == kInnerPointer).
`

[2016-08-10 08:55] marijantic commented on #371
Changes in [9b6d753170f9a0421b9a6788b355f5096e8981ac](https://chromium.googlesource.com/v8/v8/+/9b6d753170f9a0421b9a6788b355f5096e8981ac) enabled the test which is failing

[2016-08-10 12:52] ilijapavlovic commented on #369
This is from log for "Target - Debug - edge - gcc5 - builder". (Variables `${TC_PATH}` and `${BUILD_PATH}` are here only because of log readability.)

[code]

Execution of the following command makes problems:

[code]

The command finishes with error messages `could not load plugin library: ... wrong ELF class: ELFCLASS32`.

[code]

Usually, this error message appears in cases when 64-bit ELF clas

[2016-08-11 10:27] ibogosavljevic commented on #370
On MIPS64, several tests started failing after `Support Smi "handlers" for
element loads` landed. The reason for this is that in case of Uint32 external
arrays, we load the element using

Load(MachineType::Uint32());

and then try to figure out if it can fit Smi using:

Branch(Int32LessThan(value, Int32Constant(0)) in ChangeUint32ToTagged function

MIPS64 doesn't have Int32 compare operators, it e

[2016-08-11 10:27] marijantic commented on #358
CL landed as https://crrev.com/93809055aa7d58585d73cfa9fbf18b82340db2a1

[2016-08-11 10:27] #358 closed, assigned to marijantic

[2016-08-11 10:28] ibogosavljevic commented on #345
Operand implementation sent to review:
https://codereview.chromium.org/2235703002/

[2016-08-11 14:02] ilijapavlovic commented on #369
Both error messages for Debug build targets are reproduced locally.
Steps for reproducing error messages:

1) Common part for all build targets:

[code]

2) Target specific parts:
- Target - big - edge - gcc5 - builder

[code]
- Target - MIPS64 - edge - gcc5 - builder

[code]
- Target - Debug - edge - gcc5 - builder

[code]
- Target - MIPS64 - big - Debug - edge - gcc5 - builder

[code]

3) Steps

[2016-08-11 14:50] ibogosavljevic opened #373 "Bughunting: Failure in Chromium test suite: gin_unittests: ModuleRegistryTest.LoadModuleTest"
After update to CLANG revision 277909, Chromium tests that are heavily using v8 started to fail. These include gin_unittests: ModuleRegistryTest.LoadModuleTest:

To reproduce the issue:

steps to download Chromium:

mkdir Chromium
cd Chromium

fetch --nohooks chromium --nosvn=True
(depot tools needs to be installed - https://www.chromium.org/developers/how-tos/install-depot-tools)

cd src
git pull

[2016-08-16 06:42] marijantic commented on #371
The problem is that serialization/deserialization is not covering all possible cases for attached reference. It is assumed that the combination of parameters how_to_code = kFromCode, where_to_point = kStartOfObject is invalid, but it can happen on MIPS. I removed the check in PutAttachedReference and added a deserialization case, which solved the issue.
Meanwhile, similar fix was already uploaded

[2016-08-16 08:51] mkaric commented on #197
New changes in Chromium ICU that enable i18n support for big endian have been rolled into v8. I will leave this open until we have BE buildbots running with i18n support.

[2016-08-16 08:54] mkaric commented on #194
With i18n support for big endian added, it is now safe to enable the 3 test262 tests that require i18n support, I will prepare a CL.

[2016-08-16 10:37] ilijapavlovic commented on #369
mipsel.r2.debug was possible to compile if GYP flag `linux_use_bundled_gold` is set on `0`:

[code]

In `v8/gypfiles/standalone.gypi` is following:

[code]

[2016-08-16 11:47] marijantic commented on #372
This is a NaN handling issue. Test passes for other input values, fails only for NaN.

[2016-08-16 12:48] marijantic commented on #372
As I am investigating neg_s/neg_d behavior, I noticed that we will emit these instructions for both r2 and r6, but they have been removed in r6. I added the check for mipsr2 in assembler, and will implement macro-assembler methods for floating point negation, covering both releases.

[2016-08-16 14:13] mkaric commented on #366
Last time I see this test failed is in build https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/1246, this was more than 10 days ago. Since then several other tests started failing, this might be somehow related. Lets wait for these to be fixed and see if the failure appears again. If it does maybe we could try increasing swap space.