[2015-02-02 11:18] kilvadyb commented on #101
I think FLAG_sim_stack_size could be used for all the stack overflow tests on simulators. Benedikt's first attempt was not successful as 512K stack size is still too big. As I remember 32K stack size was good. FLAG_sim_stack_size can be used conditionally for 32 an 64 bit arch with different values so Option 2. is not necessary I think. But 32K was good for all the sims for this test, so we can:
1

[2015-02-02 16:59] paul99 commented on #101
OK, I agree with this, can you do a CL to add this to the skip list for mipsel on sim?

[2015-02-03 02:23] paul99 commented on #113
I ran 300 iterations with 0 fails at rev 701c6e7475. Today I ran another 300 iterations / 0 fails on today's top-of-tree commit: a0d0c433. (snapshot=off)

We are getting 3 boards set up to do looping tests of check test suite, run without snapshots. This will be 2 big-endian boards and 1 little-endian.

[2015-02-03 05:21] paul99 commented on #113
The CL that fixed this issue is  `e5a082f0 Reland "Only use FreeSpace objects in the free list"`
https://codereview.chromium.org/882633002

Please take a look to see if you see any clues as to the details of how it fixes it. There are certainly changes to startup code, and serialization a bit. I do not see any connection to --always-opt yet.

As I suspected, the actual fixing CL is between the Mic

[2015-02-03 14:10] dusmil commented on #113
This is great news! I confirmed it. By reverting the patch I can reproduce the bug easily.
This is a GC bug after all. I am wondering how we did not see failures on ARM.

[2015-02-03 14:48] paul99 commented on #113
`e5a082f0 Reland "Only use FreeSpace objects in the free list"` (as described above): Pass: 600, fail: 0

[2015-02-03 17:21] svetozar-janjic commented on #118
Update: mjsunit results: (built with 4.7.2, linked with 4.8.1)

--- Total time: 39:48.534 ---

[40:27|% 100|+ 7775|-  65]: Done--- Total time: 40:27.876 ---

The failures are caused by :

==== C stack trace ===============================
Command: /home/janjic/v8/v8/out/mips64el.optdebug/d8 --test --random-seed=-1757448719 --nohard-abort --nodead-code-elimination --nofold-constants --enable-slow-a

[2015-02-03 17:24] svetozar-janjic commented on #118
Linaro gcc 4.8 has problem to compile arm.optdebug related to problem with third party/icu:

  CC(target) /home/janjic/v8/v8/out/arm.optdebug/obj.target/icui18n/third_party/icu/source/i18n/decContext.o
arm-linux-gnueabihf-cpp: fatal error: ‘-c’ is not a valid option to the preprocessor
compilation terminated.
make[1]: **\* [/home/janjic/v8/v8/out/arm.optdebug/obj.target/icui18n/third_party/icu/sou

[2015-02-03 17:57] kilvadyb commented on #98
I spent a lot of hours to find a simple way to use FixedTypedArray for doubles (FixedTypedArray<Float64ArrayTraits>). As AccessTester<E> is used for such types as well which does not have a matching ArrayTraits type/class (like Smi*, int64_t) The whole AccessTester<E> can not be modified to use FixedTypedArray<> instead of ByteArray. If I try to do a special AccessTesterDouble for doubles then I h

[2015-02-03 18:27] paul99 commented on #118
Per your previous comment / failure results, are you using recent code?

CHECK(!instr->hydrogen()->has_transition()) failed
is fixed by 1ea1141c MIPS64: Fix bugs after hole-nan value change.

CHECK(!a4.is(result_)) failed
is fixed by 54bbbdd3 MIPS64: fix wrong register use in LoadIndexedStringStub.

However, the CHECK((value & V8_UINT64_C(0x7FF8000000000000.... is not fixed yet.

[2015-02-05 05:26] paul99 commented on #116
This was landed today as https://crrev.com/8f9a62d3120dbb346b421ee288458596cc82a9d9

Unfortunately, it had test failures on mjsunit/asm/embenchen/box2d, for instance here:
https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/5394/steps/Check/logs/box2d
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/2329/steps/Check/logs/box2d

Here is the problem in gdb on mips

[2015-02-05 15:31] dusmil commented on #116
@paul99:  Patch resubmitted. Higher layers already do not use GT, GE conditions, but in our other optimization for comparison with zero the condition can be negated.

https://codereview.chromium.org/905493002/

[2015-02-05 17:35] svetozar-janjic commented on #118
I have use the recent code, maybe one week old. I will retest the mjsunit benchmark with the latest code, to be sure is the failures marked as fixed still there.

[2015-02-06 16:11] svetozar-janjic commented on #118
Update, latest results, V8 built with 4.7.2, linked with 4.8.1, tests executed on Netlogic board (mips64el.optdebug).

Commit:
    commit 158a87659f02ad4d5e41d2dc19eec1f0f4ded41f
    Author: dslomov dslomov@chromium.org
    Date:   Fri Feb 6 02:34:50 2015 -0800

[code]

cctest: [49:21|% 100|+ 9153|-   4]
mjsunit: [58:58|% 100|+ 7809|-  79]

The log files can be found on Slack, channel "bugs".

[2015-02-07 18:48] paul99 commented on #116
Landed as c03a5ca1 MIPS:[turbofan] Reland "Improve unordered comparisons for boolean materialization."

Thanks. Closing.

[2015-02-07 18:48] #116 closed, assigned to dusmil

[2015-02-07 19:02] paul99 opened #121 "Big-endian failure: cctest/test-api/Threading2"
See google builders here: http://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201

Failed since build 558. A quick look at the CL's involved show nothing obvious to me.

Note that the little-endian hardware builds at mips are down right now, so this might affect ALL mips hw.

Svetozar, can you please investigate this first thing Monday?

[2015-02-09 20:12] MIPSbkirby opened #122 "21 unique tests failing when compiling with Codescape SDK and testing with Codescape SDK libraries"
I tried building V8 using the 2015.01-4 Codescape SDK compiler.  I can build V8 with the release version but not the optdebug version as noted in issue #118.  I was able to embed the dynamic linker and rpath into the binary by setting the LDFLAGS environment variable like this:

[code]

(the above assumes that RPATH is set to the Codescape SDK rpath and LDSO is set to the Codescape SDK dynamic lin

[2015-02-10 23:33] paul99 opened #123 "FPU related flags in gyp"
Why do we have the flags `v8_use_mips_abi_hardfloat` and `v8_can_use_fpu_instructions` ?

They are true by default, and I always use defaults, and produce working builds even for boards without FPU like ERpro-8.

This topic was raised on https://groups.google.com/forum/#!topic/v8-users/tyITy6OWwqI -- as I think we used to use those flags in pre-3.18 builds where we had soft-float.

I do remember t

[2015-02-11 01:30] paul99 opened #124 "mips64el: TypeError: Cannot read property 'length' of undefined"
This bug, originally from issue https://github.com/paul99/v8m-rb/issues/113 now appears in mips64 builds. But the circumstances seem different.

It shows up when built with snapshot, and it also shows up without using the `--always-opt` flag. (this was never true in any observation in bug 113.)

Here is a log of mips64el builds on the mips buildbot: https://v8.mips.com/bbv8/builders/Target%20-%20M

[2015-02-11 01:31] paul99 commented on #113
OK, **the good news** is that there is no evidence of this recurring on ERpro-8 boards little or big endian. I just went thru logs of running full test suites in loops over multiple days built with no-snapshot, and there were none of these issues.

But, **the bad news** is that in mips64el builds running on hardware (which _do_ have snapshots enabled) we are getting unicodelctest and related failu

[2015-02-11 01:31] #113 closed, assigned to dusmil

[2015-02-11 17:40] svetozar-janjic commented on #118
I have tried to build arm.optdebug with code sourcery 4.7.3 arm toolchain, warning cause the build failure (compare signed and unsigned), with simple casting build process was continued and finished successfully.

janjic@rtrkw157-xubuntu:~/v8/v8$ make arm.optdebug
make[1]: Entering directory `/home/janjic/v8/v8/out'
  CXX(target) /home/janjic/v8/v8/out/arm.optdebug/obj.target/v8_base/src/accessors

[2015-02-18 02:02] paul99 commented on #118
Svetozar, please see my comments in your CL: https://codereview.chromium.org/928533002 - Jakob has given owner LGTM.

As I said there, I prefer _not_ to see the 2 comment lines repeating the same info in 3 places.

I am fine either with my initial comment making the file look like this:

[code]

of

[code]

I guess I prefer the latter, since he allows long lines here. Please also see my other comm

[2015-02-18 02:06] paul99 commented on #118
On second thought, please do wait for my LGTM. (I will try to get up early, so I can approve, and then you can tick the commit button).

The reason is we have a local patch for this in our buildbot now, and I'll need to remove that patch before this lands, since there will be a patch-conflict. I don't want the BB to be broken for multiple revisions if you land this way before I can fix that issue.

[2015-02-19 02:33] paul99 opened #125 "sNaN and HoleNaN values for MIPS"
Dusan fixed the basic problem in https://crrev.com/85ed0097d5c6efad770bf562a50992e6a204b815

On MIPS the HoleNaN is _not_ a sNaN, but it is a quiet NaN with different value than canonical qNaN, so it is distinct, and all the HoleNaN comparisons work OK.

But in the code-review (https://codereview.chromium.org/912833003/#msg6), Benedikt said "I'm worried that this will break at some point... so I'd

[2015-02-19 02:57] paul99 opened #126 "Optimize DoStoreKeyedFixedDoubleArray NaN canonicalization."
The point of all the HoleNaN changes from issue https://github.com/paul99/v8m-rb/issues/119 was to optimize NaN canonicalization in DoStoreKeyedFixedDoubleArray().

Our version looks pretty heavyweight, I hope the optimization helps. Original issue claimed Kraken improvement by 5% with this change.

Dusan is already working this, probably done. Issue is just to track the resulting perf change.

[2015-02-19 02:58] paul99 commented on #119
Further work tracked in https://github.com/paul99/v8m-rb/issues/125 and https://github.com/paul99/v8m-rb/issues/126.

Closing this one.

[2015-02-19 02:58] #119 closed, assigned to paul99

[2015-02-19 15:45] svetozar-janjic commented on #118
Please check the new patch-set!

[2015-02-19 17:21] kilvadyb opened #127 "Label->pos() size on mips64"
In the function Assembler::bind_to() we use strict 32 bit label positions:

[code]

While the Assembler::target_at functions got 64 bit arguments:

[code]

And class Label uses int type positions:

[code]

It looks like we should use int32_t or int type everywhere.

[2015-02-19 17:27] kilvadyb commented on #127
Arm64 and x64 uses only int types.

[2015-02-19 17:42] paul99 commented on #127
But `int' is probably`int64_t`on these arch's. I do agree that we should be consistent, and if that is going to`int`, fine....

[2015-02-19 19:46] kilvadyb commented on #127
In C standard definition the int type is compiler dependent (in sizes: short <= int <= long <= long long). sizeof(int) == 32 with gcc and llvm/clang as well on 64 bit archs. And anyway class Label is defined in src/assembler.h so Label::pos_ is int for all the archs. I plan to create a simple CL to use int type for label positions everywhere to see if it works or not, but it must work.

[2015-02-24 03:23] paul99 commented on #127
I believe the fix was landed in https://crrev.com/39f58c2451e087dcdece0916d750ae5719483234

@kilvadyb if there is no more work to do here, can you please close this issue?

[2015-02-24 03:32] paul99 commented on #126
The change for mips64 landed as https://crrev.com/c1f8f727e4b6d923843a29052743d5502667f3a3

This optimization requires the correct Signalling NaN value to be used, which is determined at **compile time** on mips64. (mips64r2 uses old NaN value for mips, mips64r6 uses IEEE-2008 NaN recommendation.)

We cannot do this optimization for mips32 since we do not know sNaN value at compile time. We build

[2015-02-24 03:37] paul99 commented on #125
This was implemented, reviewed by bmeurer, landed as https://crrev.com/4e946e3e23bbb78d88548d03543bb40af5a87ef9
Closing.

[2015-02-24 03:37] #125 closed, assigned to dusmil

[2015-02-24 03:43] paul99 commented on #112
Any update here? Can we close this?

[2015-02-24 03:45] paul99 commented on #118
Landed as https://crrev.com/2bf2d4d9b6f6dbcff11e02fa636253ddd4f67a72. Thanks!

I removed the local patches from buildbit. Closing.

[2015-02-24 03:45] #118 closed, assigned to nobody

[2015-02-24 11:28] #127 closed, assigned to kilvadyb

[2015-02-27 15:40] dusmil commented on #124
I have reverted optimization which enables us to use 48-bit addresses in the code, and I still see random failures.  This only means the optimization is working well and it is not the cause of the problems.

[2015-02-27 18:06] dusmil commented on #123
We need `v8_use_mips_abi_hardfloat` to chose ABI with regards to calling convention especially on soft-float system like OpenWRT although the v8 emit FPU instruction which are emulate in kernel.
The `v8_can_use_fpu_instructions` is here for historical reasons which forces usage of FPU instruction and tells v8 engine FPU is supported. This variable determines whether crankshaft is used on soft-floa

[2015-03-01 17:38] paul99 commented on #126
@dusmil @svetozar-janjic can you take a look at benchmarks with this change c1f8f727e plus 47e608ab5.

I just ran Kraken (which we heard would be improved with hole-nan change, per other arch's) and it actually got a bit worse. Before 23517.7ms +/- 0.4%, after 23743.8ms +/- 1.8%, running on Lemore 3a, mips64el.

My test procedure was flawed in a couple small ways: I compared git rev 035b144b1 to g

[2015-03-01 18:13] paul99 commented on #121
This bug disappeared after seemingly unrelated change https://codereview.chromium.org/942963004 was landed. Ákos is still investigating so that we understand root cause.

There were some interesting comments in https://codereview.chromium.org/942963004#msg3 , 4, and 5, and I think we should experiment with these specific changes, rather than the entire CL to help isolate this.

@palfia you posted

[2015-03-03 12:21] kilvadyb commented on #111
I ported the debug JS inline function implementation from the old webkit-bug branch. I added the following code to catch the failure (although without lack):

[code]

[2015-03-03 16:31] dusmil commented on #126
I got slightly different numbers and I would say we don't have regression and I cannot say either we have performance improvement

[code]

[2015-03-11 21:40] MIPSbkirby commented on #110
Now that the 4.9 Codescape SDK tool chain can't build MIPS64 debug (which is optdebug when building manually) in the Buildbot, I tried changing the tool chain back to the Mentor 2013.11-36 4.8 toolchain and I'm seeing this error again.

[2015-03-13 19:04] kilvadyb commented on #111
I added the following runtime function to runtime-function.cc:

[code]

With this patch and running the test in a loop I got (at the #309th run):

[code]

base::OS::Abort(); should be changed to some JSAbort() or something. Getting a nice JS stack trace would be fine. And I forget the ulimit -c unlimited so no core file generated. Might be interesting to see the status of sweeper/gc threads.

[2015-03-19 01:43] MIPSbkirby opened #128 "-wno-format-pedantic flag causing optdebug builds to fail"
The [bab55d24](https://chromium.googlesource.com/v8/v8/+/bab55d24aed533b7a86497bbc8f4a2b90d0921c3) commit added the `-Wno-format-pedantic` flag to all host and target compile commands.  This flag is only supported in Clang.  GCC will usually ignore it, but when it sees the `array-bounds` warning on the `src/hydrogen-range-analysis.o` it gets confused and generates the following error:

[code]

If

[2015-03-23 14:04] dusmil commented on #124
The JS debugger tests fail in the same manner.
It is indicative the failures are caused by the same bug, therefore I will not put JS debugger failures descriptions in separate new issue.

[code]

The Google skipped some JS debugger tests under GC stress conditions and opened issue for this.
https://codereview.chromium.org/1016063002

Sadly, the issue is no longer visible for us because they made i

[2015-03-23 19:10] kilvadyb commented on #111
I managed to reproduce the fannkutch failure again with my modified revision. It might be interesting that when the wrong value was added to the output the 2nd thread was executing OptimizingCompilerThread::Run(). I add The JS stack trace and the C stack traces form the core file:

 The JS stack is not so useful for me:

[code]

From the core file 6 threads were running, the id 1 executed the scri

[2015-03-24 14:19] paul99 opened #129 "r6 issues on qemu"
I built mips64r6 and tested it on a newer qemu, with a release toolchain, as described up updated wiki page: https://github.com/paul99/v8m-rb/wiki/Running-tests-with-qemu-user-mode-for-R6

I get many more cutest fail than what is now failing on the RTRK bot:

Paul's Test: - from 4.2 branch

[code]

RTRK bot build: Builder v8_mips64_r6_builder build #53 step run tests v8 mips64-r6

[code]

Probably

[2015-03-24 16:43] kilvadyb commented on #111
I run the fannkuch test in a shell loop and a tools/run-test -j 7 ... in an other terminal on the same machine. This way the failure comes up more frequently, usually in the first 10 runs. Beside the main thread only the OptimizingCompilerThread::Run() seems to be interesting. I tried to run the tests with the `--noconcurrent_recompilation` flag but no difference in frequency of the failure/core/t

[2015-03-28 01:53] MIPSbkirby opened #130 "Disable the sign-compare warnings to fix MIPS64 release and debug builds"
MIPS64 broke again with commit, [38a719f](https://chromium.googlesource.com/v8/v8/+/38a719f965d0a83ddac04392d5b9c5abe214281c).  The following compile errors are generated:

[code]

Paul created the following patch to fix this:

[code]

[2015-03-28 19:00] paul99 opened #131 "Cleanup simulator-mips64"
While investigating https://code.google.com/p/v8/issues/detail?id=3992 I found that the calls to built-in C code have returns values thru ObjectPair, and those values should probably be int64_t rather than Object*.

Also, there is a bunch of ABI stuff left over from the days of single mips32/64 port ideas, which are now unused, and should be removed.

[2015-04-02 11:53] kilvadyb commented on #111
tried --trace_gc --trace_gc_verbose with the above run environment. No usable info. In case of a successful run the output is:

[code]

While there is no output at the failed run.

[2015-04-07 14:08] dusmil opened #132 "Add support for rounding modes wrt FCSR in simulator."
Add support for rounding modes in simulator according to values in FCSR register and
write corresponding tests for conversion instructions.
Additionally, implement RINT instruction for r6  in assembler, disassembler and simulator for mips32, mips64, and write appropriate assembler, disassemble test.

[2015-04-08 09:30] dusmil opened #133 "Add test coverage for float32 instructions."
Implement assembler, disassembler tests for all float instructions for mips32 and mips64.

Additionally, add missing single precision float instructions for r2 and r6 architecture variants in assembler, simulator and disassembler with corresponding tests.

[2015-04-08 11:07] dusmil commented on #130
I will land the patch, we do not need to wait anymore.
https://codereview.chromium.org/1066403002/

[2015-04-08 14:08] dusmil commented on #124
There is a good news!
The regexp random failures are no longer reproducible after commit c67cb28 that deals with raw pointers updating in regexp code has been landed. I was expecting so much of this commit, and finally it was landed yesterday.

Tested at a54f22d41.

Checking JS debugger random failures now.

[2015-04-08 16:11] kilvadyb commented on #133
A lot of single precision float instructions was added in the following ports, CLs:
https://codereview.chromium.org/1046953004
https://codereview.chromium.org/1045203003
https://codereview.chromium.org/1047213002
Port of https://codereview.chromium.org/1066393002

[2015-04-08 16:19] dusmil commented on #133
I am aware of that, so I particularly stated missing instruction in the issue and defined this issue as test coverage improvement.

[2015-04-08 16:23] kilvadyb commented on #133
I see. It will be really useful if testing and missing stuff is added. I hoped it is easier to find missing things after checking these CLs.

[2015-04-08 16:30] dusmil commented on #133
Right, thank you for updating the issue.

[2015-04-08 16:44] dusmil commented on #124
It appears I do not see JS debugger random failures anymore.

Only one failure present which is strictly deterministic.

[code]

[2015-04-08 18:51] dusmil commented on #124
The another false call to celebration, the mips64 buildbot clearly shows failures.

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge

[2015-04-21 04:41] paul99 commented on #121
This bug is back. It first showed up today on google BB: http://build.chromium.org/p/client.v8/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/1057  -- That has 4 commits since the previous build (which was fine)

[code]

I have not traced which one causes it, but at rev 42415bf9b, it was easily reproducible on erpro8 board, mips32el, no-snap.

@palfia: could you _please_ copy/pa

[2015-04-21 14:18] palfia commented on #121
I summarized my earlier findings in the next few points. Most of these observations applies to big-endian testing on the ER8 board with snapshot mode off (as the Google BB runs the tests).
- The Threading2 test starts many API test and at some point it fails at a CHECK in the InternalFieldCallback test. This test creates a 'Trivial' object which has a field and a getter/setter to this field. As th

[2015-04-24 14:47] djpesic commented on #132
I have finished commit for this issue. Please take a look at the following link: https://codereview.chromium.org/1108583003

[2015-04-29 12:47] palfia commented on #121
Final conclusions:

On MIPS the Threading2 test order is different then other on arches due to the toolchain static constructor initialization differences. Therefore MIPS runs more memory hungry tests then other archs and when the thread runner reaches to the InternalFieldCallback test then at that point it uses so much memory that the incremental marking algorithm gets activated. The InternalFiel

[2015-04-29 12:47] #121 closed, assigned to palfia

[2015-04-30 04:36] paul99 commented on #132
This is completed, reviewed, and ready to land. Please close this issue once the code lands, and has passed BB testing.

[2015-04-30 04:38] paul99 commented on #130
Dusan's CL added the casting fix. I think I have still seen a particular toolchain problem where I need to add the '-Wno-sign-compare' flag. I think it was mips64el build with gcc 4.8.x, but I am not sure right now.

[2015-04-30 05:11] paul99 commented on #124
In 2015-04-27 v8-call, @dusmil mentioned that msjunit/extra-arguments showed this failure. Yesterday, I ran that test many times on erpro-8 board, mipsel, mips64el, both with snapshots and without, and did not have a single failure. A few combos we run 50+ times.

Does this still fail for you, and if so, what specific platform?

I am not finding many instances on the BB, but there are a few. Here

[2015-04-30 05:29] paul99 opened #134 "Request Interrupts test failures"
On mips64el, erpro-8, snapshots=on we get frequent failures on two cctests:

[code]

Dusan mentioned these on this weeks v8 call as well.

Example builds:

[code]

Ákos, why don't you take a look at this one?

[2015-04-30 05:33] paul99 commented on #124
I missed several of these in very recent mips64 builds:

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/1203/steps/Check/logs/debug-scripts-request

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/1202/steps/Check/logs/debug-sourceinfo

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/1197/steps/Check/logs/regress-debug-deopt-

[2015-04-30 06:39] #132 closed, assigned to nobody

[2015-05-04 03:33] paul99 opened #135 "force-long-branches mode is broken."
We can no longer use force-long-branches flag, the shell will not start up. The failure is in deoptimizer, in code from 9f37a8af. However, once reverting that CL, it fails elsewhere in deoptimizer. I found this in mips64el, and also tested mipsel briefly.

Dusan, can you take a look? Once this is fixed, we will add to to the bots, so we don't break it again.

[2015-05-04 04:41] paul99 opened #136 "mips64 TestSizeOfRegExpCode fails"
cctest/test-heap/TestSizeOfRegExpCode generates a very large RegExp, and checks that it is less than 1MB. It has recently started failing on mips64, which is over the limit. mips32 is under the limit by 10% or so, and the other arch's that I tested are ~1/3 the limit.

(You can find discussion between me and Djordje about this, with some test numbers: https://v8m.slack.com/files/djordje.pesic/F04E

[2015-05-04 05:04] paul99 commented on #115
There is weirdness to the failure -- the test that @palfia pasted to slack (https://v8m.slack.com/archives/bugs/p1430423405000160) shows illegal instruction, even on core 0, which has dedicated FPU, presumably. Either something is terribly broken on this board, or possibly a data dependency causes the FP emulator code to get called.

Regardless, the manual says we must not use these instructions i

[2015-05-04 11:16] djpesic commented on #132
I have finished first part of patch for this issue. Please, take a look at https://codereview.chromium.org/1119203003

[2015-05-04 18:53] paul99 commented on #115
Disabled in fp32 per: https://chromium.googlesource.com/v8/v8/+/900bc7937c28219b39fcc5776ce945cf6fda367e

[2015-05-07 18:50] MIPSbkirby commented on #130
It looks like this is back again with commit f8db4327ade9.  I'm working up another patch to add the -Wno-sign-compare flag.

[2015-05-07 20:48] MIPSbkirby commented on #130
By removing the bottom part of the "ignore-sign-compare-warnings" patch, I'm able to apply the patch and build V8 successfully.  However, this just masks the failure as it just adds the -Wno-sign-compare option.  And, the failure is in a test that looks like it's testing if there's a signed/unsiged mismatch:

[code]

I've changed the "ignore-sign-compare-warnings" patch so that it will apply and M

[2015-05-08 00:41] MIPSbkirby commented on #130
The above patch doesn't work with MIPS32r6.  I've changed the patch to the following which works with MIPS64r2, MIPS64r6 and MIPS32r6:

[code]

[2015-05-11 17:06] paul99 commented on #130
@MIPSbkirby , please see this change landed today:
004bb77e Fix more -Werror=sign-compare bugs with GCC 4.9.2

Does this fix enough to remove your patch, or should we track down the rest for MIPS?

Also note a previous change a few weeks ago: 09ae1c3d Fix -Wsign-compare bugs with GCC 4.9.2

[2015-05-11 20:27] MIPSbkirby commented on #130
I've checked the 4 builders that are using this patch and they all compile fine without it.  So, I've removed the patch so that it won't be applied to any of these builders.

[2015-05-11 20:40] paul99 commented on #130
Closing. We can reopen if necessary.

[2015-05-11 20:40] #130 closed, assigned to nobody

[2015-05-12 09:28] dusmil opened #137 "Implement pc relative instructions"
Implement pc relative instructions for mips32r6 and mips64r6 and add corresponding tests for assembler and disassembler.
The most important ones are ldpc, lwpc, aluipc, addiupc.

Additionally, add dalign, aligin, jic and jialc.

[2015-05-12 09:50] dusmil opened #138 "Fix execution for edge casses in simulator and correct debug printouts."
The simulator does not correctly evaluates following sequence of instruction.

`addiu sp, sp, -4`
`li t9,  <address>`
`jr t9
`  sw ra, 0(sp) `

Investigate correct order on HW or in specification and fix it to match real behavior.

In single step executions  simulator does not print executed instruction in delay slot.

Some bal instruction variants are not disassembled correctly.

The FPU register

[2015-05-16 01:30] paul99 opened #139 "Alignment of FixedDoubleArray and optimizing FP load/stores."
Summary: Recent changes to the GC make it possible to enable the old patch to use actual ldc1/sdc1 instructions to load/store doubles from v8 fixed-double arrays.

A rebased version of this CL is here: https://codereview.chromium.org/1128743008. More testing is required before landing.

There is a long history here, which I will repeat for benefit of new team members.

[2015-05-16 01:34] paul99 commented on #139
Older v8 devs will know that 32-bit v8 aligns objects to 4-byte boundary. MIPS cpus require that double-precision FP numbers must be aligned to 8 bytes. If not, the load/store instructions (ldc1/sdc1) will generate an alignment bus error. Newer kernels may catch this exception and do the unaligned load or store in software. Yet this exception handler imposes a huge performance penalty on the code,

[2015-05-16 01:36] paul99 commented on #139
Last week, the Google team fixed the GC issue. Jochen E. wanted to land a different change that would remove one our MIPS workarounds: https://codereview.chromium.org/1128433006/  Please see the comments, and this part of the change: https://codereview.chromium.org/1128433006/diff/1/src/objects-inl.h

When I explained the MIPS issue, at Jochen's request, Hannes P. created 3 CL's which fixed the GC

[2015-05-16 01:38] paul99 commented on #139
The next surprise that is while this test shows 28% improvement on standalone NavierStokes on a Sigma 8646 board, it shows a small degradation in performance on CI-20 board. This clearly shows that this performance problem of paired lwc1/swc1 is entirely implementation dependent.

**NavierStokes (standalone)**

| sig8646 | sig8646 aligned | ci20 | ci20 aligned |
| --- | --- | --- | --- |
| 761 | 9

[2015-05-16 01:38] paul99 commented on #139
Finally, there are futures.... https://codereview.chromium.org/1141523002 is doing some alignment changes to HeapNumbers themselves. We will have to waiit to see the final results, but at least one interpretation here is that they might deliberately un-align the start of the HeapNumber, so that the embeeded double value is aligned. We will see.

[2015-05-22 15:06] dusmil commented on #135
Fixed in: https://codereview.chromium.org/1120753010/
Closing issue.

[2015-05-25 14:18] djpesic commented on #133
Code for this issue has been finished. First part: https://codereview.chromium.org/1147493002/. Second part: https://codereview.chromium.org/1145223002/.

[2015-05-25 14:18] #133 closed, assigned to nobody

[2015-05-27 11:49] djpesic commented on #139
Performance measurement before and after applying the  https://codereview.chromium.org/1128743008. Benchmark has been run on Netlogic XLP Series board. V8 code has been compiled for mips32r2, staticaly linked, copied to board's hard disk and run 20 times.
Results before patch:

| Test | Max | Avg | Min | Dev | Runs |
| --- | --- | --- | --- | --- | --- |
| Full Suite | 3905 | 3821 | 3690 | 1.6% |

[2015-05-29 09:22] ilijapavlovic commented on #137
Implementation uploaded and ready for review.
https://codereview.chromium.org/1144373003/

[2015-05-29 19:17] paul99 commented on #137
I think we should add bc and balc to this CL. That would then allow the use of these 2 instructions for long branches on r6.

It's possible that the j/jal solution being implemented now could be specialized for mips64r2 only, and these more general pc relative long branch instructions could be used for r6.  Dusan, is that something that you think we should do now, or should we wait and add later?

[2015-06-01 09:39] dusmil opened #140 "Implement r6 compact-branch forbidden-slot support."
Implement compact branch forbidden-slot guards in simulator and assembler for r6

Find the most suitable way to implement it.

[2015-06-01 09:47] dusmil commented on #137
We can add  bc and balc instructions in assembler now, but the usage of them and the related optimizations should be added later as part of r6 optimization package.

Also lwupc, auipc are missing to complete set. Please add.

[2015-06-05 01:35] paul99 commented on #134
I just tested this today again, on ERpro-8 board, mips64el, snapshot on, and these errors still exist.

I can repro them on my board using build at today's rev:

[code]

Built with mips-mti-linux-gnu-g++ (Codescape GNU Tools 2015.01-5 for MIPS MTI Linux) 4.9.2 from http://codescape-mips-sdk.imgtec.com/components/toolchain/2015.01-5/

I had both of these fail (plus several other tests) during a ful

[2015-06-05 14:52] dusmil commented on #139
The results are odd looking, and need investigation. We got 400 points of improvement on NavierStokes but still slightly worse or the same overall score. Also it looks like the run-run variation effects are increased. Only explanation for this is that we have still unaligned accesses we do not detect.  @djpesic: Please check this on HW and simulator.

[2015-06-09 05:26] paul99 opened #141 "Fix regress-crbug-491062 due to 050e8880f"
Today's commit 050e8880 A couple of other "stack overflow" vs. "has_pending_exception()" issues fixed.(https://codereview.chromium.org/1151333005) causes a failure on mips64 in the test mjsunit/regress/regress-crbug-491062.

Here is a simulator failed build: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/3591

Can you please investigate, and find out of the problems were the

[2015-06-09 10:52] kilvadyb commented on #141
Stack overflow tests try to exhaust the stack and there are stack overflow checks only on the JS side in v8. On simulator we have a separated C++ stack which also might be exhausted by these test scripts.
Please check issue #101:
"
The test checks if stack overflow is handled correctly (noticed and avoided) with endless recursion. From the debugger we can see that the C++ stack overflows (or under

[2015-06-09 14:14] djpesic commented on #139
I didn't detect unalign access on HW. I ran test on Netlogic XLP Series board. V8 code has been compiled for mips32r2, staticaly linked, copied to board's hard disk and run 20 times. Board was set to raise SIGBUS error on unaligned access and there was no error raised.

[2015-06-10 02:04] #135 closed, assigned to dusmil

[2015-06-10 02:12] paul99 opened #142 "mips32r6 build fails Octane Box2D in 4.4 branch"
I pulled 4.4 branch, and first off it is broken with gcc 4.9.2 for -Wsign-compare issues. The change is the part of Wingo's fix `004bb77e Fix more -Werror=sign-compare bugs with GCC 4.9.2`, but just for the file counters-unittest.cc. I dropped a patch to Dropbox mips folder: v8-4.4-sign-cmp-fix.diff (we need to figure out how to back-merge this 'part of a master-branch patch' back to 4.4.)

I then

[2015-06-10 14:51] djpesic commented on #141
In mjsunit.status stands: regress/regress-crbug-491062': [PASS, ['arch != ia32 and arch != x64', SKIP], NO_VARIANTS]. Does it mean this test should be skipped for mips64?

[2015-06-10 15:07] dusmil commented on #141
Obviously yes, this status line was removed in (https://codereview.chromium.org/1151333005).

[2015-06-10 16:13] dusmil commented on #142
Problem reproduced on simulator for branch 4.4.9. The octane benchmark never ends after Box2d is started. The mips32r6 build from current master works fine on simulator.

it appears it is a missing commit, but it does not make sense if misp64r6 works.

[2015-06-11 01:45] paul99 commented on #105
Ákos has found the root cause here: our TF use of kScratchDoubleReg (f30) is a callee-saved register. But in these `test-simplified-lowering` tests, generated code is called by C code with no wrapper -- so our TF code corrupts a register that C code counts on to be saved thru the call.

Arm32 does same as us, their d15 is callee-saved, but it does not hurt them. (we should let them know)

The othe

[2015-06-11 02:51] paul99 opened #143 "Fix unaligned double access in: Unify decoding of deoptimization translations."
Commit `9127d4ee Unify decoding of deoptimization translations.` introduces some new use of pointers to doubles that are unaligned, and crash.

Kudo's to Rick who spotted this on the buildbot, and got to the root cause.

TEST: mjsunit/debug-backtrace.js  with --turbo --always-opt

[code]

The problem is in new function TranslatedState::CreateNextTranslatedValue()  (https://chromium.googlesource.co

[2015-06-11 02:55] paul99 commented on #143
Please note that this issue was the cause of my incoherent babbling during the group meeting, about DSP instruction sets and LDXC1, etc. Sorry about the misinformation.

This failure does raise a SIGILL on the Octeon-III board as Rick documented here: https://v8m.slack.com/files/rick/F0653Q74M/gdb_on_mjsunit_debug-backtrace.sh and in the comments that follow, and in other comments on the _octeon3_

[2015-06-12 13:51] djpesic commented on #141
After some investigation, I found following: Test fails, no matter how much sim stack and c++ stack are big. I varied numbers from very low to very high (abot 10 to 10000). Next, test fails with %DebugGetLoadedScripts() called, but passes with, for example, %FunctionGetName() called. Also, after playing with values for count, I found that if count>=8, test passed with %DebugGetLoadedScripts() call

[2015-06-13 03:22] paul99 commented on #136
Dusan came up with a clever solution to use J/JAL for long-branches in mips64r2 & r6 code. The clever part is making sure that code objects using J/JAL are allocated in a single 256MB page, while other code does not have this restriction.

This reduces code-size of this (super-long) RegExp by 33%.

https://codereview.chromium.org/1147503002/
https://codereview.chromium.org/1172333002/

[2015-06-13 03:26] paul99 commented on #136
On 2015-06-10, Erik Corry landed 05507cc3ea6e96e9e9df98d276c235eea32374dd (https://codereview.chromium.org/1180433003). That broke mips32 for RegExp code size on this TestSizeOfRegExpCode test, and almost certainly pushed mips64 back to failing again.

It seems that the MIPS code has doubled in size, so mips32 used to be ~900K, now we are about 1800K. I am investigating this on the other arch's, b

[2015-06-15 13:28] kilvadyb commented on #143
The problem is in the function TranslatedState::CreateNextTranslatedValue() as Paul expected but in the Translation::DOUBLE_STACK_SLOT case of the switch. With the following patch I printed out the values:

[code]

The printed address and offset match to the values of v0, v1 registers of ldxc1 in the debugger when the SIGILL is caught:

[code]

In the C++ code fp holds the base address and is not

[2015-06-15 13:47] kilvadyb commented on #143
quick fix:

[code]

[2015-06-15 15:38] paul99 commented on #143
OK, I can clearly see that case DOUBLE_STACK_SLOT is problematic, since fp will have 4-byte alignment.

But is DOUBLE_REGISTER guaranteed to be safe, or did we get 'lucky' for now? (Is the `RegisterValues* registers` guaranteed to be 8-byte aligned?)

And I'm not sure we can add the include and drop the undef at the end. Do you think they will take this, or do we need to duplicate the READ_DOUBLE_

[2015-06-15 15:53] paul99 opened #144 "Chromium bug 500176"
https://code.google.com/p/chromium/issues/detail?id=500176

Easily reproducible on today's master (commit 6e5b9ffe4) mipsel.debug in simulator:

[code]

Dusan, do you have time to take a look? If not, please assign back to me, and I will look at it later today.

[2015-06-15 16:24] kilvadyb commented on #143
I don't think removing the #undef would be accepted. If we can create a HeapNumber from the address and offset for example then using HeapNumber::value() would be a clean solution:

[code]

I try to find a clean way to use READ_DOUBLE_FIELD(). Would be nice to avoid duplication.

I am not sure about DOUBLE_REGISTER case of the switch. RegisterValues class has 2 data members where kNumRegisters is

[2015-06-15 17:12] palfia commented on #105
I've tried to change the kDoubleScratch register to be a caller saved register (f18), but it seems that other callee-saved FPU registers are also assigned by the register-allocator, so other registers can also conflict with the C code. The real problem is that the compiler cctests generate the TF code with SimplifiedCDescriptor that does not save/restore the FPU registers in the Prologue/Return an

[2015-06-15 17:22] dusmil commented on #144
Fix submitted: https://codereview.chromium.org/1185143002/

[2015-06-15 17:33] kilvadyb commented on #143
Strange that in debug mode I got an other SIGILL:

[code]

[2015-06-15 17:36] kilvadyb commented on #143
The debug failure must be core/FP problem. With `taskset -c 0 ...` the test passed with `taskset -c 1 ...` I got the SIGILL crash.

[2015-06-15 17:38] paul99 commented on #143
Yup, was just looking up older issue https://github.com/paul99/v8m-rb/issues/102 -- that's exactly it

[2015-06-15 17:39] paul99 commented on #144
For MIPS64, the fix will be included in existing CL https://codereview.chromium.org/1170923004/ that touches the same code.

Closing this one.

[2015-06-16 01:48] paul99 commented on #141
Djordje, does this pass reliably on real hardware, 32 & 64 bit, release and debug. If so, I am thinking we can put it on the skip list for simulator only.

Another thing to try, when using the simulator, is to vary the C stack size using the 'ulimit -s' command. Most of our machines have a default of 8MB (a ulimit -s value of 8192).  But you can raise that up, and see if you get the test to pass.

[2015-06-16 02:09] paul99 commented on #144
There were a couple bugs, and 7 fails on the bots. Theoretically fixed in https://codereview.chromium.org/1187063002/. I'll leave this open until we have test results.

[2015-06-16 04:46] paul99 opened #145 "benchmark flakiness and bugs on mips32"
When doing octane tests for #_octeon3_ channel I saw a failure on mips32 for pdfjs, and a really bad score for Box2D. Those first results posted below.

When I look at the benchmarks tests, it is terrible, lots of flakes and crashes since mid-last week (I took my eye off the ball on these tests). https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20benchmarks?numbuilds=100  It's also possible

[2015-06-16 10:11] djpesic commented on #141
I run tests on leemote 61100 and netlogic xlp. Tests pass in debug and release mode. On simulator, I tried with stack size 100000 (set with ulimit -s) and tests still crash.

[2015-06-17 03:12] paul99 commented on #141
Fixed (well, skipped) in master via https://codereview.chromium.org/1183133002.

However, when I test ToT master (now at commit 17b0f16c760e5b0d51ae87742a864de93b6f4c0b), the test, even when manually run with --stress-opt --always-opt now passes.

And the output is different than it was previously, it prints LOTS of 'undefined', but the 5 stack overflow range-errors are there, but now without the

[2015-06-17 08:21] djpesic commented on #141
Commit 75350f1ef0ebf189ef3583183eae694a25597fc0 fixes this issue.

[2015-06-17 20:13] MIPSbkirby opened #146 "cctest/test-run-deopt/DeoptExceptionHandlerFinally in MIPS64 simulator timing out"
Since commit 3161cb550c8c44560ed7f1ee70f2cc989a8b32d8, the cctest/test-run-deopt/DeoptExceptionHandlerFinally test is running for 40 minutes (according to the durations file) and then timing out when simulating MIPS64 ("Sim - MIPS64 - Debug - edge" builder).  This is causing the builder to run for nearly 6 hours before finishing when it used to run between 12 and 15 minutes.

I'm applying a patch

[2015-06-17 20:44] MIPSbkirby commented on #146
Changed the patch to the following since it's failing on hardware as well:

[code]

[2015-06-18 03:13] paul99 commented on #146
We get stuck in infinite loop that looks like this:

[code]

Root cause is that a TF-generated basic block gets patched to jump to a deoptimization entry (which normally is fine). But that basic block is only 4 instr long, the deopt call is 6 instr long, so it overwrites past the end of the block.

That puts a `jalr t9` in an otherwise valid instruction stream, and some other code jumps to that po

[2015-06-18 04:58] paul99 commented on #141
75350f1e Debugger: require debugger to be active when dealing with breaks.

It's not clear at quick look how this fixes the bug. In a more perfect world, we would pursue this to the details/root-cause, and learn something useful. In the world we live in now, we had better just fix more bugs. :-)  Closing.

[2015-06-18 04:58] #141 closed, assigned to nobody

[2015-06-18 05:00] paul99 commented on #136
For now assigning to Djordje to characterize the long regexp in this test on all arch's, before and after the change in previous comment.

We also need to start profiling/tracing small more typical regexp's in order to see causes for mips code bloat.

[2015-06-18 12:59] ilijapavlovic commented on #145
Testing/investigation is done on the CI-20 board.

The first commit where the problem is detected during running Octane
benchmark is:
- e044f0a67e03ad55d447d0a28cc227587515bc5b
- "[deoptimizer] Remove uses of TranslationIterator outside the deoptimizer."

According to description, expected problems are "PdfJS: ReferenceError: console is not defined" and bad performance results for the Box2D benchm

[2015-06-18 16:12] dusmil commented on #146
Very nice analysis, and indeed it is exact description what is going on there.
I spent whole day on this, and my conclusion is that problem is the common code which does not take care if basic block is translated into less instructions than required for lazy bailout.

Other arches again are lucky, 4 instructions are enough for them. Again it is design flaw.
One interesting observation, the block t

[2015-06-18 16:38] paul99 commented on #146
Thanks for looking and confirming the analysis. I will look at this a bit more today, and maybe I will create a v8 issue to have those guys take a look.

[2015-06-18 17:43] paul99 commented on #115
Issue resolved, should have been closed with the previous comment. Thx for fix Ákos.

[2015-06-18 17:43] #115 closed, assigned to dusmil

[2015-06-18 18:04] paul99 commented on #143
Balázs fixed this in https://codereview.chromium.org/1193433002  https://crrev.com/0acc511e62fbd717e335c700012de47827fe0630

Generic double ReadDoubleValue(const void\* p) & WriteDoubleValue(void\* p, double value) were moved to utils.h so they can be accessed from (almost) anywhere.

[2015-06-18 18:04] #143 closed, assigned to kilvadyb

[2015-06-19 04:36] paul99 opened #147 "disassembler enhancement request"
When we disassmble mips & mips64 relative branch instructions, they look like this:

[code]

The 7 is extracted from the instruction encoding, but for the human to figure out where it is going, they have to run the calculation of (pc_ + 4) + (branch_distance << 2). Annoying to calculate all the time. For larger distances you can't just count instructions.

The other arch's do a much more human fri

[2015-06-19 04:39] paul99 commented on #147
I can't give this a pri-1 in good conscience, however, this should be a short-duration task, and just take a few hours. Let's get it done. It will make debugging our harder problems a lot easier.

[2015-06-19 05:31] paul99 opened #148 "Add data tracing to mips32 simulator"
The mips64 simulator has basic data tracing, where the result values of each operation are printed, and memory access are shown with address and data. I find this enormously useful for any sim-based debugging.

A long time back, I added this same capability to the mips32 simulator. However, I could not upstream it, as we had some very long functions, and clang-format would not allow making these 5

[2015-06-19 05:37] paul99 commented on #98
Fixed by Balázs in https://codereview.chromium.org/1182713004 https://crrev.com/ed01b6b0df6de4885eac8b5815c4aed77c93219d

Verified fix on popcorn board.

[2015-06-19 05:37] #98 closed, assigned to paul99

[2015-06-19 12:32] ilijapavlovic commented on #137
Landed.
https://codereview.chromium.org/1144373003/

[2015-06-19 12:32] #137 closed, assigned to ilijapavlovic

[2015-06-19 13:40] dusmil commented on #111
Finally fixed in:
https://codereview.chromium.org/1192413002/

[2015-06-20 00:08] paul99 commented on #111
So far the fix looks great. Closing.

[2015-06-20 00:08] #111 closed, assigned to kilvadyb

[2015-06-20 00:09] paul99 commented on #148
Thanks for getting to this so quickly!! Added in https://codereview.chromium.org/1195783002, https://crrev.com/12e41568b30d3ca19c333c6fe91e7ba11e8bec4d.

[2015-06-20 00:09] #148 closed, assigned to nobody

[2015-06-20 00:21] paul99 opened #149 "Mozilla debug fails, related to j, maybe to code-range changes"
This is a DCHECK in mips64 on 'j' instruction, most likely from long-branch usage, debug Mozilla.

Test: mozilla/js1_5/Regress/regress-80981

[code]

https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mozilla/builds/3911

https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mozilla/builds/3911/steps/Mozilla%20%28flakes%29/logs/regress-80981

[2015-06-23 15:18] paul99 commented on #145
As Ilija mentioned, fixed by https://codereview.chromium.org/1193433002 https://crrev.com/0acc511e62fbd717e335c700012de47827fe0630 from Balázs. Closing.

[2015-06-23 15:18] #145 closed, assigned to ilijapavlovic

[2015-06-23 21:01] paul99 opened #150 "mips64 fails test-spaces/SizeOfFirstPageIsLargeEnough"
This test started failing consistently after https://codereview.chromium.org/1199113003 - https://crrev.com/325fbd0e243f6d43c977452651cf4be9a0dad727

BB test for that CL: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/3867

Balázs, can you PTAL?

[2015-06-23 23:10] paul99 opened #151 "Check float min/max on mipsr6"
Balázs mentioned this in https://v8m.slack.com/archives/porting/p1435065563000085

This CL & Issue show that Float64Min() is different on arm64 from x64, and the x64 behavior is correct. In arm they have quit supporting these min/max ops for now.

Statement from Jacob B. was that mips-r6 was like arm64.

https://codereview.chromium.org/1200123004
https://code.google.com/p/v8/issues/detail?id=4206

[2015-06-24 13:30] kilvadyb commented on #151
The CL contains a new test: mjsunit/compiler/regress-4206. This test passes on mips64elR6 sim but fails on qemu-mips64elR6 in the turbo test:

[code]

I will create a CL to turn min/max to `{ UNREACHABLE(); }` while there is no better solution.

[2015-06-24 13:31] dusmil commented on #151
Right, go ahead.

[2015-06-24 18:12] kilvadyb commented on #151
I tried to test mips32re LE with quemu if the min/max test fails but I could not make a 32 bits r6 build which is good for qemu. So I decided to make a CL to remove min/max from 32 and 64 bits. The 64 bits build caused many round and truncate failures. The CL is extremely simple so I am surprised and will investigate it.

[2015-06-26 14:41] dusmil commented on #134
Finally fixed in:
https://codereview.chromium.org/1220443002/

Some background details.

First Djordje proved my theory that infinite loop is finished before interrupt thread has been started because undefined value is occasionally returned in while condition. This also proves this issue is caused by the same bug  for issue 124.

Second he proved that this was not the problem with interrupt handli

[2015-06-26 14:43] dusmil commented on #124
Finally fixed in:
https://codereview.chromium.org/1220443002/

This also fixes dromeo DOM test failure in chromium browser on mips32 (DBUG-1790)

[2015-06-26 18:06] kilvadyb commented on #150
I tried to find out how to increase the size of the (first) page but no working patch yet. But the CL where the bug raised contains a special config for arm64 in cctest.status:
   # BUG(v8:4200).
 159   'test-spaces/SizeOfFirstPageIsLargeEnough': [PASS, FAIL],

[2015-06-26 18:25] paul99 commented on #150
Can you test this on arm64 sim?

[2015-06-27 16:59] paul99 opened #152 "embenchen zlib test failure"
This was caused by https://codereview.chromium.org/1205353002 / 35eb3a0260, 'turbofan] Optimize BooleanNot conditions to Branch nodes.'

Preliminary investigation shows that benchmarks lib does not fail, but this asm test does.

I am working to get a reduced test case. Some testing shows that this lowering is commonly used in many places, many of the simile branch & loops tests in test-run-machops

[2015-06-27 17:36] paul99 commented on #150
I tested on arm64 sim, and it does fail. I did add a comment about mips64 to v8:4200
https://code.google.com/p/v8/issues/detail?id=4200

[2015-06-30 05:19] paul99 opened #153 "mjsunit/regress/regress-500980 on 8911 board"
Fails like this on popcorn board:

[code]

The popcorn boards have only 384MB, however, they do have 2GB swap setup (at least on the board I checked. This test does not fail on error-8 board, with 2GB ram.

[2015-06-30 05:22] paul99 commented on #150
This was put on the skip list by Dan Ehrenberg at Google, per issue https://code.google.com/p/v8/issues/detail?id=4200 - CL https://codereview.chromium.org/1212963004/

Will leave this issue open until this is resolved. It may be resolved by Google, or we might need to take a look. I will drop it to pri-3 for now.

[2015-06-30 05:28] paul99 commented on #146
I did email this to Google team, and Michael S. responded with  https://code.google.com/p/v8/issues/detail?id=4195, and CL https://codereview.chromium.org/1189373003 to disable to final call into this test.

It looked to me like Michael is planning to change the way exceptions are handled, so that exception handler cannot re-enter a deoptimized function. There may be another solution to just pad a

[2015-06-30 06:01] paul99 commented on #152
This is now on the skip list with https://codereview.chromium.org/1209253005

Testing has showed that many simple tests, as well as most of the embenchen tests use the kBooleanNot clause in CommonOperatorReducer::ReduceBranch. All tests pass except zlib.

zlib, and the other embenchen tests I checked use this optimization _many_ times. For example, it is used 66 times in the _malloc() function alo

[2015-06-30 06:13] paul99 opened #154 "mjsunit/asm/int32div fail on mips64, erpro8"
It's failing consistently on the bots, only --stress-opt --always-opt:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/1594

Cryptic error message: `Failure: expected <-2147483648> found <-2147483648>`

I just tried it on a Cavium Octeon-III board (with FPU) and it _does not fail_.

So I suspect some problem with the kernel FPU emulator, possibly with a negative-0 problem.

[2015-06-30 12:17] ilijapavlovic commented on #147
Disassembler enhancement implemented.
https://codereview.chromium.org/1213553004/

[2015-06-30 13:52] dusmil commented on #149
It was subtle bug after all, thank you for reporting.
Fixed in:https://codereview.chromium.org/1216823003/
We will watch buildbot for verification since it is very hard to reproduce.

[2015-06-30 15:16] paul99 opened #155 "TEST(sqrt_rsqrt_recip) fails on mips32r1"
The rsqrt.fmt and recip.fmt instructions are mips32r2 (and later) only. So this test fails on mips32r1.

Test was introduced in https://codereview.chromium.org/1147493002.

Can you either exclude the entire test for r1 platforms, or maybe continue to test sqrt.fmt, but not test the other two?

[2015-06-30 16:08] dusmil opened #156 "mozilla regress-234389 test crash in debug on sim."
[code]

[2015-07-01 03:04] paul99 commented on #147
Code review for above: output format is exactly what I wanted but the branch offset is off by one instruction.

From manual: "An 18-bit signed offset (the 16-bit offset field shifted left 2 bits) is added to the address of the instruction following the branch (not the branch itself), in the branch delay slot, to form a PC-relative effective target address."

Here is some disassembled from `d8` sta

[2015-07-01 09:39] djpesic commented on #155
Fix for issue is at https://codereview.chromium.org/1221663006. PTAL.

[2015-07-01 12:36] ilijapavlovic commented on #147
Corrections are done on following instructions:
- bc1t, bc1f, bltz, bltzal, bgez, bgezal, bgezall, beq, bne, blez, bgtz.

From the specification, the common thing for all of them is following:

[code]

[2015-07-01 17:46] kilvadyb commented on #153
On our popcorn board (with 1 GB swap) we got:

[code]

The script is quite simple:

[code]

The test passes if I comment out any of the assert lines. I tried to investigate the value for RangeError.
RangeError is thrown from

[code]

And the limit value is:

[code]

So I think the string 'a' contains (1 << 28) - 16 characters after the RangeError and 'a in a;' tries to load 'a' two times into memo

[2015-07-01 19:27] paul99 commented on #155
Landed as https://crrev.com/2604c75eeda875e3e95e957cd886b481c55e1d62.
Fixed the bots. Thanks!
Closing.

[2015-07-01 19:27] #155 closed, assigned to nobody

[2015-07-03 11:25] ilijapavlovic commented on #147
Landed.
https://codereview.chromium.org/1213553004/

[2015-07-03 16:42] kilvadyb opened #157 "mjsunit/regress/regress-crbug-505007-[1|2] fail on mips64el sim."
The tests was added by the CL: https://codereview.chromium.org/1219693003. The tests are passed on mips32el. After many strange debug results it seems the --sim_stack_size flag must be used as --stack_size=100 is used by the tests. Setting --sim_stack_size=stack_size / 2 fixed the 64 bits debug run on mac although on linux I got a new failure:

[code]

These 'free' related bug produced in release

[2015-07-03 18:30] kilvadyb commented on #157
With watchpoints I can prove that the JS stack overflows when entry of the generated debug code is called after a certain time. I plan to figure out how stack limit checking is skipped on 64 bits from the (stub_?)entry code.

[2015-07-04 17:49] kilvadyb commented on #157
With the following patch I got when the stack overflows but I could not identify the source of the push yet.

[code]

[2015-07-05 17:20] djpesic commented on #157
I had similar problem with https://github.com/paul99/v8m-rb/issues/141. When DebugGetLoadedScript was called, similar JS stackoverflow was occured.

[2015-07-06 10:09] djpesic commented on #134
Fix commit id: 448ec36491a33111642470ad8b78e99ce3cf1975. Closing.

[2015-07-06 10:09] #134 closed, assigned to nobody

[2015-07-06 10:10] djpesic commented on #124
Fix commit id: 448ec36491a33111642470ad8b78e99ce3cf1975. Closing.

[2015-07-06 10:10] #124 closed, assigned to dusmil

[2015-07-06 12:08] kilvadyb commented on #157
Thanks for the info. It seems there is some issue with stack handling around debugger. I found that there is a checking of free space on the JS stack before the code of the debugger is compiled/called. It checks if there is 1KB free space at least and on simulator we have more then 2 KB but when the compiled JS debugger code is called it makes the JS stack overflow.

[code]

[2015-07-06 20:17] paul99 opened #158 "Random failures of test262: 11.3.2_TRP, 9.2.5_11_g_ii_2"
These tests have been failing periodically across several builders. I've only seen it on hardware bots, but on mipsel, mips64el, and mipsel-r1

It uses in Intl / itu stuff. Possibly an itu version problem?

(Note that big-endian runs --no-i18n, so will not run these)

Examples:
    https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20test262/builds/3175
    https://v8.mips.com/bbv8/builders/T

[2015-07-06 20:30] paul99 commented on #147
Re-opening. This CL causes a bug in mips32 cctest/test-disasm-mips/Type0, debug on sim or hardware.

https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/7533

[code]

[2015-07-06 20:32] paul99 commented on #153
This seems to have been fixed by Yang Guo CL https://codereview.chromium.org/1214373005

Balázs, can you verify this, and close this issue if it is truly fixed?

[2015-07-06 23:54] paul99 opened #159 "back-merge MIPS: Fix Assembler::dd(Label*) implementation. to 4.3 branch"
Ákos, please back-merge this to 4.3. I am pretty sure this fix was done in the 4.4 timeframe, so it won't need anything there.

https://codereview.chromium.org/1127393003
https://crrev.com/3f7b797c1e066cd2a86508a051599624134f597a

[2015-07-07 11:47] kilvadyb commented on #153
Tests are passed in debug and release mode as well building from the above CL or ToT.

[2015-07-07 11:47] #153 closed, assigned to kilvadyb

[2015-07-07 14:14] palfia commented on #159
Closing, merged: https://codereview.chromium.org/1224623018/
https://chromium.googlesource.com/v8/v8/+/8c28e488ea8774dc5a09d689c2731467b0a685f5

[2015-07-07 14:14] #159 closed, assigned to palfia

[2015-07-08 17:50] kilvadyb commented on #157
I found that on simulator the in `JSEntryStub::Generate()`

[code]

is called. And after it the 'Error loading debugger' message appears a few times then the test crashes (JS stack overflows)." On er8 board the `JSEntryStub::Generate()->handler_entry` label is never reached (running the sam test in release or debug mode). The stacks (JS/MIPS:sp and C/x64 rsp) seems to be fine. I continue to find w

[2015-07-09 11:12] ilijapavlovic commented on #142
The last branch where the problem was possible to reproduce is 4.4.31.
In branch 4.4.32 benchmark tests are finished without problems and this branch contains following commit:

[code]

[2015-07-09 15:03] ilijapavlovic commented on #147
###### MIPS32

In functions j(int32_t target) and jal(int32_t target) there is the same segment of code:

[code]

The problem is in following condition:

[code]

After replacing constants, we have following simplified expression:

[code]

This expression checks the target range.
Important thing here is that operator `>>` has higher priority than operator `^`.

Consider following (simplified) expre

[2015-07-09 15:22] paul99 commented on #147
OK, I definitely see the operator precedence problem -- I'm kind of amazed that worked for so long without failure.

To me, the mips64 case looks exactly right (simplified):

[code]

You're trying to test are the upper 4 bits (d31:d28) _different_ on ipc and target. The expression does that.

The expression you proposed: `in_range = (ipc ^ target >> 28) == ipc;` does _not_ do that. It is shifting

[2015-07-09 16:35] kilvadyb commented on #157
The test I debug is exhausting the stack. when stack overflow occurs a `RUNTIME_FUNCTION(Runtime_UnwindAndFindExceptionHandler)` call is executed from the generated script. The test run on sim starts to diverge from the run on er8 when the unwinding calls `LookupExceptionHandlerInTable()` of an `OptimizedFrame` not a regular `JavaScriptFrame` object. So the problem might be around handling handler

[2015-07-10 07:36] ilijapavlovic commented on #147
I suppose that it worked because of small target values which are used in
test suites. In disassembler test we use a maximal value for the target and
such case was not tested till now.

Here are two cases which will show what is wrong with condition
`((ipc ^ target) >> 28) == 0`

Case 1:

[code]

Case 2:

[code]

The condition `(ipc ^ target >> 28) == ipc` will do evaluation on right way for value

[2015-07-13 07:16] paul99 opened #160 "New commit ad7f35c49 breaks TF box2d"
https://codereview.chromium.org/1235663002
 https://crrev.com/ad7f35c49aa94b2bc625fe59a5e9251ef2645889 breaks mips embenchen box2d.

We now take some unimplemented code paths.

http://build.chromium.org/p/client.v8/builders/V8%20Linux%20-%20mipsel%20-%20sim/builds/1694

[2015-07-13 07:48] paul99 commented on #147
Please take another look at the instruction set reference for `j` and `jal`. These are _very_ weird instructions. They are _not_ pc-relative instruction. The `target` value  that is passed is a 32-bit pointer of the address to jump to. [1]

However, the instruction only encodes 28 bits of the 32-bit instruction. And it jumps to the absolute address within the same 256MB page as the program counter

[2015-07-13 11:35] ilijapavlovic commented on #147
If the target is a 32-bit (64-bit) pointer (in the specification they could be more specific what is the target) than condition which you wrote has sense. Also, following must be done:

[code]

If this is ok, than I have to adapt the test for jump instruction in disassembler.

[2015-07-13 12:58] dusmil commented on #160
Fixed in: https://codereview.chromium.org/1234533004/

[2015-07-13 18:09] paul99 commented on #147
Yes, agreed that the address passed to GenInstrJump() must be masked. Wow, I wonder how that ever worked properly.

Another thing to consider: all the checks are done _only_ in DEBUG mode. I believe that our initial use of J/JAL was only for JALR->JAL optimization, and that check of in-range was done for every use (even in release builds) by the caller.

If we have callers of J/JAL that do not the

[2015-07-13 18:11] paul99 commented on #149
The change in https://codereview.chromium.org/1216823003/ had an issue (in comments), and was never landed. So this issue is still open.

[2015-07-14 06:23] paul99 commented on #147
Also, I think you see it, but you can't just stick some fixed address in j/jal for test-disassembler, you will have to get the address of the PC and construct a legal/valid j/jal instruction, and then generate the expected disassembly as well.

[2015-07-14 08:31] ilijapavlovic commented on #142
During attempts to reproduce infinite loops in benchmark tests, it is noted that test Box2D in most cases was not in the loop. Very often it happened at test Typescript and rarely on other tests (PdfJS, DeltaBlue, Splay).

[2015-07-14 13:37] ilijapavlovic commented on #147
Yes, I will have to modify test-disassembler and somehow generate/construct j/jal instruction and expected output.

For release mode we expect (and maybe it is required) that callers will provide values inside valid ranges for all instructions. I see that for other instructions such kind of checking was not performed, so why should we make an exception for this case.

[2015-07-14 13:38] ilijapavlovic commented on #147
Fixed checking target value. Adapted tests in disassembler.
https://codereview.chromium.org/1237083003

[2015-07-14 14:29] paul99 commented on #160
Landed as https://crrev.com/686e3abf66bd0bbb1d2419d0149992e042fea153. Closing.

[2015-07-14 14:29] #160 closed, assigned to dusmil

[2015-07-15 17:33] kilvadyb commented on #157
The failure has been disappeared after https://codereview.chromium.org/1237043006 .

[code]

in src/flag-definitions.h.

[2015-07-16 02:05] paul99 commented on #158
I ran these two tests individually on error-8 board, running mipsel.release and mipsel.debug (where random fails have been noted on the bots). And they both passed thousands of iterations.

Build was from my workstation, using 4.9.2 gcc.

So there is either a config issue on the bots, or this is some complex integration problem while other tests are running.

Next step, run these tests in a loop o

[2015-07-16 02:23] paul99 opened #161 "mips64 string errors after 'c63e50ed Reland Update V8 DEPS.'"
Lots of string errors (27 check, 30 webkit, 10 test262) on hardware and sim.

It has nothing to do with the clang roll, but it is this simple change in StringCharFromCodeGenerator::GenerateFast(), to get past a clang warning:

[code]

The code in this function was broken, improperly ported from mips32, not doing Smi handling correctly.

The old signed `kMaxOneByteCharCode` caused the test for fast

[2015-07-16 04:19] paul99 opened #162 "mips64 simulator data trace missing for dsll"
I noticed during some debugging that `doll` does not print its 'alu' value:

[code]

I did not notice other instructions missing, but there may well be. When you find the missing spot for a `TraceRegWr()` you might see others missing as well.

Also, I noticed one branch instruction that does print something, but shouldn't -- and it interferes with the branch target printing (this from mips32):

[c

[2015-07-16 04:22] paul99 commented on #157
We should follow this up, as it will likely come back to bite us again. But, the fact that it is sim only, we know it is related to the split stacks, _and_ we have so many other pressing issues, I think we should put this on hold for now.

[2015-07-16 05:34] paul99 commented on #161
I got rid of a4 register use but that made no improvement (current patch below).

I ran this a cut-down mjsunit/string-replace.js, and the fast path was taken only 4 times. The ones I examined looked correct. We returned cached strings of '9', ';', ';', ';', .

I verified on the last instance, that the char code was a 0x3b (as 64-bit Smi), and semi-colon is the correct string to return. Guessing t

[2015-07-16 11:41] ilijapavlovic commented on #156
The output message is different than described:

[code]

In the file `mozilla.status`, status for this test is  `[FAIL_OK]`. Therefore, we can say that this behaviour is OK (or expected).

[code]

Tested with the commit:

[code]

[2015-07-16 11:46] ilijapavlovic commented on #147
Landed.
https://chromium.googlesource.com/v8/v8/+/2bc5a2121102282fc67cf96423bae02b19e18e42

[2015-07-16 15:15] ilijapavlovic commented on #162
The fix for `dsll` is already done, but for `bgezal` it seems little bit tricky. I see also that this instruction is not disassembled correctly.

[2015-07-16 18:26] kilvadyb commented on #161
I created a test script:

[code]

`StringCharCodeAtGenerator::GenerateFast()` is called at index 0 and 2. It expects the char (ASCII) code in a2 (StringCharCodeAtGenerator::code_) as an smi value but a2 is SmiFromInt(102) (== 'f') in all calls. Looks like the caller (maybe `RUNTIME_FUNCTION(Runtime_SubStringRT)`) of the generated code from `StringCharCodeAtGenerator::GenerateFast()` should be fixe

[2015-07-17 03:56] paul99 commented on #161
Fixed in https://codereview.chromium.org/1233903003/. I'll leave it open until it lands and survives the bots.

2nd problem was missing SmiTag() at end of SubStringStub,

[2015-07-17 04:19] paul99 commented on #147
Ilija - I'm afraid the commit message formatting did not work out correctly. In the future please be very careful with this.

The format should have looked like this:

[code]

The key point is that the first line of the commit should be a summary description of what changed, possibly prefaced by MIPS: or MIPS64: if those are appropriate [1]. The line should be short, so that it is readable in a on

[2015-07-17 15:57] paul99 commented on #157
This bug is back as the global-var-shortcuts flag got set back to false:

362b3785 Revert of Reland "Enable loads and stores to global vars through property cell shortcuts installed into paren…

[2015-07-19 00:34] paul99 commented on #161
Landed as https://crrev.com/88214f1bf8429311d26d8f85f2a1e4759cb3fe7e. Fixes issue. Closing.

[2015-07-19 00:34] #161 closed, assigned to paul99

[2015-07-20 05:49] paul99 opened #163 "mips64 failure on mjsunit/regress/regress-crbug-505007-1"
Problem seen on mips64el.optdebug on simulator. Code was Google master at 002faf794.

[code]

[2015-07-20 12:30] kilvadyb commented on #163
Might be related to #157.

[2015-07-20 17:12] paul99 commented on #147
Hi Ilija, it seems we have another problem with j/jal in test-disassembler-mips64, in test Type3. Can you PTAL?

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/1806/steps/Check/logs/Type3

[2015-07-20 19:27] paul99 commented on #152
Fixed by Dusan in https://codereview.chromium.org/1232313007, and removed zlib from skip list.

Landed as https://crrev.com/82339644b24eccad008335a8bcbcfcd6532823f0

This needs to be back-merged to 4.5, which I will do. Issue stays open until complete.

[2015-07-20 22:20] paul99 commented on #163
Of course it is. It was too late when I was looking at this. Sorry for the noise. Closing at duplicate of 157.

[2015-07-20 22:20] #163 closed, assigned to nobody

[2015-07-21 13:07] ilijapavlovic commented on #162
**dsll**
- In simulator:

[code]

**bgezal**
- Instruction "BGEZAL rs, offset" is 'removed from Release 6'.
- Instruction "BAL offset" is special case of BGZAL instruction where
  rs == zero_reg
- The problem was printing an instruction in delay slot of BAL/BGEZAL instruction.
  When printing details of the instruction in delay slot is finished, content of
  "trace_buf_" was not deleted, and that

[2015-07-21 13:51] ilijapavlovic commented on #162
Fixed.
https://codereview.chromium.org/1245173002/

[2015-07-21 14:13] paul99 commented on #152
Merged to 4.5. Closing.

[code]

[2015-07-21 14:13] #152 closed, assigned to paul99

[2015-07-21 14:25] paul99 commented on #154
I was apparently mistaken about erpro-8 statement, this _does_ fail on Octeon-III board with FPU also.

Same failure message, and only on the `--stress-opt --always-opt` variant.

[2015-07-21 17:56] kilvadyb commented on #157
I stuck in a bit. I added the following patch to b8cce79 :

[code]
- On mips64el sim: looked for exception handler in `OptimizedFrame`, not found, `Error loading debugger` message printed about 5 times then a segfault (on Linux, on Mac it is ok)
- On mipsel sim:looked for exception handler in `OptimizedFrame`, not found, `Error loading debugger` message printed about 5 times, but no failure.
- On

[2015-07-23 04:43] paul99 opened #164 "Remove --no-format-pedantic flag from gcc builds"
Clang requires -Wno-format-pedantic so that it does not whine about printf format strings.

This flag is not understood properly by gcc, and breaks the build, so some reason, only on opt debug builds, as far as I can tell (though I have not tested all variants.)

Brendan has this patch on the Buildbots

[code]

I'd like to get something committed to fix this, though this looks a bit messy. Maybe o

[2015-07-23 08:00] ilijapavlovic commented on #162
Landed.
https://chromium.googlesource.com/v8/v8/+/a5f5f5801440e6b4d25be37441a65af2add9a7ef

[2015-07-27 02:40] paul99 opened #165 "Increase number of allocatable registers."
We currently allocate 14 registers, kMaxNumAllocatableRegisters, v0 thru t6 and cp.

Let's try to increase this. It seems to me that t7 is avilable, and probably s0-s2. It also looks like s5 is only used in a couple spots, and could likely be replaced there.

However, there is currently a blocker in lithium-allocator.cc, line 1760:

[code]

I did not look at that, to see if it can be changed easil

[2015-07-27 12:22] ilijapavlovic commented on #138
Here is the code used for testing:

[code]

The test is done on simulator with MIPS32r6.
Regarding simulator evaluating it seems that everything is OK.

[code]

Execution in "step one instruction" mode on simulator displays instruction in delay slot.

[code]

Investigation about bal instruction variants and wrong printing FPU registers will be continued.

[2015-07-28 09:32] ilijapavlovic commented on #147
Adapted disassembler test for J and JAL.
 https://codereview.chromium.org/1258743004

[2015-07-28 13:57] ilijapavlovic commented on #147
The 2nd patch where only disassembler is adapted. No changes in disassembler tests.
https://codereview.chromium.org/1258743004

[2015-07-28 14:23] paul99 opened #166 "test262/15.9.1.15-1 passes when marked as FAIL"
Since https://chromium.googlesource.com/v8/v8/+/f06754a8e1d305a43560705f6c167d85d40e602d, this test fails the bots for mips64 target builds, but oddly, the test itself is passing, but the test status file is marked to FAIL, and since we are passing, it is considered an error.

I've not noticed this one failing on other bots, but please check. This might be only es6 related, or it might need to fai

[2015-07-28 14:29] ilijapavlovic commented on #166
This is content of the problematical test (15.9.1.15-1.js):

[code]

According to
https://chromium.googlesource.com/v8/v8/+/f06754a8e1d305a43560705f6c167d85d40e602d
the main goal of test was:
- if time zone is not specified,
  then dates should be in the local timezone (according to ES6)

The cause for passing or failing this test is in settings for Location (or timezone)
on the test system.

This

[2015-07-29 00:41] paul99 commented on #162
This works great, thanks. Closing.

[2015-07-29 00:41] #162 closed, assigned to ilijapavlovic

[2015-07-29 12:22] ibogosavljevic commented on #136
Djordje and I implemented several features which aim to reduce the code size for this tests. Here is the list of features:
- Implementation of _multiple trampolines_: we generate trampolines several times in order to decrease size of reallocation table (huge impact on decreasing reallocation table size)
- Implementation of _trampolines for bound labels_: if label is bound, but is to far away to ju

[2015-07-30 05:16] paul99 commented on #154
This is fixed by Ákos https://codereview.chromium.org/1265603002/ , which is stuck in the CQ right now. Let's leave this open until it lands and we see it working on the bots.

[2015-07-30 05:22] paul99 commented on #156
Should this be retested? What Dusan originally posted is definitely a crash bug, and not acceptable. But if it now fails with 'RangeError: Maximum call stack size exceeded', that seems fine. Also, you might check the bots to ensure this has not failed recently.

If it is still clean, you can comment on it and close it.

[2015-07-30 05:29] paul99 commented on #151
Balázs, I know your CL to remove it landed long ago: https://codereview.chromium.org/1204903004

Is there something else that must be done here with qemu?

I think the instructions on the wiki for building for qemu might have been updated in this timeframe. Maybe you should try that again, as we have several r6 bugs to chase. But that work does not need to be done under this issue. You can probabl

[2015-07-30 05:32] paul99 commented on #149
Dusan updated https://codereview.chromium.org/1216823003/ just before he left. I have not reviewed it yet. I will try to do so tomorrow. Ákos, can you also review this one. I am assigning it to you now.

Even if this passes our reviews tomorrow, I want to wait and land this only _after_ the tree is opened, and we have a day or so of testing history.

Right now we have a lot in the CQ, and I'm sure

[2015-07-30 05:34] paul99 commented on #147
This is in CQ, but blocked due to closed tree. Let's verify this on BB once it lands, and then please close it, Ilija.

[2015-07-30 05:40] paul99 commented on #144
This was fixed with the pair of CL's listed above, and was also verified fixed by Google's clusterfuzz tester in restricted issue https://code.google.com/p/chromium/issues/detail?id=500176: 'ClusterFuzz has detected this issue as fixed in range 29029:29030.'

Closing.

[2015-07-30 05:40] #144 closed, assigned to dusmil

[2015-07-30 05:42] paul99 commented on #142
@ilijapavlovic does this need more testing or followup? Or is it fixed?

[2015-07-30 05:45] paul99 commented on #139
We've stalled on this one. We have some perf anomalies that cannot yet be explained. Per @djpesic, this is _not_ related to unaligned access.

I'm going to put this on-hold for now (which it has been by default), but let's fix more bugs, and then come back to getting this perf improvement figured out.

[2015-07-30 05:53] paul99 commented on #136
I'd like to discuss this with you guys in more detail. It would be good to upload your current code somewhere (unpublished Reitveld CL, or to paul99/v8mips repo on a branch) so I can review it, to understand what you've done. I very likely will want to have a Skype call and have you discuss the conceptual part (like _why_ the delayed assembly helps, what specific issue the multiple different tramp

[2015-07-30 05:54] paul99 commented on #112
Closed due to no response, and that we have much alternative 64-bit platforms now.

[2015-07-30 05:54] #112 closed, assigned to palfia

[2015-07-30 05:57] paul99 commented on #164
More details are in https://github.com/paul99/v8m-rb/issues/128, which is effectively a dup of this one, which I will now close.

[2015-07-30 05:58] paul99 commented on #128
I'm closing this, since I (erroneously) opened new issue https://github.com/paul99/v8m-rb/issues/164, and these are now dups. We will use 164 to track this.

[2015-07-30 05:58] #128 closed, assigned to nobody

[2015-07-30 06:01] paul99 commented on #122
@MIPSbkirby I think this can be closed, we have been been building with this toolchain (and your no-format-pedantic patch for a long time. I don't recall any of these tests failing recently. If this is really outdated, please close it.

[2015-07-30 06:03] ilijapavlovic commented on #147
Ok.

[2015-07-30 06:07] ilijapavlovic commented on #156
On the bot "Sim - MIPS64 - Debug - edge - mozilla" (Aug 04, 2015) it seem fine.
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mozilla/builds/4495
In log
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mozilla/builds/4495/steps/Mozilla/logs/stdio
this test is marked as passed.

[code]

I tried this test on my machine and the test fai

[2015-07-30 06:14] paul99 commented on #109
This issue is still valid, Threading3 is still on the skip list. We should reopen investigation, and re-test. Assigning to Ivica.

[2015-07-30 06:34] ilijapavlovic commented on #142
No. It does not need more testing. This problem is fixed in the branch 4.4.32.
This issues can be closed. The main goal of my work here was to find which commit solves this problem.

[2015-07-30 06:48] paul99 commented on #142
Closing.

[2015-07-30 06:48] #142 closed, assigned to ilijapavlovic

[2015-07-30 09:39] ilijapavlovic commented on #166
Additional explanation: - time zone "London" is "UTC±00:00"

[2015-07-30 10:49] ilijapavlovic commented on #147
Landed.
https://chromium.googlesource.com/v8/v8/+/496bd53bcc9d5d58c5df2e707933b47f2dd2fecd

[2015-07-30 12:16] ilijapavlovic commented on #158
It seems that the cause for this problem is in setting for LANG environment variable for OS on test system.
- `LANG=en_US_POSIX` : the problem will be reproduced.
- `LANG=en_US` : the test will pass.

See:
http://unicode.org/pipermail/cldr-users/2014-September/000143.html
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl#Locale_identification_and_negotiation

[2015-07-30 12:42] ibogosavljevic commented on #136
I uploaded the code to paul99/v8mips,
branches: regexp-size-delayed-squashed (one big commit with all changes) and regexp-size-delayed (many smaller commits, can see the history)

Please focus on MIP32 implementation because it is more complete (MIPS64 misses delayed assembly stuff). Tests are passing, but the code is not pretty formatted, many functions might need renaming, so don't be too harsh

[2015-07-30 12:55] kilvadyb commented on #151
I hoped that arm guys found a solution quickly but VisitFloat*[Max|Max]() functions are still UNREACHABLE() on arm64 so I close this issue.

[2015-07-30 12:55] #151 closed, assigned to kilvadyb

[2015-07-30 14:38] ilijapavlovic commented on #138
Disassembling bal instruction works fine. These are results of disassembler test (the output is adapted because of readability and clarity):
- MIPS32r6 (debug)

[code]
- MIPS64r6 (debug)

[code]

This is tested with following commit:

[code]

[2015-07-31 00:55] paul99 commented on #154
Replaces the 64-bit div instruction with 32-bit division in DivI.
Also fixes the Ddiv implementation in the simulator.
TEST=mjsunit/asm/int32div

Landed today https://crrev.com/437c789a26960e6902fe7f905c6b7dc5784c8c9b
Verified on the bots. Closing.

[2015-07-31 02:05] MIPSbkirby commented on #122
We have been building and testing with the Codescape 2015.01-5 since sometime in April.  So, this issue is resolved.

[2015-07-31 02:05] #122 closed, assigned to MIPSbkirby

[2015-07-31 02:55] paul99 commented on #158
Ákos, can you take a look at this, with Ilija's comments  in mind. I've noticed that our boards and build machines seem to have `LANG=en_US.UTF-8`. I did not get to changing this today, and retesting. Also please see comments in 166.

I also saw that on mips32 target boards, these seemed to fail always on CI-20 boards. And builds where these tests passed were on some other board. Here are some  ex

[2015-07-31 17:51] palfia commented on #158
Ilija, Thanks for the info! I can confirm that these tests pass with LANG=en_US.UTF-8 and fails with LANG= en_US_POSIX.

I've reviewed the BB results (I went through only a hundred results back) and it seems these tests constantly fail on these boards (and maybe on others):

ci20-board-1
ci20-board-2
erpro8-board-15
popcorn-hour-board-1

And always pass on these:

erpro8-board-7
erpro8-board-9
erp

[2015-07-31 18:46] paul99 commented on #158
@MIPSbkirby can you take a look at above LANG env-var settings, and tell us if there is any override within the BB config?

I checked this on one of the CI-20 boards yesterday, and it was set: `LANG=en_US.UTF-8`. (even for bbv8 user.) Which is the setting that should pass.

It's mysterious why some boards seem to (always? or intermittently?)  fail these tests....

[2015-07-31 20:09] paul99 commented on #157
This is no longer failing, and started working Friday July 24 with this:

[code]

The flag was reverted to false, and then back to true earlier this week.

I suspect this means that the IC-based approach (when flag is false) uses more stack space, and causes the failure, but that is just a guess.

(In a perfect world we might investigate this a little more, but we got lots of problems to solve. If

[2015-07-31 21:50] MIPSbkirby commented on #158
When I looked at builds that pass, I see the LANG=en_US.UTF-8.  And, when I looked at all the linked failing builds they all don't have LANG in the environment.  I'll get LANG=en_US.UTF-8 set on the failing boards and confirm it's set on the rest of the Buildbot slaves.

[2015-08-01 02:03] MIPSbkirby commented on #158
The locale settings a few of the boards wasn't setup correctly.  It either didn't have en_US.UTF-8 and en_US ISO-8859-1 uncommented in /etc/locale.gen or it didn't have a LANG set in /etc/default/locale.  I've fixed this on all the boards.  Then, found all the Buildbot slaves that didn't have LANG in their environment and restarted them.  Also, I made sure the bbv8 init script gets the LANG variab

[2015-08-01 02:03] #158 closed, assigned to palfia

[2015-08-03 02:56] paul99 commented on #104
@MIPSbkirby, can you please look into this?

Also, I don't see evidence of `smwrapper` being run on the buildbots currently, even for 32-bit boards. If it is there, can you tell me how to see it? (I would have thought it would be a test-runner command prefix.)

[2015-08-03 03:05] paul99 commented on #166
@ilijapavlovic - I suspect there is something more to this than _just_ the timezone setting.

Our 32-bit boards, and our 32 & 64-bit simulators pass this test, and I suspect all of them are set for the same timezone, PDT.

Could there be some other setting that is different on some boards, as we saw with the locale setting?

[2015-08-03 03:33] paul99 opened #167 "Multiple r6 failures to fix"
This is a tracking issue for a variety of fails on r6. Builders for r6 running on Qemu have been recently enabled on the bots, and we have many issues to track down and fix.

I will create some specific bug issues, but in general, I would ask that those working on this activity look at the bots, pick an issue to investigate, create a specific github issue for it, and then fix and update the issue.

[2015-08-03 03:41] paul99 opened #168 "mips32r6 QuietSignalingNaNs fail."
This is an easy one. test-api.cc : 15819 & 15840 have lines like this:

[code]

Thes should have exclusion mips32r6, but do not. Ákos, can you please do a fix? This will have to get reviewed by Jakob or other v8-team member.

You might also look to see if there are NaN differences anywhere else:

For instance, cctest/test-assembler-mips/class_fmt fails like this:

[code]

[2015-08-03 03:49] paul99 commented on #147
Thanks for the fix! Closing.

[2015-08-03 03:49] #147 closed, assigned to ilijapavlovic

[2015-08-03 03:54] paul99 commented on #149
Dusan's CL  https://codereview.chromium.org/1216823003/ fixed this issue, but had a typo that caused a diff failure in `mjsunit/regexp-captures`, `mjsunit/string-slices-regexp`, `mjsunit/regress/regress-crbug-178790`.

I approved his CL, and fixed the small j->jal issue on landing.

https://crrev.com/38501327599ae6ac7c255205c61c00aeed09da13

Verfiied on the bots, closing.

[2015-08-03 03:54] #149 closed, assigned to palfia

[2015-08-03 04:08] paul99 commented on #136
I've started looking at this code, and will continue on Monday. As discussed with Ivica last week, we need to find a suite of regexp tests to prove the new changes in a variety of scenarios.

While investigating a different issue, I found that these tests:  `mjsunit/regexp-captures`, `mjsunit/string-slices-regexp`, `mjsunit/regress/regress-crbug-178790` all generate regexp that require long-branch

[2015-08-03 04:11] paul99 commented on #129
this one got stale from lack of attention :-(

There are not near so many r6 failures now, and the current ones are documented in https://github.com/paul99/v8m-rb/issues/167

I'm going to close this one.

[2015-08-03 04:11] #129 closed, assigned to nobody

[2015-08-03 04:14] paul99 commented on #123
The answer is correct, and no further action is needed. Closing.

[2015-08-03 04:14] #123 closed, assigned to dusmil

[2015-08-03 07:03] ilijapavlovic commented on #166
I set time zone on value where the test fails, and then I tried with changing other parameters (LANG, LC_TIME) but I couldn't achieve that the test is passed.
For us it would be useful to get output for following commands on boards:

[code]

[2015-08-03 13:33] palfia opened #169 "Qemu r6 failure: ConvertDToI"
This test fails with the following output:

Test: cctest/test-code-stubs-mips/ConvertDToI
Flags: --nocrankshaft
Command: /mips/tools/mips/swpkgs/bin/qemu-mipsel-V8-prpl-i6400-mips64r6-PRIP4-32399a2 -R 2147483648 -cpu mips32r6-generic out/Release/cctest --random-seed=772700394 --nocrankshaft test-code-stubs-mips/ConvertDToI --nohard-abort --nodead-code-elimination --nofold-constants --testing_seria

[2015-08-03 20:30] MIPSbkirby commented on #104
The `smwrapper` is no longer being run.  It was removed when we switched to recipes.  I've dredged up how it was run before and it should be possible to add it back if necessary.

[2015-08-03 23:45] paul99 commented on #104
I would like to add it back. Since it has not been run in a while, maybe we should either (a) manually test with it on all targets first, or (b) add it back incrementally, a few targets at a time.

It would also be great of you could rename it, or at least describe what it means? It certainly does not convey its purpose (disable kernel alignment fixups, so that alignment errors become fatal) to me

[2015-08-04 10:07] #156 closed, assigned to ilijapavlovic

[2015-08-04 11:20] djpesic opened #170 "Qemu mips32r6 failure: class_fmt"
cctest/test-assembler-mips/class_fmt fails in debug and release mode with:
Fatal error in ../test/cctest/test-assembler-mips.cc, line 3383
Check failed: bit_cast<int64_t>(t.dSignalingNan) == 0x001 (2 vs. 1).
Command:
tools/run-tests.py -j8 --arch=mipsel --mode=debug  --timeout=20000 --verbose --time --no-presubmit  --command-prefix="qemu-mipsel -R 2147483648 -cpu mips32r6-generic" 'cctest/test-ass

[2015-08-04 11:35] ilijapavlovic opened #171 "Qemu mips32r6 failure: mov"
Test `cctest/test-assembler-mips/mov` fails for architecture mips32el in release mode.
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/107/steps/Check/logs/mov

[code]

The test should be checked also for debug mode and mips64el architecture.

[2015-08-04 12:11] djpesic commented on #170
After some investigation, I suspect that qemu doesn't work properly with class.fmt instruction. Manual says:

[code]

For bits 0 and 1, qemu does opposite than manual. If fs contanins signaling NaN, qemu sets bit 1 and for quiet NaN, qemu sets bit0. To verify this, I made a v8- independent C program, and run it under qemu. Results confirms that qemu doesn't work properly with NaN numbers. This is

[2015-08-04 12:26] djpesic opened #172 "Qemu mipr32r6 and mips64r6 failure: min_max and mina_maxa"
cctest/test-assembler-mips/min_max fails in debug and release mode with:
Fatal error in ../test/cctest/test-assembler-mips64.cc, line 1607
 Check failed: test.c == outputsdmin[i](nan vs. 3).

Command:
 tools/run-tests.py -j8 --arch=mips64el --mode=debug  --timeout=20000   --no-presubmit  --command-prefix="qemu-mips64el -R 2147483648 -cpu mips64r6-generic" test-assembler-mips  'cctest/test-assemble

[2015-08-04 12:51] djpesic commented on #172
cctest/test-assembler-mips/mina_maxa fails in debug and release mode with:
Fatal error in ../test/cctest/test-assembler-mips.cc, line 1898
Check failed: test.resd == resd[i](-9.8 vs. 9.8).

Command:
tools/run-tests.py -j8 --arch=mipsel --mode=debug  --timeout=20000   --no-presubmit  --command-prefix="qemu-mipsel -R 2147483648 -cpu mips32r6-generic" test-assembler-mips  'cctest/test-assembler-mips/

[2015-08-04 13:55] ilijapavlovic commented on #171
On MIPS32r2 and MIPS64r2 boards and in release mode this test is successful.
The test also passes on simulator for MIPS32r6 and MIPS64r6 in release mode.

[2015-08-04 17:36] petar-jovanovic commented on #170
Hmm, this indeed could be a QEMU issue. It seems that QNAN/SNAN differentiation is not correctly implemented in all parts of the code and still some build-time flags exist. I experimented with QEMU ToT and mips32r6 CPU, and here is a workaround that could be applied for building QEMU that will be used for R6 testing. Note: this is just a workaround (it would break pre R5 support at the same place)

[2015-08-05 06:13] djpesic commented on #170
I inserted this patch into qemu code. Now, this test passes on mips32r6 and mips64r6, in debug and release mode.

[2015-08-05 13:10] djpesic commented on #172
After some investigation, I suspect on wrong qemu behavior in following situation: when the first argument is NaN and the second argument is number (same for opposite) result is NaN, instead of number. For example: min NaN, 3.0 produces NaN, result should be 3.0. There are one more error in mina_maxa test, due to  misunderstanding of manual: mina result when absolute values of arguments are the sa

[2015-08-06 09:05] ilijapavlovic commented on #171
The test uses MIPS32 instructions LDC1 and SDC1. Interesting thing is that these instructions are replaced with sequence instructions which will do equivalent actions.
LDC1:

[code]

SDC1:

[code]

[2015-08-06 09:19] djpesic commented on #170
Fix for missing NaN checks in mips64r6 test
https://codereview.chromium.org/1276813004/
PTAL

[2015-08-06 09:20] djpesic commented on #172
Fix for an error in mina and new test cases.
https://codereview.chromium.org/1276813004/
PTAL

[2015-08-06 16:40] paul99 commented on #171
Yes, this is an alignment workaround in 32-bit mips v8. The 'real' ldc1/sdc1 instructions require 8-byte alignment, or they generate address error exception. 32-bit versions of v8 (on any arch) only guarantee 4-byte alignment of doubles. So this workaround is done. See https://github.com/paul99/v8mips/blob/e296644f953f5af906483abaa0965818c5369dd9/src/mips/assembler-mips.cc#L2027

This _should_ hav

[2015-08-06 20:53] kwan0xfff commented on #103
Just FYI. We're making progress on running 4.1.4 on ER Pro-8. This applies to both big- and little-endian.

[2015-08-07 06:07] mkaric opened #173 "Qemu mips32r6 failure: double-hi"
Test: mjsunit/asm/double-hi
Flags: --stress-opt --always-opt
Command: /mips/tools/mips/swpkgs/bin/qemu-mipsel-V8-prpl-i6400-mips64r6-PRIP4-32399a2 -R 2147483648 -cpu mips32r6-generic out/Debug/d8 --test --random-seed=812368788 --stress-opt --always-opt --nohard-abort --nodead-code-elimination --nofold-constants --enable-slow-asserts --debug-code --verify-heap --allow-natives-syntax test/mjsunit/mj

[2015-08-07 06:52] mkaric commented on #166
I think the problem is in the test itself and in setting it to FAIL in status file. It is designed to check if the date returned is in UTC, when the time zone is not specified. This is in accordance with ES5 specification. This changed in ES6, which states local timezone should be used. This was adjusted for v8 in https://chromium.googlesource.com/v8/v8/+/f06754a8e1d305a43560705f6c167d85d40e602d.

[2015-08-07 07:02] ilijapavlovic commented on #166
In the output of command there was nothing strange or unusual (time zones are set on PDT, LC_TIME=en_US.UTF-8, ...).

[2015-08-07 08:14] mkaric commented on #109
I managed to get this test to fail on simulator for mips, mipsel and ia32 with the same error message. Logs are missing so I couldn't get the command used on bots but using this command I got the test to fail consistently:

[code]

It seems this failure is not specific to mips.

[2015-08-07 09:58] djpesic opened #174 "Qemu mips64r6 failure: cctest/test-lockers/LockTwiceAndUnlock"
This test fails on mips64r6 in debug and release mode. It passes on mips32r6.
Failure message: sometimes it is
 Fatal error in heap setup
Allocation failed - process out of memory
sometimes it is
terminate called after throwing an instance of 'St9bad_alloc'
  what():  std::bad_alloc
qemu: uncaught target signal 6 (Aborted) - core dumped
All 4 variants fail.
According to failure messages, it can be

[2015-08-07 13:14] ilijapavlovic commented on #171
In the trace from Qemu, following error messages are found:
1) "do_raise_exception_err: 17 0"
- this message appears several times and almost on the beginning of the trace
  2) "mips_cpu_handle_mmu_fault pc 0093dea8 ad 33333333 rw 1 mmu_idx 2"S
- this message appears only one at the end

We spend lot of time on GDB in attempts to use it for getting something useful from Qemu, but without success.

[2015-08-08 00:49] MIPSbkirby commented on #104
I've added the disable-kernel-alignment-fixups program to the Buildbots.  run-tests.py runs under this program disabling the kernel alignment fixups.  When a program with unaligned data runs under this program, it will generate a bus error.  I've tested all the test suites and this doesn't add any new failures.

**Note:** disable-kernel-alignment-fixups only disables the kernel fixups only.  On Ca

[2015-08-08 00:49] #104 closed, assigned to MIPSbkirby

[2015-08-10 05:23] paul99 commented on #172
Landed: https://crrev.com/46fafcd706c0c161013c4904b69af0061d983d6f

Closing.

[2015-08-10 05:23] #172 closed, assigned to nobody

[2015-08-10 07:17] paul99 commented on #171
At Rich F's suggestion I went to a slightly newer release of the r6 codescape toolchain. The overall toolchain page is here: http://codescape-mips-sdk.imgtec.com/components/toolchain/2015.01-7/

For r6, you want the IMG GNU Linux Toolchain, most likely the x86_64 version here: http://codescape-mips-sdk.imgtec.com/components/toolchain/2015.01-7/Codescape.GNU.Tools.Package.2015.01-7.for.MIPS.IMG.Lin

[2015-08-10 08:44] djpesic commented on #171
I downloaded Codescape 2015.01-7 but archive is corrupted

[2015-08-10 08:59] djpesic commented on #171
Archive for codescape toolchain is corrupted

[2015-08-10 18:00] paul99 commented on #171
@djpesic - I got email that you could not download the toolchain, but your comment does not appear here in the issue??

In any case, I was able to get it, from inside & outside Imgtec, and verified the md5sum ,and un-tarred it successfully. Maybe there is an issue with CDN serving you guys there in Europe?

In any case, I put the tarball in our dropbox mips/toolchains, and I re-sent you an invite

[2015-08-10 18:27] petar-jovanovic commented on #171
Djordje removed the comment as he sorted out the problem.

[2015-08-11 04:19] paul99 opened #175 "test-run-native-calls/Run_Int32_Select_N failures"
Failures from new tests in `71409be5 [turbofan] Various fixes to allow unboxed doubles as arguments in registers and on the stack.`

Happens on sim & hardware, and on google's bots also. Here is example: https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/7742

@palfia - can you please look at this one ASAP. If you get a fix during the day your time, please ask Ben T to review.

[2015-08-11 04:33] paul99 commented on #175
We're definitely returning the wrong value, but I've not been able to see if this is from pushing the Call parameters on the stack wrong, or indexing to the wrong param. I had first suspected argument slots problem. But the numbers don't appear to be off by 4.

Note that a while back, Bendikt had added support in linkage-mips.cc for the arg slots (so it looked), but recently this was refactored by

[2015-08-11 04:38] paul99 commented on #157
This issue is back, since the flag was set false today in: `83c91aaf Disable --global-var-shortcuts.`

[2015-08-11 15:28] djpesic commented on #174
After playing with -R flag, I found that without -R flag, test also fails with:

 Fatal error in heap setup
Allocation failed - process out of memory

After setting -R flag to 10701766656 bytes (10GB) test passes

[2015-08-12 04:08] paul99 commented on #175
This was reverted, for breaking MIPS, and was fixed and re-landed by Ben T. in `17f4c5bb Reland: [turbofan] Various fixes to allow unboxed doubles as arguments in registers and on the stack.`

The problem was an incorrect frame-size computation in TF CodeGenerator::AssemblePrologue(). Closing.

[2015-08-12 04:08] #175 closed, assigned to palfia

[2015-08-12 15:44] mkaric commented on #173
This test no longer fails on buildbot. I will investigate which commit fixed the issue.

[2015-08-13 04:50] paul99 commented on #157
This error was fixed today by Yang's https://crrev.com/5df7d689eb3b1ad73ed673c356bab85766d15700 / https://codereview.chromium.org/1282793002.

The `--global-var-shortcuts` flag was _not_ set back true, so this seems to fix the underlying cause,

At first look, I don't understand why. Balázs, when you return from vacation, can you please look at this and see if you can explain the reason for the fi

[2015-08-13 09:40] djpesic commented on #174
I copied staticaly build v8 code to qemu in system mode. I run test for mips32r6 and mips64r6, debug and release. All variants passed.

[2015-08-13 10:32] djpesic opened #176 "Mips64r6 qemu failure: mjsunit/harmony/atomics"
This test passes on mip32r6 release and debug and fails on mips64r6 in debug mode with:
Check failed: (value & V8_UINT64_C(0x7FF8000000000000)) != unexpected || (value & V8_UINT64_C(0x0007FFFFFFFFFFFF)) == V8_UINT64_C(0).

[2015-08-13 10:48] djpesic commented on #170
Landed: https://crrev.com/46fafcd706c0c161013c4904b69af0061d983d6f
Closing.

[2015-08-13 10:48] #170 closed, assigned to nobody

[2015-08-13 17:15] paul99 commented on #157
And possibly another clue to this: today Yang checked in this CL:  https://codereview.chromium.org/1287243002
https://chromium.googlesource.com/v8/v8/+/890b1dfca84d9dfecdcfc56517ef541076c6eb1d

and that made these 2 tests fail again for mips64: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/4452

He reverted this for failing on no-snap builders (also including mip

[2015-08-14 07:29] djpesic commented on #176
This failure is fixed with Petar's NaN fix from #170. I run test in qemu user-mode and qemu system-mode and test passes, after adding NaN fix.

[2015-08-14 11:17] djpesic opened #177 "Qemu r6 failure: /mjsunit/compiler/division-by-constant"
This test has frequent  failures, sometimes some variants pass. On user mode, failures are less frequent. Failure message:
Fatal error in ../src/ic/ic-state.cc, line 280
Check failed: right->IsUndefined() || right->IsBoolean().

[2015-08-14 22:57] paul99 commented on #174
OK, so system mode qemu passed these tests, and user-mode failed. I presume this is with the same binary v8 build?

I think you said you had to statically link d8 & cctest in order to use system mode qemu. Did you test those static versions on user-mode qemu?

Assuming that static v8 build used on both, then there must be some issue with the way memory is allocated, because I am pretty sure that s

[2015-08-17 07:22] djpesic commented on #174
I ran both statically linked v8 code on system-mode-qemu and user-mode-qemu. In system-mode, I didn't set -R flag.
Run commands for system-mode:

tools/run-tests.py -j8 --arch=mips64el --mode=debug  --timeout=20000  --time --no-presubmit  'cctest/test-lockers/LockTwiceAndUnlock'
tools/run-tests.py -j8 --arch=mipsel --mode=debug  --timeout=20000  --time --no-presubmit  'cctest/test-lockers/LockTwic

[2015-08-18 09:49] ibogosavljevic commented on #136
Did some thorough performance benchmarks with and without the changes. Executed google octane benchmarks around 300 times for with and without regexp modifications on CI20 board.

Here are the results:
![image](https://cloud.githubusercontent.com/assets/8425647/9327148/06ed158a-459f-11e5-9d97-62c7baf4d9f7.png)
![image](https://cloud.githubusercontent.com/assets/8425647/9327155/0e0eaf9a-459f-11e5-9

[2015-08-18 10:27] djpesic commented on #174
User-mode: test during isolate initialization (more concrete, when isolates sets heap up). Failure is detected in heap.cc, function Heap::SetUp, code:
`
 if (!isolate_->code_range()->SetUp(code_range_size_)){return false;}
`
This is probably caused by qemu user mode inability to provide enough memory for test, while qemu system mode provide it.

[2015-08-21 11:32] djpesic opened #178 "Qemu r6 failure mjsunit/asm/float64array-outofbounds and mjsunit/asm/float64array-negative-offset"
Tests fail under qemu-user-mode (crash, exit code -11). With host gdb, we can see backtrace after failure.
Command example (with -R):
`gdb --args /home/rtrk/Documents/software/qemu/qemu-mips64/mips64el-linux-user/qemu-mips64el -R 2147483648 -cpu mips64r6-generic /home/rtrk/Documents/software/v8/out/mips64el.debug/d8 --test --random-seed=-256153909 --nocrankshaft --nohard-abort --nodead-code-elimin

[2015-08-24 14:53] ibogosavljevic commented on #174
A notice: the same test fails under qemu when build for MIPS64r2 using Sourcery CodeBench Lite 2014.05-27 toolchain.

Since the same test does not crash neither on board nor simulator, it is safe to assume here that the problem is related to qemu memory management and not v8 R6 specific issue.

[2015-08-25 12:19] petar-jovanovic commented on #174
We still should come up with a simple program/example of this 'qemu-memory-management' problem.

[2015-08-25 13:07] ibogosavljevic opened #179 "Tests from cctest/test-debug suite are failing on qemu-user mips64r6"
There is a group of tests from mips64r6 which are crashing on qemu-user with identical errors. here is the list.
All the tests are failing when executed with  --turbo --always-opt switches and produce the same error

[code]

Here is the list of tests

[code]

[2015-08-25 14:12] paul99 commented on #179
Do these pass on qemu-system mode?

Is gdb working well enough on qemyu-user to see backtrace and source instruction that crashes?

[2015-08-25 14:18] ibogosavljevic commented on #174
Here is the list of all tests which fail on qemu R2 and qemu R6 with the same error message:

[code]

Additionally, following tests fail on both qemu R2 and qemu R6 with error message:

[code]

[code]

[2015-08-25 14:33] mkaric commented on #173
I discovered many tests that fail with the same error message and probably have the same root cause:

[code]

There is probably more as I didn't check all builds. None of these tests fail on mips64 or in release mode with the same message, only mips32 in debug mode. Most of these tests fail on few commits, and pass on others. Also adding minor changes to a test, like adding a print, can cause it t

[2015-08-25 17:08] paul99 commented on #154
Miran sent me a slack message about this fix, and his suspicion that it should be fixed same way in FlooringDiv. @palfia, can you please take a another look? @mkaric can you see if you can adapt the (previously failing) test to provoke a failure on either boards or sim?

[code]

[code]

[2015-08-26 09:20] ibogosavljevic commented on #174
Just a notice: none of the above tests fail on qemu-system

[2015-08-26 13:33] ibogosavljevic commented on #179
The tests are failing on mips64r6 in release mode only:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/384/steps/Check/logs/stdio

The tests are failing on qemu-system as well.
The tests are not failing in mips32.

[2015-08-27 10:54] djpesic commented on #178
I found possible manifestation of the problem. Here is the sequence (mips32):
0x54311a30   240  e4200000       swc1    f0, 0(at)
0x54311a34   244  44610000       mfhc1   at, f0
0x54311a38   248  ac210004       sw      at, 4(at)

On mips64, it is:

0xfff031773c   188  f4200000       sdc1    f0, 0(at)

After debugging through generated assembly, i see that at register with destination address is ove

[2015-08-27 14:38] paul99 commented on #178
OK, great find! the implementation of ldc1 & sdc1 explicitly uses `at`, in FP64 mode, but also in FP32 mode, when the offset is longer than 16 bits. (also true for mips64 with long offset).

So using a src register of `at` is illegal.

Suggest you add `DCHECK(!src.rm().is(at))` or maybe even CHECK() at first, to find the place where we use `at` incorrectly. All uses like that will have to be chang

[2015-08-27 18:37] paul99 opened #180 "Add DCHECK for reg 'at' to macro-asm Branch()"
The BranchShort() macros trash the `at` register in some circumstances, but not in others.

This usage is OK:

[code]

These would not be:

[code]

The differences are subtle, and therefore fragile. The use of `at` as `Register rs` in Branch() macros should be disallowed by adding an assertion: `DCHECK(!rs.is(at))`

I won't be surprised if we have to fix some existing usages after adding this, so

[2015-08-31 03:34] paul99 opened #181 "Understand/fix V8_ALIGNED() macro for Windows"
Regarding the mips64 alignment issue that BenT requested (and I think you were all copied on):

In https://codereview.chromium.org/1323663003/ patchset 3, I _thought_ I had a solution using V8_ALIGNED() that would work on all arch's, but you can see from the trybots that all the windows builders fail.

Example: http://build.chromium.org/p/tryserver.v8/builders/v8_win_compile_dbg/builds/7165/steps/

[2015-08-31 11:25] ibogosavljevic commented on #181
There is a problem with `__declspec(align(n))` directive. The parameter of alignment can only be a compile time constant expression, whereas in our case we provide `const int kDoubleSize    = sizeof(double)` as a parameter of alignment.  This is a known issue, see here http://computer-programming-forum.com/7-vc.net/fbdd26987ff6f71e.htm

Visual Studio 2015 supports standard C++ way of defining alig

[2015-08-31 12:24] paul99 commented on #181
Can I  use 'sizeof(double)' ?

If not, I will just use 8.

[2015-08-31 12:26] ibogosavljevic commented on #181
sizeof(double) is unknown at compile time :(

[2015-08-31 15:05] paul99 commented on #181
Thanks! I hard-coded to 8. Closing.

[2015-08-31 15:05] #181 closed, assigned to ibogosavljevic

[2015-08-31 23:28] paul99 opened #182 "Move Assembler::ldc1/sdc1to macro-assembler"
These 2 functions used to be quite simple in mips32, and we justified emitting them directly in assembler.

Now they are silly complicated, and we should move them to the macro-assembler as Ldc1() and Sdc1() and fix all usages.

There is some room for argument about what should be done with mips64. _All_ the load/store ops now include this usage of `LoadRegPlusOffsetToAt()`, which causes the emit

[2015-09-01 13:19] palfia commented on #154
Yes, Miran's right. Thanks for calling our attention. The FlooringDivI should also be corrected to use Div instead of Ddiv. The arm64 port uses Sdiv with 'w' registers, so they also do a 32-bit divide here.

[2015-09-01 13:22] mkaric commented on #154
I modified int32div.js test to execute DoFlooringDivI function instead of DoDivI in v8, but the test passes. It also passes with the correction.

[2015-09-01 15:59] palfia commented on #168
Closing issue, the fix is landed: https://codereview.chromium.org/1311473007/

[2015-09-01 15:59] #168 closed, assigned to palfia

[2015-09-03 11:01] mkaric commented on #154
hdiv->CheckFlag(HValue::kAllUsesTruncatingToInt32) returns false in DoFlooringDivI, and true in DoDivI. This causes the check:

[code]

to deoptimize in DoFlooringDivI and not in DoDivI, and that is why the test never fails in DoFlooringDivI and fails in DoDivI. If I comment out this check in DoFlooringDivI, the test fails.

[2015-09-03 14:35] ilijapavlovic commented on #171
The test fails only with mipsel.release on Qemu with system emulation.

In the test, if the line with sdc1 instruction is deleted (or commented),
the test will fail but the message "Segmentation fault" will not appear.

With carefull debugging, it is noted that the problem is not in the sdc1 instruction.
The test has 4 iterations and all iterations are executed without problems.
The registers have

[2015-09-04 03:59] paul99 commented on #154
OK, so is that then the final proof that we do need to fix the FlooringDiv as we did with the DoDiv()? If so, please prepare a CL for this.

[2015-09-04 09:06] mkaric commented on #154
Not a proof because as I said DoFlooringDivI will deoptimize. I think the question is why DoDivI doesn't. Both functions do the same thing, only DoFlooringDivI substracts 1 from the result if the remainder is not 0 and result negative. I looked at DoMathAbs, the same case of kMinInt/-1 (actually 0-kMinInt) is covered here and we still deoptimize if the result is kMinInt. I think DoDivI should also

[2015-09-04 11:10] djpesic opened #183 "Test failing on user mode qemu, passing on system mode qemu"
This issue should track test failing under user mode qemu, passing under system mode qemu. This behavior is on my side, if anyone has different behavior, please post here. For now, i found these tests (test groups):
'cctest/test-cpu-profiler/NativeAccessorMonomorphicIC'
'cctest/test-cpu-profiler/NativeAccessorUninitializedIC'
'cctest/test-cpu-profiler/NativeMethodMonomorphicIC'
'cctest/test-cpu-pr

[2015-09-04 12:36] mkaric commented on #177
This failure is related to #173 and is processed there.

[2015-09-04 12:56] mkaric commented on #173
Test double-hi passes in both system and user mode qemu when v8 is built with snapshot=off. Test division-by-constant and math-floor tests still fail.

[2015-09-07 04:47] paul99 commented on #166
I see that this now fails on the MIPS bot for mips32 target builds, starting at Build: https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20test262/builds/3940.

Unfortunately, there were a lot of missed commits between the last working build (3927) and that one due to some Biuldbot problem, followed by a simple error that caused the gcc builds to fail for a while.

So there is a whole list o

[2015-09-07 04:52] paul99 commented on #178
Hi @djpesic : what happened with CL https://codereview.chromium.org/1323763002/ ? I thought you were planning to update the CL as we discussed, and re-test. Did testing uncover more issues?

[2015-09-07 07:56] djpesic opened #184 "Qemu r6 failure: BranchCombineInt32CmpI"
BranchCombineInt32CmpI test fails on mips64, release mode with segmentation fault, with --turbo --always opt flags. It passes in other variants. Failure is under system mode qemu.

[2015-09-07 10:48] djpesic commented on #178
I finished with testing and uploaded new patchset.

[2015-09-08 14:03] ibogosavljevic commented on #179
The crash in test cctest/test-debug/Backtrace crashes on the same place as #171 under in the Release mode (none of them crashes in DEBUG mode). This tests crash on Mips64, whereas #171 crash on Mips32. It is quite possible these two are related

[code]

[2015-09-09 07:41] mkaric commented on #166
Here is a patch for the test file test/test262/data/test/suite/ch15/15.9/15.9.1/15.9.1.15/15.9.1.15-1.js:

[code]

This should help us figure out if the issue is in builder configuration.

[2015-09-09 09:16] ilijapavlovic commented on #171
In the destructor, `CloseScope()` calls `ZapRange(current->next, prev_limit)`.
Variable `current->next` has value 0x33333333 which causes failing `ZapRange()` function.
Using GDB, generated code is disassembled and following lines are noted as important:

[code]

`ZapRange()` function uses as one argument content from memory location `7940(s8)`.
In mentioned memory location is previously stored co

[2015-09-09 09:18] mkaric commented on #166
Edited the patch, it now returns true in order to fail the test.

[2015-09-09 12:47] petar-jovanovic commented on #171
Registers $f20 to $f30 are callee saved registers, so clobbering these and not restoring the values later (before the return point) means the calling convention is broken. It should be noted that - despite expectations - integer only source code _can_ use floating point registers if the code is built with -mhard-float.
I suggest you replace the use of the saved registers with temporary registers (

[2015-09-10 01:01] MIPSbkirby commented on #166
I've added this patch to all the Buildbot test262 builders.  It will apply correctly (with some warnings) on slaves that have already downloaded the data, but haven't applied the patch.  It will fail on slaves that haven't downloaded the data, but this should be fairly rare.  It will, also, fail on slaves that have already gotten the patch, but this shouldn't be a problem as it doesn't modify the

[2015-09-10 06:33] djpesic commented on #178
Landed as https://crrev.com/9e05ee74467e9ee14e53452f719782b5fe73d92d. Closing.

[2015-09-10 06:33] #178 closed, assigned to nobody

[2015-09-10 06:34] #176 closed, assigned to nobody

[2015-09-10 07:41] mkaric commented on #166
Here is a log from one of the builders with the patch applied:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20test262/builds/2373/steps/Test262%20-%20no%20variants/logs/15.9.1.15-1
The output is:

[code]

Timezone offset = 0 means UTC timezone was read from the system, which causes the test to pass, resulting in a failure because of the status file. This indicates a configu

[2015-09-10 08:03] mkaric commented on #166
Here is what I get on my board:

[code]

By changing the TZ variable I got different results in the test. Here is another way that worked for me, without setting TZ:

[code]

[2015-09-10 13:24] ilijapavlovic opened #185 "Qemu mips32r6 failure: r6_beqzc"
Test cctest/test-assembler-mips/r6_beqzc fails for architecture mips32el in release mode.
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/553/steps/Check/logs/r6_beqzc

[code]

[2015-09-10 14:45] paul99 commented on #166
@MIPSbkirby can you take a look at the board configs and see why the timezone setting seems to be wrong (TZ offset == 0, and s/b 8)

[2015-09-10 16:30] paul99 commented on #105
@ilijapavlovic @ibogosavljevic @palfia

I guess we never followed up  to close this issue :(  It was fixed by Ákos in
b4275a70 [turbofan] Add CalleeSavedFPRegisters to CallDescriptor.
https://codereview.chromium.org/1191513003

Also some minor tweaks in https://codereview.chromium.org/1211143003
1ab39b49 MIPS: Fix '[turbofan] Add CalleeSavedFPRegisters to CallDescriptor.'
https://codereview.chromi

[2015-09-10 20:21] MIPSbkirby commented on #166
I'm not seeing any issues with the timezone on the boards:

[code]

Also, none of the timezone files are set to UTC:

[code]

However, when running this test262/15.9.1.15-1 on bbv8-erpro8-board-7, I see the following:

[code]

Even explicitly setting the TZ variable gets the same results:

[code]

[2015-09-10 21:09] MIPSbkirby commented on #166
In further investigating the problem, it looks like V8 looks for the timezone in "/usr/fake/etc/localtime".  I don't know what "/usr/fake/etc" is.  I'm guessing this is some sort of test environment that gets removed in release versions of V8.   When I create /usr/fake/etc and symbolicly link /usr/fake/etc/localtime to /etc/localtime, then the test works.

[code]

[2015-09-10 23:55] MIPSbkirby commented on #166
Paul found that /usr/fake/etc/localtime is in the libc from the Codescape 2015.01-7 SDK.   I've asked the compiler team why this is here and I'll open a bug with them if necessary.  In the meantime, I've added /usr/fake/etc/localtime to all the boards.  It's a symbolic link pointing at /etc/localtime.  In manual testing this makes the test work correctly.

[2015-09-11 04:16] paul99 commented on #171
Nice debug to find this out, Ilija! Petar is completely correct, the compiler can count on callee-saved registers being saved, we should not be using any callee saved regs in these assembler tests. Please check entire file for use of f20-f31 and replace as Petar suggested. Please also check for int GPR regs s0-s7.

Note that in these tests we are directly calling our generated assembly code from C

[2015-09-11 04:33] paul99 commented on #169
@palfia: DoubleToIStub() uses `DoubleRegister double_scratch = kLithiumScratchDouble;` and `kLithiumScratchDouble` is `f30`, which is a callee-saved double.

(It's possible that I have https://github.com/paul99/v8m-rb/issues/171 too much on my mind now, but please try this...)

Suggest you add save/restore of FPU regs to the MakeConvertDToIFuncTrampoline(), as is done in JSEntryStub()  [example fo

[2015-09-11 09:04] ilijapavlovic commented on #185
The test uses push(ra) and pop(ra) instructions for storing and restoring ra register. In specific test combinations of parameters a0 and offset (beqzc(a0, offset)), the push instructions didn't have paired pop instructions and this was the cause for failing the test.

[code]

If push instruction has not paired pop instruction, the stack pointer will be changed and it will cause problems in Handle

[2015-09-11 10:50] ibogosavljevic commented on #179
Here is the reason for the failure:
The v8 generated code uses register f31, and this register is not saved/restored when entering/exiting turbofan code.

Here are code snippets of the generated code from cctest/test-debug/Backtrace test:

[code]

also

[code]

The list of saved register is kept in frames-mips64.h:

[code]

We see that f31 is not saved here. If we add f31 in the list of saved regi

[2015-09-11 13:04] ilijapavlovic commented on #171
Other tests checked for f20-f31, s0-s7 and adapted. Ready for review:
https://codereview.chromium.org/1338713004/

[2015-09-11 13:04] ilijapavlovic commented on #185
Ready for review: https://codereview.chromium.org/1338713004/

[2015-09-11 14:08] palfia commented on #169
Yes, indeed the JIT code overwrites the callee-saved f30 register which breaks the C code, it bites us again.. I've added the save/restore code and the test works fine. Thanks @ilijapavlovic, nice investigation!

I've uploaded a CL, PTAL: https://codereview.chromium.org/1337023002

[2015-09-11 14:14] ibogosavljevic commented on #179
New feedback, according to observations from Petar:
If we use solution under 2), and replace register 31 with some other register (e.g. 30), we would need to modify Lithium register allocator not to use register 30 for it's own purposes. So it seems this solution is not as simple as it seems.

[2015-09-14 02:38] paul99 opened #186 "mips32r1/r6 dynamic mode detection and register allocator issues."
There is a mode of operation where v8 and possibly Chrome would be compiled for mips32r1 or mips32r2 but actually be running on a mips32r6 cpu. It is our intention to dynamically detect this at v8 startup, and emit JIT code for r6, so that it will run more efficiently. (Note that the mips32r6 cpu has _only_ fp64 mode)

One aspect of this operation which has not yet been discussed or implemented is

[2015-09-14 02:43] paul99 commented on #179
Thanks for spotting f31 being used. Obviously a problem. Amazing we got by as long as we have with using callee-saved regs inappropriately.

This has ties to several other issues about callee-saved regs flaws: https://github.com/paul99/v8m-rb/issues/171 and fixed/soon-to-be-closed https://github.com/paul99/v8m-rb/issues/105

But also has ties to two open issues that we _should_ address soon: https

[2015-09-14 15:55] paul99 commented on #154
Since we cannot repro a failure in DoFlooringDivI, let's just put this on hold for now. We have more important issues to work on. I've assigned this to Miran (who's done most of the recent work), but it is on hold, so we will come back to it later.

[2015-09-14 20:00] paul99 commented on #169
This was fixed by above CL, landed as https://crrev.com/a795aa350f4d62ccbd8ea2ec297e1d844229ba4a. Verified fix on the bots. closing.

[2015-09-14 20:00] #169 closed, assigned to palfia

[2015-09-15 01:55] paul99 commented on #186
@ibogosavljevic: there is a bit more complexity here than I had remembered. This document describes all the rules: https://dmz-portal.mips.com/wiki/MIPS_O32_ABI_-_FR0_and_FR1_Interlinking

If we are building a standalone Linux version of v8 (for node.js, as one example) for mips32r6, then we can use all the FP registers, and stay compatible with O32/FP64 ABI (Note section 9, the key item is: `6 do

[2015-09-15 07:45] ilijapavlovic commented on #171
Landed. https://crrev.com/863ff3e3dd1796072f48c2675aae0dddecbd2163

[2015-09-15 07:45] ilijapavlovic commented on #185
Landed. https://crrev.com/863ff3e3dd1796072f48c2675aae0dddecbd2163

[2015-09-15 08:51] mkaric commented on #154
My conclusion is that there will be no difference if Ddiv or Div is used in DoFlooringDivI function. We can make the change if we want to make the code analogous to arm64. If not the issue can be closed.

[2015-09-15 11:18] djpesic commented on #184
I found that Ivica's fix (replacing f23 instead of f31 for kDoubleCompareReg) for #179 solves this problem.

[2015-09-15 11:18] #184 closed, assigned to nobody

[2015-09-15 11:34] #171 closed, assigned to ilijapavlovic

[2015-09-15 11:35] #185 closed, assigned to ilijapavlovic

[2015-09-15 13:05] ibogosavljevic commented on #179
Patch sent for review: https://codereview.chromium.org/1346623002/

This fixes bunch of issues in MIPS64r6 release mode. It doesn't fix any issues on MIPS32r6. Here is the list of issues fixed by this patch (executed using qemu-user):

[code]

[2015-09-16 13:25] ibogosavljevic commented on #179
Landed https://chromium.googlesource.com/v8/v8/+/2d8d02f5558386438c3765146edecf5c5706fba3

[2015-09-17 08:03] djpesic opened #187 "Qemu r6 failure: mjsunit/regress/regress-944"
Test mjsunit/regress/regress-944 fails on mips32r6, debug mode with:
mjsunit/regress/regress-944

[code]

[2015-09-17 13:33] ibogosavljevic commented on #179
Problems fixed, closing bugs

[2015-09-17 13:33] #179 closed, assigned to ibogosavljevic

[2015-09-17 22:48] #166 closed, assigned to mkaric

[2015-09-18 00:42] paul99 commented on #138
@ilijapavlovic I think this issue is fixed, right? If so, can you please close it? If not, can you add a description of what remains to be done?

[2015-09-18 01:34] paul99 opened #188 "Benchmark branch-delay-slot performance"
**_Background:**_

When we start optimizing for r6, we will want to use compact-branches wherever possible.

Mostly likely we will refactor the Branch() macro-assembler instruction to use compact branches when we are building for r6, and existing branches when building for r2.

One problem with this approach is we have delay-slot usage distributed throughout our source code, by the _callers_ of th

[2015-09-18 07:04] ilijapavlovic commented on #138
Yes. This is fixed.

[2015-09-18 07:04] #138 closed, assigned to ilijapavlovic

[2015-09-18 13:11] ilijapavlovic commented on #180
If `at` is allowed to use only in the class `MacroAssembler` (macro-assembler-mips[64].cc), does it mean that using `at` when `Branch()` is called from another files, is not allowed?
For example, in lithium-codegen-mips.cc register `at` is very often used. Is it allowed here to substitute `at` with `t8`?

[2015-09-18 13:14] ilijapavlovic commented on #180
Also, it would be good to get additional details about this task.

[2015-09-18 14:23] ibogosavljevic commented on #183
Increasing -R option in qemu command line from what is currently used (2 GB) to higher values improves the pass rate, but not all tests are fixed by this. When executed on the selected test suites:

| Run | 2 GB (2147483648) | 8 GB(8589934592) | 16 GB(17179869184) | 32 GB (34359738368) |
| --- | --- | --- | --- | --- |
| 1st run | 66 fail / 3 crash | 39 fail / 8 crash | 33 fail / 8 crash | 32 fail

[2015-09-21 03:52] paul99 commented on #180
Sorry, I did not define this task well. On further review, I see that most (all??) of the DCHECK()'s I thought were missing are actually here. I want to review this code in detail again. Assigning back to me.

[2015-09-22 04:38] paul99 opened #189 "Fix movz_movn test on clang build for mips32r2"
Clang target build for mips32r2 fails this test:

Test: cctest/test-assembler-mips/movz_movn
Flags:
Command: out/Release/cctest --random-seed=-2092001179 test-assembler-mips/movz_movn --nohard-abort --nodead-code-elimination --nofold-constants --testing_serialization_file=out/.serdes/serdes_movz_movn

Fatal error in ../test/cctest/test-assembler-mips.cc, line 2031
Check failed: (test.b)==(test.bol

[2015-09-22 04:44] paul99 opened #190 "Fix unitests on clang target build for mips64"
There are several unit tests failing, for example here on https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/121

[code]

By the names, I suspect several of these have common root cause.

Ivica, please reassign as you think appropriate.

[2015-09-22 04:46] paul99 opened #191 "Fix cctest/test-types/Is2_heap on clang mips64 target build."
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/121/steps/Check/logs/Is2_heap

Note that this build (https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/121) has check fails on TestSizeOfRegExpCode which is expected, and also on movz_movn, which is covered in mips32 clang issue https://github.com/paul99/v8m-rb/issues/189

[2015-09-22 08:38] kapouer opened #192 "float register should be even, was 1 when building v8 4.5.103.33"
Hi,

first, sorry if this is not the right place to report that bug.
I'm seeing that error when building v8 on this machine:
https://db.debian.org/machines.cgi?host=mipsel-manda-02
and the log is:
https://buildd.debian.org/status/fetch.php?pkg=nodejs&arch=mipsel&ver=4.1.0~dfsg-3&stamp=1442847091

Regards

[2015-09-22 08:47] kapouer commented on #192
This could be useful too, from https://wiki.debian.org/MIPSPort
"All the Debian MIPS ports use the hard-float ABI. On CPUs without a floating-point unit, the kernel emulates the FPU instructions."
The machine the build failed on actually have a FPU.

[2015-09-22 10:52] paul99 commented on #188
I over complicated this. Easy to keep delay slot Branch() usage in r6 - just use existing r2 branches in those  cases. No reordering of instr needed.

Measurement would still be very interesting, but let's hold off for now if you've not done it already.

[2015-09-22 12:00] ibogosavljevic commented on #188
Agreed, I am stopping the investigation. Just as a sidenote, removing instructions from the delay slot is a non-trivial task, e.g. if the register value which is used in the branch is modified directly in the delay slot or at register is used in the delay slot; in these cases we cannot move the instruction from the delay slot before the branch

[2015-09-23 03:24] paul99 commented on #192
Hi Jérémy - this is exactly the right place to report this bug. Thanks for the complete logs, I'm pretty sure I see what's going on.

Newer mip32 cores run the floating-point unit in fp64 mode (sometimes called FR=1) mode. The code to probe that mode at runtime is here: https://github.com/paul99/v8mips/blob/134e541ad149b9732bc4fee6fe6952cf669703a7/src/base/cpu.cc#L139

At line 145 it does a `.set

[2015-09-23 08:53] kapouer commented on #192
Indeed, debian is using gcc 5 as the default now.
I can apply local patches but i'll wait a better fix since the debian mips/mipsel architectures are
currently migrating to fpxx.

[2015-09-23 09:17] ibogosavljevic commented on #192
It seems the problem is that gcc is using -mfpxx switch implicitly. When switch -mfp32 specified explicitly, the code compiles!

-mfpxx switch means that this code must be able to run on both FP32 and FP64 processors with the same behavior. The code above which is used to detect if we are running on FP32 or FP64 does exactly the opposite: it exploits the fact that the code will yield different res

[2015-09-23 20:39] mfortune commented on #192
I remember reviewing this FPU mode detection code but did so in the context (or rather assumption) of it being used in Android which is a much more tightly controlled environment than an ordinary GNU/Linux system.

There are two problems:
1) I suspect that the code is failing because not only is the default o32 ABI set to FPXX (which is the same as Android by the way) but also the default arch is

[2015-09-24 00:40] petar-jovanovic commented on #192
@mfortune, your advice is comprehensive, but this could be a burden for v8. We may want to investigate if there is a room for lighter changes, obviously under assumption that not every case would hit us.

[2015-09-28 05:14] paul99 commented on #140
Delay slots on old branches must be protected by default (by adding a nop) and allowed only in the very limited cases where we know we are putting valid instruction there.

Forbidden slots are the opposite, in that most instructions are perfectly legal, and we must only protect the forbidden slot (by adding a nop) if we know that the following instruction will be a control-transfer-instruction.

M

[2015-09-28 05:23] paul99 commented on #192
Per offline discussion, we've agreed that v8 will be built as fp32 (not fpxx) for now, and that project linking to v8, such as node.js in this example, will also be fp32.

@ibogosavljevic, can you find the best way to do this for Jérémy's project. Based on info from @mfortune and the "ripple effect" of fp32 objects, I'd expect that if we add ".set fp32" to that inline assembler routine for `__dete

[2015-09-28 06:37] kapouer commented on #192
I thought that was the purpose of `mips_fpu_mode` compile-time option ?

[2015-09-28 07:15] mfortune commented on #192
@paul99 The .set directives are an override, they allow you to break the rules of the ABI that the module is built with. There are two ways to affect a modules actual ABI: command line options (-mfp32) or .module (.module fp=32) in assembly but you can only use this in a pure assembly file as you can only use .module prior to emitting any code.

I don't know these packages to advise hoe to do this

[2015-09-28 13:29] ibogosavljevic commented on #192
@kapouer @paul If mips_fpu_mode is not set, the build environment will not provide any flags related to fp to the compiler, so a default fp flag will be used. If you set mips_fpu_mode=fp32, then -mfp32 will be provided to all compilation units by GYP.

[2015-09-28 13:32] kapouer commented on #192
All right, @ibogosavljevic i ran into this with `mips_fpu_mode=fpxx`.
What i wasn't aware of is the ability to run code compiled with fp32 on hardware that supports fp64.

[2015-09-29 00:09] kapouer commented on #192
More info here: https://bugs.debian.org/800410 providing a very similar fix (thanks to YunQiang Su):

[code]

[2015-10-02 08:35] ibogosavljevic opened #193 "MIPS64r6 RELEASE doesn't compile with CLANG"
Starting from https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%20-%20builder/builds/626, MIPS64r6 RELEASE mode does not compile with CLANG. Compilation breaks with error `.././src/base/atomicops_internals_mips64_gcc.h:234:25: error: instruction requires a CPU feature not currently enabled
                       "lld %0, %2\n"  // temp = *ptr

[2015-10-02 13:16] ilijapavlovic commented on #190
This observation is done only for `0.HashIsOkish` test case.

This is content from the stack:

[code]

The main problem appears in `UnitTestImpl::RunAllTests` when it calls `Test::HasFatalFailure`.
Problematical part of the code is dissasembled.

[code]

Reading from `0(at)` was not possible.

[code]

Content of `100(sp)` is checked:

[code]

In the moment when instruction `sw    v0,100(sp)` is pe

[2015-10-04 22:50] petar-jovanovic commented on #190
As I said in a different thread a few days ago, this looks like the DMZ issue [#2218](https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2218) that was recently reported.

[2015-10-05 06:06] paul99 commented on #180
So the issue that confused me here was that there are two versions of the BranchShort() macro:

[code]

When I was looking for the DCHECK()'s for 'at' register usage, I mistakenly looked in the first one, and they do not exist there. But `BranchShort(int16_t offset, ... )` is not used much, almost all usages are the Label version `BranchShort(Label\* L, ...) and that one does have the checks we ne

[2015-10-05 12:44] ilijapavlovic commented on #190
Other test cases have the same behaviour as it is described above and problems start on the same place (storing double word value as single word value).

[2015-10-07 12:41] ibogosavljevic commented on #190
1. All the tests in unittest suite are crashing (https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/180/steps/Unittests/logs/stdio) , and they are failing with this same error, because of the this bug. This bug crashes the executable very early during execution, so none of the unittests have a chance to get executed
2. Ilija has shown that the error is related to u

[2015-10-08 00:35] paul99 opened #194 "test262 return-normalized-string fails on mips32eb"
The single test `test262/built-ins/String/prototype/normalize/return-normalized-string`  has been failing for quite some time on big-endian mips32 build. We don't test test262 on mips64eb, so I don't know if it fails there as well. That should be checked.

It worked on build https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20test262%20-%20no%20i18n/builds/4453

It started failing

[2015-10-09 19:30] pmclee opened #195 "V8 built with Big Endian option when cross-compiled for mips"
I'm cross-compiling V8 for mipsel as part of the nodejs package. I was able to configure node to compile little endian and that works. But the little-endian option is not propagating down into the V8 build.

So I'm trying to cross compile V8 separately to see if there's some way to work around the node-V8 problem. But when I tried following the instructions at this page:

https://github.com/paul99

[2015-10-09 21:18] paul99 commented on #195
Hi Lee - I'm sorry that our wiki page you referenced is so out of date. I'll try to get that fixed soon, in the meantime, I will put info here to help. Unfortunately, I myself have not built node.js using v8, so I don't know what issues you will face there, but I do know that many others have done it successfully.

I suggest that you might want to start by building standalone v8 for mips, and chec

[2015-10-09 22:32] pmclee commented on #195
Paul, Thanks for the reply. I think I'm missing some secret sauce for configuring gclient. I was able to install the depot tools OK. Then I tried to fetch V8. The results are almost comical. I've copied & edited & pasted below:

[code]

Derp. I didn't really expect HELLO to be a valid SPEC, but there wasn't much to go on here. I have no idea what URL it could possibly be asking for, nor have I bee

[2015-10-09 23:40] paul99 commented on #195
Lee, the problem is the first line, you ran `gclient fetch v8`, it should be just `fetch v8`.

`fetch` itself sets up the proper gclient config, so it calls 'gclient' maybe that is what the 'recurse' message referred to. Sorry the error messages are not human-readable :)

I just ran this on a Fedora[1]  machine I've never used before, and it does work without any additional config steps, but it pu

[2015-10-12 09:08] ibogosavljevic commented on #190
This bug reproduces also in the same program line when v8 is compiled in DEBUG mode.

[2015-10-12 09:32] ilijapavlovic commented on #191
Test `cctest/test-types/Is2_heap` finishes with the message `Segmentation fault`.
The test is performed with GDB and following output was visible at the end:

[code]

When the test is disassembled, following lines are noted as important:

[code]

At the end of lines are register values and values stored in the memory location.
The problem is that double word value is stored as single word.

The sa

[2015-10-12 11:59] ibogosavljevic opened #196 "mjsunit/asm/embenchen/box2d fails on MIPS64r6 (simulator and qemu)"
Test mjsunit/asm/embenchen/box2d fails on both simulator and qemu on MIPS64r6 DEBUG and RELEASE, with the following error:

[code]

[2015-10-12 18:57] petar-jovanovic commented on #190
There is a wip-patch at [Phabricator](http://reviews.llvm.org/D13649) that Jelena L. wrote. Can you apply it to LLVM, build it and use it for testing?

[2015-10-12 20:10] pmclee commented on #195
Thanks for the reply, Paul! I'm currently re-trying by building the newer nodejs 4.x source base. It looks like everything is building little-endian correctly, but now I've got other issues to solve. So I'm putting the separate V8 build on hold for the moment.

[2015-10-13 12:08] ibogosavljevic commented on #193
Issue reported to CLANG team. They have confirmed the bug, here is the issue:
https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2240

[2015-10-13 13:14] ibogosavljevic commented on #190
We got the developers release of CLANG with this version. With it, we got 100% pass rate.

This patch applies to CLANG frontend (and not to Codescape's MIT backend). The patch is currently on review, we are not sure when it is going to be upstreamed, but after it is upstreamed, we can expect this issue to be resolved when Google guys update clang dependencies in v8.

[2015-10-13 13:15] ibogosavljevic commented on #191
The same [patch to CLANG](http://reviews.llvm.org/D13649) which fixed the issue in #190 also fixes this issue. Again, we just need to wait until the patch is commited and Google guys update dependencies in v8

[2015-10-13 15:09] paul99 commented on #196
On r6 hardware, also fails, but slightly different:

[code]

[2015-10-13 16:35] #195 closed, assigned to nobody

[2015-10-14 19:10] paul99 commented on #189
from @palfia I’ve uploaded a fix for the clang movz_movn failure: https://codereview.chromium.org/1399413003
It seems the source of the problem is that the f13, f11, … FP registers are not correctly initialized and with the Clang build these registers contain NaN values (with GCC build these contain something like -25.543). And when the CHECK_EQ(test.b, test.bold) tries to compare the .b and .bold

[2015-10-14 19:11] paul99 commented on #189
Landed as https://crrev.com/d3f97a972ffe37989fed2794d07e33f7c25f651c, verified the fix on the bots. Closing.

[2015-10-14 19:11] #189 closed, assigned to palfia

[2015-10-15 13:57] mkaric commented on #194
The problem here is missing i18n support for big endian targets. For BE targets we compile with i18nsupport=off. When I compiled v8 for mipsel with i18nsupport=off the test failed with the same message. i18n is needed to perform normalizations executed in this test.

[2015-10-16 01:28] paul99 opened #197 "Add i18n support for big endian to upstream."
We get i18n support from third_party/icu, which is from https://chromium.googlesource.com/chromium/deps/icu.git (I don't know if that is the real upstream, or if that is a chromium-specific mirror or an independent project.)

I was told that we can get the source, and rebuild icu to include support for MIPS big-endian.

We should do that manually to test. If it works, then we should try to upstrea

[2015-10-16 01:28] paul99 commented on #194
@mkaric was that test added, or revised in the revision range when we started getting this failure?

The test runner has --no-i18n option, which is supposed to remove all tests that require i18n support. These tests are all in test/intl dir.

My proposal is that we suggest moving this test to that dir. If you can answer the questions above about the history, I can suggest moving this test to 'intl

[2015-10-16 03:22] paul99 commented on #177
From this discussion: https://v8m.slack.com/archives/r6-hw/p1444894670000049 -- I found a commit from the bots where this test failed today: 5c1ef6ac823e.

I built that in 'optdebug' mode for mips32r6, tested on qemu, and it failed the '--stress-opt --always-opt' variant, but did not fail the other variants.

I then tested commit 8f8457d2a, which I had built yesterday, and that also failed for '--

[2015-10-16 09:19] mkaric commented on #194
The commit that started the failure says it copied test262-es6 into test262. I checked now and problematic tests were in test262-es6 so they started executing at this point. These tests in test/test262/data/test/built-ins/String/prototype/normalize fail:
return-normalized-string.js
return-normalized-string-from-coerced-form.js
return-normalized-string-using-default-parameter.js
so all three should

[2015-10-16 15:21] paul99 commented on #177
The r6 hw passed all 30 iterations of this test (commit 5c1ef6ac8, --stress-opt --always-opt).

[2015-10-19 02:28] paul99 commented on #194
On 2015-10-18 @mkaric said this in slack:

[code]

I was probably wrong above, I don't think we can move tests from test262 to intl.

So, we should either add the release & opt debug modes (actually, just remove the `mode` clause and always skip when `no_i18n == True`.)

But let's hold until we figure out https://github.com/paul99/v8m-rb/issues/197

[2015-10-19 02:36] paul99 commented on #197
on 2015-10-16, @mkaric wrote in slack:

This is good news, and we can start using i18n for big-endian then.

But I would like to track down the details, and understand precisely how/why this works.

There are ICU data tables build by Chromium team, per README.chromium in the repo. Back when ICU4.6 was current, there was _not_ big-endian support. (I will forward some related emails.)

I'd like to s

[2015-10-20 00:52] paul99 commented on #197
@mkaric So it does not look to me like this works at all.

If I build _without_ the option `i18nsupport=off`, (in other words, i18n support is on) the build completes, and it runs the tests, but with lots of failures.

[code]

Similar for testing 'intl' tests:

[code]

Very oddly a few _more_ tests pass when compiled with i18support=off :

[code]

(Similar results for mips32 big-endian)

[2015-10-20 14:03] ilijapavlovic commented on #196
The problem is located in function __ZN15b2ContactSolver24SolveVelocityConstraintsEv in box2d.js. In certain moment, the function is optimized with turbofan compiler. After turbofan optimization, following expression becomes problematical:

[code]

In body of `if()` statement, values for variables and expressions are printed:

[code]

Additional function is created. This function takes d31 and d34

[2015-10-21 13:00] ilijapavlovic commented on #196
With some older commits, the problem cannot be reproduced. The first commit, where the problem is possible to reproduce, is following:

[code]

[2015-10-22 11:34] ibogosavljevic commented on #177
This issue reproduces also on qemu32 r2, but doesn't appear neither in simulator nor on boards.

[2015-10-22 13:20] ibogosavljevic commented on #193
Here are the updates of the compiler team:
They say that the error message here `instruction requires a CPU feature not currently enabled` is not correct, and they will fix it. But, alas, this doesn't fix our issue. The format of LLD instruction has changed  between r2 and r6. On r6, the offset field is just 9 bits long, whereas it is 16 bits long on r2. What we have here is that the instruction c

[2015-10-22 18:47] petar-jovanovic commented on #193
I will have to agree that a recommended approach in this particular case is to change the inline assembler in the way to use a value from a known register that gets loaded before the inline block, i.e. we let compiler set the pointer to the memory in a correct way.

[2015-10-22 19:19] paul99 commented on #193
In https://dmz-portal.mips.com/bugz/show_bug.cgi?id=1869 this was fixed in gcc/binutils, to correctly use the inline assembly that we have now. Should we not have clang/integrated-as work the same?

[2015-10-23 04:24] paul99 commented on #194
I added a patch to the big-endian test-262 builder to skip those 3 tests for all modes (I removed the 'and mode == debug' part of the condition). This should get that build green again, until we get proper i18n support.

[2015-10-23 22:46] petar-jovanovic commented on #193
Indeed. Let me elaborate this with a few more words. First of all, I do _not_ have a strong opinion on this, I had it before when I hoped we can easily fix the compiler.
However, what we did with gcc/binutils (thanks for bringing the issue back, I completely forgot about it and how we approached it) is to introduce a new assembly macro. There are good arguments that say we should not be adding mor

[2015-10-26 04:44] paul99 commented on #196
Fixed in https://codereview.chromium.org/1425603002. Passes both simulator and umQemu. Did not yet test on HW.

Thanks for the excellent investigation, Ilija! Seeing that arm commit which enabled converting of float64 comparisons to float32 (in certain cases), and knowing this was r6-only led me to spot the bug.

The code was using the MSB, as if it needed to check sign-bit, but it did not. The bu

[2015-10-26 15:01] ilijapavlovic commented on #196
Review done. Also, solution tested on simulator and Qemu (user mode) for release/debug version and it works.

[2015-10-26 16:28] palfia commented on #196
LGTM! Very nice investigation!

[2015-10-27 02:22] paul99 opened #198 "mips64r6 test fails on simulator"
As discussed on slack, we have a bunch of test failing on v8-simulator for r6. For reasons I do not understand, they do not all show up on buildbot.

Here is a run based on commit https://chromium.googlesource.com/v8/v8/+/fa4f5553736af3c23e72a95884ad7d24ad9aee31

[code]

Ákos has been looking at one of the RunNumberDivide_2_TruncatingToUint32.

If there is extra time on the RTRK team, why don't on

[2015-10-27 10:23] ibogosavljevic opened #199 "mjsunit/d8-os fails on MIPS64R6 qemu-system and MIPS64R6 board"
mjsunit/d8-os fails on MIPS64R6 qemu-system and MIPS64R6 board with following message. The test doesn't fail on qemu-user

[code]

[2015-10-27 11:08] dusmil commented on #199
Not real failure. You ran the test as root user.

[2015-10-27 12:45] ibogosavljevic commented on #199
LGTM :smiley:

The test says explicitly `// This test fails if you are root since root can read any dir.`

[2015-10-27 14:52] ibogosavljevic commented on #198
Djordje is looking at mjsunit/asm/uint32div and Ilija is looking at cctest/test-run-machops/RunUint32ModP

[2015-10-28 11:40] ibogosavljevic commented on #177
Reported to Imagination team which works supports MIPS QEMU, issue tracker id 2022

[2015-10-28 15:55] paul99 commented on #196
Fix landed as https://crrev.com/efa752d98b471981b9bef99334cc6921f23efcf2. Closing.

[2015-10-28 15:55] #196 closed, assigned to ilijapavlovic

[2015-10-28 18:33] paul99 commented on #198
Fixed in sim by Dusan. We were missing some r6 instructions, so the sim was erroneously executing DIVU,MODU,MULU,MUHU using r2 instructions.

https://codereview.chromium.org/1425003003/
Landed as https://crrev.com/4cd3c1696700e561f2fb6b78a97c31d8857e783c

Fixes all r6 sim fails, except for reg-exa size problems on release build. (I will sometime later put these on skip list via local patch on BB)

[2015-10-28 18:33] #198 closed, assigned to palfia

[2015-10-30 05:50] paul99 opened #200 "Replace jalr/jr with jialc/jic for r6"
Create optimization to (conditionally) replace normal jalr() and jr() which have delay-slots, with the new r6 compact jump instructions jialc() and jic().

This should great benefit Call(), Jump() and Ret() operations. Most of those currently do not fill their delay-slots, so we waste an instruction slot with a nop().

Please do note that jialc() and jic() do _not_ have forbidden slots either, so

[2015-10-30 06:18] paul99 opened #201 "Use BOVC, BNVC to improve add with overflow checks on r6."
In certain cases, add & sub of Smi's or ints must be checked for overflow, and special handling or deopts be performed. For example, see `LCodeGen::DoAddI()`.

Traditional MIPS has trapping add/sub instructions, but we decided to avoid use of traps and signal handlers in v8. (There is complexity, possibly security/sandboxing issues, and degenerate cases where the trap-to-kernel overhead could tank

[2015-10-30 12:24] ibogosavljevic opened #202 "cctest/test-debug/ProcessDebugMessagesThreaded flaky on MIPS32R6 Release under qemu"
cctest/test-debug/ProcessDebugMessagesThreaded flaky on MIPS32R6 Release under qemu:
See log:
`https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1064/steps/Check%20%28flakes%29/logs/ProcessDebugMessagesT..`

[2015-10-30 14:34] ibogosavljevic commented on #190
Patch for CLANG landed in http://reviews.llvm.org/rL251629. We expect to see the tests passing soon

[2015-10-30 14:34] ibogosavljevic commented on #191
Patch for CLANG landed in http://reviews.llvm.org/rL251629. We expect to see the tests passing soon

[2015-11-02 05:03] paul99 commented on #200
I would like to simplify this issue a bit, by breaking out two tasks mentioned above to separate issues/CLs. We can then develop them independently, and by independent people. So let's separate out:
- Ret() function - currently implemented as `jr ra`, with optional instruction in delay slot.
- `MacroAssembler::Jalr()` and `MacroAssembler::Jr()` to labels.

So the remaining task is the `Call()` and

[2015-11-02 05:10] paul99 commented on #200
Looking at current implementation of `Ret()`, it is calling `Jump()`, so it does _not_ make sense to break it out separately from `Call()`/`Jump()`, as I had requested in previous comment. Let's include `Ret()` in this issue.

[2015-11-02 05:16] paul99 commented on #188
I think this was un-necessary. I am closing.

[2015-11-02 05:16] #188 closed, assigned to ibogosavljevic

[2015-11-02 05:18] paul99 commented on #164
Was fixed a while ago in d7f813b4 GYP: Don't pass -Wno-format-pedantic to GCC.

Ákos submitted Brendan's patch: https://codereview.chromium.org/1369273003

Closing.

[2015-11-02 05:18] #164 closed, assigned to kilvadyb

[2015-11-02 05:20] paul99 commented on #140
This has been implemented by Balázs, along with mips32 r6 compact branch support in https://codereview.chromium.org/1396133002

I think we are quite close to landing this. See the perf improvement numbers in slack #benchmarking

[2015-11-02 05:23] paul99 opened #203 "Port r6 compact-branch support to mips64"
The CL to use r6 compact branches on mips32 is _almost_ done https://codereview.chromium.org/1396133002  (https://github.com/paul99/v8m-rb/issues/140)

We need to port this to mips64. Assigning to Ilija.

[2015-11-02 05:33] paul99 opened #204 "Remove mips32 jalr->jal optimization"
The optimization for jalr->jal and jr->j was very important on some old cores. But those cores are no longer shipping in products using v8.

Recent benchmarks from Djordje https://v8m.slack.com/files/djordje.pesic/F0D6286D9/jalr-_jal-benchmark.txt show that these do not have significan advantage on platforms we care about.

Ákos, please remove this opt. Mostly it's in `Assembler::set_target_addres

[2015-11-02 05:41] paul99 opened #205 "Adapt long branches to use bc & balc on r6"
Currently, when our branch distance exceeds short-branches, we go to long-branch mode. This is done in `MacroAssembler::Branch()`. We have hard-coded `Jr()` and `Jalr()` macro-assembler functions which take Labels.

These function need to be renamed to something more generic, and on r6, should emit `bc()` and `balc()`

Note that the current function must also emit reloc-info, since they are absolu

[2015-11-03 00:18] paul99 opened #206 "debug regress-undefined-nan & nan3"
With commit 1195b0e2 [turbofan] Initial support for keyed access to fast JSArrays. (https://codereview.chromium.org/1418213010) two tests are failing on mips32 & mips64 r2 simulators.

You can see the BB failures https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/8995 & https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/5431  (since the BB was down fo

[2015-11-03 04:21] paul99 opened #207 "Interpreter bug on big-endian"
Commit 6173d504 [Interpreter] Add wide varients of bytecodes with feedback and constant pool indexes. (https://codereview.chromium.org/1413863010) cause several failures on big-endian including on the bots at Google.

Here is an example failure: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20no%20i18n/builds/4655

Ákos and I looked at this today and found some suspect accesses

[2015-11-03 04:22] paul99 commented on #207
There is additional discussion in #bigendian channel....

[2015-11-03 12:52] akospalfi commented on #207
Please see my comments in #bigendian channel.

[2015-11-03 12:53] palfia commented on #207
Please see my comments in #bigendian channel.

[2015-11-03 14:20] lialan commented on #206
Was able to reproduce it in debug mode, and the reason it was failing only on debug/optdebug mode is that it hits an assertion in verify phase, which is only turned on for debug modes. Inside the test case, the function "loader" is called 3 times, as follows:

[code]

It hits an assert while trying to verify the array's elements validness. And if you trace the code you will see it is the third "Fi

[2015-11-03 19:08] kilvadyb commented on #205
I made my proposal solution. It must be applied on the r6 compact branch CL. Although it raises a new problem (see next comment).

[code]

[2015-11-03 19:18] kilvadyb commented on #205
At the bellow code snippet in Assembler::bind_to() we rely on kMaxBranchOffset value while on R6 the maximal branch offset varies at different branch instructions. So I think I should implement an
`int MaxBranchOffset(Instr instr)`
function. Any other idea would be highly welcomed.

[code]

[2015-11-05 10:11] djpesic commented on #204
I removed optimization. Initial diff is on https://gist.github.com/djpesic/b8a6331f07f574df0435#file-jalr-to-jal-removal-txt. Please, take a look.

[2015-11-05 12:38] kilvadyb commented on #204
lgtm (if it passes tests :) ).

[2015-11-05 13:48] palfia commented on #207
Fixed in https://codereview.chromium.org/1431803004/.

Closing...

[2015-11-05 13:48] #207 closed, assigned to palfia

[2015-11-05 18:23] kilvadyb commented on #201
Optimal solutions in pre-R6 and R6 are quite different for me, I do not see a nice way to hide release differences in MacroAssembler efficiently. Inefficient way would be to set `overflow_dst` of `MacroAssembler::AdduAndCheckForOverflow()` with using `bovc` but in that case the R6 implementation almost as big and slow as in pre-R6. Other idea is to use DeoptimizIfPre() and DeoptimizeIfPost() funct

[2015-11-06 06:35] paul99 commented on #204
lgtm, Djordje, please create a CL and add me, Balázs, and Ákos as reviewers. If you have test results, let us know here or on slack. If either of those guys give you lgtm during your work day, go ahead and land it, no need to wait for me.

[2015-11-06 07:21] paul99 commented on #197
@mkaric please update the issue with any new status, but IIUC, a manually built ICU data file for big-endian (built on mips EB board) can be used for EB builds, and _all_ intl tests pass. Please correct any mis-statements here.

I understand that fixing the ICU code to allow building EB data file in EL host machine will be challenging. So let's postpone that for a while.

Let's start now by adding

[2015-11-06 12:19] ibogosavljevic opened #208 "RunFloat64MulAndFloat64Add[1|2] and RunFloat64MulAndFloat64Sub[1|2] fail on qemu R6 in RELEASE mode"
Tests RunFloat64MulAndFloat64Add1, RunFloat64MulAndFloat64Add2, RunFloat64MulAndFloat64Sub1 and RunFloat64MulAndFloat64Sub2 fail on qemu R6 with error:

[code]

https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1149/steps/Check/logs/RunFloat64MulAndFloat..

[2015-11-06 12:26] ibogosavljevic commented on #208
The error appears only on R6 with Codescape GNU Tools 2015.01-5 for MIPS IMG Linux 4.9.2 and with compilation flag -O3. It appears both on qemu and R6 FPGA board.

When using -O3, the compiler generates MADDF instruction, which has better precision than separate multiply and add, but the results are different and the test fails.

Fix would be to force compiler to generate separate multiply and add

[2015-11-06 17:48] kilvadyb commented on #201
Ákos had a nice idea to use true and fals Label\* parameters for SubuAndCheckForOverflow() and AdduAndCheckForOverflow() functions. I checked the lithium and turbofan codes and it seems to be possible to use *AndCheckForOverflow() functions that way. And DeoptimizeIf() will be called with `al` condition in lithium code. I am working on a proposal/test implementation.

[2015-11-07 00:11] paul99 commented on #208
While looking for NaN issues related to 206, I found this deleted comment in 9eace97b Use signaling NaN for holes in fixed double arrays.

This may have some relevance to FP precision issues, it certainly does for a32:

[code]

[2015-11-09 17:07] mkaric commented on #197
ICU data file for big-endian can be built on mips EB board and system mode qemu. With this file all intl tests pass, as well as previously failing test262 tests.

I also tried using icupkg tool from ICU and a script I wrote to generate big-endian data file, but the generated file is not identical to the one obtained when building on the EB board and the tests fail.

[2015-11-09 19:16] kilvadyb commented on #201
Seems if I don't want to make heavy changes in turbofan code then two different function must be used for lithium and turbofan to achieve some almost optimal code for pre-r6 and r6.

[2015-11-10 01:06] lialan commented on #206
The issue happens when V8 enables TurboFan function

[code]

on a fixed double array access. My understanding of its reason is that "reduced" element access bypasses the canonicalization of the hole values in a double array, whereas in crankshaft function

[code]

we have canonicalization for such keyed access if the element type is float/double.

In TF, it seems there isn't any canonicalization o

[2015-11-10 04:08] lialan commented on #206
The easy, immediate solution to this, is to bail out if we want to reduce double element arrays.

However that does not fix everything. A proper way to fix this would be: check why we identify the holey array to be a FAST_DOUBLE_ELEMENTS kind, and, identify it as HOLEY type. Perhaps before doing ReduceElementAccess, we should have an iteration of canonicalization of the array elements if the under

[2015-11-10 09:01] djpesic commented on #204
https://codereview.chromium.org/1419793014/
PTAL

[2015-11-10 12:40] #199 closed, assigned to ibogosavljevic

[2015-11-10 12:45] ibogosavljevic opened #209 "TRUNC, FLOOR, CEIL and ROUND return wrong values for input NaN, when executed on R6 FPGA"
Following tests are failing because TRUNC, FLOOR, CEIL and ROUND are returning wrong values if input value is NaN. The tests are failing on MIPS64R6 FPGA, they do not fail on qemu user MIPS64R6 simulation:

[code]

[2015-11-10 12:49] ibogosavljevic commented on #209
The reason for the failure is not related to bugs in R6 FPGA core, but is related to qemu. The MIPS Instruction Set updated behavior for TRUNC, ROUND, CEIL and FLOOR instructions in version 6.03 if FCSR(NAN2008) bit is set (and this is the case on all R6 cores). The behavior is like this:

On cores with FCSR(NAN2008)=1, the default result is:
• 0 when the input value is NaN
• 2^63–1 when the input

[2015-11-10 13:21] djpesic commented on #204
Landed as
https://crrev.com/60b97e802fad47f9f01fbd334717302ba4fb710d
Closing

[2015-11-10 13:51] kilvadyb commented on #205
Landed as
https://crrev.com/bddf8c9e081f70fc1dad8343040bb4c97dda8890
Closing

[2015-11-11 02:14] paul99 opened #210 "Review/optimize: [turbofan] Avoid unnecessary write barriers ...."
This CL from Benedikt https://codereview.chromium.org/1414183006 (landed as https://crrev.com/1e2770123bd5c1cf7631bf11be846f0fbd884c08) has a TODO comment in both mips instruction selectors:

[code]

as well as the generic comment:  "The changes are mostly c&p, but I expect that arm64, mips and mips64 can be improved quite a bit (also arm has some potential)..."

Also, BB started showing some fail

[2015-11-11 06:23] paul99 commented on #210
Found the bug here, fixed in https://codereview.chromium.org/1435793002.

Still, we need to follow-up with the optimizations.

[2015-11-11 16:10] lialan commented on #210
I am going to look into this in parallel with #206

[2015-11-12 02:06] paul99 opened #211 "Implement TF bit-conversion and bit-counting ops"
Recently there have been several CL's for doing bit counting (count leading zeros, count trailing zeros, population count), and some ops for conversions: today we had RoundUint64ToFloat64().

(My first look at this was that we do not have a single instruction to do this conversion - all our FP conversion instructions, e.g. CVT.D.L, are for signed 64-bit ints. This should be investigated further, a

[2015-11-12 02:15] paul99 commented on #211
There is a brilliant book, called Hacker's Delight by Hank Warren that has all kinds of awesome algoithms & coding tricks. You should buy it if you don't have it. I have hard-copy of first edition (got MIPS overflow detection on add/sub algorithm from that. I have a PDF of 2nd edition, which you can buy here: http://www.informit.com/store/hackers-delight-9780321842688

MIPS has instructions for co

[2015-11-12 11:56] mkaric commented on #197
Here is an overview of what has been done and tried on this issue:

ICU chromium source tree contains only little-endian ICU data files (source/data/in/icudtl.dat and linux/icutdl_dat.S). Generating big-endian data is possible by building ICU on a BE board or system mode qemu (described in wiki, https://github.com/paul99/v8m-rb/wiki/Building-v8-for-BE-with-internationalization-support). When the f

[2015-11-12 12:18] mkaric commented on #197
These are steps for cross-compiling ICU on a LE machine for a BE target but this will generate incorrect data files!

[code]

[2015-11-12 17:24] kilvadyb commented on #205
Still the 64 bits port is pending. Must be done when 64 bits port of #140 is landed.

[2015-11-12 17:41] paul99 commented on #211
Some fix for RoundUint64ToFloat64() has become more urgent, as this was not implemented as an optional operator. So we fail the test on the bots.

[2015-11-13 21:44] paul99 commented on #211
Ákos did two CL's yesterday:
https://codereview.chromium.org/1439053003/  landed as:
01d77cc3 MIPS64: Implemented the RoundUint64ToFloat64 TurboFan operator for x64 and arm64.
This was landed before the branch was cut, so it is fine.

The second https://codereview.chromium.org/1440133002/ was merged to ahaas' un-landed https://codereview.chromium.org/1438013003/ and will probably go in soon.

So f

[2015-11-13 21:53] paul99 opened #212 "Improve Cvt_d_uw in mips64 and mips32 ports."
While doing the uint64_t to FP double and single conversions in https://codereview.chromium.org/1439053003/ and https://codereview.chromium.org/1440133002/
per https://github.com/paul99/v8m-rb/issues/211, it became obvious that our existing Cvt_d_uw() macro-asm sequences are non-optimal (using many more instructions than needed).

Please compare the mips64 Cvt_d_ul() to existing mips64 Cvt_d_uw()

[2015-11-14 01:36] paul99 opened #213 "investigate: g++ note: variable tracking size limit exceeded ..."
I've noticed the following line of my target builds giving this error/warning/note.

It does not seem to be a real warning, since we have `-Wall, -Werror`. I'm wondering if this is an issue that we should report to the compiler team?

I've checked this only on 2015.01-7/bin/mips-mti-linux-gnu-g++. Can you check if clang is OK, and since this is not arch-specific file, we could try some gcc's for a

[2015-11-14 02:15] paul99 opened #214 "Disable signed-compare warning on gcc builds"
Usually once a week we get all the target bots broken when gcc detects a comparison between signed and unsigned values. Today it was this:

[code]

id() returns uint32_t, the 1 is interpreted as a signed integer, and this breaks. (the real reason is the macros & templates used for things like EXPECT_EQ() and DCHECK(), and so on. You can review those source of these.)

Breakage does not happen on c

[2015-11-16 04:18] paul99 commented on #209
Please note that the current 6.03 manuals for {ROUND|TRUNC|FLOOR|CEIL}.W.fmt say 2^63-1 (in the cases listed in previous comment), but they __should__ be 2^31-1. I confirmed this with arch team, and docs will be updated with next rev.

[2015-11-16 06:16] paul99 opened #215 "movt/movf improperly restricted to mips32r2"
While looking at another issue, I found that opdebug tests of cctest/test-run-machops fail on mips32r1 boards (broadcom).

Example tests that fail are test-run-machops/RunFloat64MaxP, RunFloat64MinP, RunFloat32MaxP, RunFloat32MinP

The problem is that the the FP mov instruction DHECK mips32r2:

[code]

These instructions should also allow mips32r1. Note that release builds work and pass tests just

[2015-11-16 06:39] paul99 opened #216 "Problems with round operations on mips32"
Several recent CL's have been adding float conversions and rounding modes to TF.

I just reviewed two pending CLs that add rounding ops:
https://codereview.chromium.org/1444583002/
https://codereview.chromium.org/1440293002/

These look to me like they should be totally broken for mip32, and yet they do seem to work, on mips32r2, and on mips32r1.  [1]

The problem I think I see is in `#define ASSE

[2015-11-16 07:16] paul99 commented on #140
This has been implemented by Balázs in 3573d3cb MIPS: r6 compact branch optimization.

Unfortunately, there is a related bug in https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20benchmarks/builds/1082, regexp test.

Also there is https://code.google.com/p/chromium/issues/detail?id=555543 from the Chromium fuzzer tests.

I think that @kilvadyb has a fix just about r

[2015-11-16 07:19] djpesic commented on #215
PTAL https://codereview.chromium.org/1448843002

[2015-11-16 12:19] ibogosavljevic commented on #216
The reason why we are not experiencing any failures on MIPS32R1 and MIPS32R2 is because these operations are disabled on these architectures. Namely, there is a list of optional operator in machine-operators.cc:177 (Code 1) which not all architectures implement. On MIPS, we have a setup that we do not implement kFloat64RoundDown and kFloat64RoundTruncate if the architecture doesn't support it inst

[2015-11-16 14:08] ibogosavljevic opened #217 "mjsunit/es6/classes-subclass-builtins fails on MIPS BE"
mjsunit/es6/classes-subclass-builtins fails on MIPS BE with following error message:

[code]

Here is the link to where the failure appears: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge%20-%20no%20i18n/builds/3538/steps/Check/logs/stdio

[2015-11-16 14:35] ibogosavljevic commented on #173
This issue is same as issue #177. The failure is due to qemu bug. It doesn't reproduce neither on board nor simulator. The patch from the issue #177 removes it.
Reported to Imagination team which works supports MIPS QEMU, issue tracker id 2022
Closing issue as duplicate of #177.

[2015-11-16 14:35] #173 closed, assigned to mkaric

[2015-11-16 14:35] ibogosavljevic commented on #187
This issue is same as issue #177. The failure is due to qemu bug. It doesn't reproduce neither on board nor simulator. The patch from the issue #177 removes it.
Reported to Imagination team which works supports MIPS QEMU, issue tracker id 2022
Closing issue as duplicate of #177.

[2015-11-16 14:35] #187 closed, assigned to nobody

[2015-11-17 07:30] paul99 commented on #206
This was described in the slack #nan channel, but the hardware bots fail on mjsunit/regress/regress-2596 only in --turbo mode, after the above mentioned CL.

[2015-11-17 07:37] paul99 commented on #217
My look at the history shows that it was failing much earlier, started at build 3416.

(It is mixed in with interpreter failures that are now fixed, and with the NaN failure described in https://github.com/paul99/v8m-rb/issues/206)

[code]

Lucky for us those 2 git hashes are sequential, so it seems that 678a5583d6 caused the failure. At a quick look, I did not see the problem. It was not a simple

[2015-11-17 08:13] paul99 commented on #216
OK, thanks for pointing this out. I should have seen it.

Could you please port the original changes from these 2 referenced CL's for mips32. Sorry I created more work for us, we certainly do not need that.

I do think it would be prudent to put a DCHECK(IsFp64Mode()) in the ASSEMBLE_ROUND_DOUBLE_TO_DOUBLE macro. That makes it self-documenting and helps catch mistakes if someone gets flag mode inc

[2015-11-17 13:46] ibogosavljevic commented on #208
One of the ways to fix this issue would be to completely disable generation of fusion MAD instruction. For this we should use -mno-fused-madd. Alas, the compiler IMG 2015.01- is insensitive to this switch, and we get MADDF instruction regardless if this option is or isn't provided to the compiler.

A bug has been reported to the compiler team. Bug is here https://dmz-portal.mips.com/bugz/show_bug.

[2015-11-17 15:19] ilijapavlovic commented on #202
The test performs 20 iterations and stops with execution when Turbofan compiler is enabled (--turbo).
`qemu-mipsel -R 2147483648 -cpu mips32r6-generic /home/rtrk/MIPS/v8/out/mipsel.release/cctest --random-seed=-1587340061 --turbo test-debug/ProcessDebugMessagesThreaded --nohard-abort --nodead-code-elimination --nofold-constants --testing_serialization_file=/home/rtrk/MIPS/v8/out/.serdes/serdes_Pro

[2015-11-17 15:28] ibogosavljevic commented on #216
PTAL https://codereview.chromium.org/1448383002

[2015-11-17 23:06] paul99 commented on #215
Fixed in: https://chromium.googlesource.com/v8/v8/+/d40445884939341c33a78d64962686ddee2a733e
https://codereview.chromium.org/1448843002

In addition to the FloatMin/Max, this fixed many other TF related tests from asm.js and test suites. There were ~108 failures due to this.

after: https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20mipsr1/builds/2
before: https://v8.mips.com/bb

[2015-11-17 23:06] #215 closed, assigned to nobody

[2015-11-18 06:44] paul99 commented on #202
Using today's ToT I built for mips32r6, and ran it on Boston board, 1-Core, 2-thread (looks to linux like 2 cpus). So far it's run 515 Iterations of the overall test, and had no failures.

Here is what a single iteration looks like (the capital-I Iteration is the number my looping script prints, the lower-case 'integration' is what the program prints.

[code]

Command run:
     out/mipsel.release/

[2015-11-18 08:36] ilijapavlovic commented on #202
Iteration times on Boston board are very interesting here. Iterations 14 to 19 have times ~443 ms. In qemu user mode, these iterations had times from ~19 ms to ~25 ms.

[2015-11-18 13:04] ibogosavljevic commented on #208
The bug appears with the version of the compiler 2015.06-05. BTW, in order to compile with this toolchain, here are the settings:

[code]

For Mips32R6, you also need to:

[code]

For Mips64R6, you need to:

[code]

[2015-11-18 15:08] ibogosavljevic commented on #202
Issue appears on qemu-userland MIPS32R2 and qemu-userland MIPS32R6. I don't remeber seeing this issue on MIPS32R2 simulator or boards.

[2015-11-18 16:29] paul99 commented on #202
On the board: Pass: 1500, fail: 0

@ilijapavlovic : the board is fpga running at 25MHz so the execution times are long compared to your x86 workstation.

Seems clear that this is a qemu issue, but not clear to me if these threading related tests _should_ work perfectly. In other words, is it expected that code doing threading and locking (on mips meaning ll/sc) should work flawlessly? I suppose it

[2015-11-19 05:14] lialan commented on #201
A side discussion here:

while reading the code AdduAndCheckForOverflow on MIPS32 I can see that in the case of adding an immediate value, we are using bitwise operations to detect overflow. I have done a very similar optimization in MagicCode regarding it:

Assume incoming immediate is a 32bit unsigned value, and then if we regard it as a signed value, we will have the following observation (extr

[2015-11-19 06:13] paul99 commented on #201
Very interesting, Alan, I need to think about that a little bit. PTAL at https://codereview.chromium.org/1434263003/ and feel free to review or contribute ideas.

[2015-11-19 10:30] ibogosavljevic commented on #208
It's not possible to disable tests based on arch_variant :( We can either disable it for all or enable it for all

[2015-11-19 10:45] ibogosavljevic commented on #216
Patch landed, closing issue

[2015-11-19 10:45] #216 closed, assigned to ibogosavljevic

[2015-11-19 11:52] ilijapavlovic commented on #202
I tried with a commit for qemu from February 2015, and the problem is still reproducible (mips32r2). Because of way how the test finishes (without any error message, writing trace messages interrupted in the middle of a line...) it is possible that qemu somehow gets stuck.

[2015-11-19 12:36] kilvadyb commented on #201
Alan: sounds good, although if new branch op (with nop) must be used for immediate signs then woman  have the same instruction amount at the end. I suggest to start a new CL for this proposal work.

[2015-11-19 12:43] kilvadyb commented on #201
I was thinking about using `bovc, bnvc` for `SubuAndCheckForOverflow`: If we can negate one of the operands (`subu(scratch, zero_reg, left);`) then we cold use `bovc(scratch, right, overflow_label);`. But if the value in left register is MIN_INT then negating it also causes an overflow. And if we have to check register values then we are at the same size like the pre-r6 implementation.

[2015-11-20 15:38] ibogosavljevic commented on #202
This is the status up to now: this test has been failing on other architectures as well, it has been listed as flaky in cctest.status

[code]

We didn't continue the investigation, but until now, it seems that the issue arises here:

[code]

The line that might cause the issue is this one: `if (!in_debug_scope()) isolate_->stack_guard()->RequestDebugCommand();`. We believe this line should be exec

[2015-11-23 02:50] paul99 opened #218 "Use DAHI, DATI for mips64r6 li()"
r6 adds some better instructions for loading constants. Please read the instruction set reference (6.04) for AUI DAUI DAHI DATI.

Our mips64 `li()` implementation takes 6 instructions to load an arbitrary 64-bit constant. It takes 4 instructions to load an address, since addresses are known to be 48-bits. (also please review the li() macro carefully, it uses less instructions whenever possible.)

[2015-11-23 03:04] paul99 opened #219 "Use r6 AUI to improve load/stores that use LoadRegPlusOffsetToAt()"
Currently if we do a `lw()` with larger than 16-bit offset, we call LoadRegPlusOffsetToAt() which has 3 instructions, then do the `lw()` from (at, 0) which is total of 4 instructions.

With AUI we can do this in 2 instructions:

[code]

Of course, we have to refactor both the load/stores themselves, and the LoadRegPlusOffsetToAt() function.

Note this works for all load/store, int/fp. We should do

[2015-11-23 03:29] lialan commented on #212
​here is the CL: https://codereview.chromium.org/1453373002/

[2015-11-23 15:13] ibogosavljevic commented on #213
var-tracking-assignments is a feature of GCC used to track variable assignments during optimizations. It is enabled if both DEBUG symbols and optimizations are enabled simultaneously. Default version on GCC 4.8.3 is 50000000 (I saw this from GCC source code, PARAM_MAX_VARTRACK_SIZE), I didn't find a way to make gcc executable printout the default value.

If this limit were to be higher than 500000

[2015-11-23 16:05] paul99 commented on #213
@ibogosavljevic, thanks for the explanation, I was unaware of this feature.

Can you explain what this effect is? I assume you mean problems when using gdb, but please clarify.

My concern was the warning during opt debug builds, and wondering if there was a scenario where that would turn into a build error.

We seem to run into this only on a single file, so if we increase the limit, would that a

[2015-11-23 17:06] mkaric commented on #217
The test fails at IsLayoutDescriptor check, which calls IsSmi and it fails there. IsSmi function checks the lsb of a pointer to an object and if it is 0 returns true. This works for little-endian, but for big-endian it seems to check the wrong bit, because the pointer is "reversed". On LE numbers like 0423f080, 0723f080, 0d23f080 are checked in IsSmi function, and on BE d080ad04, d080ad07, d080ad0

[2015-11-24 10:13] djpesic commented on #200
Here is what i did until now. I made optimization of lui-ori-jal/jalr sequences to lui-jic/jialc. Also modifided code patching. Final effect is that some mjsunit tests fails. Failures are weird. Diff file:
https://gist.github.com/53ed5158b0cb56cd4da0.git

Failures: https://gist.github.com/4f4671bf054ce574c7e8.git
Failures are on simulator, qemu and hw, except:  div-mod.js doesn't fail on hw.

[2015-11-24 14:31] kilvadyb commented on #214
I did a quick and dirty solution: https://codereview.chromium.org/1476473002/
I started trybots and seems like android chromium debug build has failed.

[2015-11-24 17:32] kilvadyb commented on #214
All the failures are some config problems and real builds are fine.

[2015-11-25 04:24] lialan commented on #218
The simulator support for those instructions is checked in this CL:
https://codereview.chromium.org/1481493002

[2015-11-25 16:03] paul99 commented on #217
@mkaric I looked this code 2 nights ago, but did not see how this occurs from the CL that starts showing the problem.

From your data above, the values in memory are supposed to be (relatively larger-value) Smi's, but they are written to memory in the wrong byte order, so LSB is set, and they erroneously look like pointers.

It looks like possibly this CL is now showing us bad data in memory, and

[2015-11-25 19:47] paul99 commented on #200
The gist's above do not open for me. I am logged into github in this browser. Sorry I did not notice sooner,  I only had time to look into this now. Can you upload code as CL, or as a branch on github? Maybe text listing of the fails here in the issue? (also, regardless of gist, diff, or CL, please let me know what git revision this builds on top of (e.g., what rev you tested))

[2015-11-26 09:54] djpesic commented on #200
CL: https://codereview.chromium.org/1476143003

Revision: 05449f741bf2f7f1c12891cd88b275b4dc983cf2

Failures:

[code]

[2015-11-26 10:09] mkaric commented on #217
I managed to make the test a lot shorter, and it still fails with the same error:

[code]

This part of the test generates that '1' on lsb and fails, but incorrect pointer is generated many times in the whole test, only it is not detected as lsb is '0'.

[2015-11-26 13:15] paul99 commented on #200
See https://chromium.googlesource.com/v8/v8/+/fd73cb191c5b7c8a49002d11e0cecd5556df0c58/src/mips/assembler-mips.h#543
And https://chromium.googlesource.com/v8/v8/+/fd73cb191c5b7c8a49002d11e0cecd5556df0c58/src/debug/mips/debug-mips.cc#43

I dont see how this would be causing the bug right now, but the patching should be fixed to use new Call().

[2015-11-26 13:36] djpesic commented on #200
I'm not sure this is the cause of the bug, becaue an optimization, until now, is done only for lui-ori-jal/jalr sequences marked with RELOCATE_INTERNAL_REFERENCE

[2015-11-26 15:23] ibogosavljevic commented on #213
Additional info from today's investigation:

The message we are seeing is not a warning, but a note. After the file name and line number, we see the type of message, this message is a note from the compiler. This is why the compilation passes even if the line is present. The other types of outputs are error and warning.

According to official documentation from GCC:
`-fvar-tracking-assignments: An

[2015-11-27 04:03] paul99 commented on #200
A couple issues here, first, RELOCATE_INTERNAL_REFERENCE is not very common in r6. It was previously used for long-branches, and a few other more rare cases. Long-branches are now done via r6 bc() instruction. See the functions `is_near_r6()`, and `BranchShortHelperR6()`. I can see how this is a bit confusing because it defines the previously well-understood: 'near-branch is 16-bit offset', to som

[2015-11-30 21:00] lialan commented on #212
patch checked in. I will close this issue for now.

[2015-11-30 21:00] #212 closed, assigned to lialan

[2015-12-01 03:03] paul99 opened #220 "mips32 target debug breakage, es6/classes tests."
See: https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge

Of the last few builds as of 2015-11-30, 1484, 1482, 1481 have ~60 fails, all on popcorn-hour-board-4.
(mjsunit/es6/classes-subclass-builtins, mjsunit/es6/classes-subclass-arrays, mjsunit/es6/classes-maps, mjsunit/es6/regexp-constructor, and others)

Builds 1483, 1480, 1479 have single fail on regress-2594 (known issue from http

[2015-12-01 03:05] paul99 commented on #217
@mkaric please see new issue referenced above. I am thinking this might have same root cause as this issue, and there are some suggestions there for debugging. Hope this helps!

[2015-12-01 03:18] paul99 commented on #214
This was fixed by Balázs in https://codereview.chromium.org/1476473002 and landed as https://crrev.com/8e54a667b2c812f8a0f2f506af6c644a952d8569

[2015-12-01 03:18] #214 closed, assigned to palfia

[2015-12-01 04:17] paul99 commented on #193
@petar-jovanovic -  from above: 'I actually encouraged one of the engineers today to add this feature into LLVM IAS'. Do you know if this feature was or will be implemented?

[2015-12-01 04:56] lialan opened #221 "Dealing with DELAY_SLOTS"
This is a topic brought up by Paul in a phone call. We want to get rid of DELAY_SLOTS, there are some reasons:
1.  better readability
2.  we are focusing r6 performance at the moment (edited as per Paul's comments)
3.  less error prone
4.  more programming friendly

​We should gradually phase out the delay slot at this point. But it might be better to split it into the following parts:
- no more D

[2015-12-01 06:09] paul99 commented on #221
To elaborate a bit on Alan's point 2:
1. r6 is the future, use of older branches with delay slots may even be a small performance negative, as newer compact branches will be optimized by hw.
2. However, r1/r2 perf is important, especially in the next year timeframe. We should _not_ do anything to decrease it significantly.

In order to consider removing existing delay slot usage, we would have to

[2015-12-01 09:41] ibogosavljevic commented on #190
Patch for CLANG landed, tests are not failing anymore, see here:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/447

[2015-12-01 09:41] #190 closed, assigned to ilijapavlovic

[2015-12-01 09:42] ibogosavljevic commented on #191
Patch for CLANG landed in v8, closing the issue
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/447/steps/Check/logs/stdio

[2015-12-01 09:42] #191 closed, assigned to ibogosavljevic

[2015-12-01 13:22] palfia commented on #220
@mkaric, @ibogosavljevic:
You can disable the kernel alignment fixup with the alignment disabler binaries. The disabler binary turns the kernel alignment fixup off via a syscall and executes the binary passed via it's command line  (I've shared the disabler binaries via Slack.)

To run a specific test:

[code]

To run a whole test suite you can use the "--command-prefix" flag (please adjust the pa

[2015-12-01 13:54] lialan commented on #219
Just want to put a comment here: when doing the implementation pay attention to the fact that AUI adds an unsigned number, while LW is actually using a signed offset. So this becomes tricker.

Depending on the value of (imm & 0xffff), if it is a signed value then we need to do the following: (might not be accurate)

[code]

[2015-12-01 14:05] lialan opened #222 "Further optimize Addu/Subu overflow checks (Pre-R6)"
This idea stems from #201 where we uses branches (BOVC/BNVC) to do the trick. We might be able to do better in some cases (adding immediate values). For the simplicity I just copy and paste my comments here:

Assume incoming immediate is a 32bit unsigned value, and then if we regard it as a signed value, we will have the following observation (extracted from MagicCode source code comments I made a

[2015-12-01 14:08] ibogosavljevic commented on #213
Compilatio performance on mips32r2, using cross toolchain:

without variable-assignment-tracking
  TOUCH /home/ivica/src/o_main3/v8/out/mipsel.optdebug/obj.target/build/All.stamp
make[1]: Leaving directory `/home/ivica/src/o_main3/v8/out'

real    10m47.670s
user    64m38.190s
sys 2m10.036s

with variable-assignment-tracking
  TOUCH /home/ivica/src/o_main3/v8/out/mipsel.optdebug/obj.target/build/A

[2015-12-01 14:11] lialan commented on #222
Another possible, better solution is to use the following structure to identify unsigned overflows:

[code]

At this moment our code uses XOR/AND to construct the MSB of the overflow indicator, and test if the indicator is less than zero for overflow. To use this way to detect overflow we will have to change the way of jumping to overflow branches as well.

[2015-12-01 14:52] kilvadyb commented on #222
I also copy my thoughts from #201:

If I understand you right then I think if we compare the result `a` with both operands then got something like the following code on pre-r6:

[code]

So we would have more instructions than currently.

on r6 we have `bovc, bnvc` for `add`, for `sub` it may be good:

[code]

In the 1st case:
"opnd_imm32 < 0 then it becomes: (op1 ^ op3) & ~op3" also 3 instructions

[2015-12-01 15:15] lialan commented on #222
@kilvadyb Sorry I was talking about pre-r6 cases, actually for the first one it is just:

[code]

Because if 'a' overflows then it will be smaller than both 'b' and 'c', testing one operand is enough. Of course using BOVC and BNVC on r6 is the best.

Also, in the 1st case, I think we can use 3 instructions (including branches) to do the trick, just look at the truth table, only when tmp2 is greate

[2015-12-01 15:32] ibogosavljevic commented on #213
PTAL: https://codereview.chromium.org/1491583002

[2015-12-01 15:32] ibogosavljevic commented on #209
PTAL: https://codereview.chromium.org/1488613007/

[2015-12-01 17:22] kilvadyb commented on #222
In  the 1st case I think

[code]

cannot be enough. For example if b == -1 (0xf..ff) and c == -2 (0xf..fe) then a will be -3 (0xf..fd). 'a' is smaller then b and smaller then c but there is no overflow (a is smaller then b, c both in signed and unsigned comparison). You can compile the following code (even for mips and check the generated asm code):

[code]

Am I misunderstanding something? Please

[2015-12-01 19:24] lialan commented on #222
@kilvadyb Sorry I just realized that I accidentally pick the title to have "Adds/Subs", actually they should be "Addu/Subu".

In the case of unsigned add and sub, your example is indeed an unsigned overflow.

I will probably come up with a CL of this for you to review.

[2015-12-01 19:46] kilvadyb commented on #222
It does not matter if you call it adds or addu. On mips we have only signed add/sub (as no status flags like on arm which could be set differently). We are checking for signed overflows (like `bovc, bnvc` on r6) and -3 == -1 + -2 is not an overflow.
BOVC: Detect overflow for add (signed 32 bits) and branch if overflow.

 Doc says for `addu, addiu`:
"The term “unsigned” in the instruction name is a

[2015-12-01 20:24] paul99 opened #223 "Remove global clang-format-off from test-assembler-mips[64].cc"
@ibogosavljevic : could you ask one of the guys to remove this clang-format off line that Jochen is mentioning here? https://codereview.chromium.org/1047213002/

It was done a long time ago, but we should treat his comment as a porting request and fix here, and other places in mips port that do this,  if any. (likely test-assem-mips64). Please cc him on fix with @kilvadyb or @palfia for review.

T

[2015-12-02 03:04] paul99 commented on #209
Patch is LGTM (with a nit, please fix before landing)

Looks like the manual is still wrong. it says invalid negative result is -2^63–1 & -2^31-1, but your code has -2^63 & -2^31. I tested on HW mips32r6 only), and the tests pass. it appears to me that the test-assembler-mips tests include this boundary case. Can you confirm?

[2015-12-02 03:09] paul99 commented on #213
I'm sure it is fine. But please use the CQ Dry Run, so I can see the results from Google bots on all arch's. (On the 'Trybot Results' line at the bottom of the blue box with your patchset in it.)

(Note you can also explicitly use TryBots to test even more variations -- though I don't think that necessary here. If you use that, scroll down the v8 section as the first few sections are Chromium rela

[2015-12-02 10:06] ibogosavljevic commented on #209
-2^63-1 and -2^31-1 cannot be the smallest 64 and 32 bit integers, because they need 65 and 33 bits to represent. This is an error in the manual still present in v. 06.04.
Tests which target negative overflow are missing, let us add them as well. We'll create another CL that cover these corner case as well

[2015-12-02 10:55] ibogosavljevic commented on #209
Patch committed. We need to create a patch for the buidler because these new test will start failing under qemu R6

[2015-12-03 14:10] ibogosavljevic commented on #213
Did dry run and it passed. But we need to have someone from the maintainers to do LGTM. Do you know who should we add?

[2015-12-03 14:15] ibogosavljevic opened #224 "Adding support for CLANG compilation on official repository"
We need to upstream CLANG compilation in the official repository. We need to commit as two separate patches:
1) Fixes for CLANG for precision losses warning
2) Updated to toolchain.py

[2015-12-03 14:19] ibogosavljevic commented on #224
Fixes for CLANG precision losses warning: PTAL: https://codereview.chromium.org/1493793002/

When fixing this, we found a bug in qemu-user
In case of ALIGN instruction on MIPS64R6, when bt = 0, the results doesn't get sign extended. This issue has been reported to qemu team and the fix is trivial, they promised to upstream it today.
This will cause the test r6_align to fail when executed under qem

[2015-12-03 16:11] mkaric commented on #220
I ran mjsunit/es6/classes-subclass-builtins.js test on a CI-20 board with disabled kernel alignment fixup and it fails with bus error. Then I shortened the test (it still fails with the same error) and what I got is very similar to the short test in the big-endian failure:

[code]

[2015-12-04 01:09] lialan commented on #219
I have submitted a CL for this, PTAL:

[code]

[2015-12-04 13:47] ibogosavljevic commented on #213
Patch landed, closing

[2015-12-04 13:47] #213 closed, assigned to ibogosavljevic

[2015-12-06 15:49] lialan commented on #210
At the beginning I thought the optimization was related to the mechanism of how we handle the OOL code or something because that contains the bulk of the code change, I looked elsewhere. After reading x86 related codegen I realized that the TODO was simply pointing to using MRI instructions to result better code quality.

Nevertheless the MRI instructions can also be used inside the RecordWriteStu

[2015-12-07 00:19] lialan commented on #210
PTAL: https://codereview.chromium.org/1507523002

[2015-12-08 13:29] ibogosavljevic commented on #224
Patch for the C++ code has been upstreamed, next step is to add patch for GYP building to enable CLANG building. We have already a working patch, it's available bellow. We just need to test it a little bit thoroughly.

Ilija, can you please have a look at this. Apply the patch, and try compiling using CLANG for MIPS, using GCC for MIPS and v8 simulator and see if everything compiles. Also, a wise

[2015-12-10 06:50] paul99 opened #225 "Breakage in BranchF32"
ahaas found a bug here: https://codereview.chromium.org/1512023002/diff/1/src/mips64/macro-assembler-mips64.cc#newcode1783

I thought it was this in BranchFCommon, but I was wrong, this fix does not help (after restoring his BranchF() to BranchF32()

[code]

Similar suspect looking issue in mips32 version. But this did NOT fix the problem.

Balázs, can you please take a look at this. See my commen

[2015-12-10 13:39] ilijapavlovic commented on #224
The patch for enabling v8 with CLANG ready for review: https://codereview.chromium.org/1519493002/

[2015-12-11 00:08] paul99 commented on #225
So above fragment was a real bug, and Balázs has landed the fix in https://codereview.chromium.org/1505983008/  / https://crrev.com/fef93bb23ba1175b41f5026363f61820effc69b9

The problem in 'ahaas' CL was that he had used BranchF32 to test a value in FP scratch reg _after_ it had been converted to `long` by trunk_l_s(). So it was incorrect usage. By some fluke the version with BranchF() passed that

[2015-12-11 00:08] #225 closed, assigned to kilvadyb

[2015-12-11 00:09] paul99 commented on #224
This is reviewed and lgtm by Jakob. Please land it, and including the commit ID here.

[2015-12-11 08:14] ilijapavlovic commented on #224
The patch landed as:
    https://crrev.com/0bae3c393575de4503cb179faa220e597e35dd8f
Commit ID:
     af3d90be212f1fcd67a4b42a586400b3e6bdc774

[2015-12-11 19:21] lialan commented on #218
A prototype of the non-address load change CL is uploaded at:
https://codereview.chromium.org/1522573002

Tests pass on simulator and Qemu mips64r6 mode (there were a lot of Div32/Truncate failures).

I am working on tuning it, and part 3.

[2015-12-14 06:12] paul99 commented on #224
This was reverted for breaking Chromium Android build, per comments added by Michael A to the issue.

Some discussion on https://v8m.slack.com/archives/clang/p1449835160000011

I've reproduced the error on a chromium build. I suggest that you guys learn how to check it out, and build.

However, in the short term, maybe you can check in with Gordana, she and her team could repro this trivially, and

[2015-12-14 14:39] mkaric commented on #220
kLayoutDecriptorOffset seems to be causing the misalignment problem, as well as the problem on BE. In objects.h it is defined kLayoutDecriptorOffset = 1, and next to it there is a comment "Must not be ever accessed.". Since it is equal to 1 it causes a misalignment when accessed, but it does point to the correct value. Also on big-endian the correct value for kLayoutDecriptorOffset would be -1, to

[2015-12-15 01:41] paul99 commented on #209
CL https://codereview.chromium.org/1488613007/ committed as https://crrev.com/60d77c8a4378f8af68c384989e4fcbdb4eb062df

The tests are not failing on r6 qemu, since the tests read the FCSR NAN2008 bit, and in qemu for r6 that bit must be clear, so the tests pass.

In that case @ibogosavljevic , is there anything else to do here, or can we close this?

[2015-12-15 08:29] ibogosavljevic commented on #209
The bug is reported to qemu team, the patch is landed. We can close the issue

[2015-12-15 08:29] #209 closed, assigned to ibogosavljevic

[2015-12-15 15:38] mkaric commented on #220
GetLayoutDescriptor() function performs FLAG_unbox_double_fields check and calls appropriate function (layout_descriptor() or LayoutDescriptor::FastPointerLayout()). Changing map->layout_descriptor() to map->GetLayoutDescriptor() in objects.cc in Map::CopyInitialMap function fixes both #217 and #220 issues.