[2016-08-17 07:26] ibogosavljevic commented on #345
Patch landed, closing issue:
https://chromium.googlesource.com/v8/v8/+/998f779727e43fcbab2bf9aaa95017a649a7e93c

[2016-08-17 07:26] #345 closed, assigned to ibogosavljevic

[2016-08-17 08:57] mkaric commented on #194
The 3 tests were actually skipped using a patch on big endian test262 builder, with patch removed they are executed and pass, closing.

[2016-08-17 08:57] #194 closed, assigned to mkaric

[2016-08-17 09:07] mkaric commented on #197
Big endian buildbots running with i18n support, closing.

[2016-08-17 09:07] #197 closed, assigned to mkaric

[2016-08-17 13:47] ilijapavlovic commented on #369
During building mips64.r2.debug, linker `ld`reports an error as internal, but if the command is executed separately, error message is `out of memory`:

[code]

Command output:

[code]

According documentation for linker `ld`, it can run out of memory space while linking a large executable. For preventing such behaviour for linker, the option `-no-keep-memory` should be used.

The patch:

[code]

W

[2016-08-17 14:22] ibogosavljevic commented on #370
Patch landed, no more failures. Closing issue:

https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6/builds/3590
https://chromium.googlesource.com/v8/v8/+/3b7fbafe72389b990da0f07fbb28c98d425fb2cd%5E%21/#F0

[2016-08-17 14:22] #370 closed, assigned to ibogosavljevic

[2016-08-18 09:57] marijantic commented on #372
PTAL: https://codereview.chromium.org/2256963003/

[2016-08-18 09:58] marijantic opened #374 "Bughunting: cctest/test-run-wasm/RunWasmCompiled_Float32SubMinusZero fails on target"

[2016-08-18 12:31] marijantic commented on #374
Fails on both BE and LE.

[2016-08-18 12:37] marijantic commented on #374
Float32SubPreserveNan and Float64SubPreserveNan operators were removed in https://codereview.chromium.org/2220973002/. Requirements for NaN payload preservation still remain, though.
On other architectures, regular subtraction does preserve NaN payload, but MIPS requires special handling in case of a NaN operand.

[2016-08-19 08:40] marijantic commented on #374
I am attaching the CL https://codereview.chromium.org/2258053002 that does solve the fix (returns the removed macro-assembler-mips.cc methods that preserve NaN). This fix is expensive from the performance perspective, as now every subtraction will use this wrapper (not just subtractions coming from wasm). Performance-wise, the best solution would be to keep using the separate operator for wasm sub

[2016-08-19 11:35] ilijapavlovic commented on #369
Additional comparing is done between builds for mips64.r2.debug and mips64el.r2.debug. For mips64el.r2.debug the build finishes with error message `Memory exhausted`:

[code]

For successful build, the same patch as for mips64.r2.debug should be applied.

**Summary**
For successful build with GCC 5.2.0 following should be done:
- For mipsel.r2.debug in `GYP_DEFINES` must be defined `linux_use_bund

[2016-08-19 11:40] marijantic commented on #372
Landed as https://crrev.com/e1c5d09bdac3302153e7c8427928dfbd5d4dd80a

[2016-08-19 11:40] #372 closed, assigned to marijantic

[2016-08-19 12:11] mkaric opened #375 "Port [stubs,interpreter] Optimise SMI loading for 64-bit targets."
Port https://codereview.chromium.org/2183923003/.

[2016-08-19 13:22] ibogosavljevic opened #376 "Bughunting: MIPS64 failuire in mjsunit/asm/asm-validation"

[2016-08-19 13:22] ibogosavljevic commented on #376
A typo in porting. Now fixed, sent to review
https://codereview.chromium.org/2258093002/

[2016-08-22 13:08] mkaric commented on #375
Uploaded a CL:
https://codereview.chromium.org/2265043002
PTAL.

[2016-08-22 14:37] mkaric opened #377 "Bughunting: cctest/test-api-fast-accessor-builder/FastAccessorToSmi fails on sim MIPS64"
Log:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/8632/steps/Check/logs/FastAccessorToSmi

[2016-08-24 09:08] mkaric commented on #377
The failure started with the CL https://codereview.chromium.org/2237443002, when the test was introduced.

The CL also introduces FastAccessorAssembler::ToSmi function but the problem appears in previously existing FastAccessorAssembler::LoadValue function which generates the code causing unaligned read:

[code]

[2016-08-24 09:36] mkaric commented on #377
Parameter pointer is initialized using uint32_t type, this is causing unaligned read errors on 64bit architectures. Uploaded a fix CL:
https://codereview.chromium.org/2273933003
PTAL.

[2016-08-24 10:27] mkaric commented on #197
@srl295 Hello, MIPS BE can now be built with i18n support, big endian data has been added to Chromium ICU. I understand this was not your preferred solution, but this way both LE and BE work in the same way. Adding PPC too should be a matter of just adding few conditions to icu.gyp file.

[2016-08-24 12:09] ibogosavljevic commented on #373
The problem appears becuase, in FastCloneShallowObjectStub, the instructions used to store parameters on stack before the call to CEntryStub is wrong:

[code]

Notice in 220 that we save register `a1` two times on stack. After comparision with code produced when v8 is compiled with previous version of CLANG, we see that register `a2` should be saved after `a3` is saved.

[2016-08-24 12:19] ibogosavljevic commented on #373
After some research, we've pinpointed the origin of the problem. In function:

[code]

Function `TailCallRuntime4` is called with wrong parameters in the new version of CLANG. Instead of `arg2`, we forward `arg3` to the `TailCallRuntime4`. That means arg3 is forwarded two times, whereas `arg2` is not forwarded at all.

After inspecting the assembler generated by CLANG compiler, we see the followin

[2016-08-24 12:46] mkaric commented on #375
Landed, closing.

[2016-08-24 12:46] #375 closed, assigned to mkaric

[2016-08-24 17:28] kilvadyb commented on #367
Rebased, modified to canonalize qNaN results also. Now the bug #374 can be reproduced/catched on simulator as well.

[2016-08-25 08:24] mkaric commented on #377
The same solution was also proposed by PPC v8 team:
https://codereview.chromium.org/2266403004
This CL landed, test no longer fails, closing.

[2016-08-25 09:20] mkaric opened #378 "Bughunting: Several tests fail on r6 sim in debug mode"
Several tests are failing:
cctest/test-assembler-mips64/MIPS3
cctest/test-disasm-mips64/Type1
cctest/test-assembler-mips64/neg

Failures started with the CL:
https://codereview.chromium.org/2256963003

[2016-08-25 09:40] kilvadyb commented on #374
In https://codereview.chromium.org/2226663002 CL the modifications in src/compiler/machine-operator-reducer.cc seems to be a good place to use preserveNaNSub ops which could be a fall-through to sub op. on other archs while we would do the heavy preserve trick on MIPS archs only when needed.

[2016-08-25 11:42] mkaric commented on #378
It seems the problem here is disabling NEG.fmt instruction in src/mips[64]/assembler-mips[64].cc for r6. In release 6 NEG.fmt instruction still exists, only NEG.PS format is removed, so these dchecks for NEG.S and NEG.D should be removed.

To double check this, I run neg test on r6 board without these dchecks, and the test passes. This means generated NEG.S and NEG.D are valid on r6 board.

[2016-08-25 11:51] ibogosavljevic opened #379 "Porting: InstructionSelector::VisitFloat32Add, InstructionSelector::VisitFloat64Add, InstructionSelector::VisitFloat32Sub and InstructionSelector::VisitFloat64Sub"
Port InstructionSelector::VisitFloat32Add, InstructionSelector::VisitFloat64Add, InstructionSelector::VisitFloat32Sub and InstructionSelector::VisitFloat64Sub from ARM to use MADD and MSUB instructions in case of Multiplication with Addition/Substraction.

[2016-08-25 11:59] mkaric commented on #378
Uploaded a fix CL:
https://codereview.chromium.org/2276563006
PTAL.

[2016-08-25 12:01] mkaric commented on #378
The CL that introduced these DCHECKs (https://codereview.chromium.org/2256963003) can be implemented differently for r6 considering neg instruction can actually be used, but this can be done as a new issue.

[2016-08-25 12:47] kilvadyb commented on #374
Unfortunately `MachineOperatorReducer::Reduce()` is not called by the failing tests. Nor on MIPS neither on arm.

[2016-08-25 14:06] ibogosavljevic opened #380 "Bughunting: unittests/AstDecoderTest.Float[32|64]Const failures when v8 compiled with CLANG"
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang/builds/469/steps/Unittests/logs/stdio

[2016-08-25 14:07] ibogosavljevic commented on #380
A fixup for this problem has been created and sent to review:
https://codereview.chromium.org/2275323002/

[2016-08-25 14:09] ibogosavljevic opened #381 "Bughunting: Failures on fuzzer/regexp/* compiled using CLANG"
A group of testing from fuzzer/regexp/\* are failing on MIPS64 CLANG builders:

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/1479/steps/Check/logs/stdio

[2016-08-25 18:58] MIPSbkirby opened #382 "Big endian builds failing to run gclient runhooks"
As of commit fcc8399d, `gclient runhooks` isn't running for big endian builds.  It fails with the message:

[code]

It's failing for both Codescape GCC and Clang builders:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20builder/builds/10527
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20clang%20-%20builder/builds/3272

[2016-08-26 09:29] kilvadyb commented on #374
Float(32|64)SubMinusZero test are removed as WASM spec changed:
https://codereview.chromium.org/2284593002/

[2016-08-26 11:20] mkaric opened #383 "Use NEG instruction in Neg_d and Neg_s macroassembler functions"
NEG was disabled for r6 in v8 code in https://codereview.chromium.org/2256963003, but in fact only NEG.PS format is removed in release 6 specification, NEG.S and NEG.D can be used. Also r6 NEG instruction, unlike in r2, also changes the sign of NaN-like operands. This makes r6 generated code simpler for Neg_d and Neg_s macroassembler functions.

[2016-08-26 11:59] mkaric commented on #383
Uploaded a CL, PTAL:
https://codereview.chromium.org/2285703002/

[2016-08-26 12:17] ibogosavljevic commented on #373
Bug acknowledged by CLANG team
https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2393

[2016-08-26 12:18] #374 closed, assigned to marijantic

[2016-08-26 12:47] #154 closed, assigned to mkaric

[2016-08-26 13:15] ibogosavljevic commented on #380
Landed: https://chromium.googlesource.com/v8/v8/+/db56339952c936d41f8ee99635a6d6f424d1730b

[2016-08-26 13:19] mkaric commented on #378
Landed, closing.

[2016-08-26 13:19] #378 closed, assigned to mkaric

[2016-08-26 13:19] mkaric commented on #383
Landed, closing.

[2016-08-26 13:19] #383 closed, assigned to mkaric

[2016-08-26 14:16] #363 closed, assigned to mkaric

[2016-08-29 07:45] ibogosavljevic commented on #380
Confirmed by builder:
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang/builds/471

[2016-08-29 07:45] #380 closed, assigned to ibogosavljevic

[2016-08-29 12:43] ibogosavljevic commented on #369
Related to failure when linking v8 for MIPS32R2 and the error we see

[code]

The reason for this error is that gold linker itself is x64, whereas `Sourcery CodeBench Lite` toolchain exists in 32bit version only.
Bottom line, if you want to link v8 with gold using `Sourcery CodeBench Lite` toolchain, you will need either to have 32bit Linux or you need to overwrite gold linker with the 32bit versi

[2016-08-29 13:32] ilijapavlovic commented on #379
As precondition for the porting, it is necessary to implement following MIPS32/64 instructions:
- MADD.S
- MSUB.fmt
- MADDF.fmt
- MSUBF.fmt

[2016-08-30 08:17] palfia commented on #382
Uploaded and landed a fix: https://codereview.chromium.org/2296473002/

Waiting for the bots to verify the fix.

[2016-08-30 09:00] kilvadyb commented on #379
Might be related to an old issue from Alen: #249

[2016-08-30 09:07] kilvadyb opened #384 "Investigate extra nop after CallRuntime"
In 'Fix LookupCode for the DatePrototype_GetField builtin' -- https://codereview.chromium.org/2284673002/ jgruber@ found a problem around `CallRuntime()`:

[code]

[2016-08-30 09:08] #384 closed, assigned to nobody

[2016-08-30 09:30] mkaric commented on #377
The test is still failing on BE MIPS64 bot, with a different error message.
Log:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1302/steps/Check/logs/FastAccessorToSmi

[2016-08-30 18:28] MIPSbkirby commented on #382
Our bots are now working again after this fix landed.  Closing the bug.

[2016-08-30 18:28] #382 closed, assigned to nobody

[2016-08-31 10:53] kilvadyb commented on #379
I uploaded a rebased port of Alan's CL: https://codereview.chromium.org/2297173002 disasm is missing and madd.fmt's precision also must be checked and find an r6 implementation. Also the r1 an Longsoon support. are opened.

[2016-08-31 12:52] mkaric commented on #377
The test passes now on BE MIPS64 bot. Actually I failed to notice that the log I linked above is old and before the fix CL landed, there was a problem with BE build so the tests were not running for several days. Closing.

[2016-08-31 12:52] #377 closed, assigned to mkaric

[2016-08-31 13:11] mkaric commented on #383
Landed another CL that fixes NEG instruction for R1 and Loongson:
https://codereview.chromium.org/2287333002/

[2016-09-01 08:57] ilijapavlovic commented on #379
Following instructions and their results are compared for MIPS32 (r2 board and r6 FPGA board):
- MADD.S (r2) with MADDF.S (r6)
- MSUB.S (r2) with MSUBF.S (r6)
- MADD.D (r2) with MADDF.D (r6)
- MSUB.D (r2) with MSUBF.D (r6)

As input data is used following set of numbers:

[code]

MADD.S vs. MADDF.S
- There are differences in received results.

[code]

MSUB.S vs. MSUBF.S
- There are differences in

[2016-09-01 10:38] mkaric opened #385 "Bughunting: test262/built-ins/TypedArray/prototype/set/typedarray-arg-set-values-same-buffer-other-type on BE"
Test test262/built-ins/TypedArray/prototype/set/typedarray-arg-set-values-same-buffer-other-type fails on BE,
fails with error message:

[code]

[2016-09-01 13:55] ilijapavlovic commented on #379
Several test cases are done where are used `sqrtf(2.0), sqrtf(3.0), sqrtf(5.0)` as input data for single formats and `sqrt(2.0), sqrt(3.0), sqrt(5.0)` as input data for double formats.
Results:
- There is no difference between results single and double formats.
- There is no difference between results r2 and r6 instructions.

In previous comment is shown that different results can be calculated if

[2016-09-01 15:09] marijantic opened #386 "Bughunting: compilation failure for GCC5"
[code]

[2016-09-02 12:24] marijantic commented on #386
The problematic file was added in https://chromium.googlesource.com/v8/v8/+/f154c75a39308be6253de351bd4422033ba528fe
Seems to be a copy/paste error, that leaves the unused variable.

[2016-09-02 13:21] ibogosavljevic commented on #381
Test fail only with CLANG, to compile it, do the following:
You will need Codescape 2015.01-7 toolchain to reproduce the issue. Set the environment variable as this:

[code]

You will need to appropriately set the location of libraries and dynamic linker as seen on the board, like this

[code]

The crash happens before the tests even start to execute. To run the test, simply execute

[code]

The c

[2016-09-02 15:10] kilvadyb opened #387 "Bughunting: mjsunit/generated-transition-stub and mjsunit/regress/regress-542823 failures."
Both of the tests fail with

[code]

Since https://dmz-portal.mips.com/bbv8/builders/Sim%20-%20edge/builds/12232
on 32-bit, regress-542823 fails on 64-bit simulator also.

[2016-09-02 15:50] kilvadyb commented on #387
bad since d27f7f7 -- https://codereview.chromium.org/2301883002

[2016-09-02 16:44] kilvadyb commented on #387
bad since 3b8ad45 - https://codereview.chromium.org/2289683002

[2016-09-05 08:31] marijantic commented on #386
Removing the unused variable solves the issue: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20gcc5%20-%20builder/builds/145
PTAL: https://codereview.chromium.org/2304133002/

[2016-09-05 09:21] marijantic commented on #376
Landed as https://crrev.com/9092f8ac869f91db4eb5615a1c2ddc51f6a58098

[2016-09-05 09:21] #376 closed, assigned to nobody

[2016-09-05 09:50] ilijapavlovic commented on #379
The 1st CL with implementation MADD.S, MSUB, MADDF and MSUBF:
https://codereview.chromium.org/2313623002/

[2016-09-05 14:49] mkaric commented on #385
This is what happens with this test. First we create a Float64Array with elements [1, 2, 3, 4, 5, 6, 7, 8].
Then we use the same buffer to create a Float32Array of size 2 (covering only first element of Float64Array).
So the binary representation of the Float32Array is the following:
For little endian
00 00 00 00 00 00 F0 3F
and for big endian
3F F0 00 00 00 00 00 00
These bits are actually repres

[2016-09-05 17:21] kilvadyb commented on #387
We are out of the limit:
Runtime_AllocateInTargetSpace is called from generated code with size to allocate: `630912` while the limit is: `kMaxRegularHeapObjectSize = 512 * KB - Page::kHeaderSize;` and I don't think the google guys should rise the limit as the comment of the constant says:

[code]

[2016-09-06 18:25] kilvadyb commented on #387
The 'too big' allocation happens calling the code generated in `LCodeGen::DoDeferredAllocate()` (from snapshot code if it is turned on).

[2016-09-07 16:42] kilvadyb commented on #387
`kMaxRegularHeapObjectSize` was moved to globals.h and also a static_assert added for it: `kMaxRegularHeapObjectSize <= MemoryChunk::kAllocatableMemory`
`MemoryChunk::kAllocatableMemory` is computed from kPageSize. I try to figure out why the object size is OK on arm and bigger on MIPS.

[2016-09-08 07:17] mkaric commented on #385
Opened test262 issue: https://github.com/tc39/test262/issues/757

[2016-09-08 07:52] marijantic commented on #386
Fix landed as https://crrev.com/0ef20b51b26c12e03a25f05251a50d60246538eb

[2016-09-08 07:52] #386 closed, assigned to marijantic

[2016-09-09 12:29] mkaric opened #388 "Benchmarking v8"
Running benchmarks (Octane, Kraken and Sunspider) on mips32 and mips64, little and big endian boards. For every month this year a commit will be taken to run the benchmarks.

[2016-09-14 08:20] ibogosavljevic opened #389 "Bughunting: mjsunit/regress/regress-165637 on MIPS32R6 debug"
Flaky failure on https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20mipsr6%2Cunder%20qemu%2Cquick/builds/176/steps/Check/logs/regress-165637

[2016-09-14 11:56] ilijapavlovic commented on #379
The 1st CL landed as https://crrev.com/65fd5e1165104e387edf7348661c5f43ac954a52

[2016-09-15 09:36] mkaric opened #390 "Porting: InstructionSelector::VisitInt32Add, InstructionSelector::VisitInt64Add, InstructionSelector::VisitInt32Sub and InstructionSelector::VisitInt64Sub"
Porting: InstructionSelector::VisitInt32Add, InstructionSelector::VisitInt64Add, InstructionSelector::VisitInt32Sub and InstructionSelector::VisitInt64Sub from ARM to use MADD and MSUB instructions in case of Multiplication with Addition/Substraction.

[2016-09-15 13:18] marijantic opened #391 "Bughunting: test/mjsunit/harmony/generators.js failure"
https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/12381/steps/Mjsunit%20-%20ignition/logs/generators

[2016-09-15 14:04] marijantic commented on #255
The average execution time is 222s, ranging from ~160s to ~320s.

[2016-09-15 15:51] mkaric commented on #388
Results are done for little endian and without --turbo flag. I uploaded the spreadsheet with individual test scores and all calculations to slack. 2015.10-4 version of toolchain was used to build v8.

[2016-09-16 07:43] ibogosavljevic commented on #381
So, the problem has been localized in

[code]

The problem appears only in short functions. When calling functions from external libraries, it is necessary to save the value of $GP register before calling the function and restore the value of $GP after return from the function.
Version 4.0.0 (trunk 280836) doesn't do this properly. Instead of saving the value before the call and restoring it after

[2016-09-16 08:38] ibogosavljevic opened #392 "Bughunting: mjsunit/wasm/embenchen/lua_binarytrees on MIPS64R6"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6%2Cunder%20qemu%2Cquick/builds/170/steps/Check/logs/lua_binarytrees

[2016-09-16 11:47] mkaric commented on #390
It seems it is not possible to make this optimization for mips. Arm's multiply and add instruction, MADD has four operands and can perform multiplication and addition in one instruction. Mips has MADD that uses HI and LO registers and it is not usable for this optimization. For r6 MADD has been removed.

[2016-09-16 11:47] #390 closed, assigned to mkaric

[2016-09-16 13:16] ilijapavlovic commented on #379
The 2nd CL uploaded and ready for review: https://codereview.chromium.org/2341303002/

[2016-09-16 18:05] kilvadyb commented on #367
Rebased, tested on r2, r6 32, 64 bits simulators.

[2016-09-20 06:33] marijantic opened #393 "Porting: Optimization for sign-extension patterns like Sar(Shl(x, a), b)"
Port https://codereview.chromium.org/1695293002

[2016-09-20 09:41] ibogosavljevic opened #394 "Compilation failure: MIPS32R1 compilation error with clang"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%2Cmipsr1%20-%20builder/builds/268/steps/compile/logs/stdio

[2016-09-20 09:49] ibogosavljevic opened #395 "Buildbot: Update qemu-version on buildbots"
According to the qemu team, we should update the qemu version. The new qemu version introduced proper NaN2008 support, as well as some fixes.

First, we need to run all tests locally to see if there are any new failures. This should be done for both MIPS32 and MIPS64. If everything turns out Ok, @MIPSbkirby can update the version of qemu on the buildbots.

[2016-09-20 10:12] kilvadyb commented on #249
#379 covers and solves this issue.

[2016-09-20 10:12] #249 closed, assigned to kilvadyb

[2016-09-20 12:13] ibogosavljevic commented on #392
Fix uploaded :https://codereview.chromium.org/2351143002/

[2016-09-21 07:14] ibogosavljevic commented on #392
Problem solved, closing issue:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6%2Cunder%20qemu%2Cquick/builds/209

[2016-09-21 07:14] #392 closed, assigned to ibogosavljevic

[2016-09-21 08:30] marijantic commented on #391
Problem with out-of-line code generation, first occurred after https://codereview.chromium.org/2320473003/
The label that is causing the issue is unused when bind_to() is called, and is generated when assembling kArchStoreWithWriteBarrier

[2016-09-21 12:38] ibogosavljevic commented on #381
CLANG team has confirmed the issue on their side:
https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2401

[2016-09-21 17:37] kilvadyb commented on #367
CL: https://codereview.chromium.org/2184843002/ landed.

[2016-09-21 17:37] #367 closed, assigned to kilvadyb

[2016-09-21 17:38] kilvadyb commented on #251
Rebased to Tot and fixed for 32-bit.

[2016-09-22 08:52] ilijapavlovic commented on #379
The 2nd CL landed: https://crrev.com/502b9aa71b1b28578579083f11f8bc67e4cd3430
This CL contains implementation for porting.

[2016-09-22 08:53] #379 closed, assigned to ilijapavlovic

[2016-09-22 09:34] kilvadyb commented on #251
Fixed and rebased CL published.

[2016-09-22 09:39] ibogosavljevic commented on #395
I tested the qemu- user from the upstream branch
git://git.qemu-project.org/qemu.git

commit ID: a008535b9fa396226ff9cf78b8ac5f3584bda58e

It works correctly, NaN2008 issue has been solved in this release.

@MIPSbkirby : is it possible to use this version on our qemur6 builders. Here is what you need to do

Compile qemu: download qemu from the above repository and set the repository to point to ab

[2016-09-22 13:11] ibogosavljevic commented on #381
The change has landed to CLANG and Chromium is using it. The issue doesn't reproduce anymore, closing...

[2016-09-22 13:11] #381 closed, assigned to ibogosavljevic

[2016-09-22 13:39] mkaric opened #396 "Bughunting: many failures on mipsel"
Many tests fail on mipsel buildbots:
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/2206
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/8228

The CL that caused the failures:
https://codereview.chromium.org/2344143003

[2016-09-22 13:46] mkaric commented on #388
I uploaded the spreadsheet for benchmarks with --turbo flag. Closing issue.

[2016-09-22 13:46] #388 closed, assigned to mkaric

[2016-09-22 16:34] kilvadyb commented on #251
optdebug.quickcheck time is improved from 5:46 to 5:19 on the same, otherwise idle machine.

[2016-09-23 00:04] MIPSbkirby commented on #395
I've updated QEMU to the new version.  I can see it running in the build slaves.  However, they're now failing with the following error:

[code]

I've checked the binary and the `rpath` is set correctly:

[code]

I'm seeing the `libdl.so.2` library on the rpath:

[code]

QEMU looks like it's opening the `libdl.so.2` library when it's run with the -strace flag.  Look at the second `open` function t

[2016-09-23 06:40] marijantic commented on #393
Landed as https://crrev.com/3d97b804c9aca1b93ede06120170abf26381c016.

[2016-09-23 06:40] #393 closed, assigned to marijantic

[2016-09-23 11:08] ibogosavljevic opened #397 "Port: [turbofan] ARM64: Use zr for zeroing stack slots"

[2016-09-23 11:24] ibogosavljevic commented on #373
The bug has been fixed and landed into Chromium. Chromium people confirmed the fix. Closing the issue...

[2016-09-23 11:24] #373 closed, assigned to ibogosavljevic

[2016-09-23 13:32] ibogosavljevic commented on #397
Patch created: https://codereview.chromium.org/2364903002/

[2016-09-23 17:41] kilvadyb commented on #251
32 bits CL landed.

[2016-09-26 06:23] ilijapavlovic commented on #394
The problem is solved with following CL: https://codereview.chromium.org/2359923003/
Landed as https://crrev.com/7d482781193653741fa2c2b0af6ece34734a4df2

[2016-09-26 06:23] #394 closed, assigned to ilijapavlovic

[2016-09-26 12:42] ilijapavlovic opened #398 "Porting: Change TruncateInt64ToInt32 to a NOP."
Port for ARM implementation https://codereview.chromium.org/2240803003

[2016-09-27 08:01] ibogosavljevic opened #399 "Bughunting: mjsunit/compiler/uint32 failure on MIPS64R6"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge%20-%20mipsr6/builds/4150/steps/Mjsunit%20-%20ignition/logs/uint32

[2016-09-27 15:07] kilvadyb commented on #251
32-bit CL https://codereview.chromium.org/1349403003/ landed.

[2016-09-27 15:20] kilvadyb commented on #251
64-bit proposal CL: https://codereview.chromium.org/2375673002, PTAL.

The main point of this modification was to avoid the quick instruction type check for simulator and be even quicker with a deep check. Paul introduced a check type enum with NORMAL (deep check) and EXTRA (quick check for simulator). But now it seems to be messed up and simulator run fails with NORMAL instruction type check. I

[2016-09-28 18:48] kilvadyb commented on #251
InstructionType(EXTRA, NORMAL) removed on 64-bit but I cannot upload a separated CL yet. I plan to make a 32-bit CL and add 64-bit patchset when the https://codereview.chromium.org/2375673002/ landed. PTAL

[2016-09-29 09:34] kilvadyb commented on #251
To remove 32-bit EXTRA|NORMAL for InstructionType(): https://codereview.chromium.org/2374013004

PTAL. If 64-bit proposal CL: https://codereview.chromium.org/2375673002 landed then I can upload the 64-bit patchset for this CL (I hope).

[2016-09-29 14:50] kilvadyb commented on #251
https://codereview.chromium.org/2375673002 landed.

[2016-09-30 09:32] ibogosavljevic commented on #397
Patch landed, issue closed

[2016-09-30 09:32] #397 closed, assigned to ibogosavljevic

[2016-09-30 09:40] kilvadyb commented on #251
InstructionType checking fix CL: https://codereview.chromium.org/2374013004/ landed.

[2016-09-30 09:40] #251 closed, assigned to kilvadyb

[2016-09-30 11:38] ibogosavljevic opened #400 "Testing: Develop tests for Word[32|64]ReverseBytes in instruction-selector-mips[64]-unittests"

[2016-09-30 12:15] ibogosavljevic opened #401 "Optimization: Implement constant pools on MIPS64R6 using LWPC and LDPC instruction"

[2016-09-30 19:08] palfia commented on #387
Uploaded & landed the fix CL: https://codereview.chromium.org/2386673002/

[2016-09-30 19:08] #387 closed, assigned to nobody

[2016-09-30 19:10] palfia commented on #368
It seems this is correctly fixed by: https://codereview.chromium.org/2207903002/

[2016-09-30 19:10] #368 closed, assigned to palfia

[2016-10-04 10:26] marijantic commented on #391
Bug not appearing after https://chromium.googlesource.com/v8/v8/+/27fe988b85e9b0b77eb5c376d4bdd1350dfc3e17

[2016-10-05 06:13] ibogosavljevic commented on #369
Nothing to be done here, closing issue...

[2016-10-05 06:13] #369 closed, assigned to ibogosavljevic

[2016-10-05 07:07] ilijapavlovic commented on #398
ARM implementation contains following:

[code]

Similar modification is applied on MIPS implementation.

In `v8/test/cctest/compiler/test-run-machops.cc` is defined test for `TruncateInt64ToInt32`:

[code]

Following considerations are for execution the test on the board with CPU Cavium Octeon II V0.1.

The test fails if V8 is build for Release mode, and succeed for Debug mode.
In diagnostic purpo

[2016-10-05 09:05] ilijapavlovic commented on #398
List of test-cases which will fail with this CL:

[code]

[2016-10-06 09:12] ibogosavljevic commented on #399
MIPS64 doesn't support Word32 compare instructions. Instead it relies that the values in registers are correctly sign-extended and uses Word64 comparison instead. This behavior is correct in most cases, but doesn't work when comparing signed with unsigned operands. The solution proposed here tries to match a comparison of signed with unsigned operand, and perform Word32Compare simulation only in t

[2016-10-06 10:53] ibogosavljevic opened #402 "Bughunting: mjsunit/wasm/start-function"
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/12541/steps/Mjsunit%20-%20ignition/logs/start-function

[2016-10-06 12:02] mkaric opened #403 "Bughunting: mjsunit/asm/embenchen/lua_binarytrees on mips32 sim"
The test started failing since this CL landed:
https://codereview.chromium.org/2384113002

Later the CL was reverted. Putting this on hold to see if the CL will land again and cause the same failure.

[2016-10-06 12:03] mkaric commented on #396
Uploaded a fix CL:
https://codereview.chromium.org/2390303003/

[2016-10-06 12:12] ilijapavlovic commented on #398
Several problems are detected if `VisitTruncateInt64ToInt32` does not emit `ext`instruction.
- Loading double value from memory into a register before truncate operation. This problem can be avoided if `lw` instruction is executed before truncate.

[code]

This solution is not enough for following problem.
- Problem with value 0xFFFFFFFF (32-bit value -1). Consider following assembler code:

[code

[2016-10-06 13:23] ilijapavlovic opened #404 "Bughunting: cctest/test-spaces/LargeObjectSpace on target MIPS64"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20clang/builds/539/steps/Check%20%28flakes%29/logs/LargeObjectSpace

[2016-10-06 13:26] marijantic opened #405 "Bughunting: Flaky test/mjsunit/regress/regress-crbug-514081.js and regress-crbug-644631.js under clang"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/1672/steps/Check%20%28flakes%29/logs/regress-crbug-514081
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/1672/steps/Check%20%28flakes%29/logs/regress-crbug-644631

[2016-10-06 14:22] mkaric commented on #218
Fix CL landed, closing the issue.

[2016-10-06 14:22] #218 closed, assigned to lialan

[2016-10-07 06:57] mkaric commented on #396
Landed, only one test, cctest/test-scanner-streams/CharacterStreams still fails with bus error, I will open this as a separate issue. This CL resolved benchmarks, webkit and big endian (flaky) failures as well. Closing.

[2016-10-07 06:57] #396 closed, assigned to mkaric

[2016-10-07 07:18] mkaric opened #406 "Bughunting: cctest/test-scanner-streams/CharacterStreams on mipsel"
This test is the only remaining failure after the fix in #396. It also fails with bus error.

Log:
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/8355/steps/Check/logs/CharacterStreams

[2016-10-07 07:51] ilijapavlovic commented on #404
Related with #360

[2016-10-07 08:14] mkaric commented on #366
Here are the links to the logs from the builds mentioned in the first post:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1207/steps/Check%20%28flakes%29/logs/regress-599717
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1205/steps/Check%20%28flakes%29/logs/regress-599717
https://v8.mips.com/bbv8/builder

[2016-10-07 08:50] mkaric commented on #360
This test did not fail on mips32 in a long time but it still fails on mips64, both little and big endian. This will be processed in #404, closing.

[2016-10-07 09:00] mkaric commented on #366
Also fails on mips64 little endian, and also with large variance in duration in the second, successful run:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge/builds/1451/steps/Check%20%28flakes%29/logs/regress-599717
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge/builds/1450/steps/Check%20%28flakes%29/logs/regress-599717
https://v8.mips.com/

[2016-10-07 09:46] ibogosavljevic commented on #177
The issue appears because of the problem with qemu-user. The issue is like this:

`On v8, some tests are failing because JAL instruction doesn't execute correctly if it is placed at the end of the memory page and it's delay slot is placed in the next memory page (e.g. JAL is in 0x35284ffc and NOP is in 0x35285000). If we use JALR instruction instead of JAL instruction in this case, then the tests

[2016-10-07 11:11] mkaric opened #407 "Bughunting: cctest/test-mark-compact/RegressJoinThreadsOnIsolateDeinit on mips64r6 qemu"
Log:
[https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/375/steps/Check/logs/RegressJoinThreadsOnI..](https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/375/steps/Check/logs/RegressJoinThreadsOnI..)

[2016-10-07 11:32] ilijapavlovic commented on #404
The problem is reproduced on the board:

[code]

[2016-10-07 11:39] ibogosavljevic commented on #400
Sent to review:
https://codereview.chromium.org/2398993003/

[2016-10-07 12:02] ilijapavlovic commented on #404
The test is executed with following command:

[code]

Every command executed separately does not produce error message.

[2016-10-07 13:13] ilijapavlovic commented on #404
The test fails on last checking:

[code]

[2016-10-10 09:07] ilijapavlovic commented on #404
The check statement is surrounded with `printf` lines:

[code]

The test output:

[code]

This shows that **the test is actually successful.** This error message comes from function `v8::internal::MemoryAllocator::TearDown(...)` which is part of `CcTest::TearDown()`:

[code]

[2016-10-10 21:36] MIPSbkirby commented on #395
I've patched QEMU with the following patch and changed the builders to use this version of QEMU.  The builders are now running normally again.  Here is the patch to QEMU:

[code]

[2016-10-10 21:36] #395 closed, assigned to MIPSbkirby, ibogosavljevic

[2016-10-11 10:04] mkaric commented on #407
The test, executed in user mode qemu, release, fails with the message:

[code]

In debug mode the error message is:

[code]

In system mode qemu, the test passes.
On r6 fpga board, the test fails with segmentation fault in release mode, and in debug mode the error message is:

[code]

When compiled with snapshot=off, the test passes in all cases.

[2016-10-11 12:53] ilijapavlovic commented on #404
The root of the problem is found.

Class `MemoryAllocator` has `size_` data member which is increased or decreased with `Increment` or `Decrement`. Consider following code:

[code]

The problem will start in `MemoryAllocator::ReserveAlignedMemory` when `size_` is
incremented and returned value for `base` is `NULL`. This means that allocation was not successful
and therefore `size_` should be decre

[2016-10-12 05:35] #398 closed, assigned to ilijapavlovic

[2016-10-12 12:07] mkaric commented on #407
On the r6 (fpga) board, the failure occurs before the test even started running.

On user mode qemu, the test passes when the buffer size is increased. This simple fix will resolve the failure.

[2016-10-12 12:21] ibogosavljevic opened #408 "Bughunting: unittests/MoveOptimizerTest.RemovesRedundantExplicit on MIPS32R2 simulator debug"
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/12594/steps/Unittests/logs/MoveOptimizerTest.Rem..

[2016-10-13 07:31] mkaric commented on #407
Uploaded a fix CL:
https://codereview.chromium.org/2416573002/

[2016-10-13 07:53] ilijapavlovic commented on #404
CL uploaded and ready for review: https://codereview.chromium.org/2418733002/

[2016-10-13 11:03] marijantic commented on #405
Could not reproduce the issue on XLP board. Tried running 100 times with and without alignment fix sysmips(MIPS_FIXADE, 0);

[2016-10-13 11:04] marijantic commented on #405
First occurrence of the flaky test: https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/1608

[2016-10-13 13:12] ilijapavlovic commented on #404
CL landed: https://crrev.com/9cb42010aa9434df893f8bf9473a380ba51e38c2

[2016-10-13 14:10] ilijapavlovic opened #409 "Bughunting: mjsunit/es6/array-from on target MIPS32 BE"
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/7159/steps/Check/logs/array-from

[2016-10-14 07:38] ibogosavljevic commented on #406
Uploaded fix: https://codereview.chromium.org/2415093002/

[2016-10-14 10:32] mkaric commented on #407
Landed, test is no longer failing. Closing. I will continue investigating the failure on the r6 fpga board in a new issue.

[2016-10-14 10:32] #407 closed, assigned to mkaric

[2016-10-14 11:31] ibogosavljevic opened #410 "Bughunting: mjsunit/asm/sqlite3/sqlite-pointer-masking on MIPS32R1"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/8441/steps/Check/logs/sqlite-pointer-masking

[2016-10-14 11:40] mkaric opened #411 "Bughunting: cctest/test-mark-compact/RegressJoinThreadsOnIsolateDeinit on mips64r6 FPGA"
Continuing on #407, the test fails on r6 fpga board.

[2016-10-14 11:41] ibogosavljevic opened #412 "Infrastructure: Testing MIPS32R6 and MIPS64R6 compiled wtih CLANG"
We need to introduce the testing of MIPS32R6 and MIPS64R6 compiled using CLANG.
- Tests should be executed using qemu-user upstream (same configuration as other qemu testing environemnts)
- We need to test both Optdebug and Release configurations
- It is ok if the tests are executed on a daily basis if we have resource issues, but preferably we would like to execute them after every commit

Assign

[2016-10-17 09:53] ilijapavlovic commented on #404
With this CL the test fails on build boot, but with different error message:

[code]

On our test boards, this error cannot be reproduced. V8 was build with Clang and GCC, and in both cases the test was successful.

[2016-10-18 13:07] ibogosavljevic commented on #399
Patch landed, issue fixed https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/9223

Closing.

[2016-10-18 13:07] #399 closed, assigned to ibogosavljevic

[2016-10-18 13:12] ilijapavlovic commented on #404
An attempt to reproduce previously mentioned error message did not succeed.
Following parameters were changed:

[code]

Reproduced error message:

[code]

Settings:

[code]

Error message:

[code]

[2016-10-19 09:40] ilijapavlovic commented on #409
The error is reproduced:

[code]

[2016-10-20 09:05] marijantic opened #413 "Bughunting: test/mjsunit/asm/sqlite3/sqlite-safe-heap.js failure"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/9240/steps/Check/logs/sqlite-safe-heap

[2016-10-20 10:12] mkaric commented on #411
I managed to get the failure on r2 board as well. The problem is connected to the OS page size. Most of the boards have 4k page size and the failure doesn't occur there, but the r6 fpga board has a 16k page size, and the r2 board I tested on has a 64k page size. The test here fails with the message:

[code]

Larger OS page size causes the MemoryAllocator::PageAreaSize function to return a smaller

[2016-10-20 11:54] ibogosavljevic commented on #410
https://chromiumcodereview.appspot.com/2434973002/#

[2016-10-20 13:58] ibogosavljevic opened #414 "Port: [ARM64] Optimize load followed by shift to MIPS64"

[2016-10-20 21:51] MIPSbkirby commented on #412
Added eight builders to build with clang and test MIPSr6.  The clang compiler builders are in the "Clang Builders" category and the testers are in the "Clang Targets" category.  They run at the lowest priority.  So, they'll only run if there's no other jobs running on the x86 mips-sim slaves.

[2016-10-20 21:51] #412 closed, assigned to MIPSbkirby

[2016-10-21 01:54] MIPSbkirby opened #415 "Target - edge - shared library builder not linking unittests against libicui18n.so correctly"
The builder fails to compile with errors like the following:

[code]

After looking at what is being built, it looks like the `unittests` isn't being linked to the correct `libicui18n.so` and `libicuuc.so` libraries which are part of the ICU package.  Running `ldd` against the `d8` binary shows it linking against the correct `libicui18n.so` and `libicuuc.so` libraries:

[code]

Compared to running

[2016-10-21 07:02] ibogosavljevic commented on #410
Patch landed, problem fixed, issue closed

[2016-10-21 07:02] ibogosavljevic commented on #410
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/8500

[2016-10-21 07:02] #410 closed, assigned to ibogosavljevic

[2016-10-24 07:16] ibogosavljevic commented on #414
https://codereview.chromium.org/2437593006/

[2016-10-25 09:14] mkaric commented on #411
Additional information - the expected page size is 503808 because the snapshot is generated on a machine with 4k OS page size, and that is the page area size.

[2016-10-26 16:00] ilijapavlovic commented on #409
This test failed for big endian variant. The test itself had the problem with handling surrogate pairs (a symbol represented with UTF16) on big endian target.

In this error case, tested symbol was musical symbol g cleaf "𝄞" which is encoded with surrogate pair `u"\xd834\xdd1e"`.

For big endian resulting sequence had bytes in reverted order `u"\xdd1e\xd834"`

The problem was in function `compiler

[2016-10-27 08:36] ilijapavlovic commented on #409
Fixed with commit f2d278a95733d05c553d01adcc54653789f06689

[code]

The problem is fixed: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/7311

[2016-10-27 08:39] #409 closed, assigned to ilijapavlovic

[2016-10-27 11:07] ilijapavlovic opened #416 "Porting: Improve Float(32|64)(Max|Min)."
[code]

[2016-10-28 08:30] ibogosavljevic commented on #414
Patch landed, issue closed

[2016-10-28 08:30] #414 closed, assigned to ibogosavljevic

[2016-10-28 08:35] ibogosavljevic opened #417 "Bughunting: mjsunit/regress/regress-crbug-648737 on MIPS64 big-endian debug"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1461/steps/Check/logs/stdio

[2016-10-28 09:50] ibogosavljevic opened #418 "Bughunting: unittests/NoBarrierAtomicValue.Construction on MIPS64BE debug"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1458/steps/Unittests/logs/NoBarrierAtomicValue...

[2016-10-28 14:00] ibogosavljevic commented on #406
Fixed: https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1/builds/8576

Closing

[2016-10-28 14:00] #406 closed, assigned to mkaric

[2016-10-31 13:18] ibogosavljevic opened #419 "Optimization: Refine cost modeling for instruction scheduling on MIPS and MIPS64"
Based on:
[turbofan] Refined cost model for instruction scheduling on arm64.
2bc60707775813c555fcd01e4cbeffeb4c0bf3e6

[2016-11-01 12:24] ibogosavljevic opened #420 "Port: Reland [arm64] Improve some new builtins."
The following change needs to be ported to MIPS:

[code]

[2016-11-02 09:56] ibogosavljevic opened #421 "Port: ARM64: [turbofan] Avoid zero-extension after a 32-bit load"
Port f07d2cdd6a3e73f49b7e15976062f6448f70983a

[2016-11-02 09:57] ibogosavljevic opened #422 "Port: [turbofan] ARM64: Use zr to store immediate zero"
Port 0322c20d178db0b3360af0353972bc338b2d4b18

[2016-11-03 08:38] mkaric commented on #415
This has been failing since the CL https://codereview.chromium.org/2416243002 landed, more precisely, since these changes in unittests.gyp landed: https://codereview.chromium.org/2416243002/diff/60001/test/unittests/unittests.gyp.

[2016-11-03 14:56] simicicd commented on #402
Start function test fails in heap verification check, only in debug mode. HeapVerify() function requires address in return register v0, but WASM start function should not return any value.

After some time spent in investigation, we came with conclusion that this is not only MIPS related problem. Small change which produce the same error on ARM architecture is created, and bug is reported to V8 te

[2016-11-03 15:38] ilijapavlovic commented on #416
ARM implementation performs a floating-point min or max operation with the semantics of ARM64's fmin/fmax.
Some cases, typically NaNs or +/-0.0 are expected to be rare and are handled in out-of-line code. The specific behaviour depends on supported instructions.

[2016-11-03 15:40] ibogosavljevic opened #423 "Optimization: Optimize most common patterns occurring in Octane Richards benchmark"
Run the Octane Richrads benchmark and collect the emitted instruction traces. Then optimize those cases that happen most often.

This applies to both MIPS32 and MIPS64.

[2016-11-03 15:41] ibogosavljevic commented on #423
First CL uploaded for review: https://codereview.chromium.org/2472703002/

[2016-11-04 09:58] ibogosavljevic commented on #421
https://codereview.chromium.org/2469253002/

[2016-11-04 12:45] ibogosavljevic commented on #421
Patch landed, closing...

[2016-11-04 12:45] #421 closed, assigned to ibogosavljevic

[2016-11-04 14:20] ibogosavljevic opened #424 "Optimization: optimize load/store with large offset on MIPSR2 and less"
Currently, we are using the following sequence for load/store with large offset. Let's say the offset is 0x12345678 and that we want to load the value to register a0 with base register s0.

[code]

This sequence can be optimized in the following way:

[code]

[2016-11-04 14:39] simicicd commented on #422
Sent to code review: https://codereview.chromium.org/2470133005/

[2016-11-07 16:38] mkaric commented on #415
Fixed this by adding icu libraries to dependencies in unittests.gyp when i18n support is on. Also fixed gn build. CL uploaded:
https://codereview.chromium.org/2479863002/

[2016-11-08 14:40] simicicd commented on #402
Issue is fixed with this CL: https://codereview.chromium.org/2483193002

[2016-11-09 07:31] ibogosavljevic commented on #418
Sent to review: https://codereview.chromium.org/2464703003/

[2016-11-09 07:32] ibogosavljevic commented on #418
Patch landed, issue fixed
 https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1484

Closing issue...

[2016-11-09 07:32] #418 closed, assigned to nobody

[2016-11-09 07:36] ibogosavljevic commented on #417
Patch landed https://codereview.chromium.org/2453333002/

The issue was fixed here:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1484

[2016-11-09 07:36] #417 closed, assigned to ibogosavljevic

[2016-11-09 07:38] ibogosavljevic commented on #402
Fixed on buildbots: https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/12797

Issue closed!

[2016-11-09 07:38] #402 closed, assigned to simicicd

[2016-11-09 09:54] mkaric commented on #415
This is pretty much done but the reviewer went on a two week long vacation so putting on hold until I can land the fix.

[2016-11-10 09:23] ibogosavljevic commented on #423
Second CL uploaded: https://codereview.chromium.org/2477453005

[2016-11-10 09:27] ibogosavljevic commented on #408
CL landed: https://chromium.googlesource.com/v8/v8/+/0cf56232209d4c9c669b8426680de18806f6c29a

[code]

Issue is fixed: https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/12807

[2016-11-11 09:02] mkaric opened #425 "Target - edge - shared library builder not linking fuzzer against libicui18n.so correctly"
All fuzzer tests fail, example:
Stderr:
/bbv8-slaves/rhino-board-5/build/slave/v8-linux-mipsel-target-edge-shared-library/build/v8/out/Release/v8_simple_wasm_fuzzer: error while loading shared libraries: libicui18n.so: cannot open shared object file: No such file or directory

Looks like a dependency problem similar to #415.

[2016-11-14 08:53] simicicd commented on #424
Sent to code review: https://codereview.chromium.org/2486283003/

[2016-11-14 12:24] mkaric commented on #403
This landed again:
https://codereview.chromium.org/2388303006
but the CL is fixed and doesn't cause problems, closing.

[2016-11-14 12:24] #403 closed, assigned to mkaric

[2016-11-15 02:34] kwan0xfff commented on #405
I've been running regress-crbug-514081 on an ER Pro-8 with a set of other regression tests, using -j 2.  In some cases, the amount of memory used exceeded 2 GB. At that point, the OOM killer would be invoked, crashing the test.  I later added an auxiliary swapfile, increasing overall swap space from 2 GB to 3 GB.  Over 10+ iterations of the test, I got max swap usages from 1.67 to 2.37 GB; none of

[2016-11-15 10:31] mkaric commented on #415
Fix CL landed, unittests are green on the buildbot, closing.

[2016-11-15 10:31] #415 closed, assigned to mkaric

[2016-11-15 14:58] mkaric commented on #411
Fixed by adding a flag, v8_os_page_size, to override OS page size when generating snapshot. This allows building v8 on a machine with 4k OS page size, and running it on targets with larger os page size. For example, r6 fpga board where the problem was reproduced has 16k OS page size. When building v8, we can now add v8_os_page_size=16 to the make command and then we could use it on the board with

[2016-11-16 02:59] kwan0xfff commented on #405
Swap spaces on affected machines was increased today (11/15 about 3pm PST) to "ridiculously large".  Possibly the crashes of "regress-crbug-514081.js" will disappear.

[2016-11-16 09:02] mkaric commented on #360
Reopening as #404 is a different issue. The test still fails occasionally.

[2016-11-16 09:19] mkaric commented on #405
This is most probably related to #360 and #366 as well. These have been failing occasionally for a long time now. Also there seems to be more tests behaving similarly (regress-655573...). Variable amounts of swap space used is certainly worth investigating.

[2016-11-16 09:31] mkaric commented on #389
This is related to #363. The same test fails but on mips64 BE board. Probably the same reason, explained there.

[2016-11-16 10:22] mkaric commented on #411
Landed, closing.

[2016-11-16 10:22] #411 closed, assigned to mkaric

[2016-11-16 15:04] simicicd commented on #422
Patch landed. Closing issue.

[2016-11-16 15:06] #422 closed, assigned to simicicd

[2016-11-16 15:08] simicicd commented on #424
Patch for mips32 landed: https://codereview.chromium.org/2503493002/

[2016-11-17 11:26] mkaric opened #426 "Bughunting: Many tests fail on mips32eb, missing ICU?"
Many tests fail reporting error with ICU data files, example:
Test: intl/overrides/number
[code]

[2016-11-17 11:28] mkaric commented on #426
The CL affecting ICU and causing these failures:
https://codereview.chromium.org/2491333003

[2016-11-18 11:06] mkaric commented on #425
Uploaded a fix CL:
https://codereview.chromium.org/2510063002/

[2016-11-18 12:48] ibogosavljevic commented on #423
First and second CL landed.
Third CL uploaded and landed: https://codereview.chromium.org/2503833002/
Forth CL is on code review: https://codereview.chromium.org/2509203003/
This concludes all MIPS32 changes which are detected in the Octane test suite for all instruction sequences execute more than 200.000 times.

[2016-11-18 12:50] ibogosavljevic commented on #420
sent to code review: https://codereview.chromium.org/2507683003/

[2016-11-18 12:54] ibogosavljevic opened #427 "Bughunting: maddf_msubf_d and maddf_msubf_s fail on mips32r6 release under qemu"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/124

[2016-11-18 13:24] mkaric commented on #425
Landed, closing.

[2016-11-18 13:24] #425 closed, assigned to mkaric

[2016-11-18 13:53] mkaric commented on #426
The CL mentioned earlier also rolls new version of ICU. The CL in ICU causing the problem is:
https://codereview.chromium.org/2434153002/
This CL is supposed to add ICU support for all big endian platforms but it brakes MIPS. Problem is that icu.gyp now checks v8_host_byteorder variable but this doesn't work when cross compiling for a target with different endiannes.

[2016-11-21 10:27] mkaric commented on #426
I made a proposal fix CL by first checking if target_arch is mips/mips64 and then checking v8_host_byteorder flag:
https://codereview.chromium.org/2518533002/

[2016-11-21 11:25] marijantic commented on #405
The test 514081 tries to allocate a 2GB Array Buffer, and this is the reason for OOM failure. Similar issue reported by NodeJS team, for x86 https://github.com/nodejs/node/issues/6340 and PPC https://github.com/nodejs/node/issues/8750

[2016-11-21 14:59] mkaric commented on #300
The faulty flag loading/checking code segment was completely removed in the CL:
https://codereview.chromium.org/2167493003
With this CL, flags are no longer used in megamorphic stub cache hash computations. I think this can be closed.

[2016-11-21 14:59] #300 closed, assigned to mkaric

[2016-11-25 09:10] marijantic commented on #424
Patch for mips64: https://codereview.chromium.org/2505923002/

[2016-11-25 09:13] marijantic commented on #424
Patch landed, closing the issue. https://crrev.com/daedefd3fc117754eaaa1b961880fff07d84852c

[2016-11-25 09:13] #424 closed, assigned to marijantic

[2016-11-25 11:05] marijantic commented on #405
NodeJS team fixed this by forcing only one instance of the test to be executed, so we will set NO_VARIANTS for it also.

[2016-11-25 11:05] #405 closed, assigned to marijantic

[2016-11-25 11:25] marijantic opened #428 "Optimization: optimize load/store with large offset on MIPSR6"
Additionally optimize #424 for mipsR6.
Sequence LUI + ADD can be replaced by AUI on MIPSr6

[2016-11-28 08:29] marijantic commented on #428
PTAL: https://codereview.chromium.org/2535703002

[2016-11-28 12:12] marijantic opened #429 "Bughunting: failing tests from unittests/RuntimeCallStatsTest on target"
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/8752/steps/Check/logs/RuntimeCallStatsTest...
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/7084/steps/Check/logs/RuntimeCallStatsTest...

[2016-11-28 13:33] ibogosavljevic opened #430 "Bughunting: Improper use of odd floating point register on MIPS32R6"
Currently, on MIPS32R6 we use an odd floating point register F19 (defined as kDoubleCompareReg) to hold the result of the comparation with CMP instruction that we use afterword in BC1EQZ. In case the hardware switches to FRE mode, this causes writes to odd registers to be treated as writes to upper part of even register, which then causes corruption of an even register.

To reproduce this easily,

[2016-11-30 12:23] ilijapavlovic commented on #416
CL uploaded and ready for review: https://codereview.chromium.org/2534413002/

[2016-11-30 12:34] ilijapavlovic opened #431 "Bughunting: Build V8 fails for Debug mode."
V8 builds fail for debug mode and different targets since following commits:
[code]

[2016-11-30 13:36] ilijapavlovic commented on #431
The problem is reproduced for building mipsel.debug r2 for simulator. Problematical commit is:
"[base] Pass scalar arguments by value in CHECK/DCHECK":
[code]

[2016-11-30 14:00] ilijapavlovic commented on #431
Build V8 with following commit is successful:
[code]
This confirms that the problem is in commit "[base] Pass scalar arguments by value in CHECK/DCHECK".

[2016-12-01 10:21] marijantic commented on #429
Tests are failing since they were introduced, because the expected timer interval tolerance is not large enough. Increasing the tolerance for MIPS solves the issue on the boards.

Test were skipped by https://chromium.googlesource.com/v8/v8/+/c81dbaf2b200267b0c6daa68c18dc7917541fd80 , due to flaky timers. If they are re-enabled, we should adjust the tolerance to be relative to the whole interval l

[2016-12-01 10:21] #429 closed, assigned to marijantic

[2016-12-01 10:53] marijantic commented on #413
Duplicate of #391, fixed by https://codereview.chromium.org/2530143002/

[2016-12-01 10:53] #413 closed, assigned to marijantic

[2016-12-01 11:50] marijantic commented on #371
Fix landed as https://crrev.com/2e6db3af00282c35a7d944ac76f3280f626c0ee7

[2016-12-01 11:50] #371 closed, assigned to marijantic

[2016-12-01 12:55] marijantic opened #432 "Porting: Deal with holey arrays in the Apply builtin."
port https://codereview.chromium.org/2510043004/

[2016-12-01 13:11] marijantic commented on #428
CL landed as https://crrev.com/51159360d48b7871dd1e049581eee92a4844842a

[2016-12-01 13:11] #428 closed, assigned to nobody

[2016-12-01 14:21] simicicd commented on #391
Patch landed, closing the issue: https://codereview.chromium.org/2530143002/

[2016-12-01 14:23] #391 closed, assigned to simicicd

[2016-12-01 15:45] ilijapavlovic commented on #431
CL uploaded and ready for review: https://codereview.chromium.org/2543643005/

[2016-12-01 16:34] kwan0xfff commented on #255
This particular test is failing at Google on ER Pro-8.  For example, this run:
https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%202/builds/2126/
Machine is big-endian; I recall kernel being 4.1.4 or 4.1.20.
Timeout at Google seems to be 6m 40s => 400s.

[2016-12-02 06:26] ilijapavlovic commented on #431
CL landed and V8 builds are successful again.

[2016-12-02 06:26] #431 closed, assigned to ilijapavlovic

[2016-12-02 08:43] marijantic commented on #432
PTAL: https://codereview.chromium.org/2550503003

[2016-12-02 09:13] ibogosavljevic commented on #423
First patch for MIPS64 on review: https://codereview.chromium.org/2532333003/

[2016-12-02 12:40] ilijapavlovic opened #433 "Bughunting: With Clang, build V8 fails for R6."
When clang is used for building V8 with release 6, building fails on different targets.
The common error message for all failed builds:
[code]

[2016-12-02 12:46] ibogosavljevic opened #434 "Infrastracture: Enable watchdog timer on CI20 boards"
We are having problems with CI20 baords. The boards freeze from time to time and need to be manually reset. If we enable watchdog timer, the boards will reset themselves so there won't be any need for this.

[2016-12-02 13:05] simicicd commented on #434
Steps for enabling watchdog timer on CI20 boards:

1. Check if watchdog module is loaded:
`ls -l /dev/watchdog*`
(Should be able to see /dev/watchdog and /dev/watchdog0 device files)

2. Install watchdog deamon if it is not already installed:
`sudo apt-get install watchdog`

3. Create dir for watchdog logs files (in case dir doesn't exist):
`sudo mkdir -p /var/log/watchdog`

4. Change the default

[2016-12-02 13:16] #434 closed, assigned to simicicd

[2016-12-05 07:46] marijantic commented on #432
CL landed https://crrev.com/46bf4c16cc5f0a91e591b824194f42b8c1a34ed7

[2016-12-05 07:46] #432 closed, assigned to marijantic

[2016-12-05 08:37] marijantic opened #435 "Bughunting: Failing floating point tests on mipsr6 simulator"
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6/builds/4704/steps/Check/logs/RunFloat64MulAndFloat..
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6/builds/4689/steps/Check/logs/math-expm1
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6/builds/4689/steps/Check/logs/math-fround
https://v8.mips.com/bbv8/builders/Sim%20-%20

[2016-12-05 11:12] marijantic commented on #435
Error when running

  Check failed: x == y (4.29497e+75 vs. 4.29497e+75).

 Occurs for bit patterns x= 4fa2fdbb0e1d7eaf, y= 4fa2fdbb0e1d7eae

[2016-12-05 14:18] ilijapavlovic commented on #433
The problem is reproduced locally for mips64el.release.r6.
All relevant commands and files are collected and delivered/reported to the Clang team.

[2016-12-06 10:12] mkaric commented on #292
I managed to implement a number of optimizations when using Jump and Call MacroAssembler functions.
Uploaded a CL:
https://codereview.chromium.org/2542403002

[2016-12-06 10:16] ibogosavljevic commented on #423
Optimization that optimized DEXT/XOR/BRANCH is not possible, because the result of XOR is used in other basic block so we cannot merge BRANCH with XOR.

This finishes optimizations for MIPS64, this issue is closed...

[2016-12-06 10:16] #423 closed, assigned to ibogosavljevic

[2016-12-06 11:32] ilijapavlovic commented on #416
Committed and landed as https://chromium.googlesource.com/v8/v8/+/7a6f294ffe8e9cc98e266238ec5cd0aa74524c4a

[2016-12-06 12:32] marijantic commented on #435
CL that fixes the test-run-machops issue. https://codereview.chromium.org/2553073002
Issues from mjsunit suite cannot be reproduced locally.

[2016-12-07 07:22] ilijapavlovic opened #436 "Bughunting: Tests for floating point max/min fail in debug mode."
Following tests fail in debug mode for different targets:
cctest/test-macro-assembler-mips/macro_float_minmax_f32
cctest/test-macro-assembler-mips/macro_float_minmax_f64
cctest/test-macro-assembler-mips64/macro_float_minmax_f32
cctest/test-macro-assembler-mips64/macro_float_minmax_f64
mjsunit/regress/math-min

This is related with commit: 7a6f294ffe8e9cc98e266238ec5cd0aa74524c4a
"MIPS: Improve Flo

[2016-12-07 08:31] ilijapavlovic commented on #436
For test: mjsunit/regress/math-min
- Additional checking if the registers are the same fixed the problem.
[code]
For test: cctest/test-macro-assembler-mips/macro_float_minmax_f32 and cctest/test-macro-assembler-mips/macro_float_minmax_f64:
- Missing `__ nop();` after branch instructions

[2016-12-07 14:35] ilijapavlovic commented on #436
The CL uploaded and ready for review: https://codereview.chromium.org/2556793003/

[2016-12-08 11:03] marijantic commented on #435
We decided to skip the following tests for simulator runs:
'test-run-machops/RunFloat64MulAndFloat64Add1'
'test-run-machops/RunFloat64MulAndFloat64Add2'
'test-run-machops/RunFloat64MulAndFloat64Sub2'
'mjsunit/es6/math-expm1.js'
'mjsunit/es6/math-fround.js'
'mjsunit/compiler/multiply-add.js'

[2016-12-08 11:41] ibogosavljevic commented on #255
I had a look at this test, and apparently there is some problem with it. The test fails on both mips and mipsel when snapshots are off. It fails on target only, there is no problem on the simulator. There is some kind of problem with the profiler, some data structure get messed up and we get a invalid memory access (but sometimes also some other errors).

Assigning this issue to @marijantic

[2016-12-08 15:20] ilijapavlovic commented on #436
Checking the same registers is moved into Float(32|64)(Max|Min) functions.
Also, all kind of branching are replaced with macro `Branch()`.
The CL committed and landed as https://chromium.googlesource.com/v8/v8/+/e8f5adbed22c59a7df1530f4979768e6ebcda7c6

[2016-12-08 15:59] kwan0xfff commented on #255
Just to get up to date with current tests... https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%202/builds/2161

[2016-12-09 09:12] #436 closed, assigned to ilijapavlovic

[2016-12-09 09:13] #416 closed, assigned to ilijapavlovic

[2016-12-09 11:45] ibogosavljevic opened #437 "Porting: [turbofan] ARM: Improve AND instruction selection"

[2016-12-09 14:15] p-rudic commented on #437
Porting to MIPS is not possible because MIPS doesn't have such diversity of bit extraction instructions.

[2016-12-09 14:44] p-rudic commented on #420
Issue closed.

[2016-12-12 08:17] mkaric commented on #426
The fix landed to icu and icu is rolled in v8 DEPS. Big endian builders are turning green. Closing.

[2016-12-12 08:17] #426 closed, assigned to mkaric

[2016-12-12 09:47] ilijapavlovic opened #438 "Bughunting: cctest/test-code-stubs-mips/ConvertDToI fails on mipsel debug mode (flaky)."
The test cctest/test-code-stubs-mips/ConvertDToI fails occasionally on target for mipsel in debug mode.

https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/2419/steps/Check%20%28flakes%29/logs/ConvertDToI

[2016-12-12 13:13] ibogosavljevic commented on #435
Decided to disable fusion multiply add in both emitted and compiled code. A patch has been sent to review: https://codereview.chromium.org/2569683002/

[2016-12-13 08:48] ilijapavlovic commented on #438
The test started to fail more often than usually since following commit:
[code]

Common thing in all failed cases is that always fails the command (test variant) without flags `--turbo` and `--ignition-staging`. Form of the failed command:
[code]

[2016-12-13 09:09] ilijapavlovic commented on #438
The test contains following part of the code which is related with Debug mode:
[code]
It should be investigated if `RunAllTruncationtests()` is related with this problem.

[2016-12-15 08:15] ilijapavlovic commented on #438
The problem was not possible to reproduce on Malta and CI20 boards.

[2016-12-15 10:29] ilijapavlovic opened #439 "Improvement: Add supprot for FP register content in simulator trace."
For instructions which manipulate with floating point (FP) registers, contents of FP registers are not visible in simulator trace. Several examples from simulator trace:
[code]
It is necessary to implement that content of destination registers is displayed in simulator trace.

[2016-12-16 09:35] ibogosavljevic opened #440 "Bughunting: mjsunit/array-functions-prototype-misc falky failure"
https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/8870/steps/Check%20%28flakes%29/logs/array-functions-proto..

[2016-12-16 09:36] ibogosavljevic commented on #437
Closing issue as non-portable

[2016-12-16 09:36] #437 closed, assigned to nobody

[2016-12-16 09:38] p-rudic commented on #440
It has been found that tests occasionally fail because these tests need 400MB of RAM to run, and buildbots usually run several kind of tests at the same time. When system is low on memory it calls Out Of Memory killer which kills most memory hungry tests.

[2016-12-16 09:57] ibogosavljevic commented on #419
Assigned to @p-rudic. Instruction scheduler is not used anywhere in the code, so no benefit would come even if we do implement it. Closing issue as "will not do it"

[2016-12-16 09:57] #419 closed, assigned to nobody

[2016-12-16 09:58] ibogosavljevic commented on #234
Instruction scheduler is not used yet. This is duplicate of #419. CLosing issue

[2016-12-16 09:58] #234 closed, assigned to lialan

[2016-12-16 13:12] ibogosavljevic commented on #208
We disabled fused multiply-add in both compiled and emitted code, the problem is now solved.

Duplicate of #435. Closing

[2016-12-16 13:12] #208 closed, assigned to ibogosavljevic

[2016-12-16 13:13] ibogosavljevic commented on #435
Patch landed, issue closeed

[2016-12-16 13:13] #435 closed, assigned to ibogosavljevic

[2016-12-16 15:37] #420 closed, assigned to nobody

[2016-12-16 15:50] ibogosavljevic commented on #438
Putting on hold for the time being

[2016-12-23 09:52] simicicd commented on #430
In order to turn on FRE mode we must use prctl system call in this format:
`prctl(PR_SET_FP_MODE, PR_FP_MODE_FRE | PR_FP_MODE_FR);`

Not all qemu branches have support for this mode, but i6400-mips64r6-PRIP4 branch from qemu-prpl repository (https://github.com/prplfoundation/qemu) has it.

When the value for kDoubleCompareReg register is changed from f19 to f26 (from odd numbered to even numbered

[2016-12-23 10:18] ibogosavljevic commented on #408
The patch got reverted. The reason is `The reason for reverting is: This change rendered InstructionSequenceTest::SetNumRegs ineffectual, thus loosening the tests that were using that API to ensure correct register allocation under intentionally constrained setups.  For the problem stated in this CL, a solution needs to continue supporting the intentionally set-up test configuration..`

A new patc

[2016-12-23 10:44] ibogosavljevic opened #441 "Bughunting: Compilation failure when compiling v8 for Android"
The issue started to appear after:
https://codereview.chromium.org/2548213004

The line causing the failure:
[code]

[2016-12-23 10:46] ibogosavljevic opened #442 "Port ` (wasm) TrapIf and TrapUnless TurboFan operators implemented on arm`"
Port optimization https://codereview.chromium.org/2584603002/

[2016-12-23 10:46] ibogosavljevic commented on #442
@p-rudic is looking at this

[2016-12-23 10:54] ibogosavljevic commented on #430
Testing FRE mode is a bit complicated, since all libraries needs to be compiled with -no-odd-spreg in order to support this. We used system call in the code to explicity enable FRE mode, otherwise we would need a complicated library arrangement in order to provoke FRE mode.

We tested using softfloat libraries in the Linux environment, since these should work fine with FRE. The fix simply disabled

[2016-12-23 10:54] #430 closed, assigned to simicicd

[2016-12-23 11:54] ibogosavljevic commented on #427
Cannot verify this, since CLANG buildbots don't work due to compilation issue.

[2016-12-23 11:54] ibogosavljevic commented on #408
The CL fixed the issue https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/13161

[2016-12-23 11:54] #408 closed, assigned to ibogosavljevic

[2016-12-23 15:41] ibogosavljevic commented on #261
The patch has landed so we are closing this issue

[2016-12-23 15:41] #261 closed, assigned to nobody

[2016-12-23 15:44] ibogosavljevic commented on #279
The issue was fixed here: https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20clang/builds/1306 ans hasn't been reproducing ever since. Closing...

[2016-12-23 15:44] #279 closed, assigned to ilijapavlovic

[2016-12-23 15:45] ibogosavljevic commented on #290
Closing

[2016-12-23 15:45] #290 closed, assigned to kilvadyb

[2016-12-30 10:59] ilijapavlovic commented on #439
CL uploaded and ready for review: https://codereview.chromium.org/2603083002/

[2016-12-30 11:11] sretenkovacevic commented on #401
Idea was to implement Constant Pool to work with 64bit constants, using LDPC instruction. It was expected that the most benefits of Constant Pool would be seen if it was used on 64bit constants because load of those constants needed the most instructions without it.

Implementation of Constant Pool was ported from ARM64 with some minor modifications and adjustments.
Optimization was implemented on

[2016-12-30 11:12] ibogosavljevic commented on #401
Issue finished, closing

[2016-12-30 11:12] #401 closed, assigned to sretenkovacevic

[2016-12-30 11:31] ibogosavljevic commented on #441
assigned to @p-rudic

[2016-12-30 11:35] ibogosavljevic opened #443 "Bughunting: Segmentation fault in ValueSerializerTestWithWasm.DecodeWasmModuleWithInvalidDataLength unittest"
Failure appears when V8 is compiled with Chromium, not on our buildbots

[2016-12-30 12:16] p-rudic commented on #441
It is found that compilation failure is due to bug in gcc. The bug is reported on dmz portal:  https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2458

[2017-01-02 13:59] ilijapavlovic commented on #202
Since Dec 01, 2016 till Jan 02, 2017 this problem is not reproduced on test machines. Therefore this issue will be closed.

[2017-01-02 13:59] #202 closed, assigned to ilijapavlovic

[2017-01-03 12:29] ilijapavlovic commented on #404
The test still occasionally fails, but error message is different:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20clang/builds/675/steps/Check%20%28flakes%29/logs/LargeObjectSpace
[code]
[code]
Initial problem was not with `--ignition-staging` flag and the test didn't crash.

[2017-01-04 13:08] ilijapavlovic commented on #404
The test is executed in a loop over 900 times and it didn't crash.
Still not possible to reproduce the problem.

[2017-01-06 20:08] kwan0xfff opened #444 "cctest/test-api/IndependentWeakHandle fails on mips64"
This is a test failure on the "build24-b3" (ER Pro--8) board at Google:
https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%202/builds/2290

The above build (# 2290) is the first occurrence found in logs for that builder.  Build # 2289 did not show this error.  From the test log:
[code]

[2017-01-09 12:33] ilijapavlovic commented on #404
Identified several different error messages which occasionally appear in failed tests:

- Error message 1: If the test is crashed, there are no additional descriptions about the problem.
[code]
- Error message 2
[code]
- Error message 3
[code]
- There is no specific combination of flags for reproducing error messages.
- There is no rule about appearing error messages (or any of mentioned error mes

[2017-01-09 14:47] ilijapavlovic commented on #433
The last appearance of this error message was in build
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu%20-%20builder/builds/309/steps/compile/logs/stdio

After this build, new error messages are visible in logs.

[2017-01-12 15:09] ibogosavljevic opened #445 "Bughunting: Around 400 tests started failing after commit"
Around 400 tests started failing after commit

https://chromium.googlesource.com/v8/v8/+/4c699e349a4986b28574b3a51e8780e3a3d067b1%5E%21/

Failing tests:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/9873

[2017-01-13 08:14] ibogosavljevic commented on #445
The patch was sent to code review https://codereview.chromium.org/2625933006/ and the author of the original patch said that there are some other problems and that he will revert his patch and include my fixes in it.

[code]

The patch has actually been reverted
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/9971 and now there are no failures.

Closing the issue s

[2017-01-13 08:14] #445 closed, assigned to ibogosavljevic

[2017-01-16 13:24] p-rudic commented on #442
Done by ahaas

[2017-01-17 08:21] #442 closed, assigned to nobody

[2017-01-17 08:23] ibogosavljevic commented on #400
Patch landed, issue closed

[2017-01-17 08:23] #400 closed, assigned to ibogosavljevic

[2017-01-17 09:02] ibogosavljevic commented on #255
So here are the most recent observation:

test fails on cavium board, on ci20 everything works correclty. When we execute the test with `time` command, we see that the tests spends a lot of time waiting for the system calls to finish: 3 minutes on cavium vs 3 seconds on ci20.

Assigning to @sretenkovacevic

[2017-01-17 09:21] marijantic commented on #266
CL with port provided, closing the issue

[2017-01-17 09:21] #266 closed, assigned to marijantic

[2017-01-17 09:25] ibogosavljevic commented on #269
This issue does not reproduce for a very long time, so closing it.

[2017-01-17 09:25] #269 closed, assigned to marijantic

[2017-01-19 10:06] p-rudic commented on #444
Can't reproduce this issue on our buildbots.  According to our observations problem arises because Garbage Collector don't free up enough space, but we didn't notice reason.

[2017-01-19 14:18] ibogosavljevic opened #446 "Bughunting: mjsunit/regress/regress-crbug-514081 flaky failure on MIPS64 big-endian debug"
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1674/steps/Check%20%28flakes%29/logs/regress-crbug-514081

assign to @prudic

[2017-01-19 14:27] p-rudic commented on #446
Those tests are using a lot of memory, and our boards have only up to 2GB of RAM. Therefore they are frequently failing because Out Of Memory killer terminates them.

[2017-01-20 14:32] simicicd commented on #443
This error can be reproduced only when unittest file (compiled for ARM or MIPS simulator) is directly executed (not by tools/run_tests.py script), so all tests are executed together. When the script is used, each test from ValueSerializerTestWithWasm test case is separately executed and the problem is masked. DecodeWasmModuleWithInvalidDataLength test fails only when it is executed after the Decod

[2017-01-21 17:55] kwan0xfff commented on #444
It seems this error is no longer reported by the board at Google. As of build #2366 on Jan 19, the error has gone away. (It was still in #2365.)
https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%202/builds/2366

I assume it is safe to close this.

[2017-01-21 17:55] #444 closed, assigned to nobody

[2017-01-24 09:57] ilijapavlovic commented on #433
Build system for V8 uses Clang version 289944-2.
To Clang developers are delivered logs, cpp files and scripts which are generated by unsuccessful build.
The problems are reproduced with this version, but it is not the newest version of the Clang.
Clang version, where reproducing the problem is stopped at Clang developers, is  **290361**.
This fact should be checked.

[2017-01-26 07:57] kwan0xfff commented on #255
I've set up an ER Pro-8 using both 4.1.20 and 4.4.43 versions of the kernel, and checked the run times for: cctest/test-cpu-profiler/JsNativeJsRuntimeJsSampleMultiple
* on 4.1.20, 12 runs with times ranging from 385.88857 sec to 561.28821 sec.
* on 4.4.43, 12 runs with times ranging from 239.42748 sec to 309.21527 sec.

So the runs under 4.4.43 probably would not time out on the Google ER Pro-8 sl

[2017-01-27 10:06] ibogosavljevic opened #447 "Bughunting: test-sampler/LibSamplerCollectSample failure on MIPS32R6 qemu"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1030/steps/Check/logs/LibSamplerCollectSample

[2017-01-27 10:09] ibogosavljevic commented on #447
The failure is related to the problems with qemu user memory management. It timeouts occasionally on qemu-user, and works without problems on qemu-system.

Putting to skip list and closing

[2017-01-27 10:09] #447 closed, assigned to ibogosavljevic

[2017-01-27 14:30] ibogosavljevic opened #448 "Infrastructure Maintanance: Explore possibilites for /tmp cleanup of unused files"
Assigning to @prudic

[2017-01-27 14:33] p-rudic commented on #448
@MIPSbkirby Found program "tmpreaper" that can be used for periodical cleanup of unused files in /tmp folder. You can downoload instructions for using tmpreaper: https://docs.google.com/document/d/1Kg_7k99XrgCfE6sdtafpv1bEK7eKfD9YZsflC_DgJm0/edit?usp=sharing

[2017-01-27 14:46] ibogosavljevic opened #449 "Bughunting: cctest/test-cpu-profiler/JsNativeJsSample fails in fpxx configuration"
https://v8.mips.com/bbv8/builders/Target%20%281%29%20-%20edge%20-%20fpxx/builds/2802/steps/Check%20%28flakes%29/logs/JsNativeJsSample

assign to @p-rudic

[2017-01-27 14:54] p-rudic commented on #441
Uploaded workaround for compilation failure. CL:https://codereview.chromium.org/2652673002/. Waiting for our colleagues from Android team to acknowledge that everything is ok.

[2017-01-27 15:04] ibogosavljevic opened #450 "Bughunting: A few failures on no-snpshot builder related to number to string conversions"
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20no%20snapshot/builds/7443/steps/Check/logs/number-tostring-big-i..
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20no%20snapshot/builds/7443/steps/Check/logs/regress-3025

[2017-01-27 15:08] ibogosavljevic opened #451 "Bughunting: mjsunit/wasm/float-constant-folding failure"
https://v8.mips.com/bbv8/builders/Sim%20-%20edge/builds/13641/steps/Check/logs/float-constant-folding

[2017-01-29 07:30] ibogosavljevic commented on #446
Execute only one instance of the test on buildbots. The patch has been uploaded and landed and the issue doesn't appear anymore
https://codereview.chromium.org/2653603002/

[2017-01-29 07:30] #446 closed, assigned to nobody

[2017-01-29 07:30] ibogosavljevic commented on #440
Execute only one instance of the test on buildbots. The patch has been uploaded and landed and the issue doesn't appear anymore
https://codereview.chromium.org/2653603002/

[2017-01-29 07:30] #440 closed, assigned to ibogosavljevic

[2017-01-29 07:32] ibogosavljevic commented on #404
Execute only one instance of the test on buildbots. The patch has been uploaded and landed and the issue doesn't appear anymore
https://codereview.chromium.org/2653603002/

[2017-01-29 07:32] #404 closed, assigned to ilijapavlovic

[2017-01-31 10:28] ilijapavlovic opened #452 "Bughunting: mjsunit/asm/sqlite3/sqlite-safe-heap fails on simulator for mips64el"
Test **mjsunit/asm/sqlite3/sqlite-safe-heap** fails on simulator for mips64el in debug mode.
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10126/steps/Check/logs/sqlite-safe-heap

The problem starts from following commit:
[code]

[2017-01-31 13:00] ilijapavlovic commented on #452
The problem appears for flags **--turbo** and **--ignition-staging**.
[code]

The problem is reproduced locally.

[2017-02-03 08:16] ilijapavlovic commented on #439
Committed as https://chromium.googlesource.com/v8/v8/+/dac1327596c31e8348cd5163dae50860f763647f

[2017-02-03 14:52] ibogosavljevic commented on #448
Done

[2017-02-03 14:52] #448 closed, assigned to nobody

[2017-02-03 14:52] ibogosavljevic commented on #439
Closing

[2017-02-03 14:52] #439 closed, assigned to ilijapavlovic

[2017-02-03 14:59] ibogosavljevic commented on #441
Chrome team confirmed that the issue doesn't reproduce anymore

[2017-02-03 14:59] #441 closed, assigned to nobody

[2017-02-03 15:05] ibogosavljevic commented on #443
Chrome team confirmed that the issue is resolved. Closing.

[2017-02-03 15:05] #443 closed, assigned to simicicd

[2017-02-07 12:02] ilijapavlovic commented on #452
Details received with GDB:
[code]

[2017-02-08 09:41] ilijapavlovic commented on #452
Error "Segmentation fault" appears in the garbage collection process.
[code]
Function `void Heap::GarbageCollectionPrologue()` calls function `void Heap::Verify()` which tries to iterate through strong roots.

Function `bool Heap::Contains(HeapObject* value)` should be investigated.

[2017-02-08 10:00] ilijapavlovic commented on #452
Following code
[code]
is substituted with
[code]
With GDB, the test finishes with following message:
[code]
This shows that there is a problem with memory allocator.

[2017-02-08 13:18] ilijapavlovic commented on #452
If flag `--code-comments` is added, the test is successful.

[2017-02-17 10:29] ibogosavljevic opened #453 "Bughunting: mjsunit/regress/regress-5638b"
The test was introduced a few days ago together with the the new functionality it tests:
https://chromium.googlesource.com/v8/v8/+/6ee0b6cec6b83791af8d3a7e122f14e4eb376974%5E%21/

The tests never fails on simulator, and always fails on board.

https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20no%20snapshot/builds/7579/steps/Check/logs/regress-5638b

[2017-02-17 14:25] ibogosavljevic commented on #219
Duplicate of #428

Close.

[2017-02-17 14:25] #219 closed, assigned to lialan

[2017-02-17 15:03] ibogosavljevic commented on #255
This issue seems to be somehow to related to #449. They both fail on the same board and in the profiler section of v8. Putting it on hold for the time being.

[2017-02-21 08:40] ibogosavljevic commented on #451
The WebAssembly commitee decided they want to keep binary representation of signaling NaN as X64/ARM. We cannot support this in MIPS without major performance loss, and considering this is a very minor issue, it is decided to simply skip this test and close the issue.

[2017-02-21 08:40] #451 closed, assigned to simicicd

[2017-02-22 15:24] ibogosavljevic opened #454 "Bughunting: cctest/test-wasm-interpreter-entry/TestArgumentPassing_AllTypes"
Failure:

https://v8.mips.com/bbv8/builders/Target%20-%20edge/builds/9482/steps/Check/logs/TestArgumentPassing_A..

[2017-02-23 10:52] ibogosavljevic opened #455 "Bughunting: cctest/test-run-machops/Regression5951"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10374/steps/Check/logs/Regression5951

[2017-02-27 09:19] ilijapavlovic commented on #452
[code]
When the test is executed without `--code-comment`:
- Used frame is `v8::internal::WasmCompiledFrame` with type `WASM_COMPILED`.
- The body of `if` statement is not executed.

When the test is executed with `--code-comment`:
- Used frame is `v8::internal::StubFrame` with type `STUB`.
- The body of `if` statement is executed.

[2017-02-27 10:19] ilijapavlovic commented on #452
With build
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10383
this test is treated as flaky.

Since build
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10384
this problem does not appear any more.

[2017-02-27 13:58] ilijapavlovic commented on #452
The problem is not reproduced after following commit:
[code]
From `src/flag-definitions.h` following line is deleted:
`DEFINE_IMPLICATION(ignition_staging, validate_asm)`

The test is performed locally and finished with success.

[2017-02-27 14:06] ibogosavljevic commented on #455
In instruction selector, in the reduction of Word64And(Word64Shr(val,0), 0xFFF...) to EXT instruction, the case where shift value is 0 and mask is 0xFFFFFFFFFFFFFFFF was not supported, and this caused failure in the test. We now generate NOP for this case since no bit extraction is necessary.

We implement the same behavior for MIPS32 even though there are no tests
that are failing.

Sent to revie

[2017-02-27 14:06] #455 closed, assigned to ibogosavljevic

[2017-02-27 14:14] ibogosavljevic commented on #454
Found the cause of the issue: the data in the WASM to interpreter buffer wasn’t naturally aligned and this cause crashes due to missaligned memory access.
CL uploaded to review, not landed yet: https://codereview.chromium.org/2705293011/

[2017-02-27 14:34] ibogosavljevic opened #456 "New feature: SIMD support for v8"
Investigate what needs to be done and in what extend can MIPS SIMD - MSA can be incorporated as part of v8

[2017-02-28 07:52] #452 closed, assigned to ilijapavlovic

[2017-02-28 08:35] ilijapavlovic commented on #433
Build is successful since
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu%20-%20builder/builds/865

New Clang version:
[code]
Local build was also successful.

[2017-02-28 08:44] ilijapavlovic opened #457 "Bughunting: Build V8 with Clang fails for mips32 big endian."
Build V8 fails with Clang compiler for target mips32 big endian in release mode:
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20clang%20-%20builder/builds/4523/steps/compile/logs/stdio

[2017-02-28 10:11] ilijapavlovic commented on #457
The problem is reproduced locally.

Content of error messages:
[code]
Lambda expressions are defined on following way:
[code]
Cause of the problem: - In lambda expression's capture list is defined `this` which is not used at all in the body.

Solution: - Deleting `this` from capture list enables successful build.

[2017-02-28 12:27] ilijapavlovic commented on #457
CL uploaded and ready for review: https://codereview.chromium.org/2725613002/

[2017-02-28 15:20] ibogosavljevic opened #458 "Bughunting: cctest/test-wasm-interpreter-entry/TestArgumentPassing_int64 on MIPS32 Big endian"
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge/builds/11678/steps/Check/logs/TestArgumentPassing_i..

[2017-03-01 09:37] ilijapavlovic commented on #433
The build again fails:
 https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu%20-%20builder/builds/880

[2017-03-01 10:05] ilijapavlovic commented on #433
All builds with Clang for Release 6 have problems with compiling `v8/src/heap/mark-compact.cc`.

Clang version:
[code]

[2017-03-01 13:10] ilijapavlovic commented on #457
CL landed as https://chromium.googlesource.com/v8/v8/+/d0e1de1705993efa508d3dff238fafa9fc078ae0

[2017-03-02 10:00] ilijapavlovic opened #459 "Bughunting: unittests/SequentialUnmapperTest.UnmapOnTeardown fails under Qemu."
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1266/steps/Unittests/logs/SequentialUnmapperTes..

[2017-03-02 11:36] ilijapavlovic commented on #459
The problem is reproduced locally:
[code]

[2017-03-03 08:42] ilijapavlovic commented on #459
The problem starts with following build 1132:
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1132

This test fails in Release mode.

From the same group of tests, the 2nd test which fails but in Debug mode is following: `unittests/SequentialUnmapperTest.UnmapOnTeardownAfterAlreadyFreeingPooled`

[2017-03-03 13:25] ibogosavljevic commented on #450
The test doesn't fail on the builders anymore. It happened after I uploaded a test patch which prints out more debug info, but should not change the fail/pass status of the test. I reverted the patch, let's wait to see if the test will start failing again or not

[2017-03-03 13:40] ibogosavljevic commented on #458
First patch landed: https://codereview.chromium.org/2721053002/

Unfortunately this didn't fix the issue completely, but the BIG-ENDIAN part is done, so closing this issue. This is related to #454

[2017-03-03 13:40] #458 closed, assigned to ibogosavljevic

[2017-03-03 13:54] ibogosavljevic opened #460 "Bughunting: Around ~200 crashes related to TypedArrays due to memory misalignment"
Around ~200 crashes related to TypedArrays due to memory misalignment, among whom are:
array-iterator-turbo
regress-crbug-173907
regress-crbug-485410
typed-array-includes
typedarray-fill
typedarray-find
typedarray-from
typedarray-neutered
typedarray-sort

Started to appear after this patch: https://chromium.googlesource.com/v8/v8/+/ff8b1abb1a8e609b7786d0f6cd6577cc9083d262%5E%21/#F0

[2017-03-03 14:54] ibogosavljevic commented on #433
I am closing this issue because it got resolved. The new failures are related to the new version of CLANG, please open the new issue with adequate description

[2017-03-03 14:54] #433 closed, assigned to ilijapavlovic

[2017-03-06 07:27] ilijapavlovic opened #461 "Bughunting: With Clang, build V8 fails for R6."
When V8 is build for Release 6 with Clang version 5.0.0 (trunk 296320), compiling `v8/src/heap/mark-compact.cc` fails.

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu%20-%20builder/builds/920/steps/compile/logs/stdio
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu%20-%20builder/bui

[2017-03-06 13:30] ibogosavljevic opened #462 "Compilation failure: Failure on Target debug builders"
Following builders do not compile with following error:
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20builder/builds/13327/steps/compile/logs/stdio

Target - Debug - edge - builder
Target - big - Debug - edge - builder
Target - Debug - edge - mipsr1 - builder
Target - MIPS64 - Debug - edge - builder
Target - Debug - edge - mipsr6,under qemu,quick - builder
Target - MIPS64 -

[2017-03-07 00:31] MIPSbkirby commented on #462
`v8_enable_slow_dchecks` is set to false for all builders that had it turned on.  I've run a [build](https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20builder/builds/13370) and it compiled successfully.  So, the work around is in place.

[2017-03-07 12:56] ilijapavlovic commented on #459
`msync()` flushes changes made to the in-core copy of a file that was mapped into memory using `mmap()` back to disk. Without use of this call there is no guarantee that changes are written back before `munmap()` is called.

`MS_SYNC` asks for an update and waits  for  it  to complete.

On error, `msync()` returns `-1` and sets `errno`. In case where `msync()` is called after `munmap()`, `errno` s

[2017-03-07 13:09] ilijapavlovic commented on #459
The similar behaviour is for test `SequentialUnmapperTest.UnmapOnTeardownAfterAlreadyFreeingPooled`:
[code]

[2017-03-08 08:55] ilijapavlovic opened #463 "Bughunting: Build MIPS64 fails for debug mode."
Following builds fails for MIPS64 in debug mode.

https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20builder/builds/14194
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6%20-%20builder/builds/9652
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20builder/builds/11911
https://v8.mips.com/bbv8/builder

[2017-03-09 08:16] ilijapavlovic commented on #463
The problem was caused by following commit:
[code]
For MIPS64, member function `bit()` of structures `Register`, `FPURegister` and `FPUControlRegister` was declared as a constant expression and this declaration made problems during build V8.

CL uploaded: https://codereview.chromium.org/2737143002/
CL committed and landed: https://chromium.googlesource.com/v8/v8/+/92da40621303838849e98d26a0cb83e9c

[2017-03-09 08:16] #463 closed, assigned to ilijapavlovic

[2017-03-09 08:51] ilijapavlovic opened #464 "Bughunting: cctest/test-run-machops/Regression6046a|Regression6046b fails"
Following tests fails on simulator for MIPS64 little endian in Debug mode for R2 and R6.
cctest/test-run-machops/Regression6046a
cctest/test-run-machops/Regression6046b

Logs:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10487
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6/builds/5571

[2017-03-09 09:43] ilijapavlovic commented on #464
The errors are reproduced locally:
[code]
The error messages are the same for R2 and R6.

[2017-03-09 13:12] ilijapavlovic commented on #464
The problem is caused with following commit:

Commit id: 040fa762dfa9d57b99588bb3b3219fe5215f271d
Title: [arm64][turbofan] Do not use ubfx for shr+and combination for mask=0.
Review-Url: https://codereview.chromium.org/2737493002

[2017-03-09 15:05] ilijapavlovic commented on #464
CL uploaded: https://codereview.chromium.org/2742773002/

[2017-03-09 15:26] ilijapavlovic opened #465 "Bughunting: mjsunit/compiler/regress-694088 fails"
Test mjsunit/compiler/regress-694088 fails on following builders:

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1817/steps/Check/logs/regress-694088
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/8715/steps/Check/logs/regress-694088
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge/builds/11807/steps/Che

[2017-03-10 06:30] ilijapavlovic commented on #464
CL committed and landed: https://chromium.googlesource.com/v8/v8/+/3fae880f9e45f74b7c48d80cd691098aba7694fe

[2017-03-10 06:30] #464 closed, assigned to ilijapavlovic

[2017-03-10 10:31] ilijapavlovic commented on #465
The problem appears after:

Commit: 3c36aacc87f701fea0bb6976a4498dde61929a29
Subject:  [turbofan] Fix handling of typed array loads in load elimination.
Review-Url: https://codereview.chromium.org/2725593002

The test `mjsunit/compiler/regress-694088` is introduced with this commit.

[2017-03-10 11:19] ilijapavlovic commented on #465
The error is locally reproduced:
[code]

[2017-03-10 14:13] ilijapavlovic commented on #465
The problem was that the test was prepared only for little endian platforms - not for big endian.
In the test is added check for little or big endian platforms. Accordingly the test will return adequate value.

CL is uploaded: https://codereview.chromium.org/2739403002/

[2017-03-10 15:18] ibogosavljevic commented on #462
Done

[2017-03-10 15:18] #462 closed, assigned to MIPSbkirby

[2017-03-14 08:03] ilijapavlovic commented on #465
CL committed and landed:
https://chromium.googlesource.com/v8/v8/+/d9bcc067caa93d4cebeb0efe0a9370a7b931e664

On buildbots the test is successful:
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/1830
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/8749
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge/builds/

[2017-03-14 08:03] #465 closed, assigned to ilijapavlovic

[2017-03-15 14:17] ilijapavlovic commented on #182
Instructions `ldc1` and `sdc1` moved into macro-assembler.
CL:  https://codereview.chromium.org/2751973002/

[2017-03-17 13:46] ibogosavljevic opened #466 "New feature: Explore compilation GN + CLANG + Debian buildroot + GOLD for MIPSEL"
v8 is in the process of migration from GYP to GN build system. We need to help support this. Currently the MIPS compiles with simulator.

[code]

We need to add support for the compilation on the target GN + CLANG + Debian buildroot + GOLD for MIPSEL

[2017-03-21 09:34] ilijapavlovic opened #467 "Bughunting: cctest/test-run-machops/Regression6046b fails."
On simulator for mips32el in debug mode following test fails:
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/13904/steps/Check/logs/Regression6046b

[2017-03-21 10:14] ilijapavlovic commented on #467
The error is reproduced:
[code]
The problem started to reproduce with commit:
[code]

[2017-03-21 12:29] ilijapavlovic commented on #467
The problem with mentioned commit was that it enabled the test Regression6046b for MIPS32 architectures:
https://codereview.chromium.org/2755373002/diff/1/test/cctest/compiler/test-run-machops.cc

Originally, this test should run only for 64-bit architectures.
CL uploaded: https://codereview.chromium.org/2762993002/

[2017-03-21 12:30] ilijapavlovic commented on #182
CL for MIPS32 is landed as: https://chromium.googlesource.com/v8/v8/+/47da8de250ca2b9ba37f69d7520bbf9df1ab127d

[2017-03-21 14:20] ilijapavlovic commented on #467
According review comments, this was not mistake - the test should be possible to run also on 32-bit architectures. In comments is suggested that following CL should be ported:
https://codereview.chromium.org/2737493002

The changes are made and previous CL is updated.

[2017-03-22 12:54] ilijapavlovic commented on #467
CL landed as https://chromium.googlesource.com/v8/v8/+/1cedeb39837accd5b7800d5caf515de51cb74704

[2017-03-22 12:58] mkaric commented on #292
Optimizations have been implemented, but this caused several tests to fail, e.g. cctest/test-serialize/SnapshotDataBlobWithWarmup with message:
[code]
Investigation showed that optimizations unmasked a previously existing problem. The problem seems to be caused by serialization and deserializaton of code objects generated by BuildAdaptor function in src/builtins/builtins.cc. After the optimization

[2017-03-23 08:05] ilijapavlovic commented on #467
The test is successful:
https://v8.mips.com/bbv8/builders/Sim%20-%20Debug%20-%20edge/builds/13929

[2017-03-23 08:05] #467 closed, assigned to ilijapavlovic

[2017-03-23 10:57] ibogosavljevic opened #468 "Porting: Port `[deoptimizer] Fill the single precision registers in the deoptimizer entry stub.`"
Port https://chromium.googlesource.com/v8/v8/+/798ffc9d67e25a0aa9b0be145892c27f2ac5391f

Since the port is missing, the test `mjsunit/compiler/regress-v8-6077` fails.

[2017-03-23 12:07] ilijapavlovic opened #469 "Bughunting: cctest/test-run-machops/Regression6122 fails."
On simulator for MIPS64 in debug mode for R2, test Regression6122 fails:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10606/steps/Check/logs/Regression6122

[2017-03-23 12:19] ilijapavlovic commented on #469
The first appearance of the problem:
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10577

[2017-03-23 12:38] ilijapavlovic commented on #469
The error message is reproduced:
[code]
The test is introduced with CL: https://codereview.chromium.org/2755373002
`[arm64] The ubfx instruction can be used with a mask-width=64`

Possible that this problem is also related with CL: https://codereview.chromium.org/2737493002
`[arm64][turbofan] Do not use ubfx for shr+and combination for mask=0.`

[2017-03-24 11:59] ibogosavljevic commented on #468
Port finished and bug fixed: https://chromium.googlesource.com/v8/v8/+/2458683f5542aeaa6ff0b32dc4d376c48dde4509

[2017-03-24 11:59] #468 closed, assigned to ibogosavljevic

[2017-03-24 13:19] ilijapavlovic commented on #469
Test Regression6122 examines expression `Shr(And(x, mask), imm)` and as input values are used one border case where position=0 and size=64. For this case, instruction selector should emit `kMips64Dext` and instruction `DEXTM`.

The problem was on several places:
1) `DEXTM` was not emitted. Reason: DEXTM was emitted only for `position=[1, 31]` and  `size=[33, 64]`. This was error because according

[2017-03-24 13:38] ilijapavlovic commented on #469
CL uploaded: https://codereview.chromium.org/2769403002/

[2017-03-27 08:29] ilijapavlovic commented on #469
Landed as: https://chromium.googlesource.com/v8/v8/+/a63ab810fc9dac1444d3e36d8b0faa95ea994fbc

[2017-03-27 08:36] ilijapavlovic opened #470 "Bughunting: Builders fail when inspector is enabled in gyp."
Following builders fail:
https://v8.mips.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20builder/builds/13637
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20builder/builds/14203
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20mipsr1%20-%20builder/builds/12417
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20builder/builds/14343
https://v8.mips.com/b

[2017-03-27 08:48] ilijapavlovic commented on #470
Content of the error message:
[code]

[2017-03-29 07:30] ilijapavlovic commented on #470
In file `v8/src/inspector/inspector.gyp` are following lines:
[code]
In file `build.ninja` are many lines with `subninja`keywords which include another `.ninja` files.
These included files are searched for lines with `js_protocol.stamp` and most of them contain rules with `gen/src/js_protocol.stamp`.

[2017-03-29 14:11] sretenkovacevic commented on #466
Since in GN option --dynamic-linker is not supported, so loader can't be explicitly given to v8 I had to make a small patch that adds this functionality. This is workaround until we get good fix from chromium.

[LDSO_PATH_PATCH.zip](https://github.com/v8mips/v8mips/files/879290/LDSO_PATH_PATCH.zip)
After this patch is applied next command gives us wanted configuration:

[code]
This is needed becau

[2017-03-29 14:24] ibogosavljevic opened #471 "New feature: Explore compilation GN + GCC + for MIPSEL and MIPS64EL"
v8 is in the process of migration from GYP to GN build system. We need to help support this.

We need to add support for the compilation on the target GN + GCC + for MIPSEL and MIPS64EL

[2017-03-30 08:54] ibogosavljevic opened #472 "Bughunting: Failure of test mjsunit/wasm/grow-memory"
https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10690/steps/Check/logs/grow-memory

[2017-03-30 08:54] ibogosavljevic commented on #472
assigning to @p-rudic

[2017-03-30 12:46] ilijapavlovic commented on #470
Reported error: https://bugs.chromium.org/p/v8/issues/detail?id=6176

[2017-03-31 07:16] ilijapavlovic commented on #469
The test is successful: https://v8.mips.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10643

[2017-03-31 07:16] #469 closed, assigned to ilijapavlovic

[2017-04-02 09:35] ibogosavljevic opened #473 "New feature: Specify location of dynamic linker and libraries during compilation with CLANG"
Currently we cannot specify locations of dynamic linker and libraries when compiling using GN. We are not yet sure, but it might happen that we need to be able to specify these. This issue is to track this.

[2017-04-02 09:35] ibogosavljevic commented on #466
This issue has been completed, closing. Related to location of dynamic linker and libraries, please see #473

[2017-04-02 09:35] #466 closed, assigned to sretenkovacevic

[2017-04-04 09:13] ilijapavlovic commented on #470
Build for MIPS32 big endian is successful while it is not case for little endian.
In file `v8/src/inspector/inspector.gyp`, all targets have following condition:
[code]
For MIPS big endian targets, `want_separate_host_toolset` is set to `0` while for little endian targets this parameter has value `1`. These settings are regulated in file `v8/gypfiles/standalone.gypi`:
[code]

[2017-04-07 10:54] sretenkovacevic commented on #471
Successfully compiled both MIPSEL and MIPS64EL using gcc.

To manage this it's necessary to do the following:

1. In bin folder of mips-mti-linux-gnu 2015.01-7 toolchain make BUILD.gn file with this content:
[toolchain_definition.zip](https://github.com/v8mips/v8mips/files/905291/toolchain_definition.zip)

It's important to set additional flags (extra_ldflags and extra_cppflags). for both toolchai

[2017-04-10 11:38] ibogosavljevic commented on #460
Patch landed, issue closed...

https://codereview.chromium.org/2784253002/

[2017-04-10 11:38] #460 closed, assigned to ibogosavljevic

[2017-04-10 11:45] p-rudic commented on #472
Resolved by this commit: https://chromium-review.googlesource.com/463006

[2017-04-10 11:45] #472 closed, assigned to ibogosavljevic

[2017-04-10 12:44] ibogosavljevic opened #474 "New feature: Add MSA support to v8 builtin simulator"

[2017-04-10 13:12] ibogosavljevic commented on #471
Finished, issue closed

[2017-04-10 13:12] #471 closed, assigned to sretenkovacevic

[2017-04-13 07:18] ilijapavlovic commented on #470
When toolset is `target`, as output directory is used `SHARED_INTERMEDIATE_DIR`. Value for this variable is defined as `$!PRODUCT_DIR/gen`. For `host` toolset, as output will be used the same `gen` directory and this fact leads to conflict where rules for `target` and `host` try to create/build the same files.

To avoid this problem, following is applied:
- If toolset is `host`, as output director

[2017-04-18 07:56] ibogosavljevic commented on #454
As suggested by B. Titizer, the best solution would be to implement stack slot alignments in order to properly deal with this.
A patch implementing this sent  to CR, waiting for responses: https://codereview.chromium.org/2816743003/

[2017-04-18 08:45] ibogosavljevic opened #475 "Bughunting: mjsunit/array-feedback and mjsunit/array-constructor failure"
A few test started failing on MIPS64 after following commit:

https://chromium.googlesource.com/v8/v8/+/751e89359123df4f6e5f0b28b89fcdf63ed16a77

https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/8362/steps/Check/logs/array-feedback
https://v8.mips.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/8362/steps/Check/logs/array-constructor
https://v8.mips.com/bbv8/builders

[2017-04-18 08:47] p-rudic commented on #475
Resolved in patch: https://codereview.chromium.org/2816733004/#

[2017-04-18 09:14] ibogosavljevic commented on #475
Issue closed

[2017-04-18 09:14] #475 closed, assigned to ibogosavljevic

[2017-04-19 12:51] ibogosavljevic opened #476 "Bughunting: Failure of test262/built-ins/TypedArray/prototype/set/typedarray-arg-set-values-same-buffer-other-type on MIPS Big endian"
https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20test262/builds/12890/steps/Test262%20-%20no%20variants/logs/typedarray-arg-set-va..

The test started failing here: https://v8.mips.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20test262/builds/12459

assign to @p-rudic

[2017-04-19 12:53] ibogosavljevic commented on #461
Issue resolved on buildbots, closing...

[2017-04-19 12:53] #461 closed, assigned to ilijapavlovic

[2017-04-19 12:56] ibogosavljevic commented on #456
Patches sent to code review, after they land the issue will be closed:

https://codereview.chromium.org/2795143003 ,  https://codereview.chromium.org/2791213003/ , https://codereview.chromium.org/2798853003/ , https://codereview.chromium.org/2801683003/ , https://codereview.chromium.org/2778203002/ , https://codereview.chromium.org/2780713003/

[2017-04-20 13:14] ilijapavlovic commented on #182
CL for MIPS64: https://codereview.chromium.org/2829073002/

[2017-04-20 13:52] ilijapavlovic commented on #182
Landed as https://chromium.googlesource.com/v8/v8/+/cc797ac06cad5e6e2ec2735f4648004c87066c83

[2017-04-20 14:24] ilijapavlovic commented on #457
The build does not reproduce this error any more.

[2017-04-20 14:24] #457 closed, assigned to ilijapavlovic

[2017-04-20 14:54] ilijapavlovic commented on #470
CL: https://codereview.chromium.org/2819283005/

[2017-04-20 15:30] kwan0xfff commented on #255
A recent "Check (flakes)" step has a breakdown on JsNativeJsRuntimeJsSampleMultiple when it passes. It appears to be an annotated call tree. I can't tell if the annotations are number of invocations or centiseconds (not milliseconds). Among the functions with large values are "sin" and "random".

https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%20

[2017-04-20 15:34] sretenkovacevic commented on #453
Problem was with usage of wrong register in new code. Test was passing on simulator accidentally.

Fix uploaded and landed, https://codereview.chromium.org/2831733004/

[2017-04-21 09:39] sretenkovacevic commented on #453
Issue resolved.

https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20no%20snapshot/builds/7994

[2017-04-21 09:43] sretenkovacevic opened #477 "New feature: Add support for big endian build in GN"
Defines for big endian builds need to be added.

[2017-04-21 10:09] ilijapavlovic commented on #182
The tests on build-bots are successful.

[2017-04-21 10:09] #182 closed, assigned to ilijapavlovic

[2017-04-21 13:31] ibogosavljevic commented on #470
CL sent to review and landed. Issue closed

[2017-04-21 13:31] #470 closed, assigned to ilijapavlovic

[2017-04-21 14:20] ibogosavljevic commented on #476
Issue is in the test itself and has been reported to test262 team https://github.com/tc39/test262/issues/757

Problematic test skipped: ttps://codereview.chromium.org/2834093002/

[2017-04-24 11:17] mkaric commented on #292
The problem with deserialization has been fixed by adjusting the code so the deserializer would not move to the end of the optimized LUI/AUI JIC/JIALC pair but one instruction before.

[2017-04-24 11:18] mkaric commented on #292
Uploaded a new patch set:
https://codereview.chromium.org/2542403002/#ps40001
PTAL

[2017-04-24 12:00] ibogosavljevic opened #478 "Optimization: Improve v8 MIPS according to instructions from MIPS ART team"
We received e-mail some time ago from Alexey from ART team. They did some code revision and sent us their remarks. Please have a look at each of these remarks and see how it fits into our current framework:

Original mail content:
[code]

[2017-04-25 05:34] ilijapavlovic opened #479 "Bughunting: Build with shared library fails."
https://v8.mips.com/bbv8/builders/Target%20-%20edge%20-%20shared%20library%20-%20builder

The build is for shared library and mipsel
[code]
The problem appears during link `unittest` with error message `undefined reference`.
[code]

[2017-04-25 14:47] mkaric commented on #292
The CL landed. More things to consider:
- Investigate if optimizations can be added to debug-code.cc and regexp-macro-assembler-mips.cc.
- DCHECK(is_int16(offset)); lines inside Jump and Call where offset is int16_t type will not catch errors, it would probably make sense to change offset type to int32_t.
- In a Jump function with an Operand type offset we check that the offset is not int16 inside

[2017-04-26 15:27] mkaric commented on #478
I confirmed the problem exists for the mentioned case in MacroAssembler::Subu() function. When imm value is int16 we emit addiu(x, y, -imm), but when imm is min_int16 (0xFFFF8000), then -imm = max_int16 + 1 so addiu cannot be used. I fixed this bug by checking is_int16(-imm), if not, we load imm to at register and then use subu(x, y, at) to subtract imm through at. This way for the case when imm =

[2017-04-26 15:50] mkaric commented on #478
Then I noticed it is possible to add another optimization. Instead of loading imm value to at register and then subtracting at, we can also load -imm value and add it. This helps in cases such as imm = 0xFFFF7FFF where loading this value requires two instructions and another one for subtraction - lui, ori and subu. Instead we can load -imm value with just ori (-imm = 0x8001) and add it with addu,

[2017-04-27 08:54] mkaric commented on #478
Created the CL: https://codereview.chromium.org/2845043002/
PTAL

[2017-04-28 06:54] ilijapavlovic commented on #479
The problem was in file `test/unittests/unittests.gyp` and its dependencies.
The problem is fixed with the following patch:
[code]
Added targets contain files needed for references during linking target `unittests`.

CL uploaded: https://codereview.chromium.org/2853483002/

[2017-04-28 12:18] mkaric commented on #478
The CL landed.

[2017-04-28 13:48] ibogosavljevic opened #480 "Bughunting: Failure test262/built-ins/Array/prototype/indexOf/15.4.4.14-5-17"
Assigning to @p-rudic

[2017-04-28 14:21] ibogosavljevic commented on #453
Closed

[2017-04-28 14:21] #453 closed, assigned to sretenkovacevic

[2017-05-03 08:10] ibogosavljevic commented on #476
duplicate of #385

Patch that skips the test landed: https://codereview.chromium.org/2834093002/

[2017-05-03 10:14] ilijapavlovic commented on #479
Previous solution is updated. One of requests was that linking against `v8_base` should not be directly.
Solution for GN is represented here: https://chromium-review.googlesource.com/c/490108/
[code]

[2017-05-03 12:43] mkaric commented on #478
I implemented a large number of optimizations in MacroAssembler::li() for mips64 and added tests. However, some optimizations use DINSU instruction which is not yet implemented. I will add DINSM and DINSU instructions, and add tests for Dins macro assembler instruction. Also there may be more optimizations that could be added to li(), I will investigate.

[2017-05-04 03:50] alexfru commented on #478
One thing I had in mind w.r.t. dli is that the current code in TemplateLoadConst64() may generate 2 extra instructions for value than for -value or \~value, in which case it's better to load -value or \~value and then do dsubu or nor, saving one instruction. Other improvements should be possible as well.

[2017-05-05 09:36] ibogosavljevic opened #481 "Bughunting: Eight failures in wasm-spec-tests/tests"
The newly introduced WASM suite of 110 tests has some failures:
wasm-spec-tests/tests/f32_bitwise
wasm-spec-tests/tests/f64_bitwise
wasm-spec-tests/tests/tee_local
wasm-spec-tests/tests/set_local
wasm-spec-tests/tests/imports
wasm-spec-tests/tests/get_local
wasm-spec-tests/tests/conversions
wasm-spec-tests/tests/traps

[2017-05-05 11:15] ilijapavlovic commented on #479
CL landed as https://chromium.googlesource.com/v8/v8/+/d7f7c324245ca78ef03d7d8a893bee40b07b19bd

[2017-05-05 12:26] ilijapavlovic opened #482 "Bughunting: Builds for simulator in Debug mode failed."
Following builds are failed:
https://v8.imgtec.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20builder/builds/13228/steps/compile/logs/stdio
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20builder/builds/15007/steps/compile/logs/stdio
https://v8.imgtec.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6%20-%20builder/builds/10801/steps/compile/logs/stdio

[2017-05-05 12:52] ilijapavlovic commented on #482
The problem was in the `TRACE` macro where for formatting are used `%p`. This format explicitly requires the type `void*`. Conversion values in this type solved the problem.

CL uploaded: https://codereview.chromium.org/2861143002/

[2017-05-05 12:59] ibogosavljevic commented on #481
Code review for set_local, tee_local traps and imports:
https://codereview.chromium.org/2859223004/

[2017-05-05 12:59] ibogosavljevic commented on #476
Closing this issue as #385 is already monitoring it.

[2017-05-05 12:59] #476 closed, assigned to nobody

[2017-05-08 07:37] ilijapavlovic commented on #482
CL landed: https://chromium.googlesource.com/v8/v8/+/b9cebf8c9edae76c7036ef5090e5040d000576c4
The builds are successful again.

[2017-05-08 07:38] #482 closed, assigned to ilijapavlovic

[2017-05-08 08:33] ilijapavlovic commented on #479
The builds are successful now.

[2017-05-08 08:33] #479 closed, assigned to ilijapavlovic

[2017-05-08 11:07] ilijapavlovic opened #483 "Bughunting: Many tests failed on target with shared libraries."
Large number of tests failed on target with shared libraries:
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20shared%20library/builds/7055

Common thing for all of them is error message for missing shared library `libicui18n.so`. Example:
[code]

[2017-05-08 16:47] mkaric commented on #478
@alexfru Yes, exactly, that will also be worth investigating. The optimization above for Subu is mips32 but for mips64 it will be more complex and will have to cover all li paths, so I will investigate when I get to that.

[2017-05-08 16:50] mkaric commented on #478
Uploaded the CL that adds DINSM and DINSU instructions and tests, also fixes other bit insertion and extraction instructions and adds missing tests. PTAL: https://codereview.chromium.org/2871663002/

[2017-05-09 05:39] ilijapavlovic commented on #483
The problem is reproduced.

Following patch fixes the problem:
[code]
CL uploaded : https://codereview.chromium.org/2863383003/

[2017-05-09 06:42] ilijapavlovic commented on #483
CL landed: https://chromium.googlesource.com/v8/v8/+/ab341eab8cd8a81f55fc045fcdc5eb387277290c

[2017-05-10 06:03] ilijapavlovic commented on #483
The problem with loading shared libraries is fixed.
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20shared%20library/builds/7060

[2017-05-10 06:03] #483 closed, assigned to ilijapavlovic

[2017-05-10 10:19] mkaric commented on #478
Landed the CL that enables the use of DINSU instruction needed for some optimizations in li macro assembler instruction. I am also working on another optimization in li per comment by @alexfru above.

[2017-05-12 15:42] ibogosavljevic commented on #480
patch landed https://codereview.chromium.org/2865113005/ and issue not reproducible anymore
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20test262/builds/10942

[2017-05-12 15:42] #480 closed, assigned to nobody

[2017-05-15 08:13] ilijapavlovic opened #484 "Bughunting: cctest/test-strings/OneByteArrayJoin failed."
Test `cctest/test-strings/OneByteArrayJoin` fails for MIPS64 in Debug mode.

https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/10947/steps/Check/logs/OneByteArrayJoin
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge/builds/1958/steps/Check/logs/OneByteArrayJoin
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Deb

[2017-05-16 07:24] ilijapavlovic commented on #484
The problem is reproduced locally. It starts with commit:
[code]

[2017-05-18 13:37] ilijapavlovic commented on #484
Following observation is done for mips64el.debug in simulator.

The test fails with following error message:
[code]
This error message is emitted from the macro `CALL_HEAP_FUNCTION` (file `v8/src/factory.cc`) which is used in function `Factory::NewUninitializedFixedArray()`.

Conditions for this problem are investigated. The test is executed in Release and Debug and outputs with certain remarks ar

[2017-05-19 12:22] sretenkovacevic opened #485 "Bughunting: wasm-spec-tests/tests/endianness test failed on big endian"
test `wasm-spec-tests/tests/endianness` failed on MIPS and MIPS64

https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20edge/builds/12804

https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20edge/builds/12804/steps/Check/logs/endianness

Also, it has different failure in debug and optdebug mode.

[2017-05-19 14:40] ibogosavljevic commented on #481
The patch fixes the three issues. The rest of the issues are related to incompatability between MIPS NaN representation and those of WASM spec.

We decided to skip the tests alltogehter. https://codereview.chromium.org/2890613003/

[2017-05-19 14:40] #481 closed, assigned to ibogosavljevic

[2017-05-19 14:57] ibogosavljevic opened #486 "Bughunting: wasm-spec-tests/tests/memory test fail on big endian"
Assigning to @p-rudic

[2017-05-22 11:35] ibogosavljevic opened #487 "Compilation failure: failure due overload in derived class"
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20builder/builds/14449/steps/compile/logs/stdio

[2017-05-23 07:54] ilijapavlovic commented on #484
In `v8/src/code-stub-assembler.cc` following function is defined:
[code]
Lines with `CSA_ASSERT` are introduced with problematical commit (https://chromium-review.googlesource.com/c/489946/5/src/code-stub-assembler.cc#1436).
Former block didn't contain `CSA_ASSERT` lines (see https://chromium-review.googlesource.com/c/489946/5/src/builtins/builtins-handler-gen.cc#132).

If the 2nd and the 3rd `CSA

[2017-05-23 13:05] ilijapavlovic commented on #484
The test will be successfully executed if one of following is done:
- If the test is executed with flag `--max_old_space_size=7`, or
- If the test is changed with following patch:
[code]

[2017-05-24 11:13] mkaric commented on #478
Landed the CL with li optimizations for mips64. Also added optimizations, fixes and tests for Subu and Dsubu, as well as other minor improvements: https://codereview.chromium.org/2892163002/.

[2017-05-24 11:46] mkaric commented on #478
@alexfru I think there is a problem with the following function in ART code. The condition ```IsInt<16>(value >> 16)``` will never be true when x == y because y has bits set so for values like 0x8000000080000000 that can be loaded using LUI + DINSU the function will return 3. I think there is no need to check if upper 16 bits in x are int16 either (if that was the original intention). I omitted th

[2017-05-25 08:45] ilijapavlovic commented on #484
Previous patch solves problem when the test is executed with `--no-turbo` flag.

In meantime following commit introduced problem when the test is executed without `--no-turbo` flag.
[code]
Test execution output:
[code]

[2017-05-25 10:38] ilijapavlovic commented on #484
The problem is caused with statement in marked line (`v8/src/deoptimizer.cc`):
[code]

[2017-05-25 13:36] ibogosavljevic opened #488 "Bughunting: Around 400 tests fail due to an error in deoptimizer"
Around 400 tests fail due to an error in deoptimizer

https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14593

The issue started to appear after this CL landed:
https://chromium.googlesource.com/v8/v8/+/233b6926e3ae29a4567b4c55bc1c1e96c07c1f92

[2017-05-26 04:46] alexfru commented on #478
@mkaric You're right about lui+dinsu. I just found that I asked to remove the IsInt\<16\>() part it but it wasn't done (see this [change](https://android-review.googlesource.com/#/c/208442/1..2/compiler/utils/mips64/assembler_mips64.cc)) and everyone failed to see it. However, this should only miss the opportunity to emit a shorter instruction sequence. Thanks!

[2017-05-26 09:27] ilijapavlovic commented on #484
CL uploaded for successful test execution with flag `--no-turbo`.
https://codereview.chromium.org/2907803002/

[2017-05-26 11:40] ilijapavlovic opened #489 "Bughunting: mjsunit/regress/regress-336820 failed."
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/10305/steps/Check/logs/regress-336820
The test finishes with error messages
- "allocation failure GC in old space requested" and
- "Fatal javascript OOM in CALL_AND_RETRY_LAST"

[2017-05-26 11:40] ibogosavljevic commented on #488
The failure was related to an error in deoptimizer when generating large tables.

The error is now fixed, https://codereview.chromium.org/2901393003/. Issue does not reproduce anymore https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14639

[2017-05-26 11:40] #488 closed, assigned to ibogosavljevic

[2017-05-26 12:07] ibogosavljevic commented on #487
Compilation failure is result to overloaded-virtual warning
treated as error.

Cl that fixes the issue landed https://codereview.chromium.org/2895923002/ and issue fixed https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20builder/builds/14508

[2017-05-26 12:07] #487 closed, assigned to ibogosavljevic

[2017-05-26 12:17] ibogosavljevic commented on #427
Issue doesn't reproduce anymore, so it's closed https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/445

It has been fixed with this CL :https://codereview.chromium.org/2569683002/

[2017-05-26 12:17] #427 closed, assigned to ibogosavljevic

[2017-05-26 12:19] ibogosavljevic commented on #450
The issue doesn't reproduce anymore, therefore closing it.

[2017-05-26 12:19] #450 closed, assigned to ibogosavljevic

[2017-05-26 13:07] ibogosavljevic opened #490 "Optimization: Optimize deoptimizer-mips[64] to use 2 instructions per entry instead of 3"
In order to support large deoptimization tables we needed to expand the size of deoptimization table entry from two instructions to three instructions.  This was done here: https://codereview.chromium.org/2901393003/

It is however possible to use 2 instructions per entry on R6 since branch instructions in R6 have larger jump spans.

Implement smaller deoptimizer tables on R6 by exploiting the fac

[2017-05-29 08:40] ilijapavlovic commented on #484
CL landed: https://chromium.googlesource.com/v8/v8/+/aa0c8dcc180420e8266351cdabfef4cf38885357

[2017-05-29 14:20] mkaric commented on #478
Uploaded a CL implementing new optimizations to li and Dsubu macros for mips64:
https://codereview.chromium.org/2909913002
PTAL.

[2017-05-30 00:28] unional opened #491 "A few warnings when building on xubuntu"
I am trying to build mips64 on xubuntu 16.04

Here are the warnings:
[code]

Are these warnings something to be concern of? What other information do you need to check this potential issue?

[2017-05-30 01:07] unional opened #492 "How to cross compile Node.js for MIPS on a X86 system"
I want to run node.js on mips. However my mips system does not have the capability to build.

What are the steps to do a cross-compiling of node.js on x86 machine?

I'm able to build mip64 on the x86 machine based on this instruction: https://github.com/v8mips/v8mips/wiki/Building-v8-for-MIPS#cross-compiling-for-a-mips64-target
(abid with a few warnings as mentioned in #491)

The section in wiki a

[2017-05-30 09:21] ilijapavlovic commented on #484
The test is successful on buildboards.

[2017-05-30 09:21] #484 closed, assigned to ilijapavlovic

[2017-05-30 09:37] ilijapavlovic commented on #489
The problem was in value for parameter `max_old_space_size` which is passed in call `Heap::ConfigureHeap()` and this amount for old space size was not enough.

This value is possible to change via `old_space_physical_memory_factor`.
[code]
If this value is decreased on `3`, argument `max_old_space_size` will be increased and this will enable successful test execution.

The same solution fixes the

[2017-05-30 09:43] ilijapavlovic commented on #489
Proposed solution is not accepted. If `old_space_physical_memory_factor` is changed on value lower then `4`, it can have influence on performance tests.

[2017-05-31 09:01] ilijapavlovic commented on #489
The error messages appear after commit:
[code]

[2017-05-31 12:57] ilijapavlovic commented on #489
Inside tests, values for `max_old_space_size` parameter are defined:

For `test/mjsunit/regress/regress-336820.js`:
`// Flags: --max-old-space-size=310`

For `test/mjsunit/regress/regress-678917.js`:
`// Flags: --max-old-space-size=270`

[2017-05-31 13:36] mkaric commented on #491
These warnings are nothing to be concerned about, we are aware of them.

[2017-05-31 13:47] mkaric commented on #492
Yes, we have not updated that information on wiki in a while. Maybe node repository on github is a better source of information on building node.js. I found this information which may be useful for you:
https://github.com/nodejs/node/issues/8210.

[2017-05-31 18:05] unional commented on #492
Many thanks! 🎉  I'll try it out and if that works I'll help update the Wiki.

[2017-05-31 18:06] unional commented on #491
Thanks! Feel free to tag this as a question and/or close it as appropriate.

[2017-06-01 09:17] mkaric commented on #492
Thank you, let us know if it works.

[2017-06-01 09:38] ilijapavlovic opened #493 "Bughunting: wasm-spec-tests/tests/endianness failed on MIPS32 big endian."
https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/9536/steps/Check/logs/endianness

[2017-06-01 15:14] ilijapavlovic commented on #493
Duplicate #485

[2017-06-01 15:14] #493 closed, assigned to ilijapavlovic

[2017-06-02 09:44] ilijapavlovic commented on #489
For `test/mjsunit/regress/regress-336820.js` value is increased to 400:
`// Flags: --max-old-space-size=400`

CL landed: https://chromium.googlesource.com/v8/v8/+/1550c869094c5873da9226ae9b4de7084692a857

[2017-06-02 10:37] ilijapavlovic opened #494 "Bughunting: cctest/test-heap/OptimizedPretenuringObjectArrayLiterals failed."
The test fails on MIPS64 compiled with clang.
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/2510/steps/Check/logs/OptimizedPretenuringO..
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/470/steps/Check/logs/OptimizedPretenuringO..

[2017-06-02 15:27] sretenkovacevic commented on #477
Two CLs landed related to this issue:

[https://codereview.chromium.org/2875553003](url)
[https://codereview.chromium.org/2913353004](url)

One on chromium and one on v8 project, respectively.

Instructions to build big endian v8 using GN and cutom gcc toolchain:

First of all, You will need  BUILD.gn file with arguments set as in attachment
[big_endian_gn.zip](https://github.com/v8mips/v8mips/fil

[2017-06-05 09:14] ilijapavlovic commented on #489
For `test/mjsunit/regress/regress-678917.js` value is increased to 400:
`// Flags: --max-old-space-size=400`
CL landed: https://chromium.googlesource.com/v8/v8/+/9c8f0f09ea6d6c08eeaf80019dd41da17627ee03

The tests are successful again.

[2017-06-05 09:14] #489 closed, assigned to ilijapavlovic

[2017-06-05 13:18] ilijapavlovic commented on #494
The problem is reproduced locally.

The problem appears with the commit:
[code]

[2017-06-06 03:10] unional commented on #492
Just an update, I'm running into some problems and trying to get that resolved: https://github.com/nodejs/node/issues/13488

[2017-06-06 12:55] ilijapavlovic commented on #494
The source of problem is used Clang version.
On https://chromium-review.googlesource.com/c/517644/
note `Rolling v8/tools/clang:` https://chromium.googlesource.com/chromium/src/tools/clang/+log/05f3060..34e6d43

Part which is important for Clang:
[code]
Clang version `303369-1` (the commit `05f306039aa5029fa88768690e5c512097419f9d`) is substituted with Clang version `303910-1` (the commit `34e6d43

[2017-06-07 07:47] ibogosavljevic commented on #454
The StackSlot alignment patch landed.

Second patch that fixes the issue landed as well: https://codereview.chromium.org/2887053003/

Issue closed.

[2017-06-07 07:47] #454 closed, assigned to ibogosavljevic

[2017-06-12 12:52] sretenkovacevic commented on #477
As CL has landed this bug is closed.

[2017-06-12 12:52] #477 closed, assigned to sretenkovacevic

[2017-06-12 13:53] ibogosavljevic opened #495 "Bughunting: mjsunit/code-coverage-block fails on all targets since introduction"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14720/steps/Check/logs/code-coverage-block

[2017-06-12 13:56] ibogosavljevic commented on #495
Started working on the issue, but in the meantime it got fixed
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14727

Fixed here: https://chromium.googlesource.com/v8/v8/+/d1ffd45e53681095f91a1b74627be54f492bd9c5 (not by me)

Closing.

[2017-06-12 13:56] #495 closed, assigned to ibogosavljevic

[2017-06-13 09:06] ibogosavljevic opened #496 "Bughunting: A few tests from test262/built-ins/RegExp/property-escapes/generated suite timeout on simulator buildbots"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge%20-%20test262/builds/14600

[2017-06-16 01:35] xwafish opened #497 "sunspider-1.0.2 failed on chromium 60"
I build chromium 60 with mips64r2, v8 version is 6.0.186
but sun spider test failed:
https://webkit.org/perf/sunspider/sunspider.html

chromium 58 failed too, but chromium 52 pass.

[2017-06-16 01:40] ClarkWang-2013 commented on #497
chromium58：
http://www.linuxfromscratch.org/blfs/view/svn/xsoft/chromium.html

build on mips64el platform with mips64r2，but sunspider test failed。

[2017-06-16 07:37] ClarkWang-2013 commented on #497
get v8 code and build from：
https://github.com/v8/v8/wiki/Building-with-GN

fetch v8
gclient sync

gn gen out.gn/mips64el.release --args='use_sysroot=false is_clang=fasle is_debug=false use_goma=true'
ninja -C out.gn/mips64el.release d8

d8 test sunspider-1.0.2，results as follows：
1、out.gn/mips64el.release/d8 3d-raytrace.js
3d-raytrace.js:446: Error: bad result: expected length 20970 but got 20716

[2017-06-16 08:17] ibogosavljevic commented on #497
Please try to cherry pick following change to your V8 source code and recompile V8 and try again:

commit ID: 601f1fdf8d4b9e527ab1e5c061803ef548ecfd93

MIPS[64]: Fix deoptimizer generate table for large deoptimization tables

With the introduction of upfront deopt table generation, case where
deoptimization tables have more than 8000 entries become much more common
and bugs started to appear.

Thi

[2017-06-16 09:09] ClarkWang-2013 commented on #497
I checkout commit ID: 601f1fdf8d4b9e527ab1e5c061803ef548ecfd93
MIPS[64]: Fix deoptimizer generate table for large deoptimization tables.

and build again,but also test failed unfortunatly.

[2017-06-16 09:23] ibogosavljevic commented on #497
Please provide some more information about the environment:
are you cross compiling?
what version of gcc are you using?

[2017-06-16 09:27] ClarkWang-2013 commented on #497
Not cross compiling, I'm compiling on loongson3A mips64el platform.

$ gcc -v
COLLECT_GCC=/usr/bin/gcc
COLLECT_LTO_WRAPPER=/usr/libexec/gcc/mips64el-redhat-linux/4.9.3/lto-wrapper
target：mips64el-redhat-linux
configure：../configure --prefix=/usr --mandir=/usr/share/man --infodir=/usr/share/info --with-bugurl=http://bugzilla.redhat.com/bugzilla --enable-bootstrap --enable-shared --enable-threads=po

[2017-06-16 09:29] ClarkWang-2013 commented on #497
Same platform environment, I compiling chromium52 with v8-5.2.36.49 test sunspider-1.0.2 passed all.

[2017-06-16 11:55] ibogosavljevic commented on #497
I need to try to reproduce the issue in my environment. Can you please try the following:
* execute Octante test suite as described here https://github.com/v8mips/v8mips/wiki/Benchmarking-V8. Please let me know if there are any failures.
* use the same binary but execute it on some other mips64r2 architecture. This would help me determine if the problem is related to V8 in general or is it specifi

[2017-06-16 14:34] ibogosavljevic opened #498 "Bughunting: mjsunit/optimized-foreach fails in all configurations"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14768/steps/Check/logs/optimized-foreach

[2017-06-17 00:21] ClarkWang-2013 commented on #497
V8 benchmark octance2.0 test all passed.  i'm sorry I only have loongson mips64r2 architecture, but i guess can be related to v8 in general mips64r2.

[2017-06-19 11:59] ilijapavlovic commented on #494
The patch for Clang is tested and following tests are performed successfully:
[code]
It should be waited for official release the Clang with this patch.

[2017-06-19 13:43] ibogosavljevic commented on #497
Hi!

I am having problems running SunSpider test suite. There is no version that can be executed offline. Can you send me the files and instructions on how to run?

[2017-06-19 16:19] ibogosavljevic commented on #497
Also, I compiled V8 for MIPS32R6 statically using cross compile toolchain Codescape GNU Tools 2015.01-7 for MIPS MTI Linux and linked it statically. commit ID 2325ef535f895529c3d705b20ef0a0e552232652

It can be downloaded from this address: https://dl.rt-rk.com/?t=34fcd3802784c7cf3cf2a061607ebcd1

Could you please try it out and tell me if the problem is reproduced with this version. This should h

[2017-06-20 01:14] ClarkWang-2013 commented on #497
https://github.com/WebKit/webkit/tree/master/PerformanceTests/SunSpider/tests/sunspider-1.0.2

you can only test three js files:3d-cube.js 3d-raytrace.js and access-nbody.js

test method: /you-path/d8 3d-cube.js

Tests whether to make a problem?

[2017-06-20 06:51] ClarkWang-2013 commented on #497
I downloaded d8 from this address:
https://dl.rt-rk.com/?t=34fcd3802784c7cf3cf2a061607ebcd1

test three js files:3d-cube.js 3d-raytrace.js and access-nbody.js in sunspider-1.0.2 and occur errors as follows:
$ ./d8 ../../wangqing/SunSpider/tests/sunspider-1.0.2/3d-cube.js
#
# Fatal error in ../src/heap/heap.cc, line 1205
# Check failed: static_cast<size_t>(size) <= MemoryAllocator::PageAreaSize( st

[2017-06-20 08:13] ibogosavljevic commented on #497
The problem is that your Linux uses non standard page size. V8 uses 4 kB by default. Can you please execute following command in the console so we get the correct number

getconf PAGE_SIZE

I will recompile V8 and send you the version that works

[2017-06-20 08:16] ClarkWang-2013 commented on #497
loongson page size is 16KB by default.
$ getconf PAGE_SIZE
16384

[2017-06-20 08:56] ibogosavljevic commented on #497
Can you please try with this version: https://dl.rt-rk.com/?t=01c02f15291807935fb4862105cc0ba1

It has fixed the page size for your system

[2017-06-20 09:24] ClarkWang-2013 commented on #497
I test the v8_3/d8, 3d-cube.js and access-nbody.js test passed, but 3d-raytrace.js still test failed。

$ ./d8 ../../wangqing/SunSpider/tests/sunspider-1.0.2/3d-raytrace.js
../../wangqing/SunSpider/tests/sunspider-1.0.2/3d-raytrace.js:446: Error: bad result: expected length 20970 but got 20866
    throw "Error: bad result: expected length " + expectedLength + " but got " + testOutput.length;
    ^

[2017-06-20 10:02] mkaric commented on #478
The CL adding optimizations to li and Dsubu macro for mips64 landed.

[2017-06-20 11:45] ilijapavlovic opened #499 "Bughunting: Many tests failed on builders with the Clang."
On following builders many test fails:
- Target - edge - clang
- Target - MIPS64 - edge - clang
- Target - Debug - edge - clang
- Target - MIPS64 - Debug - edge - clang

https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20clang/builds/2611
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/2575
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20

[2017-06-20 13:05] ilijapavlovic commented on #499
The problems are introduced with the commit:
[code]
https://chromium.googlesource.com/v8/v8/+/84ed74f420738868cf5dfed04127e284b7430e0b

Mentioned commit updates Clang version from `303910-1` to `305281-1`.
https://chromium.googlesource.com/chromium/src/tools/clang/+log/fbd95a5..b7068ad

The error message which appear in almost all failed tests:
[code]

[2017-06-20 14:14] ibogosavljevic opened #500 "Optimization: Fix restartability issues"
According to MIPS instructions, certain instruction cannot be used in some combination of registers because of restartability issues. For example, instruction BGEZAL cannot use register 31 as source register.

Please go through the instruction manual, find instructions that have restartability issues and add checks in assembler-mips[64] in order to make sure these functions are never called with b

[2017-06-21 14:50] ibogosavljevic commented on #497
I managed to reproduce the issue, but it reproduces on Loongson only. It doesn't reproduce on other architectures.

I am on vacation until the end of this week and will be back to debug it on Monday

[2017-06-23 12:01] ilijapavlovic commented on #494
The Clang version `305888` should contain solution for this problem.

[2017-06-23 12:02] ilijapavlovic commented on #499
According last info from the Clang developers, problematical Clang commit should be reverted.

[2017-06-26 09:43] ibogosavljevic opened #501 "Porting: [arm] Introduce UseScratchRegisterScope"
Port https://chromium-review.googlesource.com/c/544956/ to MIPS32 and MIPS64 if applicable

[2017-06-26 11:20] ibogosavljevic commented on #496
These tests are skipped on ARM builder for the same reasons and therefore we skip them on MIPS as well

[2017-06-26 11:20] #496 closed, assigned to nobody

[2017-06-27 11:10] ilijapavlovic commented on #500
Following restartability issues are identified:
- "_Branch-and-link Restartability_": GPR 31 must not be used for the source register `rs`. Affected instructions: `BGEZAL`, `B{LE,GE,GT,LT,EQ,NE}ZALC`, `BGEZALL`, `BLTZAL`, `BLTZALL`. This should be implemented.
- "_Jump-and-Link Restartability_": Register specifiers `rs` and `rd` must not be equal. Affected instructions: `JALR`, `JALR.HB`. This is

[2017-06-27 11:30] ibogosavljevic commented on #497
Hi Wang!

I managed to find the cause of the failure of 3d-raytrace.js test. It seems that Loongson 3A either uses fused MADD or has some problem with MADD instruction. Between Chromium 52 and Chromium 60 we enabled MADD instruction instead of MUL/ADD and this is the reason why you see the failure.

Below is the patch that will make test 3d-raytrace.js pass on Loongson 3A. Please notice that this

[2017-06-27 11:33] ilijapavlovic commented on #500
CL uploaded and ready for review:
https://chromium-review.googlesource.com/c/549362/

[2017-06-27 12:54] ClarkWang-2013 commented on #497
Thanks !!!   I modify as follows and all sunspider-1.0.2 tests passed:

diff --git a/BUILD.gn b/BUILD.gn
index e732957..f7834e1 100644
--- a/BUILD.gn
+++ b/BUILD.gn
@@ -383,6 +383,9 @@ config("toolchain") {
       defines += [ "_MIPS_ARCH_MIPS64R6" ]
     } else if (mips_arch_variant == "r2") {
       defines += [ "_MIPS_ARCH_MIPS64R2" ]
    +} else if (mips_arch_variant == "loongson3") {
    +def

[2017-06-27 13:13] ilijapavlovic commented on #500
CL landed:
https://chromium.googlesource.com/v8/v8/+/7a6d35e689746fffc9110ee28880da52319e12f2

[2017-06-28 09:07] #500 closed, assigned to ilijapavlovic

[2017-06-28 09:48] ilijapavlovic opened #502 "Bughunting: cctest/test-spaces/SizeOfInitialHeap"
The test cctest/test-spaces/SizeOfInitialHeap fails on following test builders:
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/14832
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11231
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/10589
https://v8.imgtec.com/bbv8/builders/Target%20%281%29%20-%20edge/builds/9080
https://v8.imgtec.com/bbv8/builders/

[2017-06-28 12:48] ilijapavlovic commented on #502
The problem appears after following commit:
[code]
Reviewed-on: https://chromium-review.googlesource.com/548375

[2017-06-28 14:06] ibogosavljevic commented on #497
So here is the verdict: Loongson 3A has fused multiply-add instruction instead of the regular (this is not according to instruction manual for R2 architecture). This is what is causing problem in this test.

Having this in mind, we will remove MADD optimizations for MIPS64R2 since they don't give proper results on MIPS64R2

[2017-06-28 14:06] #497 closed, assigned to nobody

[2017-06-28 14:18] ibogosavljevic opened #503 "Bughunting: Remove MADD optimization support on MIPS64R2"
Motivated by #497

On Loongson 3A (MIPS64R2), MADD instruction is actually fused MADD and this causes failure in some of the tests.

Since this optimization is rarely used, and not used at all on MIPS64R6, remove it completly from the source base.

[2017-06-29 13:44] mkaric commented on #478
Several CLs are uploaded, a CL that optimizes memory load/store helper, https://chromium-review.googlesource.com/c/552119/, a CL that optimizes Neg_s and Neg_d macro instructions, https://chromium-review.googlesource.com/c/555131/ and a CL that optimizes add, sub and shift pair macro instructions, https://chromium-review.googlesource.com/c/555513/. PTAL.

[2017-06-30 13:45] ibogosavljevic opened #504 "Porting: Port ` [compiler] Delay generation of code stubs`"
Port https://chromium-review.googlesource.com/c/548078/

[2017-06-30 14:20] ibogosavljevic commented on #456
All patches uploaded, issue closed

[2017-06-30 14:20] #456 closed, assigned to simicicd

[2017-07-03 12:39] ilijapavlovic commented on #503
MSUB instruction and optimizations which use it are also removed from source base.
CL uploaded: https://chromium-review.googlesource.com/c/558066/

[2017-07-03 13:49] ilijapavlovic commented on #503
CL landed: https://chromium.googlesource.com/v8/v8/+/99459edf5fee3681da24356612e48b8afa14656f

[2017-07-04 06:28] alexfru commented on #478
For MSA ld.df/st.df base/offset adjustment see Mips[64]Assembler::AdjustBaseOffsetAndElementSizeShift() and how it's used in https://android-review.googlesource.com/#/c/377753/ and https://android-review.googlesource.com/#/c/411424/.

[2017-07-04 09:20] ilijapavlovic opened #505 "Test: Create tests for EXT and INS instructions."
Related with CL: https://chromium-review.googlesource.com/c/558872/

[2017-07-05 13:38] #503 closed, assigned to ilijapavlovic

[2017-07-06 09:16] ibogosavljevic commented on #54
This has been done long time ago. Those test that fail because of unaligned issues will display message "BUS due to misalignment". Closed

[2017-07-06 09:16] #54 closed, assigned to kwan0xfff

[2017-07-06 09:20] ibogosavljevic commented on #109
Threading3 has been passing on the board for a very long time: https://build.chromium.org/p/client.v8.ports/builders/V8%20Mips%20-%20big%20endian%20-%20nosnap%20-%201/builds/5090/steps/Check/logs/stdio

Issue closed

[2017-07-06 09:20] #109 closed, assigned to ibogosavljevic

[2017-07-06 11:26] ibogosavljevic commented on #13
We implemented constant pools on R6 and Octane showed slow-down of about 5%. We speculate that the problem is related to cache misses that happen in this case, that is to say, LUI/ORI are already in instruction cache, so no problem here, however LDPC can access any part of memory not necessary in data cache.

I would expect similar behavior on R2 with the difference that R2 requires one more regis

[2017-07-06 11:26] #13 closed, assigned to nobody

[2017-07-06 11:30] ilijapavlovic commented on #505
CL uploaded and ready for review: https://chromium-review.googlesource.com/c/561319/

[2017-07-07 08:39] ilijapavlovic commented on #505
CL landed: https://chromium.googlesource.com/v8/v8/+/fe37d91345cd311fd7466b24111fc5c2c40464aa

[2017-07-07 09:32] mkaric commented on #478
The three CLs mentioned in my previous post all landed. Uploaded a new CL with optimizations to MipsCtz and MipsPopcnt in code generator for mips32 and mips64, https://chromium-review.googlesource.com/c/563197/.

[2017-07-07 12:01] ibogosavljevic commented on #504
Patch on review: https://chromium-review.googlesource.com/c/558294/

[2017-07-07 12:01] ibogosavljevic commented on #490
patch landed and issue closed https://chromium-review.googlesource.com/c/536972/

[2017-07-07 12:01] #490 closed, assigned to ibogosavljevic

[2017-07-07 12:03] ibogosavljevic opened #506 "Infrastructure Maintenance: Try out the new LLD linker and fix any issues"
The LLD linker that is part of LLVM will be the future default linker. Currently we must use use_lld=true in order to enable it.

Try out the new linker. In case of any problems investigate what needs to be done in order to fix them. Report any issues to LLVM team

[2017-07-07 12:33] #505 closed, assigned to ilijapavlovic

[2017-07-11 08:48] mkaric commented on #478
The CL introducing optimizations in memory load/store helper, https://chromium-review.googlesource.com/c/552119/, caused several failures on r6 builders. The problem was in Sdc1 macro instruction where address in at register was overwritten before being used. Also in debug mode a DCHECK was failing because an incorrect type was used. This is fixed with a CL: https://chromium-review.googlesource.co

[2017-07-12 10:21] mkaric commented on #478
The CL with optimizations to MipsCtz and MipsPopcnt in code generator for mips32 and mips64, https://chromium-review.googlesource.com/c/563197/, landed.

[2017-07-14 10:27] ilijapavlovic commented on #499
The problem should be solved with Clang version 307516.

[2017-07-14 10:41] ilijapavlovic commented on #499
With Clang version 307486-1 the problem is vanished.

[2017-07-14 10:41] #499 closed, assigned to ilijapavlovic

[2017-07-14 10:44] ilijapavlovic commented on #494
With Clang version 307486-1 the tests `cctest/test-heap/OptimizedPretenuring*` are successful again.

[2017-07-14 10:44] #494 closed, assigned to ilijapavlovic

[2017-07-14 12:12] ilijapavlovic commented on #180
Certain reducing lines of code can be done with following macro-definitions:
[code]

[2017-07-14 12:35] sretenkovacevic commented on #485
CL uploaded and landed. https://chromium-review.googlesource.com/c/558882/

CL also fixes #486

[2017-07-14 12:35] #485 closed, assigned to sretenkovacevic

[2017-07-14 12:36] ibogosavljevic commented on #486
Copy of #485, issue fixed and closed

[2017-07-14 12:36] #486 closed, assigned to nobody

[2017-07-14 14:47] ibogosavljevic commented on #504
Patch landed and issue closed

[2017-07-14 14:47] #504 closed, assigned to ibogosavljevic

[2017-07-17 11:38] ibogosavljevic opened #507 "Bughunting: 4 tests fail after introduction of new IsPowerOf helper method"
These tests are:
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/11332/steps/Check/logs/RunInt32MulAndInt32AddP
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11351/steps/Check/logs/RunInt32MulImm
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11351/steps/Check/logs/int32mod-constant
https://v8.imgtec.com/bbv8/build

[2017-07-17 11:48] ilijapavlovic commented on #180
CL uploaded and ready for review:
 https://chromium-review.googlesource.com/574229

[2017-07-17 12:55] ilijapavlovic opened #508 "Bughunting: unittests/MachineOperatorReducerTest.Int32DivWithConstant fails."
The test `unittests/MachineOperatorReducerTest.Int32DivWithConstant` fails on following test platforms:

https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/10778
https://v8.imgtec.com/bbv8/builders/Target%20%281%29%20-%20edge/builds/9272
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/1998
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%

[2017-07-18 07:08] ilijapavlovic commented on #508
The problem is reproduced with the commit:
`18453c9b3baa3fc90b24ac861c3bc5143440887b [turbofan] Inline last remaining WhichPowerOf2Abs use.`
Reviewed-on: https://chromium-review.googlesource.com/568478

[2017-07-20 13:45] ibogosavljevic opened #509 "Port: ` [arm][arm64] Delete unused code from the macro assembler `"
Port https://chromium-review.googlesource.com/c/571011/

[2017-07-21 11:42] sretenkovacevic opened #510 "Bughunting: mjsunit/optimized-map fails"
Test fails on all architectures. It fails since it's been added (codereview can be found [here](https://chromium-review.googlesource.com/c/548639/)).

Seems like it could be connected with #498.

[2017-07-21 12:22] ibogosavljevic commented on #507
CL that fixes the issue landed https://chromium.googlesource.com/v8/v8/+/07a743df0afa95fc698b99f9180f20d7556883c7

Issue fixed: https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/11335

[2017-07-21 12:22] #507 closed, assigned to ibogosavljevic

[2017-07-24 11:40] ilijapavlovic commented on #508
In `src/utils.h`, function `Abs()` has problems if argument contains minimal value.
The problem is fixed with following CL:
https://chromium-review.googlesource.com/c/582809/

[2017-07-25 08:09] ilijapavlovic commented on #508
From review comments is suggested to test following code for `Abs()`:
[code]
This code should be more efficient from performance point of view.

[2017-07-25 11:52] ilijapavlovic commented on #508
The tests were successful also with new version of Abs().

[2017-07-26 07:53] ilijapavlovic commented on #180
Instead macro-definitions, function `CalculateOffset()` is introduced.

[2017-07-26 09:15] mkaric commented on #478
Uploaded the CL with compare instruction optimizations in code generator:
https://chromium-review.googlesource.com/c/584529/

[2017-07-26 09:22] mkaric commented on #478
@alexfru Thank you for your help with improvements in v8 code. As for base/offset adjustment for MSA, this is still work in progress in v8 and will be covered in a separate issue.

[2017-07-26 09:39] ilijapavlovic commented on #180
CL landed:
https://chromium.googlesource.com/v8/v8/+/c32b128102c5c9c1e1b14ab86a75195153e78381

[2017-07-26 10:24] mkaric commented on #478
The CL with optimizations to compare in code generator landed. All optimizations listed above are now added, closing.

[2017-07-26 10:24] #478 closed, assigned to mkaric

[2017-07-26 14:55] ibogosavljevic commented on #506
To compile using CLANG and LLD you just need to add use_lld=true in GN args line.

MIPS64EL is on the other hand more complicated since there is no mips64el debian jessie sysroot. I created debian stretch mips64el sysroot available [here](https://github.com/v8mips/v8mips/wiki/files/debian_stretch_mips64el_sysroot.tar.xz).

Unpack it and execute following command to compile

[code]

There is a prob

[2017-07-26 14:55] #506 closed, assigned to ibogosavljevic

[2017-07-26 16:05] #292 closed, assigned to mkaric

[2017-07-27 07:33] ilijapavlovic commented on #508
The CL which should fix the problem:
https://chromium-review.googlesource.com/c/584870/
The CL is landed:
https://chromium.googlesource.com/v8/v8/+/a4663baa426bb7b365dd4204b34c9117c36e7346
The test is successful again.

[2017-07-27 07:33] #508 closed, assigned to ilijapavlovic

[2017-07-27 07:44] #180 closed, assigned to ilijapavlovic

[2017-07-27 09:04] ibogosavljevic opened #511 "MIP6464EL Debian Stretch sysroot"
Apply the following patch in the build directory of v8 to create the changes needed to create MIPS64EL Debian stretch filsystem

[code]

Then execute following commands:
[code]

[2017-07-27 09:04] #511 closed, assigned to ibogosavljevic

[2017-07-27 09:05] ibogosavljevic commented on #511
You can download the prebuilt sysroot. See #506

[2017-07-27 10:42] ilijapavlovic commented on #509
From `macro-assembler-mips64.*` will not be removed ` void StubPrologue(StackFrame::Type type);`.
See following CL: https://codereview.chromium.org/2467513002
In this CL, `StubPrologue()` is removed from ARM64 implementation, but in MIPS64 are done another corrections.

[2017-07-28 07:44] ilijapavlovic commented on #509
CL uploaded: https://chromium-review.googlesource.com/c/591127/

[2017-07-28 12:20] sretenkovacevic commented on #501
CL uploaded and landed. Link to codereview: [https://chromium-review.googlesource.com/c/574923/](https://chromium-review.googlesource.com/c/574923/)

[2017-07-28 12:37] ibogosavljevic commented on #501
Closed.

[2017-07-28 12:37] #501 closed, assigned to sretenkovacevic

[2017-08-01 08:07] p-rudic commented on #502
The bug is fixed by this CL : https://chromium-review.googlesource.com/c/593950/

[2017-08-01 10:05] ibogosavljevic opened #512 "Bughunting: Failure of mjsunit/optimized-foreach-holey, mjsunit/optimized-foreach-holey-3 on big endian"
There are a few tests failing on BIG endian

https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/10137/steps/Check/logs/optimized-foreach-holey
https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/10137/steps/Check/logs/optimized-foreach-hol..
https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/10137/steps/

[2017-08-01 11:51] ibogosavljevic commented on #502
Closed

[2017-08-01 11:51] #502 closed, assigned to p-rudic

[2017-08-02 09:10] ilijapavlovic commented on #509
CL landed as
https://chromium.googlesource.com/v8/v8/+/d721a9d40627a80acc27a0b856e82a2b20d8d834

[2017-08-02 11:45] ibogosavljevic commented on #509
Closed

[2017-08-02 11:45] #509 closed, assigned to ilijapavlovic

[2017-08-02 11:53] ilijapavlovic opened #513 "Bughunting: mjsunit/asm/poppler/poppler"
Test `mjsunit/asm/poppler/poppler` fails on following test environments:
    https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11469
    https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/11436
    https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge%20-%20mipsr6/builds/6744
    https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-

[2017-08-02 12:14] ilijapavlovic commented on #513
The problem starts with CL
   `57031e82db6864b0c0caa67502b222a255ef9a96 [asm.js] Enable --validate-asm by default.`
   https://chromium-review.googlesource.com/c/583655

[2017-08-02 12:16] ilijapavlovic commented on #513
Mentioned CL enables validating asm.js modules before compiling in `src/flag-definitions.h`.

[2017-08-03 14:16] ilijapavlovic commented on #513
In `v8/src/mips64/assembler-mips64.cc` is defined following function:
[code]
For mips64el r2 in debug mode, argument `j` has value `0x471dc` which is not 16-bit, and this value causes unsuccessful test execution.

[2017-08-10 09:06] ilijapavlovic commented on #513
In `v8/src/compiler/code-generator.cc` function `CodeGenerator::AssembleBlock(const InstructionBlock* block)` emits following instruction:
[code]
Hexadecimal representation of `291292` is `0x471DC` and this value is used as offset.
For this instruction is assembled architecture-specific code/instruction. In this case it is following:
[code]

This is content of the call stack in the moment when fai

[2017-08-10 11:38] ilijapavlovic commented on #513
CL is uploaded: https://chromium-review.googlesource.com/c/608975
This CL should fix following tests:
- mjsunit/asm/poppler/poppler
- mjsunit/asm/sqlite3/sqlite
- mjsunit/asm/sqlite3/sqlite-pointer-masking

[2017-08-10 13:36] ilijapavlovic commented on #513
CL landed: https://chromium.googlesource.com/v8/v8/+/ef3ad19b63a701df6139f6753e6d5b2e893a7e64

[2017-08-11 08:24] ilijapavlovic commented on #513
The test still fails with Clang:
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20clang/builds/952/steps/Check/logs/stdio/text

[2017-08-11 10:00] ilijapavlovic commented on #513
CL is tested locally with Clang build and the tests were successful.
In last several days, mentioned buildbot did not run, so the latest CLs are not tested on this buildbot.

[2017-08-11 12:02] ilijapavlovic opened #514 "Bughunting: mjsunit/asm/int32div"
The test fails on MIPS64 big endian in Debug mode:
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/2172/steps/Check/logs/int32div

[2017-08-11 13:04] ibogosavljevic opened #515 "Porting: Add support for atomic binary operations"

[2017-08-14 06:04] ilijapavlovic commented on #513
The tests are successful again.

[2017-08-14 06:04] #513 closed, assigned to ilijapavlovic

[2017-08-14 07:53] ilijapavlovic commented on #514
The problem locally reproduced:
[code]

[2017-08-14 08:00] ibogosavljevic commented on #515
CL uploaded: https://chromium-review.googlesource.com/c/612085

[2017-08-14 08:44] p-rudic commented on #512
Bug was because of bad union initialization.
This CL fixed the issue: https://chromium-review.googlesource.com/c/613266

[2017-08-14 08:53] ibogosavljevic commented on #512
Issue closed

[2017-08-14 08:53] #512 closed, assigned to p-rudic

[2017-08-14 09:05] ibogosavljevic opened #516 "Porting: `Fix code generator for load and store data`"
Port https://chromium-review.googlesource.com/c/608975 to MIPS32

[2017-08-16 08:48] ibogosavljevic opened #517 "New feature: Add support for MSA 2RF instructions to simulator"
Add support for MSA 2RF instructions to simulator

This CL add support for MSA 2R instructions to simulator: https://chromium-review.googlesource.com/c/538654

Similarly, please add support for MSA 2RF instructions to simulator. Please add tests for the new instructions if they are not already present.

Information about MIPS MSA can be found here: http://cdn2.imgtec.com/documentation/MD00866-2B-M

[2017-08-17 09:36] ilijapavlovic commented on #514
For the 1st time, this error is caused with CL
[code]
The problem was corrected with reverting mentioned CL and with a fix for compilation failure on big-endian:
[code]
The final problem is caused with new version of Reland "[turbofan] enable new implementation of escape analysis"
[code]
Reviewed-on: https://chromium-review.googlesource.com/603788

The check `DCHECK(offset % kPointerSize == 0);` f

[2017-08-18 12:12] ilijapavlovic commented on #514
New escape analysis is introduced with following CL:
[code]

[2017-08-18 13:39] ibogosavljevic opened #518 "New feature: Add support for MSA 3RF instructions to simulator"
Add support for MSA 3RF instructions to simulator

This CL add support for MSA 2R instructions to simulator: https://chromium-review.googlesource.com/c/538654

Similarly, please add support for MSA 3RF instructions to simulator. Please add tests for the new instructions if they are not already present. Please verify the simulator implementation by running the test both under simulator and under qe

[2017-08-18 13:42] ibogosavljevic opened #519 "Porting: Implement AtomicExchange and AtomicCompareExchange turbofan operators"
Implement Port InstructionSelector::VisitAtomicExchange and  and Port InstructionSelector::VisitCompareAtomicExchange and relevant code that implements these functions to MIPS32 and MIPS64

[2017-08-18 14:05] ibogosavljevic opened #520 "New feature: Allow recognition of mips architecture revision in .status files"
The run-test.py has the ability to recognize the environment (architecture, operating system, endianess) and, depending on the value in .status files, skip execution of some tests.

Investigate the possibility for the script to detect mips architecture revision besides other parameters already mentioned.

[2017-08-25 13:00] sretenkovacevic opened #521 "Bughunting: snapshot build fails"
After patch [https://chromium-review.googlesource.com/c/v8/v8/+/610225](https://chromium-review.googlesource.com/c/v8/v8/+/610225) snapshot build fails. Also, some serializer tests fail when building without snapshot.

[2017-09-07 11:31] ilijapavlovic commented on #514
The test fails when new escape analysis performs reducing following node:
[code]

The problem is with operator `StoreField` which has offset value 12.

[2017-09-07 12:07] sretenkovacevic commented on #519
CL uploaded and landed. Link to code review: [https://chromium-review.googlesource.com/c/v8/v8/+/649186](https://chromium-review.googlesource.com/c/v8/v8/+/649186)

[2017-09-08 14:30] sretenkovacevic commented on #521
change is reverted, so bug no longer exists

[2017-09-08 14:30] #521 closed, assigned to nobody

[2017-09-08 14:32] ibogosavljevic opened #522 "Bughunting: Compilation fails on R6 after refactoring of Register class"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6%20-%20builder/builds/12269

[2017-09-08 14:38] ibogosavljevic commented on #519
Finished, issue closed

[2017-09-08 14:38] #519 closed, assigned to nobody

[2017-09-11 09:13] ibogosavljevic opened #523 "Bughunting: MIPS64 compilation failure after removal of Register::is method"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20builder/builds/16499

[2017-09-12 12:33] ibogosavljevic commented on #523
Resolved with: https://chromium-review.googlesource.com/c/v8/v8/+/662782 and
https://chromium-review.googlesource.com/c/v8/v8/+/659619

[2017-09-12 12:33] #523 closed, assigned to ibogosavljevic

[2017-09-15 12:37] sretenkovacevic opened #524 "Bughunting: mjsunit/icu-date-lord-howe test fail on ci20"
Test passes when run in tools/run-tests.py, but fails when run separately (using command provided by tools/run-tests.py)

[2017-09-15 14:45] ibogosavljevic opened #525 "Infrastructure maintenance: Retest MIPS compilation under GN"
The GN migration will be over soon. We need to retest all the possible combinations MIPS32/MIPS64 with R1/R2/R6 with GCC/CLANG and check if they work correctly under GN

[2017-09-18 11:41] ilijapavlovic commented on #514
This CL temporary turn off escape analysis, and therefore the test is successful again:
[code]

[2017-09-18 12:16] ilijapavlovic opened #526 "Skip cctest/test-run-wasm-atomics/* for big endian architecture."
For big endian architecture, cctest/test-run-wasm-atomics/* should be skipped.

[2017-09-19 08:58] ilijapavlovic commented on #526
The CL uploaded: https://chromium-review.googlesource.com/c/v8/v8/+/671010
The CL tested on MIPS32 and MIPS64 big-endian boards.

[2017-09-19 11:44] ibogosavljevic opened #527 "Bughunting: A handfull of tests fail under MIPS64BE with same error"
There is a handfull of test that fail with the following error on MIPS64BE:

[code]

The list is available here:
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/2263/steps/Check/logs/stdio

[2017-09-20 13:17] ilijapavlovic commented on #526
The CL landed: https://chromium.googlesource.com/v8/v8/+/ce76dd60c8c879e5528558096517331c4ac66794

[2017-09-21 08:55] ibogosavljevic commented on #526
Closed.

[2017-09-21 08:55] #526 closed, assigned to ilijapavlovic

[2017-09-21 14:32] ilijapavlovic commented on #514
Check fails in following code:
[code]
offset = 12; kPointerSize = 8;
Function `FieldAt()` is called in `ReduceNode()` for operator opcode `IrOpcode::kStoreField`.
[code]
Operator `StoreField` is generated with offset = 12.
[code]
This operator is generated here:
[code]

Note function `AccessBuilder::ForNameHashField()`
[code]

Parameter `Name::kHashFieldOffset` is defined in `v8/src/objects/name.h

[2017-09-22 11:25] ilijapavlovic commented on #514
For big endian MIPS64 in Release mode, the test was successful.

[2017-09-22 13:03] ilijapavlovic commented on #514
While the test is successful in Release mode, it is possible that checking `DCHECK(offset % kPointerSize == 0);` is wrong and therefore not needed.

Following solution is tested and after this the test is successful.
[code]

[2017-09-26 10:20] ilijapavlovic commented on #514
The CL with solution is uploaded:
https://chromium-review.googlesource.com/c/v8/v8/+/681335

This solution is not accepted, because wanted feature is handling `kHashFieldOffset` values which are not word-aligned. New proposed solution/CL:
https://chromium-review.googlesource.com/c/v8/v8/+/681714

The new CL is tested and the test `mjsunit/asm/int32div` is successful again. It is also noted that th

[2017-09-26 12:37] ilijapavlovic opened #528 "Bughunting: cctest/test-run-wasm-64/RunWasmCompiled_Regression_6858"
The test `cctest/test-run-wasm-64/RunWasmCompiled_Regression_6858` fails on mipsel simulator in Release mode.

https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/6563/steps/Check/logs/RunWasmCompiled_Regre..

Error message:
[code]

[2017-09-27 05:48] ilijapavlovic commented on #528
The problem is reproduced.
This test is introduced with this CL:
https://chromium-review.googlesource.com/c/v8/v8/+/684017

[2017-09-27 07:47] ilijapavlovic commented on #528
The test also fails on boards but with different error message:
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge/builds/2900/steps/Check/logs/RunWasmCompiled_Regre..
[code]

[2017-09-28 09:05] ilijapavlovic commented on #528
The MIPS port for mentioned CL is uploaded and ready for review.
https://chromium-review.googlesource.com/c/v8/v8/+/689794

[2017-09-29 12:36] ilijapavlovic commented on #528
The CL landed:
https://chromium.googlesource.com/v8/v8/+/8b749bf9ec6fc1e31b02cad2f15eaccf8716b617

[2017-09-29 14:00] ibogosavljevic opened #529 "Bughunting: Several WASM related tests fail on MIPS32 CI20 based buildbots only"
Among other:
mjsunit/wasm/data-segments
mjsunit/wasm/grow-memory
mjsunit/wasm/atomics
mjsunit/wasm/module-memory
mjsunit/wasm/import-memory
mjsunit/wasm/asm-wasm-expr

https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/11592

[2017-09-29 14:16] p-rudic commented on #517
Instructions and corresponding test are added for V8 builtin simulator in this CL: https://chromium-review.googlesource.com/c/v8/v8/+/657677

[2017-09-29 14:50] ibogosavljevic commented on #528
Issue fixed: https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge%20-%20mipsr6/builds/6585
Closed

[2017-09-29 14:50] #528 closed, assigned to ilijapavlovic

[2017-10-04 08:13] ilijapavlovic commented on #516
CL uploaded:
https://chromium-review.googlesource.com/c/v8/v8/+/699998

[2017-10-04 08:51] ilijapavlovic commented on #514
The test still fails when build V8 is performed with the Clang:
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20clang/builds/1006
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/3040

The error message different from initial:
[code]

[2017-10-05 07:18] ilijapavlovic commented on #516
CL landed: https://chromium.googlesource.com/v8/v8/+/419edddad3fe7fc55cee47738d31582e192a0162

[2017-10-05 12:45] ilijapavlovic commented on #514
The problem in build with Clang starts with following CL:
https://chromium-review.googlesource.com/c/v8/v8/+/691834
Reland "[build] Switch windows default compilation to MSVS 2017"

This CL introduces new Clang: - version `312679-1` is substituted with version `313786-1`.

When a later CL is build with Clang version `312679-1` (for example: "MIPS: [wasm] Allow traps in tests with many parameters i

[2017-10-06 05:52] ilijapavlovic opened #530 "Bughunting: mjsunit/asm/int32div fails with Clang 313786-1."
The test fails when build V8 is performed with the Clang:

https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/3046
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/989
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/894
https://v8.imgtec.com/b

[2017-10-06 05:53] ilijapavlovic commented on #514
Because of different nature of the problem, this issue will be closed and one new is opened: https://github.com/v8mips/v8mips/issues/530

[2017-10-06 05:53] #514 closed, assigned to ilijapavlovic

[2017-10-06 05:56] #516 closed, assigned to ilijapavlovic

[2017-10-06 07:12] sretenkovacevic commented on #527
CL landed [https://chromium-review.googlesource.com/#/c/700680/](https://chromium-review.googlesource.com/#/c/700680/). 367 tests are fixed.

[2017-10-09 08:26] ibogosavljevic commented on #527
As of https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/2325 there is no failures except for three tests that are covered in this bug. Issue closed.

[2017-10-09 08:26] #527 closed, assigned to sretenkovacevic

[2017-10-09 08:28] ibogosavljevic commented on #527
Commit that solves the issues: https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20big%20-%20Debug%20-%20edge/builds/2319

[2017-10-09 09:29] ibogosavljevic commented on #529
Patch landed: https://chromium-review.googlesource.com/c/v8/v8/+/697807

[code]
Issue closed.

[2017-10-09 09:29] #529 closed, assigned to ibogosavljevic

[2017-10-09 09:38] ibogosavljevic commented on #522
The fix for the problem landed. However, during the time the binary wasn't compiling there some other problems emerged which are dealt with in another CL: https://chromium-review.googlesource.com/c/v8/v8/+/663728

[2017-10-09 09:38] #522 closed, assigned to IvoMarkovic

[2017-10-09 09:39] ibogosavljevic commented on #522
Fixed here: https://v8.imgtec.com/bbv8/builders/Sim%20-%20Debug%20-%20edge%20-%20mipsr6%20-%20builder/builds/12385

[2017-10-09 09:48] ibogosavljevic opened #531 "Bughunting: Many failures on MIPSR6 + CLANG buildbot"
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/907

[2017-10-12 10:58] ilijapavlovic commented on #530
The error message is created in function `VerifyAllocatedGaps(const Instruction* instr, const char* caller_info)`.
Content of instruction `instr` is printed for both Clang versions. The checking fails for instruction `Mips64Dsar`.

Instruction's contents:
- successful case:
[code]
- unsuccessful case:
[code]

In unsuccessful case, the test fails in checking a `MoveOperands` object which is not all

[2017-10-13 13:14] sretenkovacevic opened #532 "Bughunting: cctest/test-code-generator/FuzzAssembleSwap fails on target"
Test fails in all modes on target builds with segmentation fault.
Started on [https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/11698](https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/11698)

[2017-10-13 14:28] p-rudic commented on #518
Instructions implemented in this CL : https://chromium-review.googlesource.com/c/v8/v8/+/708270/5

[2017-10-16 09:28] ibogosavljevic opened #533 "Bughunting: cctest/test-c-wasm-entry/TestCWasmEntryArgPassing_AllTypes fails on MIPS64 buildbot"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11993/steps/Check/logs/TestCWasmEntryArgPass..

[2017-10-16 13:17] ibogosavljevic commented on #533
Patch landed: https://chromium-review.googlesource.com/c/v8/v8/+/720812

Issue resolved: https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/11994

Closed

[2017-10-16 13:17] #533 closed, assigned to ibogosavljevic

[2017-10-20 14:23] ibogosavljevic opened #534 "Bughunting: inspector/debugger/not-hold-promises fails on MIPS64"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/12034/steps/Check/logs/not-hold-promises

[2017-10-20 14:36] ibogosavljevic commented on #534
RecordWriteStub generates a unaligned load word on MIPS64 architecture and that creates a failure. I was looking at the code and I couldn't understand it, so I created a patch that allows to reproduce this issue on X64 and reported it to V8 bugtracker: https://bugs.chromium.org/p/v8/issues/detail?id=6955

[2017-10-23 08:48] ibogosavljevic opened #535 "New feature: Enable test-run-wasm-simd with MSA instructions"

[2017-10-27 11:08] ibogosavljevic commented on #534
Issue fixed:
https://chromium.googlesource.com/v8/v8.git/+/fe8eb6f06707747206b4e37fb75693fb5a3207fa

Closed.

[2017-10-27 11:08] #534 closed, assigned to ibogosavljevic

[2017-10-27 11:09] ibogosavljevic commented on #517
Functionality implemented, closing.

[2017-10-27 11:09] #517 closed, assigned to p-rudic

[2017-10-27 11:09] ibogosavljevic commented on #518
Done.

[2017-10-27 11:09] #518 closed, assigned to p-rudic

[2017-10-27 13:03] ibogosavljevic commented on #515
Issue closed.

[2017-10-27 13:03] #515 closed, assigned to ibogosavljevic

[2017-10-27 13:37] ibogosavljevic opened #536 "Infrastructure Maintenance: Compilation doesn't work on buildbots that use snapshots"
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20builder/builds/16940/steps/compile/logs/stdio

[2017-10-27 14:00] ibogosavljevic commented on #536
Reproduced on ARM, reported to https://bugs.chromium.org/p/v8/issues/detail?id=7005

[2017-11-03 12:35] ibogosavljevic commented on #536
The problem was due to missing GYP_CROSSCOMPILE environment variable. Ninja uses this variable in order to correctly set up crosscompilation, whereas Make doesn’t use it.
After setting GYP_CROSSCOMPILE, the builbots are working normally.
Issue closed

[2017-11-03 12:35] #536 closed, assigned to ibogosavljevic

[2017-11-03 13:50] ibogosavljevic commented on #510
Both this and #498 had the same cause. Here is the commit that fixed them.

[code]

[2017-11-03 13:50] #510 closed, assigned to sretenkovacevic

[2017-11-03 13:51] ibogosavljevic commented on #498
Closed with this CL>

MIPS[64]: Fix order of allocatable general purpose registers

First allocatable register must be same as the argument
count register.
This change fixes problems with optimized tests.

Bug:
Change-Id: I06731c7f27c5f6a761ebdeb3c3c7b2a6c14d7c1d
Reviewed-on: https://chromium-review.googlesource.com/716224
Reviewed-by: Ivica Bogosavljevic <ivica.bogosavljevic@imgtec.com>
Commit-Qu

[2017-11-03 13:51] #498 closed, assigned to IvoMarkovic

[2017-11-08 10:17] ibogosavljevic opened #537 "Bughunting: Compilation failure due to Wtautological-constant-compare"
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20builder/builds/17030/steps/compile/logs/stdio

[2017-11-08 12:23] ibogosavljevic opened #538 "Bughunting: mjsunit/wasm/multi-value fails on simulator"
https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/15714/steps/Check/logs/multi-value

[2017-11-09 14:06] ilijapavlovic commented on #530
With `--trace-turbo-graph` are collected instruction sequences before register allocations:
[code]
[code]
In error case is used virtual register `v6(R)` instead `v18(R)`.

With flag `--trace-alloc` are collected following logs:

OK case:
[code]
Error case:
[code]
In error case:
* From some reason is used virtual register `v6` instead `v18`.
* There are no calls ` TopLevelLiveRange::ShortenTo()` an

[2017-11-10 09:21] ibogosavljevic commented on #537
Issue fixed: https://chromium-review.googlesource.com/c/v8/v8/+/758243

Issue closed

[2017-11-10 09:21] #537 closed, assigned to ibogosavljevic

[2017-11-14 01:12] MIPSbkirby opened #539 "Using GN to configure V8 for MIPS32r2 big endian, binary doesn't run on MIPS board"
I've attached a script that uses GN to configure V8 for MIPS32r2 big endian:
[build-with-GN-sh.txt](https://github.com/v8mips/v8mips/files/1469178/build-with-GN-sh.txt)

V8 builds successfully and creates a MIPS32r2 big endian binary:
[code]

But, when I try to run that on a big endian machine, it fails with a "Segmentation fault":
[code]
It, also, causes a "Segmentation fault" if I don't use the

[2017-11-14 14:15] ibogosavljevic commented on #539
Hi Brendan!

My first investigation shows that mksnapshot is built for X64 architecture. As you know, we don't support simulator on big endian architecture and this might be the source of problems.

You can confirm this by building without snapshots, v8_use_snapshot=false. In the meantime, I will work on the solution so mksnapshot is generated for MIPS BE and then executed through qemu, as it was

[2017-11-15 13:04] ibogosavljevic opened #540 "Bughunting: Around 700 tests fail on buildbot after WeakMap/WeakSet constructor CL landed"
Around 700 tests fail after https://chromium.googlesource.com/v8/v8/+/c5c50e18600db409d13efff6a33ae65062de4fe1 landed

https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge/builds/12198

[2017-11-16 09:37] ibogosavljevic opened #541 "Bughunting: RunWasmInterpreter* tests are failing on MIPS32 boards without unaligned support"
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/11890/steps/Check/logs/RunWasmInterpreter_Il..

[2017-11-16 10:17] ibogosavljevic opened #542 "Bughunting: A few test from test-serialize suite fail on MIPSR6"
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20mipsr6%2Cunder%20qemu%2Cquick/builds/1914/steps/Check/logs/PartialSerializerCont..

[2017-11-16 14:11] IvoMarkovic commented on #538
https://chromium-review.googlesource.com/#/c/v8/v8/+/774286

[2017-11-17 07:01] ilijapavlovic commented on #542
The same test
 `cctest/test-serialize/PartialSerializerContext`
fails also for MIPS64 little endian r2 in release mode which is build with Clang.
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/3211/steps/Check/logs/stdio

The test also fails on following builders for r6:

- https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang%2Cmipsr

[2017-11-17 13:48] ibogosavljevic commented on #525
Here are the instructions on how to configure buildbots to compile using builtin CLANG and libraries from codescape toolchain. This is needed if we want to compile using CLANG for those architectures that do not have Debian rootfs.

For this we need to use a toolchain definition in order to supply the necessary parameters for the compiler and linker. I attached the file, but you will need to expan

[2017-11-17 13:48] #525 closed, assigned to ibogosavljevic

[2017-11-17 14:09] ibogosavljevic commented on #538
Issue fixed https://v8.imgtec.com/bbv8/builders/Sim%20-%20edge/builds/15766

[2017-11-17 14:09] #538 closed, assigned to IvoMarkovic

[2017-11-18 01:48] MIPSbkirby opened #543 "Using GN to configure V8 for MIPS32r1 doesn't build MIPS32r1 binary"
When configuring GN to build MIPS32r1 binaries with the `mips_arch_variant="r1"` flag, I'm not getting a `d8` binary marked as MIPS32r1.  Specifically, the "Flags" line of `readelf` is showing `mips32r2` not `mips32`:
[code]

In contrast when I build using GYP, the binary is correctly marked as MIPS32r1:
[code]

The following attached script will configure V8 with GN to build the incorrect binary.

[2017-11-20 02:49] ClarkWang-2013 commented on #497
@ibogosavljevic  I‘m Sorry to trouble you, listen to you before V8 has pagesize problem on loongson platform.
Now，I have a problem that local compiling on loongson is ok, but cross compiling on x64 and run in loongson is error。I want to know how you modify pagesize in V8?

Thanks.

[2017-11-20 10:26] ilijapavlovic commented on #542
This CL causes that the test fails with time-out:
[code]
This CL introduces new Clang version: `313786-1...`
Previous Clang version: `312679-1`
See https://github.com/v8mips/v8mips/issues/530

[2017-11-20 12:07] ilijapavlovic commented on #542
With this CL, the test started to crash:
[code]
If this test is executed in Debug mode, following error message is received:
[code]
This is the same error message as in https://github.com/v8mips/v8mips/issues/530

[2017-11-20 12:37] ilijapavlovic commented on #542
Previous observations are for V8 build with Clang.

[2017-11-20 12:47] ilijapavlovic commented on #542
For mipsel.Debug.r6 the test fails with following error message:
[code]

[2017-11-21 14:16] ilijapavlovic commented on #542
The CL which causes the test to fail:
[code]

[2017-11-21 22:17] MIPSbkirby opened #544 "Using GN to build MIPS32r6 won't run under QEMU"
Using the following script, I'm able to build V8 as a MIPS32r6 binary:
[build-MIPS32r6-with-GN.sh.txt](https://github.com/v8mips/v8mips/files/1493099/build-MIPS32r6-with-GN.sh.txt)

However, when I try to run it under QEMU, it fails to run:
[code]

When building it with the following script using GYP, the rpath and dynamic linker are embedded into the `d8` binary:
[build-MIPS32r6-with-GYP.sh.txt](

[2017-11-22 10:00] sretenkovacevic commented on #544
As far as I know, there is no use in exporting LDSO_PATH and LD_R_PATH when compiling using GN, since GN has no mechanism of using them.

In issue #466 there is an example of compiling with specified linker and library path. gcc_rpath is something that is regular part of GN and has same role as LD_R_PATH in GYP, while ldso_path is currently on codereview and for now it can only be used if separate

[2017-11-22 21:01] MIPSbkirby commented on #539
This isn't exclusive to MIPS32.  MIPS64 big endian fails to run on a board as well.  The following script will build V8 configured with GN for MIPS64r2 big endian:
[build-MIPS64r2-big-endian-with-GN.sh.txt](https://github.com/v8mips/v8mips/files/1497457/build-MIPS64r2-big-endian-with-GN.sh.txt)

And here's the results of running it on a big endian Edge Router Pro board:
[code]

[2017-11-24 06:47] ilijapavlovic commented on #542
[code]
Detected problematical instructions:
[code]

1. Instruction `ANDI` is not considered as possible the 2nd instruction.
2. Instruction `ANDI` uses register `sp` as one of operands - not `t9` which is used in `LUI`.

[2017-11-24 17:25] ibogosavljevic commented on #540
Fixed and closed

[2017-11-24 17:25] #540 closed, assigned to ibogosavljevic

[2017-11-24 17:45] ibogosavljevic opened #545 "Bughunting: Compilation failure on Codescape 2017.10-05"
https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20edge%20-%20builder/builds/17510/steps/compile/logs/stdio

[2017-11-24 17:45] ibogosavljevic commented on #545
Patch sent to code review: https://chromium-review.googlesource.com/c/v8/v8/+/789041

[2017-11-30 14:21] ilijapavlovic commented on #542
Instruction sequence `lui/andi/beqzc` is generated in following part of the code:
[code]
If emitting debug code is removed/deleted (no `andi/beqzc` instruction sequence) the test will be successful.

[2017-11-30 23:05] MIPSbkirby opened #546 "Using GN to configure V8 using fpxx using the mips_fpu_mode=fpxx flag generates errors"
Setting the `mips_fpu_mode=fpxx` flag in GN to compile with the fpxx flags just generates the error message "Undefined identifier":

[code]

Technically the builder will use a command like the following to generate the build files:
[code]

To run this on your desk, copy the following file into the current directory and name it `mb_mips_config.pyl`:
[mb_mips_config.pyl.txt](https://github.com/v8mip

[2017-12-01 15:23] ibogosavljevic opened #547 "Bughunting: Add -WUnreachable-code on MIPS"
https://chromium-review.googlesource.com/c/v8/v8/+/800291/10/BUILD.gn#508

This flag should be added and all the warnings fixes.

[2017-12-01 15:46] ibogosavljevic commented on #545
Issue reslved

[2017-12-01 15:46] #545 closed, assigned to nobody

[2017-12-01 15:47] ibogosavljevic opened #548 "Bughunting: Many failures on MIPS32R6 when compiled using GN"

[2017-12-04 15:29] ibogosavljevic commented on #548
MIPSR6: Load full address to t9 when calling PIC code

PIC code requires that full function address is available in t9
upon function entry. We disabled some optimizations that cause
problems since they do not load t9 with full function address.

https://chromium-review.googlesource.com/c/v8/v8/+/806494

[2017-12-04 15:29] #548 closed, assigned to ibogosavljevic

[2017-12-04 16:25] ibogosavljevic opened #549 "New feature: Use t9 in CallCFunction on MIPS64 in order to save one instruction"
On MIPS64 we use t8 to call C code. Investigate the use of t9 since this should allow us to save unnecessary move from t8 to t9.

[code]

[2017-12-05 09:56] ibogosavljevic commented on #546
The problem is that fpxx is not surrounded by quotes, the same way as in target_cpu="mipsel", where mipsel is surrounded by quotes

[2017-12-07 09:04] ibogosavljevic commented on #544
There was a problem with GN and MIPS32R6. The problem was fixed with this patch https://chromium-review.googlesource.com/c/v8/v8/+/806494.

This issue is duplicate of #548. @MIPSbkirby , after confirming that the patch resolved the issue, i.e. number of failures on MIP32R6 GN is comparable to MIPS32R6 GYP, close the issue.

[2017-12-07 09:34] ibogosavljevic commented on #531
Issue was related to CLANG generating two branch instruction without a nop in delay slot between them.

Issue reported to CLANG team: https://dmz-portal.mips.com/bugz/show_bug.cgi?id=2749

Issue resolved after rollout of new version of CLANG: https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20clang%2Cmipsr6%2Cunder%20qemu/builds/979

Issue closed

[2017-12-07 09:34] #531 closed, assigned to IvoMarkovic

[2017-12-07 22:43] MIPSbkirby commented on #546
Not having `fpxx` in quotes fixed the problem.   It looks like it compiled with the fpxx flags and the binary runs on a board.  So, this is fixed.

[2017-12-07 22:43] #546 closed, assigned to ibogosavljevic

[2017-12-07 22:47] MIPSbkirby commented on #539
Building V8 with GN for big endian builds are working now.  Our big endian builders are now using GN to configure V8.

[2017-12-07 22:47] #539 closed, assigned to ibogosavljevic

[2017-12-07 22:57] MIPSbkirby commented on #544
The issue is that the compiled `d8` binary won't run under QEMU.  The following command fails:
[code]

This assumes you've built the `d8` binary with the above attached script.  The patch that @ibogosavljevic mentions doesn't fix this either.

You can get the same QEMU binary at the URL:
https://dmz-portal.mips.com/dl/qemu-mipsel-V8-mipsr6-upstream-master-a008535b-with-upstream-patch

[2017-12-08 10:20] ibogosavljevic commented on #544
@MIPSbkirby : I downloaded and executed the qemu binary, and I had no problems.

Here is what commands I used to compile the program:

[code]

[2017-12-08 11:15] ilijapavlovic commented on #542
The problem is fixed with following CL:
[code]
The test is successful again.

[2017-12-08 11:15] #542 closed, assigned to ilijapavlovic

[2017-12-08 13:43] sretenkovacevic opened #550 "Bughunting: Several tests fail on ci20 board"
Tests started failing on mips32 when builders changed from GYP to GN.
They fail with following output:
[code]

[2017-12-09 02:03] MIPSbkirby commented on #544
Using the `-L` flag with the sysroot and `-E LD_LIBRARY_PATH` with the rpath set gets it to run correctly.

[2017-12-09 02:03] #544 closed, assigned to ibogosavljevic

[2017-12-11 14:19] ilijapavlovic commented on #547
When `-Wunreachable` flag is used for compilation, the Clang will try to detect a code which will not be executed at all.
In MIPS implementation, it is mostly related in the control flow statements where function `IsMipsArchVariant()` is used. On such places there will be always a block of the code which will not be executed at all.

For fixing this issue it would be necessary to use macro-definit

[2017-12-12 07:12] #547 closed, assigned to ilijapavlovic

[2017-12-20 13:11] ilijapavlovic commented on #549
A patch is created where `t8` is substituted with `t9`.
For simulator, build V8 for `mips64el` and `mips64` is done with the Clang for mode Release and variants r2 and r6.
The test results are identical for both cases (V8 without and with the patch).

[2017-12-22 09:52] ilijapavlovic commented on #549
For `mips64el.Release.r2` which is executed on the board, the test results are identical.
For `mips64el.Release.r6` which is executed on the Qemu (user mode), with the patch 13 tests are fixed but new 8 tests are failed.

[2017-12-22 10:37] sretenkovacevic opened #551 "Port: Support testing Simd128 moves and swaps"
Extend the code-generator tests to cover AssembleMove and AssembleSwap with
Simd128 registers and stack slots, for targets that support them.

Link to original CL:
[https://chromium-review.googlesource.com/c/v8/v8/+/728599](https://chromium-review.googlesource.com/c/v8/v8/+/728599)

Porting this might make it easier to locate bugs that prevent these tests from working correctly for other data type

[2017-12-22 16:15] sretenkovacevic commented on #530
These tests are working now, since
 [https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/3230](https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20clang/builds/3230)

Commit that fixed the failures: [https://chromium-review.googlesource.com/c/v8/v8/+/784472](https://chromium-review.googlesource.com/c/v8/v8/+/784472)

This issue can be closed n

[2017-12-22 16:18] #530 closed, assigned to ilijapavlovic

[2017-12-25 14:39] ibogosavljevic opened #552 "Bughunting: Compilation failure on MIPSR1 buildbot"
https://v8.imgtec.com/bbv8/builders/Target%20-%20Debug%20-%20edge%20-%20mipsr1%20-%20builder/builds/16867

[code]

[2017-12-27 13:40] ilijapavlovic commented on #549
CL uploaded and ready for review:
https://chromium-review.googlesource.com/c/v8/v8/+/844554

[2017-12-27 14:48] ilijapavlovic opened #553 "Bughunting: cctest/test-assembler-mips64/(r6_ldpc|r6_lwupc) are failed."
Following tests are failed on simulator and the Qemu.

cctest/test-assembler-mips64/r6_ldpc
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20edge%20-%20mipsr6/builds/7700
https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6/builds/7271
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge%20-%20mipsr6%2Cunder%20qemu/builds/2743
https://v8.

[2017-12-28 08:23] ilijapavlovic commented on #549
The CL landed:
https://chromium.googlesource.com/v8/v8/+/b82125c033b0a08c1d4e1f30a89b41a2be611b3a

With this CL, two tests are fixed on this test builder:
https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20mipsr6%2Cunder%20qemu%2Cquick/builds/1958

On other test builders, number of failed tests remain the same.

[2017-12-28 08:23] #549 closed, assigned to ilijapavlovic

[2017-12-29 07:17] ilijapavlovic commented on #553
The problem was in following CL:
`822be9b238dc2a26f6df2479a6008a31376c5d20 Normalize casing of hexadecimal digits`.

In tests `r6_ldpc`and `r6_lwupc` are accidentally removed instructions LDPC and LWUPC which are main subject of the testing.

CL with fix is uploaded and landed:
https://chromium-review.googlesource.com/c/v8/v8/+/845623

The tests are successful again.

[2017-12-29 07:17] #553 closed, assigned to ilijapavlovic

[2017-12-29 09:16] ilijapavlovic opened #554 "Bughunting: cctest/test-allocation/NewArrayOOM failed."
The test `cctest/test-allocation/NewArrayOOM` fails on following test configuration for `mipsel.(Release|Debug).r2`:

https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/12216
https://v8.imgtec.com/bbv8/builders/Target%20%281%29%20-%20edge/builds/10743
https://v8.imgtec.com/bbv8/builders/Target%20-%20edge%20-%20no%20snapshot/builds/9258
https://v8.imgtec.com/bbv8/builders/Target%20-%20edg

[2017-12-29 14:08] ibogosavljevic commented on #552
Issue fixed https://chromium.googlesource.com/v8/v8/+/4c490296df7336167c54569b71b1543350df1944

[2017-12-29 14:08] #552 closed, assigned to ibogosavljevic

[2018-01-03 08:10] ibogosavljevic opened #555 "Cleanup: Prevent trampolines in Ldc1 and Sdc1 in macro-assembler-mips.cc"
Ldc1 and Sdc1 are complex macro instructions that use temporary registers on MIPS32. Prevent trampolines!

[2018-01-03 13:55] ilijapavlovic commented on #554
The problem is possible to reproduce locally only for MIPS32 little endian (Release 2) in Debug mode where V8 is build with the Clang.

The problem was not possible to reproduce locally for MIPS32 little endian (Release 2) in Release and Debug mode where V8 is build with GCC.

The test `cctest/test-allocation/NewArrayOOM` is introduced with
`3f90d9f994671a0f8aaa666f43bafd67ba369bad [Memory] Add an

[2018-01-04 14:23] ilijapavlovic commented on #554
Debugging `cctest`with GDB is not possible:
[code]
With diagnostic messages it is found that the problem appears earlier, before the test execution. The problem appears in `CcTest::Run()` where allocation memory for isolate is broken.
[code]

[2018-01-09 10:24] sretenkovacevic opened #556 "Bughunting: Test cctest/test-run-wasm-64/*_Store_i64_narrowed fails on simulator"
Test fails on simulator since it's introduction in commit [https://chromium-review.googlesource.com/c/v8/v8/+/808385](https://chromium-review.googlesource.com/c/v8/v8/+/808385)

[2018-01-10 07:48] sretenkovacevic commented on #556
Issue was with simulator implementation of SDL instruction, [https://chromium-review.googlesource.com/c/v8/v8/+/856577](https://chromium-review.googlesource.com/c/v8/v8/+/856577).

Test stopped failing
[https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20GYP/builds/1185](https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge%20-%20GYP/builds/1185)

[2018-01-10 07:48] #556 closed, assigned to sretenkovacevic

[2018-01-10 10:13] sretenkovacevic opened #557 "Bughunting: Several tests fail on simulator MIPS64 in debug mode"
Tests started failing after commit [https://chromium-review.googlesource.com/c/v8/v8/+/850873](https://chromium-review.googlesource.com/c/v8/v8/+/850873)

[2018-01-10 10:15] IvoMarkovic commented on #541
https://chromium-review.googlesource.com/#/c/v8/v8/+/859457

[2018-01-10 10:16] ibogosavljevic opened #558 "Bughunting: inspector/runtime/get-properties fails on MIPS32BE"
https://v8.imgtec.com/bbv8/builders/Target%20-%20big%20-%20Debug%20-%20edge/builds/11703/steps/Check/logs/get-properties

[2018-01-11 09:31] sretenkovacevic commented on #557
CL uploaded and landed [https://chromium-review.googlesource.com/859460](https://chromium-review.googlesource.com/859460)

Tests stopped failing.
[https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/12297](https://v8.imgtec.com/bbv8/builders/Sim%20-%20MIPS64%20-%20Debug%20-%20edge/builds/12297)

Issue closed.

[2018-01-11 09:31] #557 closed, assigned to sretenkovacevic

[2018-01-12 08:56] ibogosavljevic commented on #532
Fixed with following commit:

[code]

Issue resolved: https://v8.imgtec.com/bbv8/builders/Target%20%281%29%20-%20edge/builds/10796

[2018-01-12 08:56] #532 closed, assigned to p-rudic

[2018-01-12 09:07] ibogosavljevic opened #559 "Bughunting: cctest/test-run-native-calls/Float32Select_stack_params_return_reg fails on MIPS64LE in release mode when compiled with CLANG"
cctest/test-run-native-calls/Float32Select_stack_params_return_reg as well as few other tests are failing in release mode on MIPS64EL on board when compiled with GCC.

https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/10785/steps/Check/logs/Float32Select_stack_p..

List of tests that started failing simultaneously:
[code]
First failure occurs here:
https://v8.imgtec.com/bbv

[2018-01-12 09:34] ibogosavljevic commented on #541
The patch has landed. The patch fixed the issue: https://v8.imgtec.com/bbv8/builders/Target%20-%20edge/builds/12291 (notice that the failure doesn't appear here, and it appears in the previous test session).

Issue closed

[2018-01-12 09:34] #541 closed, assigned to IvoMarkovic

[2018-01-12 10:00] sretenkovacevic opened #560 "Bughunting: cctest/test-run-machops/RunWord32EqualAndWord32ShrP fails on MIPS64 simulator"
This test started failing with commit [https://chromium-review.googlesource.com/850873](https://chromium-review.googlesource.com/850873)

[2018-01-12 10:52] ilijapavlovic commented on #554
Received error message:
[code]
Meaning of `SEGV_MAPERR`:
https://elixir.free-electrons.com/linux/v4.7/source/include/uapi/asm-generic/siginfo.h#L212
[code]

With diagnostic `printf()` messages was not possible to locate the place where the signal appears. (The location where the test fails is not the same.)

GN arguments which are used for building V8 for GCC and the Clang are compared and additio

[2018-01-12 11:43] ibogosavljevic opened #561 "Bughunting: Many WASM related failures on MIPS64 buildbots"
Failure started to appear after this commit:

[code]
Link to failure om buildbot: https://v8.imgtec.com/bbv8/builders/Target%20-%20MIPS64%20-%20edge/builds/10825

List of failures:
[code]

[2018-01-12 11:55] ibogosavljevic commented on #473
You can now specify location to the dynamic linker on GN using ldso_path in GN command line. Here is example how it is done on my system. Notice that I am using ldso_path for dynamic linker and gcc_target_path for libraries. Please notice $ORIGIN, this needs to be specified.

[code]